// SBAC Color Palettes

$lightgrey: #a2a2a2;
$medgrey: #ebebeb;

$header-text: #464b54;
$header-borders: #cfcece;


// Sizes 

$header: 50px;

/* -----------------------------------------
   Color Variables
   ----------------------------------------- */
$white: #FFF;
$text: #5a5a5a;
$header: #18577e;
$teal: #0085ad;
$darkgreen: #246a34;
$dark-blue: #04384e;
