// SBAC Color Palettes

$lightgrey: #a2a2a2;
$medgrey: #ebebeb;
$white: #FFF;
$text: #5a5a5a;
$header: #18577e;
$teal: #0085ad;
$green: #42a747;
$darkgreen: #246a34;
$dark-blue: #04384e;
$off-black : #101010;
$blue-text: #0684AD;

$header-text: #464b54;
$header-borders: #cfcece;


// Sizes 

$header: 50px;

