@import "app.scss";
@import "colors.scss";

@import "compass/css3/";

/* ==========================================================================
   Table of Contents
   ==========================================================================
:: Color Variables
:: Shared Styles
:: Colorbox
:: Flexslider Overrides
:: User login
:: Help Sorting
:: User Profile
:: Help Modal
:: Digital Library Resources (DLR)
:: Create
   - Resource
:: Legal
:: Admin theme fixes

*/

/* -----------------------------------------
   Color Variables
   ----------------------------------------- */
$white: #FFF;
$text: #5a5a5a;
$header: #18577e;
$teal: #0085ad;
$darkgreen: #246a34;

/* -----------------------------------------
   Shared Styles
   ----------------------------------------- */
//sticky footer
html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -50px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.bottom-bar, .page-wrap:after {
  height: 50px;
}

body {
  background-color: #b1b2b4;
}

ul,
ol,
dl {
  font-size: 1em;
  list-style-position: inside; /* this can create issues */
}

.f-dropdown ul {
  padding: 0;
}

.reveal-modal .close-reveal-modal {
  position: static;
}

//fixes issue caused by different compiled versions of custom css
[data-section='']:not([data-section-resized]):not([data-section-small-style]), [data-section='auto']:not([data-section-resized]):not([data-section-small-style]), .section-container.auto:not([data-section-resized]):not([data-section-small-style]) {
visibility: visible;
}

.field {
  // having problems setting the base font to 12px without breaking the grid.
  // p fonts are set to 12px this should do the trip for all drupal fields.
  font-size: emCalc(12px);
}
h1, h2 {
  color: $header;
}

h3, h4, h5, h6 {
  color: $body-font-color;
}

.white {
  color: $white;
}

.top-bar-section {
  li {
    a:not(.button){
      background: transparent;
    }
  }
}

.button-group > *  {
  margin: 0;
  padding: 0.5em;
}

button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  background: rgba(191, 216, 229, 0.9);
}

  .button {
    margin-left: 0;

    &.ctools-modal-sbac-resource-modal-delete-resource, &#edit-delete-overlay.form-submit {
      background: rgba(226, 226, 226, 1);
      border: 1px rgba(100, 100, 100, 1) solid;
      color: rgba(100, 100, 100, 1);

      &:hover {
        background: rgba(138, 21, 56, 1);
        border: 1px rgba(138, 21, 56, 1) solid;
        color: rgba(255, 255, 255, 1);
        text-shadow: 0px -1px 0px rgba(000,000,000,1), 0px 1px 0px rgba(255,255,255,0);
      }
    }
  }

@mixin global-button {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    @include text-shadow(0px 1px 0px rgba(255,255,255,.5));
    color: rgba(0, 98, 152, 1);
    @include border-radius(6px);
    background: rgba(191, 216, 229, 1);
    border: 1px rgba(0, 98, 152, .5) solid;
    padding: 8px 18px;
    text-align: center;

    &:hover{
      @include transition(all 500ms ease);
      background: rgba(0, 133, 173, 1);
      @include text-shadow(0px 1px 0px rgba(0,0,0,.5));
      color: white;
  }

  &:focus {
    background: rgba(191, 216, 229, 1);
  }
}

@mixin global-button-negative {
  background: rgba(226, 226, 226, 1);
  border: 1px rgba(100, 100, 100, 1) solid;
  color: rgba(100, 100, 100, 1);
  padding: 8px 18px;
  @include border-radius (6px);

  &:hover, &:focus  {
    background: rgba(138, 21, 56, 1);
    border: 1px rgba(138, 21, 56, 1) solid;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px -1px 0px rgba(000,000,000,1), 0px 1px 0px rgba(255,255,255,0);
  }
}

button, .button, .form-submit, #edit-submit, #edit-submit--2, #edit-submit--5, #edit-meet-button--2, button.disabled, button[disabled], .button.disabled, .button[disabled], #review-trigger-2, #edit-submit--4 {
  @include global-button;
}

button.secondary, .button.secondary, #edit-cancel, #sbac-search-close-button,
.devtools-dialog-close, #gate-keeper-cancel, #review-cancel, #edit-delete-overlay, #edit-cancel-overlay,
div.ctools-modal-content a.close, a.remove, a.fake-cancel {
  @include global-button-negative;
}

.alert-box {
  padding: 30px;
  color: $darkgreen;
  border-color: $darkgreen;
  background-color: rgba(237, 243, 224, 1);
  @include border-radius (12px);
  font-weight: normal;

  h2 {
    color: inherit;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  ul {
    list-style-type: none;
    margin: 0 !important;
  }

  &.alert {
    background-color: rgba(226, 196, 205, 1);
    border-color: rgba(138, 21, 56, 1);
    color: rgba(138, 21, 56, 1);
  }

  &.secondary {
    background-color: rgba(191, 216, 229, 1);
    border-color: rgba(0, 98, 152, 1);
    color: rgba(0, 98, 152, 1);
  }
}

/* -----------------------------------------
   Colorbox
   ----------------------------------------- */
#colorbox {

  @include box-shadow(rgba(0, 0, 0, 0.8) 1px, 1px, 1px);

  #cboxTopLeft,
  #cboxTopCenter,
  #cboxTopRight,
  #cboxMiddleLeft,
  #cboxMiddleRight,
  #cboxBottomLeft,
  #cboxBottomCenter,
  #cboxBottomRight{
    background:white;
  }
}

/* -----------------------------------------
  Vertical Tabs
  ------------------------------------------ */

.vertical-tabs ul.vertical-tabs-list {
  li {
    a{
      &:hover{
        background:#bfd8e5;
        text-decoration: none !important;
      }
      color: #717880;
      background:white;
    }

    &.selected {
      a {
        background: #0085ad;
        strong{color: white;}
      }
    }
  }
}

/* -----------------------------------------
   Forms
   ----------------------------------------- */

label {
  font-weight: bold;
  font-size: 0.8em;
  cursor: default;
}
.form-type-checkbox,
.form-type-radio {
  label {
    cursor: pointer;
  }
}


input[type="file"], input[type="checkbox"], input[type="radio"], select{
  margin: 5px;
}


.form-item-error-holder {
  float:right;
}

.vertical-tabs ul.vertical-tabs-list li {
  .sbac-disabled {
    cursor: default !important;
    color: $lightgrey;
    font-weight: normal;
    background-color: #fff;
    @include opacity(0.5);

    &:hover {
      border: none;
      outline: none;

      strong {
        color:$lightgrey;
        text-decoration: none !important;
      }
    }
  }
}

.top-bar {
  margin: 0;

  &.main-top{
    background-color: #313131;
    @include background-image(linear-gradient(bottom, #313131 0%, #313131 0.49%, #373737 48.78%, #3b3b3b 50.49%, #454545 96.07%, #696969 98.05%, #494949 100%), linear-gradient(top, #a9a9a9 0%, #ebebe5 100%)); // gradient overlay and layer fill content
    background-image: -webkit-linear-gradient(bottom, #313131 0%, #313131 0.49%, #373737 48.78%, #3b3b3b 50.49%, #454545 96.07%, #696969 98.05%, #494949 100%), -webkit-linear-gradient(top, #a9a9a9 0%, #ebebe5 100%);
    background-image: -moz-linear-gradient(bottom, #313131 0%, #313131 0.49%, #373737 48.78%, #3b3b3b 50.49%, #454545 96.07%, #696969 98.05%, #494949 100%), -webkit-linear-gradient(top, #a9a9a9 0%, #ebebe5 100%);
    background-image: -ms-linear-gradient(bottom, #313131 0%, #313131 0.49%, #373737 48.78%, #3b3b3b 50.49%, #454545 96.07%, #696969 98.05%, #494949 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#494949', endColorstr='#313131');
  }
  &.sub-top{
    background-color: #f9f9f9; // color overlay
    @include box-shadow(1px 2px 2px rgba(204,204,198,.5)); // drop shadow
    @include background-image(linear-gradient(top, #c5c5ba 0%, #ebebe5 16.75%, #e4e4dc 92.99%, #c8c8bd 96.51%, #c8c8bd 100%)); // layer fill content
    background-image: -webkit-linear-gradient(top, #c5c5ba 0%, #ebebe5 16.75%, #e4e4dc 92.99%, #c8c8bd 96.51%, #c8c8bd 100%);
    background-image: -moz-linear-gradient(top, #c5c5ba 0%, #ebebe5 16.75%, #e4e4dc 92.99%, #c8c8bd 96.51%, #c8c8bd 100%);
    height: auto;
    background-image: -ms-linear-gradient(top, #c5c5ba 0%, #ebebe5 16.75%, #e4e4dc 92.99%, #c8c8bd 96.51%, #c8c8bd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebe5', endColorstr='#e4e4dc');
  }
  &.last-top{
    height: auto;
    background-color: #f9f9f9; // color overlay
    @include box-shadow(1px 2px 2px rgba(204,204,198,.5)); // drop shadow
  }

  h1,title {
    color: #dbdddd;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    font-size: emCalc(18px);
    line-height: 45px;
  }

  .button {
    padding: 8px 18px;
    margin-left: 10px;
    background: rgba(191, 216, 229, 1);
    border: 1px rgba(0, 98, 152, .5) solid;
    font-size: 1em;
    font-weight: bold;
    color: rgba(0, 98, 152, 1);
    text-shadow: 0px -1px 0px rgba(000,000,000,0), 0px 1px 0px rgba(255,255,255,.5);
    @include border-radius (6px);
    @include transition (all 500ms ease);
    cursor: pointer;
    line-height: 1em;
    height: auto;

    &:hover, &:focus, &.form-submit.ajax-processed {
      color: rgba(255, 255, 255, 1);
      background: rgba(0, 133, 173, 1);
      text-shadow: 0px -1px 0px rgba(000,000,000,1), 0px 1px 0px rgba(255,255,255,0);
    }
  }

  .user-nav {
    font-size: 1em;
    color: $white;
    line-height: 45px;
    li {
      border-left:1px solid black;
      padding: 0px;
      margin: 0px;
      &:hover {
        background: #515151;
      }
      li {
        a {
          padding-left: 20px;
          padding-right: 20px;
          color: black;
        }
        border:none;
      }
    }

    a{
      color: inherit;
      padding-left: 20px;
      padding-right: 20px;
    }


    .notifications {
      span{
        display: inline-block;
        width: 27px;
        height: 37px;
        background: url('../images/icons/notification-number.png') center 10px no-repeat;
        text-align: center;
      }
    }

    .user-info {
      img {
        margin: 12px 10px 0 0;
      }
    }
    .sbac-question {
        background: url('../images/icons/help-small.png') center no-repeat;
        width: 16px;
        height: 16px;
        display: inline-block;
    }
  }
}

.bottom-bar {
  background: #3b3b3b;
  @include background-image(linear-gradient(bottom, #313131 0%, #313131 0.49%, #373737 48.78%, #3b3b3b 50.49%, #454545 96.07%, #696969 98.05%, #494949 100%), linear-gradient(top, #a9a9a9 0%, #ebebe5 100%)); // gradient overlay and layer fill content
  background-image: -webkit-linear-gradient(bottom, #313131 0%, #313131 0.49%, #373737 48.78%, #3b3b3b 50.49%, #454545 96.07%, #696969 98.05%, #494949 100%), -webkit-linear-gradient(top, #a9a9a9 0%, #ebebe5 100%);
  background-image: -moz-linear-gradient(bottom, #313131 0%, #313131 0.49%, #373737 48.78%, #3b3b3b 50.49%, #454545 96.07%, #696969 98.05%, #494949 100%), -webkit-linear-gradient(top, #a9a9a9 0%, #ebebe5 100%);
  background-image: -ms-linear-gradient(bottom, #313131 0%, #313131 0.49%, #373737 48.78%, #3b3b3b 50.49%, #454545 96.07%, #696969 98.05%, #494949 100%);
  color: $white;
  padding: 5px;

  .row {
    max-width: 100%;
    font-size: 1.2em;
    color: $white;

    p, ul {
      line-height: emCalc(35px);
      margin: 0;
    }

    ul {
      width: 445px;
      height: 42px;
      margin: 0;
      padding: 0;
    }

    li {
      border-left: 1px solid black;
      padding: 0px;
      margin: 0px;

      &:hover {
        background: #505050;
      }

      .active {
        background: #777777;
      }

      a {
        color: inherit;
        font-size: 0.75em;
        padding-left: 55px;
        padding-right: 25px;
        background: url('../images/icons/terms-small.png') 20px center no-repeat;

        &.help {
          background-image: url('../images/icons/help-small.png');
        }
        &.feedback {
          background-image: url('../images/icons/feedback-small.png');
        }
      }
    }

    img {
      display: inline-block;
      margin-right: 10px;
    }
  }
  .footer-links {
   overflow: visible !important;
  }
  .footer-help{
    position: relative;
    #drop2 {
      top: -105px !important;
      left: -140px !important;
      height: auto;
      display: none;

      &.open {
        display: block;
      }

     li {
      color: #333;
      padding: 0;
      margin: 0;
      border-left: none;
        a {
          color: inherit;
          padding: 0;
          margin: 0;
          background: none;
          padding: 5px;
          &:hover{
            color:white;
          }
        }
      }

      &:before{
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 8px solid white;
        border-bottom: 0;
        bottom: -8px;
        top: auto;
      }
      &:after{
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 8px solid #ccc;
        border-bottom: 0;
        bottom: -9px;
        top: auto;
      }
    }
  }
}

.main-container {
  margin: emCalc(25px) auto emCalc(75px);
  @include border-radius(12px); // border radius
  @include background-clip(padding-box); // prevents bg color from leaking outside the border
  background-color: #f9f9f9; // layer fill content + color overlay
  @include box-shadow(1px 2px 2px rgba(0,0,0,.3)); // drop shadow
  padding: 15px 0;
}

nav.main-nav {
  ul {
    font-size: 100%;
    margin-left: 20px;
    li{
      display: inline-block;
      margin: 0px;
      padding: 0px;
      border-left: 1px #cdcdcd solid;
      &:hover {
        background: #b0e6f4;
      }
      a{
        display: block;
        padding: 6px 10px 1px;
        font-size: emCalc(11px);
        color: #494949; // text color
        @include text-shadow(0 1px 0 rgba(255,255,255,.75)); // drop shadow

        &.active{
          background-color: #0085ad; // color overlay
          color: #f3f3f3; // text color + color overlay
          @include text-shadow(0 -1px 0 rgba(0,0,0,.5)); // drop shadow
        }
      }
    }
  }
  li.last {
    content: none;
  }
}

#drop3{
  margin-top: -10px;
}
.help-dropdown {
  float: right;
  height: 45px;
  margin-right: 10px;
  color: $white;

  a {
    color: inherit;
  }


  .f-dropdown {
    left: auto !important;
    right: 10px !important;
    top:48px !important;
    display: none;
    &.open{
      display:block;
    }
  }
}

/** dropdown styles **/
.f-dropdown {
  @include border-radius(6px);
  @include box-shadow(1px 2px 2px rgba(0, 0, 0, 0.3 ));
  border-top-color: #ccc;
  padding: 10px !important;
  display: none;
    &.open{
      display:block;
    }

  li {
    /* sorry for all the !importants but those are desperate times - footer and grid styles are messign this up */
    padding: 0 !important;
    margin: 0 !important;
    float: none !important;
    a {
      padding: 5px !important;
      color:rgba(0, 98, 152, 1) !important;
      @include transition(all 500ms ease);
      background: white !important;
      font-size: 14px !important;

      &:hover{
        background:rgb(176, 230, 244) !important;
      }
    }
  }
}

.textify{
  *, *:before, *:after {
    @include box-sizing(content-box);
  }

  .column {
    padding:0;
    position:static;
  }

  font-size:inherit;
}

// fix handle on draggable table views

a.tabledrag-handle .handle {
  width: 22px;
  height: 22px;
}

// fix block grid Styles

.item-list{
  [class*="large-block-grid-"], [class*="large-block-grid-"]{
    li {
      margin: 0;
    }
  }
}
/* -----------------------------------------
   Flexslider Overrides
   ----------------------------------------- */
.flexslider .slides img {
  width: auto;
  max-width: 100%;
}

/* -----------------------------------------
   Dialog Overrides - modal
   ----------------------------------------- */
.ui-dialog {
  @include border-radius(0);
  .ui-widget-header{
    background: none;
    border: none;
    @include border-radius(0);
  }
  .button,
  button {
    font-size: 0.8em;
    padding: 0.8em;
  }

  .ui-resizable-handle {
    display: none !important;
  }
}

/* -----------------------------------------
   User login
   ----------------------------------------- */

#user-login {
  .small {
      font-size: emCalc(14px);
  }
}

/* forgot password */

#user-pass, #change-password, #sbac-user-change-password-form, .user-pass-confirm {
  text-align: center;

  h1 {
    font-family: $body-font-family;
    margin-bottom: 1.5em;
  }

  p {
    font-size: 1em;
    margin: 0 auto 2em;
    width: 75%;
  }

  input {
    width: 40%;
    margin: 1em auto;
  }
}

.page-change-password {
  h1 {
    text-align: center;
  }

  .password-parent, .confirm-parent {
    width: auto;
    position: relative;

    .password-strength, div.password-confirm {
      width: auto;
      float: none;
      margin: 0;
      position: absolute;
      bottom: -30px;
      left: 40%;
    }
  }

  .confirm-parent {
    margin-top: 3.5em;
  }

  div .form-item div.password-suggestions {
    margin: 4em auto;
    width: 50%;
  }
}

.page-user-reset {
  #user-pass-reset {
    text-align: center;

    p {
      font-size: 1em;
    }
  }
}

#sbac-user-change-password-form {
  #edit-submit {
    margin-top: 2.5em;
  }
}

.user-pass-confirm {
  a {
    @include global-button;
    margin-bottom: 1.5em;
  }
}
/* -----------------------------------------
   Help Sorting
   ----------------------------------------- */

   .view-sbac-help-sort {
    #draggableviews-table-sbac_help_sort-page {
      width: 100%;
      .Enabled span {
        color: green;
      }
      .Disabled span {
        color: red;
      }
    }
   }

/* -----------------------------------------
   User Profile
   ----------------------------------------- */

.user-profile {
  h2 {
    margin: 0;
    padding-bottom: 0;
  }
  .profile-title {
    font-size: 18px;
    color: #494949;
  }
  .profile-details {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    .field {
      margin: 0 0 10px;
    }
    margin: 15px 0;
    padding: 5px 0;
  }
  .name {
    font-size: 38px;
    font-weight: normal;
    color: #0085ad;
  }
  .profile-school {
    padding: 0 0 15px;
    font-size: 18px;
    color: #494949;
  }
}

.row.first {
  padding: 40px;
  .user-picture {
    text-align: center;
    @include border-radius(5px);
    overflow: hidden;
    img {
      width: 100%;
    }
  }

  .introduction {
    font-size: 14px;
    border-top: 1px #ccc solid;
    padding-top: 10px;
  }
  .profile-details {
    font-size: 14px;
    padding: 10px 0;
    .title {
      font-weight: bold;
      color: #246a34;
    }
  }
}

.line{
  position: relative;
  width: 930px;
  margin-left: -15px;
  top: 55px;
  border-bottom: 1px #ccc solid;
}

/* -----------------------------------------
   Help Modal
   ----------------------------------------- */
.page-user {
  #myModal {
    .sort-link {
      display: inline-block;
      margin: -10px 0 0 -10px;
    }
  }
}

#sbac-help-disable-help,
#sbac-help-disable-help--2 {
  .form-type-checkbox {
    float: left;
  }
  button {
    float: right;
  }
}

#current-help-topic {
  .contextual-links, ul.links {
    display: none;
  }

  h2 {
    margin-bottom: 0;
    padding: 0;
  }
}

#current-help-topic-modal{
   .helpBack {
    position: absolute;
  }
}

.flexslider .flex-direction-nav a {
  display: block;
  @include opacity(1);
}

.flexslider:hover{
  .flex-next {
    right: -36px;

  }
  .flex-prev {
    left: -36px;
  }
}

@media screen and (max-width: 860px) {
  .flexslider{
  .flex-next {
    right: -36px;
  }
    .flex-prev {
      left: -36px;
    }
  }
}

/* -----------------------------------------
   Colorbox Modal
   ----------------------------------------- */

#cboxClose {
  position: absolute;
  top: -15px;
  right: -15px;
  display: none;
}

#cboxContent {
  overflow: visible;
}

#cboxLoadedContent {
  margin-bottom: 0;
}
/* -----------------------------------------
   Home Page Login
   ----------------------------------------- */

.login-text {
  ul {
    list-style: none;
  }

  i {
    float: left;
    margin-right: 20px;
    font-size: 30px;
  }

  li {
    margin: 15px 0;
  }

  .big {
    font-weight: bold;
    font-size: 1.125em;
  }
}

.section-container.auto > section > .title, .section-container.auto > section > .title a {
  font-family: $body-font-family;
  font-size: emCalc(16px);
  font-weight: bold;
  background: none;
  color: #717880;
  border: none;
  border-right: 1px #ccc solid;
  &:hover {
    background: #b0e6f4;
  }
}

.section-container.auto > section > .title {
  a {
    padding: 15px 20px;
    border-right: 1px solid #ccc;
  }
}

.section-container.auto > section.active > .title a {
  background: $teal;
  color: $white;
  font-size: emCalc(16px);
}


/* Slider */
.flex-direction-nav a {
  height: 45px;
}

.flex-direction-nav a.flex-prev {
  background: url('../images/icons/arrow-left-large.png') no-repeat center center;
}

.flex-direction-nav a.flex-next {
  background: url('../images/icons/arrow-right-large.png') no-repeat 0 0;
}

.field-name-resource-slideshow .flexslider .flex-viewport ul li label {
  color: $darkgreen;
  font-size: 18px;
}

.slides {
  font-size: 16px;
}

.slider-body {
  color: #717880;
  margin-bottom: 25px;
}

.resource-info {

  background: #f2f8e5;
  border-radius: 0 0 12px 12px;
  margin: 0 -40px -51px;
  padding: 15px 40px 35px;
  border-top: 1px solid #d4d4d4;

  .field {
    font-size: emCalc(16px);
  }

  .field-label {
    color: $darkgreen;
    font-family: $body-font-family;
    margin-bottom: 5px;
  }

  .links {
    list-style-type: none;
    font-size: emCalc(16px);
    margin-left: 0;

    li {
      display: inline-block;
      margin-right: 3px;

      &:after {
        content: ",";
      }

      &:last-child:after {
        content: " ";
      }
    }

    a {
      color: #717880;
      font-size: emCalc(16px);
    }
  }
}

/* -----------------------------------------
   Create Resource
   ----------------------------------------- */

#modalContent .ctools-modal-content .modal-content{
  overflow:scroll;
}

#edit-field-alt-body,
#edit-field-contexts,
#edit-field-connection-to-ccss,
#edit-field-connection-to-fap,
#edit-field-learning-goals,
#edit-field-success-criteria,
#edit-field-supporting-evidence,
#edit-field-principles{
  padding:0.2em 0;
  border: 1px dotted $lightgrey;
  border-width: 1px 0 0;

  label {
    font-size: 1em;
  }
}

.sbac-resource-container {
  padding: 5px 10px;
  background-color: #F6F6F6;
  border: 1px solid #ddd;

  .title-of-resource {
    @include hyphenation;
  }

  div {
    font-size: 14px;
    line-height: 18px;

    p {
      font-size: inherit;
    }
  }
}

#sbac-resource-submit-resource-form {
  margin: 0;
}

.sticky-header {
  z-index: 99;
}

#field-file-values {
  width: 100%;

  .preview {
    height: auto;
  }

  .button {
    margin-left: 10px;
    margin-top: 10px;
  }
  thead th:first-child {
    background-color: #fff;
    padding:5px 5px 25px;

    &:after {
      display:block;
      content: 'Primary material. This is the main material with which you want users to interact.';
      font-weight: normal;
      font-size: emCalc(12px);
      width: 93%;
      position: absolute;
      border-top: 1px solid #eee;
      padding: 5px 0;
      margin-top: 0px;
    }
  }
  tr:nth-child(2) {
    td:nth-child(2) {
      padding-top: 30px;
      .media-widget{
      position: relative;
      &:before {
          display: block;
          content: 'Secondary material(s). These will be shown adjacent to the primary material.';
          position: absolute;
          top: 20px;
          left: -35px;
          right: 0;
          margin: -43px 0 0 -10px;
          padding: 0 0 5px 10px;
          font-size: emCalc(14px);
          border-bottom: 1px solid #ccc;
      }
      }
    }
  }
}


.ui-dialog {
  padding: 0;
  @include box-shadow(1px, 1px, 1px,rgba(black,0.5));
}

.ui-widget-overlay  {
  background: url('../images/colorbox/overlay.png') top left repeat;
  @include opacity(0.9);
}
.page-media-browser {
  background: white;

  //tabs
  .button-group {
    border: none;
    padding: 0;
    margin: 0;
  }

  form {
    margin: 0;
  }

  .ui-tabs{
    .ui-tabs-nav{
      li {
        margin: 0;
        @include border-radius(0);
        border:none;

        &:last-child{
          border-right: 1px solid #ccc;
        }

        a{
          @include border-radius(0);
          border: none;
          background: white;
        }

        &.ui-tabs-selected {
          a {
            color: white;
            background-color: #0085ad;
          }
        }
      }
    }

    .media-browser-tab.ui-tabs-panel {
      border-width: 1px 0 0;
      padding: 10px;
    }
  }

  label {
    float: left;
    margin-bottom: 10px;
  }
  #edit-upload-upload {
    float: left;
    width: 50%;
    clear:left;
  }

  #edit-upload-upload-button {
    float:right;
  }

  .form-item .description {
    clear: both;
    margin-top: 10px;
    font-size: 12px;
    line-height: 14px;
    width: 80%;
  }

  .media-internet-providers {

    font-size: 12px;

    li {
      margin: 0 0 2px 10px;
      &:after {
        content:',';
      }

      &:last-child{
        &:after{
          content:'.';
        }
      }
    }
  }

  #media-tab-media_internet {
    .form-item {
      margin: 5px 0;
    }

    li {
      display: inline;
      margin: 0;
    }

    ul {
      margin: 0 0 5px;
    }
  }

  .button {
    margin-bottom: 0;
  }
}

#edit-field-file-und {
  border: none;
  padding: 10px 0 0;
  margin: 1em 0;
}

.field-name-field-license-information {
  margin-top: 30px;

  label[for="edit-field-license-information-und"]{
    font-size: 1em;
  }

  #license-information-group {
    display: block;
    margin-left: 20px;
    margin-bottom: 20px;

    .field-name-field-author {
      display: block !important;
    }

    .field-name-field-publisher {
      display: block !important;
    }
  }

  .form-radios .form-item { 
    margin: .5em 0 1em;
  }

  #no-license-text {
    li {
      font-size: 0.8em;
    }
  }
}

#field_static_license_text {
  .field-content {
    font-size: emCalc(12px);
  }
}

#edit-field-license-url {
  font-size: emCalc(16px);

  label {
    margin: 0 0 5px 0;
  }

  a {
    font-size: emCalc(12px);
  }
}

.completed-flag {
  width: 100%;
  height: 25px;
  text-align: right;
  margin: 5px 0;

  .section-complete {
    background: url("../images/icon-validation-success.png") no-repeat 10px 25px;
    padding: 20px;
  }

  .section-incomplete {
    background: url("../images/icon-validation-fail.png") no-repeat 10px 25px;
    padding: 20px;
  }
}
.page-node-add-resource,
.section-node-edit {
  .description {
    color: $lightgrey;
    font-size: emCalc(12px);
    margin: 0.5em 0;
    line-height: 1.25em;

    ul {
      margin: 10px 0 0 20px;

    }

    &:last-child {
      display: none;
    }
  }
  // basic tab
  #edit-group_basic,
  #edit-group_summary,
  #edit-field-author,
  #edit-field-publisher,
  #edit-group_materials  {
    .form-type-textfield,
    .form-type-textarea {
      position: relative;
      margin: 2em 0;

      .counter {
        position: absolute;
        right: 0;
        bottom: emCalc(-25px);
        font-size: emCalc(12px);
      }
    }
    #edit-field-alt-summary .counter {
      margin-top: -18px;
    }
  }

  #edit-group_basic {
    .description {
      max-width: 95%;
    }
  }

  // materials tab
  #edit-group_materials {
  .field-name-field-file {
    .fieldset-wrapper {
      #field-file-values {
        width: 100%;
        border: none;
        thead {
          background-color: #fff;
          &:after {
            display: inline-block;
            content: 'Primary material. This is the main material with which you want users to interact.';
            margin: 5px 10px;
            font-weight: normal;
            font-size: emCalc(12px);
          }
        }
        tr:nth-child(2) {
          td:nth-child(1) {
            padding-top: 20px;
            .file-widget {
              position: relative;
              &:before {
                display: block;
                content: 'Secondary material(s). These will be shown adjacent to the primary material.';
                position: absolute;
                top: 0;
                left: 0;
                width: calc(132%);
                width: -webkit-calc(130.2%); // ** semi-hackish **
                margin: -43px 0 0 -10px;
                padding: 0 0 5px 10px;
                font-size: emCalc(14px);
                border-bottom: 1px solid #ccc;
              }
            }
          }
          td {
            button {
              margin-top: 38px;
            }
          }
        }
      }
      .tabledrag-toggle-weight-wrapper a,
      .tabledrag-changed {
        display: none;
      }
    }
    // no license info
    #no-license-text {
      margin: 0 0 0 emCalc(30px);
      font-size: emCalc(14px);
      ul {
        margin: emCalc(10px) 0 0 0;
        li {
          margin: 0 0 0 emCalc(20px);
        }
      }
    }
    #field_static_license_text {
      .field-content {
        font-size: emCalc(14px);
      }
    }
  }

  .field-name-field-pii {
    margin: 1.5em 0;
  }

  ul, ol {
    margin-left: emCalc(45px);
  }

  #edit-field-file-und-ajax-wrapper {

    .form-file {
      float: none;
      width: 200px;
      margin-top: .5em;
      clear: both;
    }

    .form-submit {
      float: right;
    }

    label {
      font-size: 1em;
    }
  }
  .description {
    max-width: 95%;
  }
}

#edit-group_summary {
  ul, ol {
    margin-left: emCalc(45px);
  }

  .description {
    max-width: 95%;
  }
}
  // tags tab
  #edit-group_tags {
    .fieldset-wrapper {
      // add alignment
      table.views-table {
        margin: 15px 0 0;
        width: 100%;
      }
      #sbac-resource-modal-alignment {
        display: inline-block;
        float: right;
        margin: 20px 0 10px;
      }
      .alignment-tag-title,
      .educational-tag-title {
        display: block;
        font-size: 1.2em;
        font-weight: bold;
        clear: both;
        margin: 10px 0 5px;
      }

      .field-widget-options-select label:after {
        display: block;
        color: $lightgrey;
        font-size: emCalc(12px);
        padding: 5px 0;
      }

      //TODO: Add the descriptions on php
      /*.field-name-field-age-range label:after {
        content: 'The typical age range of the resource\'s intended end user.';
      }
      .field-name-field-intended-end-user label:after {
        content: 'Individual or group for which the resource was produced.';
      }
      .field-name-field-digital-media-type label:after {
        content: 'The type of media in which the resource is provided.';
      }
      .field-name-field-educational-use label:after {
        content: 'The purpose of the resource in the context of the Digital Library.';
      }
      .field-name-field-subject label:after {
        content: 'The subject area to which the learning resource applies';
      }

      .field-name-field-grade label:after {
        content: 'The grade(s) at which the opject might be used, regardless of curriculum alignment';
      }
      .field-name-field-intended-student label:after {
        content: 'Student population(s) which the resource can be used';
      }

      .field-name-field-geographical-settings label:after {
        content: 'Setting(s) for which the resource is provided';
      }

      .field-name-field-learning-resource-type label:after {
        content: 'The predominate type or kind characterizing the learning resource.';
      }
      .field-name-field-smarter-balanced-keyword label:after {
        content: 'Identifiers that can be assigned to a resource aligned to Smarter Balance concepts.';
      }
      .field-name-field-interactivity-type label:after {
        content: 'The predominate mode of learning supported by the learning resource.';
      }*/
      .field-widget-options-select {
        float: left;
        width: 40%;
        margin-right: 5%;
        &:nth-child(even) {
          clear: left;
        }
      }
    }
    .chzn-container {
      width: 200px !important;
      li input {
        padding: 1px !important;
        height: emCalc(24px);
      }
    }

    .ctools-modal-content {
      height: 160px !important;
    }

    .description {
      max-width: 90%;
    }

    div.error {
      background-image: none;
    }
  }
}

.node-resource-form {
  .form-actions {
    text-align: right;

    button , #sbac-resource-save-continue {
      display: inline-block;
    }

    button {
      margin-right: 10px;
    }
  }
}

.form-textarea-wrapper textarea {
  max-width: 624px;
}


/* -----------------------------------------
   CTools Modal
   ----------------------------------------- */

#modalBackdrop {
  background: url(../images/colorbox/overlay.png) repeat 0 0 !important;
  opacity: 0.9 !important;
}
// add alignment modal
#modalContent {
  .ctools-modal-content {
    border-radius: 5px;
    border: 1px solid #ccc;
    overflow: hidden;
    .modal-header {
      background: none;
      #modal-title {
        display: inline-block;
        color: #000;
        padding: 15px 0;
        height: 35px;
      }
      .close {
        display: none;
      }
    }
    .modal-content {
      padding-top: 0;
      overflow: hidden;
      overflow-y:auto;

      .form-item {
        margin-top: 0;
        label {
          float: none;
          width: 100%;
          margin: 5px 0;
        }
      }
      .field-widget-text-textfield {
        display: inline-block;
        width: 48%;
        margin-right: 15px;
      }

      #edit-delete-overlay, #edit-submit-overlay {
        float: right;
      }
    }
    .field-type-taxonomy-term-reference {
      //width: 48%;
      //margin-right: 15px;
      //display: inline-block;
      label {
        width: 100%;
        &:after {
          color: $lightgrey;
          font-size: emCalc(14px);
          display: block;
          margin: emCalc(5px) 0;
        }
      }
    }
    #edit-field-education-alignment {
      label:after {
       // content: 'An alignment to an established educational framework.';
      }
    }
    #edit-field-alignment-type {
      margin-right: 0;
      label:after {
        // content: 'A category of alignment between the learning resource and the framework node.';
      }
    }
    .field-type-text-with-summary {
      .form-textarea-wrapper {
        margin-left: 0;
        margin-right: emCalc(25px);
      }
    }
    .form-actions {
      text-align: right;
      margin: 0 25px 0 0;
      #edit-cancel--2 {
        margin-left: 10px;
      }
    }
  }
}

#sbac-resource-delete-resource-form {
  > div {

    #edit-cancel-overlay {
      margin-left: 220px;
    }

    #edit-delete-overlay {
      @include global-button;
    }
  }
}

#sbac-resource-submit-resource-form {
  #edit-cancel-overlay {
    margin-left: 250px;
  }
}

/* -----------------------------------------
  Textify
  ------------------------------------------  */

.textify_arrows {
  a.arrow {
    border:none;
    background: url("../../../libraries/flexslider/images/bg_direction_nav.png") left center;
    width: 28px;
    height: 28px;
    @include opacity(0.8);
    @include transition-property(opacity);
    @include transition-duration(0.15s);
    @include transition-timing-function(ease-in-out);

    &.right {
      border: none;
      background-position: right center;
    }

    &:hover {
      @include opacity(1);
    }

    &.disable{
      display: block;
       @include opacity(0.3);
    }
  }
}

.textify {
  .textify_nav ul li  {
    background:rgba(0,0,0,0.9);
    background-image: none;
    width: 11px;
    height: 11px;
    @include border-radius(15px);

    &.selected, &:hover {
      background: rgba(0,0,0,0.5);
    }
  }

  font-size:14px;
  p {
    font-size: 14px;
  }
}

/* -----------------------------------------
   Legal
   ----------------------------------------- */

   #terms-and-conditions-body {
    clear: both;
   }

   .terms {
    max-height: 400px;
    overflow-y:auto;
   }

/* -----------------------------------------
   Admin Theme Fixes
   ----------------------------------------- */

// views

.page-admin-structure-views {
  .views-display-top {
    button {
      margin: 1px 0 0;
      padding: emCalc(7px) emCalc(10px);
      font-size: emCalc(12px);
      font-weight: normal;
    }
  }

  .label {
    background-color: #fff;
    color: #000;
    font-size: emCalc(16px);
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: inherit;
  }
}

/* Profile form on user page */
.section-container.auto > section.active {
  #user-profile-form {
    .form-item-name,
    .form-item-current-pass,
    .form-item-pass,
    fieldset#edit-timezone,
    fieldset#edit-legal {
      display: none;
    }
  }
}

.page-admin-structure-types-manage-resource {
  .description {
    margin-bottom: 2.5em;
    margin-top: 1em;
    font-size: 0.75em;
    line-height: 1.125em;
  }

  .filter-wrapper {
    display: none;
  }
}

/* -----------------------------------------
   Feedback block
   ----------------------------------------- */
.block-sbac-central-feedback-box {
  display: none;
  width: 300px;
  padding: 10px 20px 0;
  position: absolute;
  right: 150px;
  bottom: 50px;
  background: white;
  @include border-radius(6px);
  @include box-shadow(1px 2px 2px rgba(0, 0, 0, 0.3 ));
  font-size: 14px;
  z-index: 97;
  border: 1px solid #ccc;

  /**&:before{
    content:'';
    position: relative;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid white;
    border-bottom: 0;
    bottom: -24px;
    right: 0;
    top: auto;
    z-index: 99;
  }**/
  &:after{
    content:'';
    position: relative;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid white;
    border-bottom: 0;
    bottom: -23px;
    left: 250px;
    top: auto;
    z-index: 98;
  }

  p {
    line-height: normal !important;
    margin-bottom: 10px !important;
  }

}
.block-sbac-central-feedback-box p {
  color: black;
}
/* -----------------------------------------
   Help topics styles
   ----------------------------------------- */

#views-form-help-topics-page-4 .views-field-nid-1 a {
/*  background: white;
  padding: 5px;
  border: 1px solid;
  border-radius: 3px;*/
  background: none repeat scroll 0 0 #BFD8E5;
  border: 1px solid rgba(0, 98, 152, 0.5);
  border-radius: 6px 6px 6px 6px;
  color: #006298;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 18px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
#views-form-help-topics-page-4 .views-field-nid-1 a:hover {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background: #0085ad;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  color: white;
}
#views-form-help-topics-page-4 .views-field-nid-1 a:focus {
  background: #bfd8e5;
}

#views-form-help-topics-page-4,
#views-form-help-topics-page-2 {
  margin-bottom: 50px;
}

.help-topic-link,
.welcome-tutorial-topic-link {
/*  background: none repeat scroll 0 0 #DDDDDD;
  border: 1px solid;
  border-radius: 5px 5px 5px 5px;
  display: block;
  padding: 8px 20px;*/
  background: none repeat scroll 0 0 #BFD8E5;
  border: 1px solid rgba(0, 98, 152, 0.5);
  border-radius: 6px 6px 6px 6px;
  color: #006298;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 18px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.help-topic-link:hover,
.welcome-tutorial-topic-link:hover {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background: #0085ad;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  color: white;
}
.help-topic-link:focus,
.welcome-tutorial-topic-link:focus {
  background: #bfd8e5;
  color: #006298;
}

.page-welcome-tutorial-topics .help-topic-link,
.page-help-topics .help-topic-link {
  top: 10px;
  position: absolute;
  right: 10px;
}
.view-id-help_topics .help-topic-link1 {

  position: absolute;
  right: 10px;
  top: 10px;
}
.view-id-help_topics .help-topic-link2,
.welcome-tutorial-topic-link {
  bottom: 20px;
  position: absolute;
  right: 150px;
}
.view-id-help_topics #edit-submit,
.view-id-help_topics #edit-submit--2 {
  position: absolute;
  right: 10px;
  bottom: 0px;
}

#views-form-help-topics-page-2 .tabledrag-toggle-weight,
#views-form-help-topics-page-4 .tabledrag-toggle-weight {
  display: none;
}

#draggableviews-table-help_topics-page_2,
#draggableviews-table-help_topics-page_4 {
  width: 100%;
}

.view-help-topics ul li.views-row {
  list-style: none;
  margin-bottom: 20px;
}
.view-help-topics ul li .views-field-title{
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #42a747;
}

.view-help-topics ul li .views-field-body {
  p {
    font-size: 15px;
  }
}
.view-help-topics ul li .views-field-field-summary {
  margin-bottom: 20px;
}

.page-help-topics h1#page-title {
  margin-bottom: 20px;
  margin-top: 30px;
  padding-left: 22px;
}
#admin-welcome-tab-message {
  padding: 10px;
  background: #ddd;
  border: 1px solid #999;
  margin-bottom: 20px;
}
#draggableviews-table-help_topics-page_4 .views-field-nid-1{
  text-align: center;
  width: 200px;
}
#draggableviews-table-help_topics-page_2 .views-field-status, #draggableviews-table-help_topics-page_4 .views-field-status, #draggableviews-table-help_topics-page_2 .views-field-fields-combine {
  text-align: center;
}
/* -----------------------------------------
   Login text styles
   ----------------------------------------- */
.login-text {
  padding-left: 50px;
}




/* ----------------------------------------
    Read More
  _________________________________________ */

.read-more {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: 16px;
  height: 15px;

  a {
    display: block;
  }

  .description-hover {

    .description-content {
      max-height: 200px;
      overflow-y:auto;
      padding: 20px
    }

    display: none;
    transition-property: opacity;
    transition-duration: 500ms;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 500ms;
    width: 400px;
    position: absolute;
    bottom: 25px;
    left: -365px;
    background: #DFE5CC;
    border-radius: 6px;
    color: #3C7646;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    font-size: 12px;
    z-index: 999;
    border: 1px solid #3C7646;


    p {
      font-size: inherit;
      margin: 0;
    }

    &:after{
      content: ' ';
      position: absolute;
      bottom: -28px;
      left: 356px;
      border-color: #DFE5CC transparent transparent transparent;
      border-style: solid;
      border-width: 14px;
      width: 0;
      height: 0;
      z-index: 99;
    }
    &:before{
      content: ' ';
      position: absolute;
      bottom: -30px;
      left: 355px;
      border-color:  #3C7646 transparent transparent transparent;
      border-style: solid;
      border-width: 15px;
      width: 0;
      height: 0;
      z-index: 97;
    }
  }

  &:hover{
    .more {
      display:block;
    }
  }
}


/* ----------------------------------------
    Read More - JS
  _________________________________________ */

.more-link {
  padding: 0 3px;
}

/**
 Help Topic
 **/

 .node-help-page {
  p {
    font-size: inherit;
  }

  ul.inline {
    margin: 0;
    padding: 0;

    li{
      display: inline-block;
      margin: 0;
      padding: 0 10px 0 5px;
      border-right:1px solid #ccc;

      &:last-child{
        border-right:none;
      }

      &:first-child{
        padding-left: 0;
      }
    }
  }

 }