/* line 2, ../sass/sbac_media.scss */
#sbac-field-file-container {
  position: relative;
}
/* line 5, ../sass/sbac_media.scss */
#sbac-field-file-container .secondary-items-info {
  position: absolute;
  top: 101px;
  left: 1px;
  font-size: 11px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding: 10px 0 10px 10px;
}

/* line 16, ../sass/sbac_media.scss */
#sbac-media-list {
  width: 100%;
}
/* line 19, ../sass/sbac_media.scss */
#sbac-media-list table {
  margin-bottom: 0;
}
/* line 22, ../sass/sbac_media.scss */
#sbac-media-list thead th {
  background-color: #fff;
  padding: 5px 5px;
}
/* line 27, ../sass/sbac_media.scss */
#sbac-media-list thead td {
  font-weight: normal;
  font-size: 11px;
}
/* line 32, ../sass/sbac_media.scss */
#sbac-media-list thead th:nth-child(2) {
  text-align: right;
}
/* line 38, ../sass/sbac_media.scss */
#sbac-media-list tbody .ui-state-disabled {
  font-size: 12px;
}
/* line 42, ../sass/sbac_media.scss */
#sbac-media-list tbody .ui-icon {
  width: 5%;
  font-family: "GeneralFoundicons";
  font-size: 1em;
  text-indent: 0;
  display: table-cell;
}
/* line 49, ../sass/sbac_media.scss */
#sbac-media-list tbody .ui-icon.document:before {
  content: "\f009";
}
/* line 53, ../sass/sbac_media.scss */
#sbac-media-list tbody .ui-icon.video:before {
  content: "\f01f";
}
/* line 57, ../sass/sbac_media.scss */
#sbac-media-list tbody .ui-icon.embed:before {
  content: "\f01f";
}
/* line 61, ../sass/sbac_media.scss */
#sbac-media-list tbody .ui-icon.image:before {
  content: "\f020";
}
/* line 66, ../sass/sbac_media.scss */
#sbac-media-list tbody tr {
  border-bottom: 1px solid #ccc;
  cursor: move;
}
/* line 70, ../sass/sbac_media.scss */
#sbac-media-list tbody tr td {
  /*padding-top: 1em;
      		padding-bottom: 1em;*/
}
/* line 74, ../sass/sbac_media.scss */
#sbac-media-list tbody tr td.delete-media {
  text-align: right;
  display: table-cell;
  width: 5%;
  margin: 10px 20px 0 0;
  vertical-align: middle;
}
/* line 81, ../sass/sbac_media.scss */
#sbac-media-list tbody tr td.delete-media .foundicon-trash {
  color: #aaa;
  font-size: 1em;
  margin-right: -20px;
}
/* line 87, ../sass/sbac_media.scss */
#sbac-media-list tbody tr td.delete-media .ctools-modal-sbac-media-modal-delete-media {
  opacity: 0;
  width: 20px;
  height: 20px;
}
/* line 93, ../sass/sbac_media.scss */
#sbac-media-list tbody tr td.delete-media a {
  color: transparent;
}
/* line 97, ../sass/sbac_media.scss */
#sbac-media-list tbody tr td:nth-child(2) {
  width: auto;
  line-height: 1.5;
  word-break: break-all;
}
/* line 102, ../sass/sbac_media.scss */
#sbac-media-list tbody tr td:nth-child(2) input[type="checkbox"] {
  margin-left: 0;
}
/* line 106, ../sass/sbac_media.scss */
#sbac-media-list tbody tr td:nth-child(3) {
  white-space: nowrap;
  width: 20%;
}
/* line 113, ../sass/sbac_media.scss */
#sbac-media-list tbody tr:nth-child(2) td {
  padding-top: 40px;
}
/* line 117, ../sass/sbac_media.scss */
#sbac-media-list tbody tr:nth-child(2).ui-sortable-helper td {
  padding-top: 20px;
  height: auto;
}

/* line 124, ../sass/sbac_media.scss */
.media-table {
  position: relative;
}

/* line 130, ../sass/sbac_media.scss */
#sbac-field-file-container .form-item-field-embed-video {
  width: 55%;
  margin-right: 2%;
  float: left;
}
/* line 135, ../sass/sbac_media.scss */
#sbac-field-file-container .form-item-field-embed-video .description {
  display: block;
}
/* line 140, ../sass/sbac_media.scss */
#sbac-field-file-container .form-file {
  width: 50%;
  float: left;
  clear: both;
}
/* line 146, ../sass/sbac_media.scss */
#sbac-field-file-container .form-submit {
  float: right;
}
/* line 150, ../sass/sbac_media.scss */
#sbac-field-file-container .video-embed-button {
  margin-top: 3em;
}

/* overlay cancel button */
/* line 156, ../sass/sbac_media.scss */
#edit-cancel-media-overlay {
  margin-right: 10px;
}

/* line 160, ../sass/sbac_media.scss */
.dup-btns {
  text-align: right;
}

/* line 165, ../sass/sbac_media.scss */
.page-node-edit.node-type-resource #modalContent .ctools-modal-content.small,
.node-type-resource.section-content #modalContent .ctools-modal-content.small {
  height: auto !important;
  width: 620px !important;
  padding: 5px 0 0;
}

/* line 172, ../sass/sbac_media.scss */
.page-node-edit.node-type-resource #modalContent .ctools-modal-content .modal-content,
.node-type-resource.section-content #modalContent .ctools-modal-content .modal-content {
  height: auto !important;
}
