
.textify{
	/*overflow:hidden;*/
	font-family: Tahoma, Geneva, sans-serif;
	font-size:13px;
	overflow:hidden;
	position:relative;
		
	}

.textify img{
	float : left;	
	}
.textify_nav{
    margin: 10px 0;
	position:absolute;
	bottom:0;
	}
.textify_nav ul {
	margin:0;
	padding:0;
}
.textify_nav ul li:hover, .textify_nav  ul li.selected {
	background-position:0 -15px;

}
.textify_nav ul li {
    background-image: url("../images/textify_nav.png");
    background-repeat: no-repeat;
    float: left;
    height: 15px;
    list-style: none outside none;
    margin-left: 3px;
    margin-right: 3px;
    width: 15px;
	cursor:pointer;

}
.contentText{
	margin-left:0;
	float:left;
	
}

.textify_arrows .arrow {
	position: absolute;
	top: 45%;
	display: block;
	width: 12px;
	height: 12px;
	margin-top: -12px;
	text-indent: -9999em;
	color: #d9d9d9;
	/** -webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
 	-webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out; **/

    width: 0; 
	height: 0; 
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	
	border-right: 12px solid #666;
}

.textify_arrows .arrow.right {
	right: 0;
	border-right:none;
	border-left: 12px solid #666;
}

.textify_arrows .arrow.disable{
	display: none;
}
.textify:hover .arrow {
	/* -webkit-opacity: 1;
	-moz-opacity: 1;
	opacity:1; */
}