/* line 3, ../sass/sbac_flag.scss */
.page-moderation .block-sbac-flag-moderation-count {
  float: left;
}
/* line 5, ../sass/sbac_flag.scss */
.page-moderation .block-sbac-flag-moderation-count h3 {
  line-height: 45px;
  margin: 0 20px;
}
/* line 8, ../sass/sbac_flag.scss */
.page-moderation .block-sbac-flag-moderation-category {
  vertical-align: top;
  float: left;
}
/* line 13, ../sass/sbac_flag.scss */
.page-moderation .main-container {
  background-clip: padding-box;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  margin: 1.5625em auto 4.6875em;
  padding: 15px 0;
}
/* line 21, ../sass/sbac_flag.scss */
.page-moderation .main-container .resource-card {
  -moz-box-sizing: border-box;
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 6px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
  display: block;
  margin: 0 0 15px;
  overflow: hidden;
  padding: 15px 114px 15px 15px;
  position: relative;
  height: 110px;
}
/* line 33, ../sass/sbac_flag.scss */
.page-moderation .main-container .resource-card .row {
  margin-left: 0;
}
/* line 37, ../sass/sbac_flag.scss */
.page-moderation .main-container .resource-card .resource-title a, .page-moderation .main-container .resource-card .review-title a {
  color: #04384E;
  font-size: 15px;
  font-weight: bold;
}
/* line 43, ../sass/sbac_flag.scss */
.page-moderation .main-container .resource-card .resource-title {
  font-size: 13px;
  line-height: 1.2;
  max-width: 560px;
  padding-top: 9px;
  font-style: italic;
}
/* line 51, ../sass/sbac_flag.scss */
.page-moderation .main-container .resource-card .row-right {
  -moz-box-sizing: border-box;
  background-color: #F2F2F2;
  border-left: 1px solid #FFFFFF;
  border-radius: 0 6px 6px 0;
  box-shadow: -1px 0 0 0 #CECECE;
  color: #464B54;
  display: block;
  height: 100%;
  list-style-type: none;
  padding: 0;
  position: absolute;
  right: 0;
  text-shadow: 0 1px 0 #FFFFFF;
  top: 0;
  width: 280px;
}
/* line 68, ../sass/sbac_flag.scss */
.page-moderation .main-container .resource-card .row-right .flag-status {
  padding: 15px 60px 30px 10px;
}
/* line 71, ../sass/sbac_flag.scss */
.page-moderation .main-container .resource-card .row-right .flag-status.urgent {
  color: #ff0000;
}
/* line 74, ../sass/sbac_flag.scss */
.page-moderation .main-container .resource-card .row-right a {
  margin-left: 10px;
}

/*Confirmation modal*/
/* line 84, ../sass/sbac_flag.scss */
.page-moderation .modal-content {
  overflow-y: hidden !important;
}

/* line 90, ../sass/sbac_flag.scss */
#sbac-flag-start-moderation-form .button, #sbac-flag-start-moderation-form .form-submit {
  float: right;
  margin-left: 30px;
}

/*Moderation resource detail view page*/
/* line 99, ../sass/sbac_flag.scss */
.node-type-resource .flag-resource-container {
  margin: 0 30px;
}
/* line 102, ../sass/sbac_flag.scss */
.node-type-resource .flag-resource-container .resource-flag-category {
  border-bottom: 1px solid #62676E;
  padding: 20px 0 5px;
  margin-bottom: 10px;
  position: relative;
}
/* line 108, ../sass/sbac_flag.scss */
.node-type-resource .flag-resource-container .resource-flag-category .resource-category {
  color: #04384E;
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  display: inline-block;
  line-height: 1.4;
  width: 90%;
}
/* line 121, ../sass/sbac_flag.scss */
.node-type-resource .flag-resource-container .resource-flag-category .resource-count {
  display: inline-block;
  margin-left: 10px;
  font-size: 13px;
  font-style: italic;
  color: #909398;
  position: absolute;
  bottom: 10px;
  right: 0;
}
/* line 133, ../sass/sbac_flag.scss */
.node-type-resource .flag-resource-container .flag-row {
  padding: 10px 0 20px;
  border-bottom: 1px #cecece solid;
  margin-bottom: 20px;
}
/* line 138, ../sass/sbac_flag.scss */
.node-type-resource .flag-resource-container .flag-row .flag-user {
  padding-bottom: 15px;
}
/* line 144, ../sass/sbac_flag.scss */
.node-type-resource .resource-flag-information {
  background-color: #F2F2F2;
  border: 7px solid #FFFFFF;
  box-shadow: 0 1px 4px 0 rgba(4, 56, 78, 0.3);
  color: #464B54;
  margin-top: 15px;
  padding: 10px 20px 15px;
  position: relative;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
  position: relative;
}
/* line 157, ../sass/sbac_flag.scss */
.node-type-resource .resource-flag-information .flag-status {
  color: #006082;
  font-weight: bold;
  padding-top: 0px;
  font-size: 16px;
}
/* line 164, ../sass/sbac_flag.scss */
.node-type-resource .resource-flag-information .flag-count {
  padding-top: 3px;
}
/* line 166, ../sass/sbac_flag.scss */
.node-type-resource .resource-flag-information .flag-button {
  position: absolute;
  top: 22px;
  right: 20px;
}
/* line 170, ../sass/sbac_flag.scss */
.node-type-resource .resource-flag-information .flag-button a {
  margin-bottom: 0;
}
/* line 177, ../sass/sbac_flag.scss */
.node-type-resource .resource-flag-information.urgent {
  background-color: #FDF2B1;
  color: #101010;
}
/* line 181, ../sass/sbac_flag.scss */
.node-type-resource .resource-flag-information.urgent .flag-status {
  color: #8A1538;
}

/* line 187, ../sass/sbac_flag.scss */
.node-type-resource .entity-review.view-mode-full {
  border-bottom: none;
  padding-top: 0;
}

/*Edit page*/
/* line 196, ../sass/sbac_flag.scss */
.page-node-edit.node-type-resource #page-title {
  border-bottom: none;
  float: left;
}
/* line 201, ../sass/sbac_flag.scss */
.page-node-edit.node-type-resource .resource-preview {
  margin-top: 18px;
}
/* line 205, ../sass/sbac_flag.scss */
.page-node-edit.node-type-resource .flag-information {
  clear: both;
  background-color: #F2F2F2;
  border: 7px solid #FFFFFF;
  box-shadow: 0 1px 4px 0 rgba(4, 56, 78, 0.3);
  color: #464B54;
  margin-top: 5px;
  padding: 10px 20px 15px;
  font-size: 18px;
  position: relative;
}
/* line 216, ../sass/sbac_flag.scss */
.page-node-edit.node-type-resource .flag-information .flag-status {
  color: #006082;
  font-weight: bold;
  padding: 0 0 15px;
}
/* line 223, ../sass/sbac_flag.scss */
.page-node-edit.node-type-resource .flag-resource-container {
  margin: 0;
}
/* line 227, ../sass/sbac_flag.scss */
.page-node-edit.node-type-resource .resource-flag-category {
  position: relative;
}
/* line 230, ../sass/sbac_flag.scss */
.page-node-edit.node-type-resource .resource-flag-category .resource-category {
  width: 90%;
  line-height: 1.4;
}
/* line 235, ../sass/sbac_flag.scss */
.page-node-edit.node-type-resource .resource-flag-category .resource-count {
  position: absolute;
  bottom: 10px;
  right: 0;
}

/*button*/
/* line 244, ../sass/sbac_flag.scss */
.flag-category-review-buttons, #edit-actions {
  text-align: center;
  padding-top: 15px;
}
/* line 248, ../sass/sbac_flag.scss */
.flag-category-review-buttons .cancel, .flag-category-review-buttons .finish, .flag-category-review-buttons #sbac-flag-cancel-moderation, .flag-category-review-buttons .sbac-flag-finish-moderation-dropdown, #edit-actions .cancel, #edit-actions .finish, #edit-actions #sbac-flag-cancel-moderation, #edit-actions .sbac-flag-finish-moderation-dropdown {
  display: inline-block;
  margin: 0 15px;
  position: relative;
}
/* line 253, ../sass/sbac_flag.scss */
.flag-category-review-buttons .cancel .item-list, .flag-category-review-buttons .finish .item-list, .flag-category-review-buttons #sbac-flag-cancel-moderation .item-list, .flag-category-review-buttons .sbac-flag-finish-moderation-dropdown .item-list, #edit-actions .cancel .item-list, #edit-actions .finish .item-list, #edit-actions #sbac-flag-cancel-moderation .item-list, #edit-actions .sbac-flag-finish-moderation-dropdown .item-list {
  position: absolute;
  top: 6px;
  right: 40px;
}
/* line 258, ../sass/sbac_flag.scss */
.flag-category-review-buttons .cancel .item-list ul, .flag-category-review-buttons .finish .item-list ul, .flag-category-review-buttons #sbac-flag-cancel-moderation .item-list ul, .flag-category-review-buttons .sbac-flag-finish-moderation-dropdown .item-list ul, #edit-actions .cancel .item-list ul, #edit-actions .finish .item-list ul, #edit-actions #sbac-flag-cancel-moderation .item-list ul, #edit-actions .sbac-flag-finish-moderation-dropdown .item-list ul {
  width: 190px;
  text-align: left;
}
