/* -----------------------------------------
    Variables
   ----------------------------------------- */
/* -----------------------------------------
   Forms
   ----------------------------------------- */
/* line 19, ../sass/sbac_resource.scss */
#resource-help-box .button {
  margin-right: 10px;
}

/* line 23, ../sass/sbac_resource.scss */
.form-item input[type="checkbox"].error, .form-item input[type="radio"].error {
  outline: 2px solid red;
  -moz-appearance: none;
}

/* line 28, ../sass/sbac_resource.scss */
.form-item textarea.error, .form-item input.error {
  width: 92%;
}

/* line 32, ../sass/sbac_resource.scss */
.vertical-tabs .form-type-textfield input.error {
  width: 90%;
}

/* line 36, ../sass/sbac_resource.scss */
.form-item input[type="checkbox"].error, .form-item input[type="radio"].error {
  width: auto;
}

/* line 40, ../sass/sbac_resource.scss */
.form-item-error-holder.error + .form-item {
  background: url("../images/icon-validation-fail.png") no-repeat right 30px;
}

/* line 44, ../sass/sbac_resource.scss */
.form-item-error-holder.error + .form-item .form-item {
  background: transparent;
}

/* line 48, ../sass/sbac_resource.scss */
.radios-with-desc .form-item-error-holder.error + .form-checkboxes {
  display: inline-block;
  padding-right: 25px;
}

/* line 53, ../sass/sbac_resource.scss */
.grippie {
  display: none;
}

/* -----------------------------------------
   Digital Library
   ----------------------------------------- */
/* line 61, ../sass/sbac_resource.scss */
a.sbac-grid-layout, a.sbac-list-layout {
  display: inline-block;
  margin: 0 20px 0 10px;
  background: url("../images/list.png") no-repeat center left;
  background-size: 24px 24px;
  padding-left: 30px;
  color: #494949;
  height: 45px;
  line-height: 45px;
}
/* line 71, ../sass/sbac_resource.scss */
a.sbac-grid-layout:hover, a.sbac-list-layout:hover {
  color: #494949;
}

/* line 76, ../sass/sbac_resource.scss */
a.sbac-grid-layout {
  background-image: url("../images/thumbnails.png");
}

/* line 80, ../sass/sbac_resource.scss */
.block-sbac-resource-sbac-resource-results-count {
  float: left;
  margin-right: 10px;
  margin-left: 26px;
  font-size: emCalc(24px);
}
/* line 86, ../sass/sbac_resource.scss */
.block-sbac-resource-sbac-resource-results-count h3 {
  color: #0085ad;
  height: 45px;
  line-height: 45px;
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 1.2rem;
}

/* line 97, ../sass/sbac_resource.scss */
.block-sbac-resource-sbac-resource-create-button {
  float: left;
  margin-top: -4px;
}

/* line 105, ../sass/sbac_resource.scss */
.page-digital-library-resources #page-title,
.page-my-resources #page-title,
.page-resource-review #page-title {
  display: none;
}
/* line 109, ../sass/sbac_resource.scss */
.page-digital-library-resources .main-container,
.page-my-resources .main-container,
.page-resource-review .main-container {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  padding: 0;
  background: no-repeat;
}
/* line 116, ../sass/sbac_resource.scss */
.page-digital-library-resources table,
.page-my-resources table,
.page-resource-review table {
  border: none;
}
/* line 118, ../sass/sbac_resource.scss */
.page-digital-library-resources table tr,
.page-my-resources table tr,
.page-resource-review table tr {
  background-color: transparent;
  vertical-align: top;
}

/* line 125, ../sass/sbac_resource.scss */
.digital-library, .page-digital-library-resources {
  /* Search Results */
}
/* line 126, ../sass/sbac_resource.scss */
.digital-library #dialog button, .page-digital-library-resources #dialog button {
  float: right;
}
/* line 130, ../sass/sbac_resource.scss */
.digital-library .ajax-progress, .page-digital-library-resources .ajax-progress {
  display: none;
}
/* line 134, ../sass/sbac_resource.scss */
.digital-library .gate-keeper-modal-intro, .page-digital-library-resources .gate-keeper-modal-intro {
  font-size: 0.875em;
  margin-bottom: 20px;
}
/* line 140, ../sass/sbac_resource.scss */
.digital-library .refine-results ul, .page-digital-library-resources .refine-results ul {
  list-style: none;
}
/* line 144, ../sass/sbac_resource.scss */
.digital-library .refine-results .filter, .page-digital-library-resources .refine-results .filter {
  border-top: 1px solid #eee;
  padding: 20px 0 0;
}
/* line 148, ../sass/sbac_resource.scss */
.digital-library .refine-results .filter .heading, .page-digital-library-resources .refine-results .filter .heading {
  font-weight: bold;
}
/* line 154, ../sass/sbac_resource.scss */
.digital-library .refine-results li span, .page-digital-library-resources .refine-results li span {
  display: inline-block;
  float: right;
}
/* line 161, ../sass/sbac_resource.scss */
.digital-library .resource-card, .page-digital-library-resources .resource-card {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background: white;
  border: 1px solid #eee;
  position: relative;
  padding: 0px;
  margin-bottom: 2em;
}
/* line 169, ../sass/sbac_resource.scss */
.digital-library .resource-card .resoruce-bottom, .page-digital-library-resources .resource-card .resoruce-bottom {
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  -ms-border-radius: 0 0 8px 8px;
  -o-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  background-color: #eaeaea;
  padding: 10px;
  color: #246a34;
  font-size: 12px;
}
/* line 176, ../sass/sbac_resource.scss */
.digital-library .resource-card .resoruce-bottom.rejected, .page-digital-library-resources .resource-card .resoruce-bottom.rejected {
  background-color: #eee2e5;
  color: #8a1538;
}
/* line 181, ../sass/sbac_resource.scss */
.digital-library .resource-card .resoruce-bottom.approved, .page-digital-library-resources .resource-card .resoruce-bottom.approved {
  background-color: #edf3e0;
}
/* line 185, ../sass/sbac_resource.scss */
.digital-library .resource-card .resoruce-bottom .button, .page-digital-library-resources .resource-card .resoruce-bottom .button {
  margin-right: 10px;
}
/* line 189, ../sass/sbac_resource.scss */
.digital-library .resource-card .resoruce-bottom .paradata-numbers, .page-digital-library-resources .resource-card .resoruce-bottom .paradata-numbers {
  border-bottom: 1px solid white;
  margin: 0 -10px;
  padding: 10px;
  font-weight: bold;
  font-size: 11px;
}
/* line 196, ../sass/sbac_resource.scss */
.digital-library .resource-card .resoruce-bottom .paradata-numbers .field-content, .page-digital-library-resources .resource-card .resoruce-bottom .paradata-numbers .field-content {
  display: inline-block;
}
/* line 201, ../sass/sbac_resource.scss */
.digital-library .resource-card .resoruce-bottom .paradata-info, .page-digital-library-resources .resource-card .resoruce-bottom .paradata-info {
  padding: 10px 0 0;
}
/* line 204, ../sass/sbac_resource.scss */
.digital-library .resource-card .resoruce-bottom .paradata-info label, .page-digital-library-resources .resource-card .resoruce-bottom .paradata-info label {
  float: left;
  display: inline;
  margin-right: 5px;
  font-size: 11px;
  margin-bottom: 0;
  text-align: right;
  color: #246a34;
  clear: left;
}
/* line 215, ../sass/sbac_resource.scss */
.digital-library .resource-card .resoruce-bottom .paradata-info .field-content, .page-digital-library-resources .resource-card .resoruce-bottom .paradata-info .field-content {
  font-size: 11px;
}
/* line 222, ../sass/sbac_resource.scss */
.digital-library .resource-card .resource-state-description p, .page-digital-library-resources .resource-card .resource-state-description p {
  font-size: 18px;
  margin-bottom: 0.5em;
  padding: 0;
}
/* line 229, ../sass/sbac_resource.scss */
.digital-library .resource-card .resource-top, .page-digital-library-resources .resource-card .resource-top {
  padding: 10px;
}
/* line 233, ../sass/sbac_resource.scss */
.digital-library .resource-card h3, .digital-library .resource-card h4, .page-digital-library-resources .resource-card h3, .page-digital-library-resources .resource-card h4 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: normal;
  font-family: Arial, sans-serif;
  max-width: 250px;
  word-wrap: break-word;
}
/* line 242, ../sass/sbac_resource.scss */
.digital-library .resource-card h3 span a, .digital-library .resource-card h4 span a, .page-digital-library-resources .resource-card h3 span a, .page-digital-library-resources .resource-card h4 span a {
  color: #0085ad;
}
/* line 249, ../sass/sbac_resource.scss */
.digital-library .resource-card .distinction span a, .page-digital-library-resources .resource-card .distinction span a {
  display: block;
  padding-right: 30px;
  width: 90%;
  float: left;
}
/* line 257, ../sass/sbac_resource.scss */
.digital-library .resource-card .distinction img, .page-digital-library-resources .resource-card .distinction img {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0;
}
/* line 264, ../sass/sbac_resource.scss */
.digital-library .resource-card .shield-drop .f-dropdown.open, .page-digital-library-resources .resource-card .shield-drop .f-dropdown.open {
  top: 35px !important;
  right: 12px !important;
  left: auto !important;
  width: 200px;
}
/* line 270, ../sass/sbac_resource.scss */
.digital-library .resource-card .shield-drop .f-dropdown.open li, .page-digital-library-resources .resource-card .shield-drop .f-dropdown.open li {
  padding: 5px;
  cursor: default;
}
/* line 276, ../sass/sbac_resource.scss */
.digital-library .resource-card .shield-drop .f-dropdown:after, .digital-library .resource-card .shield-drop .f-dropdown:before, .page-digital-library-resources .resource-card .shield-drop .f-dropdown:after, .page-digital-library-resources .resource-card .shield-drop .f-dropdown:before {
  left: 175px;
}
/* line 281, ../sass/sbac_resource.scss */
.digital-library .resource-card h4, .page-digital-library-resources .resource-card h4 {
  font-size: emCalc(14px);
}
/* line 285, ../sass/sbac_resource.scss */
.digital-library .resource-card i, .page-digital-library-resources .resource-card i {
  position: absolute;
  top: 10px;
  right: 5px;
}
/* line 290, ../sass/sbac_resource.scss */
.digital-library .resource-card i.sbac-select, .page-digital-library-resources .resource-card i.sbac-select {
  background: url("../images/icon-dropdown.png") center no-repeat;
  width: 15px;
  height: 15px;
  text-indent: -9999em;
}
/* line 297, ../sass/sbac_resource.scss */
.digital-library .resource-card i:hover, .page-digital-library-resources .resource-card i:hover {
  cursor: pointer;
}
/* line 302, ../sass/sbac_resource.scss */
.digital-library .resource-card img, .page-digital-library-resources .resource-card img {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.4);
  margin: 10px 0 0;
}
/* line 308, ../sass/sbac_resource.scss */
.digital-library .resource-card .resource-stats, .page-digital-library-resources .resource-card .resource-stats {
  padding: 10px 0;
  font-size: 14px;
}
/* line 313, ../sass/sbac_resource.scss */
.digital-library .resource-card .views-label-field-age-range, .page-digital-library-resources .resource-card .views-label-field-age-range {
  float: left;
  margin-right: 5px;
}
/* line 319, ../sass/sbac_resource.scss */
.digital-library .resource-card .dropdowns .f-dropdown.open, .page-digital-library-resources .resource-card .dropdowns .f-dropdown.open {
  top: 35px !important;
  right: -5px !important;
  left: auto !important;
  width: 200px;
}
/* line 325, ../sass/sbac_resource.scss */
.digital-library .resource-card .dropdowns .f-dropdown.open li, .page-digital-library-resources .resource-card .dropdowns .f-dropdown.open li {
  padding: 5px;
}
/* line 330, ../sass/sbac_resource.scss */
.digital-library .resource-card .dropdowns .f-dropdown:after, .digital-library .resource-card .dropdowns .f-dropdown:before, .page-digital-library-resources .resource-card .dropdowns .f-dropdown:after, .page-digital-library-resources .resource-card .dropdowns .f-dropdown:before {
  left: 175px;
}
/* line 338, ../sass/sbac_resource.scss */
.digital-library .view-display-id-list_view .views-row, .page-digital-library-resources .view-display-id-list_view .views-row {
  margin-bottom: 10px;
}
/* line 342, ../sass/sbac_resource.scss */
.digital-library .view-display-id-list_view .resource-card, .page-digital-library-resources .view-display-id-list_view .resource-card {
  padding: 10px 25px 10px 10px;
  margin-bottom: 0;
}
/* line 346, ../sass/sbac_resource.scss */
.digital-library .view-display-id-list_view .resource-card .resource-name, .page-digital-library-resources .view-display-id-list_view .resource-card .resource-name {
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 5px;
  margin-top: 10px;
}
/* line 352, ../sass/sbac_resource.scss */
.digital-library .view-display-id-list_view .resource-card h3, .page-digital-library-resources .view-display-id-list_view .resource-card h3 {
  font-size: 16px;
  max-width: 100%;
}
/* line 357, ../sass/sbac_resource.scss */
.digital-library .view-display-id-list_view .resource-card .distinction span a, .page-digital-library-resources .view-display-id-list_view .resource-card .distinction span a {
  width: 95%;
}
/* line 361, ../sass/sbac_resource.scss */
.digital-library .view-display-id-list_view .resource-card .button, .page-digital-library-resources .view-display-id-list_view .resource-card .button {
  margin-right: 10px;
}
/* line 365, ../sass/sbac_resource.scss */
.digital-library .view-display-id-list_view .resource-card img, .page-digital-library-resources .view-display-id-list_view .resource-card img {
  margin: 0;
}
/* line 369, ../sass/sbac_resource.scss */
.digital-library .view-display-id-list_view .resource-card .resoruce-bottom, .page-digital-library-resources .view-display-id-list_view .resource-card .resoruce-bottom {
  margin: -10px;
  border-radius: 0 8px 8px 0;
  background: transparent;
}
/* line 375, ../sass/sbac_resource.scss */
.digital-library .view-display-id-list_view .resource-card .list-view-info, .page-digital-library-resources .view-display-id-list_view .resource-card .list-view-info {
  font-size: 0.75em;
  color: #246a34;
  margin-top: 10px;
  font-weight: bold;
}
/* line 381, ../sass/sbac_resource.scss */
.digital-library .view-display-id-list_view .resource-card .list-view-info .field-content, .page-digital-library-resources .view-display-id-list_view .resource-card .list-view-info .field-content {
  display: inline-block;
}
/* line 386, ../sass/sbac_resource.scss */
.digital-library .view-display-id-list_view .resource-card .resource-state-description, .page-digital-library-resources .view-display-id-list_view .resource-card .resource-state-description {
  margin: 0;
  text-align: left;
}
/* line 390, ../sass/sbac_resource.scss */
.digital-library .view-display-id-list_view .resource-card .resource-state-description p, .page-digital-library-resources .view-display-id-list_view .resource-card .resource-state-description p {
  font-size: 18px;
  color: #246a34;
  margin-bottom: 10px;
}
/* line 400, ../sass/sbac_resource.scss */
.digital-library .pager .button, .page-digital-library-resources .pager .button {
  margin-top: 2em;
}
/* line 407, ../sass/sbac_resource.scss */
.digital-library .no-results, .page-digital-library-resources .no-results {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  background: white;
  padding: 1.5em 2em;
  width: 96%;
  margin: 0 auto 2em;
}
/* line 414, ../sass/sbac_resource.scss */
.digital-library .no-results h3, .page-digital-library-resources .no-results h3 {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}
/* line 419, ../sass/sbac_resource.scss */
.digital-library .no-results p, .page-digital-library-resources .no-results p {
  font-size: 1em;
}

/* line 425, ../sass/sbac_resource.scss */
.no-ie8compat .digital-library .resource-card h3 {
  padding-right: 10px;
}

/* line 431, ../sass/sbac_resource.scss */
.filters {
  background: #c9eaf8;
  color: #0684ad;
  padding: 20px 0;
  border-top: 2px solid #0684ad;
  border-bottom: 1px solid #94d8f3;
  position: relative;
}
/* line 440, ../sass/sbac_resource.scss */
.filters.active {
  overflow: visible !important;
}
/* line 446, ../sass/sbac_resource.scss */
.filters .column:first-child .categories-filter-choices {
  left: 20px;
}
/* line 452, ../sass/sbac_resource.scss */
.filters .column:last-child .categories-filter-choices {
  left: auto;
  right: 20px;
}
/* line 459, ../sass/sbac_resource.scss */
.filters ul {
  font-size: 1em;
  list-style-type: none;
  margin: 0;
}
/* line 464, ../sass/sbac_resource.scss */
.filters ul h3 {
  color: white;
  font-size: emCalc(16px);
  margin-bottom: 10px;
  position: relative;
}
/* line 472, ../sass/sbac_resource.scss */
.filters li {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: white url("../images/icon-drop.png") no-repeat 97% center;
  padding: 5px 10px;
  margin: 0 0 10px;
  font-size: 12px;
  cursor: pointer;
}
/* line 480, ../sass/sbac_resource.scss */
.filters li.active {
  background: #0085ad;
}
/* line 484, ../sass/sbac_resource.scss */
.filters li a {
  color: white;
}
/* line 488, ../sass/sbac_resource.scss */
.filters li .sbac-search-filter-name {
  margin: 0;
  font-weight: normal;
  font-size: 1.1em;
  position: relative;
}
/* line 495, ../sass/sbac_resource.scss */
.filters li span {
  margin-right: 10px;
}
/* line 500, ../sass/sbac_resource.scss */
.filters form {
  margin: 0;
}
/* line 504, ../sass/sbac_resource.scss */
.filters .category-buttons {
  padding-right: 5px;
  text-align: right;
}
/* line 508, ../sass/sbac_resource.scss */
.filters .category-buttons button {
  margin: 10px;
}

/* line 514, ../sass/sbac_resource.scss */
.categories-filter-choices {
  position: absolute;
  top: 100px;
  left: 20px;
  margin: -100px 0 0 0;
  z-index: 9999;
}
/* line 521, ../sass/sbac_resource.scss */
.categories-filter-choices .category-filter-list {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  height: 300px;
  width: 500px;
  overflow: scroll;
  background: #edf3e0;
  border: 1px solid #fff;
}
/* line 530, ../sass/sbac_resource.scss */
.categories-filter-choices .category-filter-list h2 {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  background-color: white;
  padding: 5px;
  margin: 0;
  cursor: pointer;
  font-weight: normal;
}
/* line 540, ../sass/sbac_resource.scss */
.categories-filter-choices ul {
  list-style-type: none;
  margin: 0;
}
/* line 544, ../sass/sbac_resource.scss */
.categories-filter-choices ul li {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  width: 46%;
  float: left;
  display: inline;
  margin: 1% 2%;
  padding: 5px;
  background: none;
  color: #246a34;
  cursor: pointer;
}
/* line 555, ../sass/sbac_resource.scss */
.categories-filter-choices ul li .highlight {
  display: inline-block;
  float: left;
  width: 14px;
  height: 14px;
  background-color: white;
  border: 1px solid;
}
/* line 565, ../sass/sbac_resource.scss */
.categories-filter-choices ul li.current .highlight {
  background-color: #0085ad;
  border-color: #0085ad;
}

/* line 574, ../sass/sbac_resource.scss */
.categories-current-filters {
  margin: 10px 20px 20px;
  padding: 0 0 10px;
  color: white;
  border: 1px solid white;
  border-width: 0 0 1px;
}
/* line 575, ../sass/sbac_resource.scss */
.categories-current-filters.noshow {
  display: none;
}
/* line 585, ../sass/sbac_resource.scss */
.categories-current-filters h3 {
  color: #063e5f;
  font-size: 18px;
}
/* line 590, ../sass/sbac_resource.scss */
.categories-current-filters .current-filter {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  float: left;
  margin: 10px 10px 10px 0;
  font-size: 0.8em;
  padding: 10px 40px 10px 10px;
  background: white url("../images/icon-close.png") no-repeat right center;
  color: #7d8a95;
}

/* line 603, ../sass/sbac_resource.scss */
.block-sbac-search-sbac-search-categories .block-title {
  display: none;
}

/* line 608, ../sass/sbac_resource.scss */
.search {
  text-align: right;
}
/* line 611, ../sass/sbac_resource.scss */
.search label {
  display: none;
}
/* line 615, ../sass/sbac_resource.scss */
.search .block {
  display: inline-block;
}
/* line 619, ../sass/sbac_resource.scss */
.search #sbac-search-cat-button {
  padding: 0 20px;
  height: 45px;
  line-height: 45px;
  display: inline-block;
  color: #333;
  border: 1px solid #94d8f3;
  border-width: 0 1px;
}
/* line 628, ../sass/sbac_resource.scss */
.search #sbac-search-cat-button.active, .search #sbac-search-cat-button #hover {
  background-color: #c9eaf8;
  color: #063e5f;
}

/* -----------------------------------------
   Node Resource
   ----------------------------------------- */
/* line 638, ../sass/sbac_resource.scss */
.node-unpublished {
  background: none;
}

/* line 642, ../sass/sbac_resource.scss */
.block-search {
  width: 200px;
  margin-right: 1em;
  position: relative;
}
/* line 647, ../sass/sbac_resource.scss */
.block-search button {
  display: none !important;
}
/* line 651, ../sass/sbac_resource.scss */
.block-search .form-text, .block-search .form-text:focus {
  background: url("../images/search.png") 5% center no-repeat;
  border-radius: 20px;
  top: 0;
  padding-left: 25px;
}
/* line 658, ../sass/sbac_resource.scss */
.block-search .sbac-clear-search {
  background: url("../images/icon-validation-fail.png") no-repeat center center;
  height: 15px;
  width: 15px;
  display: block;
  float: right;
  position: absolute;
  right: 10px;
  top: 7px;
  cursor: pointer;
}

/* line 671, ../sass/sbac_resource.scss */
.block-sbac-resource-sbac-resource-back-button {
  float: left;
  background: url("../images/back-small.png") 5px center no-repeat;
  border: 1px solid #aaaaaa;
  border-top: none;
  border-bottom: none;
  margin: .5em;
  padding-left: 15px;
}
/* line 680, ../sass/sbac_resource.scss */
.block-sbac-resource-sbac-resource-back-button .button {
  margin: 0px 1em 1em 2em;
  float: left;
  background: none !important;
  color: #494949 !important;
  border: none !important;
  top: 0 !important;
}
/* line 688, ../sass/sbac_resource.scss */
.block-sbac-resource-sbac-resource-back-button .button:hover, .block-sbac-resource-sbac-resource-back-button .button:focus, .block-sbac-resource-sbac-resource-back-button .button:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
  color: inherit;
  text-shadow: none !important;
}

/* line 697, ../sass/sbac_resource.scss */
.preview {
  margin-top: 1em;
}

/* line 703, ../sass/sbac_resource.scss */
#sbac-resource-doc-type {
  float: left;
  margin-right: 15px;
  color: #aaaaaa;
}

/* line 709, ../sass/sbac_resource.scss */
.infobar {
  padding: 10px;
  background-color: #333;
  margin-bottom: 35px;
  text-align: left;
  border-radius: 0 0 8px 8px;
}
/* line 716, ../sass/sbac_resource.scss */
.infobar .button {
  margin-bottom: 0;
}
/* line 721, ../sass/sbac_resource.scss */
.infobar .arrow span {
  background: url("../images/icons/icon-arrow-up.png") no-repeat right center;
  padding: 0px 5px 2px 10px;
}
/* line 727, ../sass/sbac_resource.scss */
.infobar p {
  color: white;
  font-size: emCalc(12px);
  margin-bottom: 3px;
}
/* line 733, ../sass/sbac_resource.scss */
.infobar #sbac-filename {
  display: block;
  margin-top: 6px;
}

/* line 740, ../sass/sbac_resource.scss */
.node-type-resource #page-title {
  font-size: 2.375em;
  font-family: Arial, sans-serif;
  font-weight: normal;
  color: #0085ad;
  margin: 35px 0 10px;
  padding: 0 25px;
  word-wrap: break-word;
}
/* line 750, ../sass/sbac_resource.scss */
.node-type-resource .main-container {
  padding-bottom: 0;
}

/* line 755, ../sass/sbac_resource.scss */
.node-resource {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  padding: 0 25px;
}
/* line 759, ../sass/sbac_resource.scss */
.node-resource #review {
  background: transparent;
  margin: 0 -15px;
  padding: 0 20px;
}
/* line 765, ../sass/sbac_resource.scss */
.node-resource .section-container.auto > section .content {
  border: none;
  border-top: 1px solid #aaaaaa;
  margin: 0 -45px;
}
/* line 771, ../sass/sbac_resource.scss */
.node-resource .section-container.auto > section:last-child .title, .node-resource .section-container.auto > .section:last-child .title {
  border-right: none;
}
/* line 775, ../sass/sbac_resource.scss */
.node-resource .f-dropdown.open {
  top: 40px !important;
  left: 15px !important;
}
/* line 780, ../sass/sbac_resource.scss */
.node-resource .f-dropdown {
  top: -9999px !important;
  font-size: emCalc(12px);
  word-wrap: break-word;
}
/* line 786, ../sass/sbac_resource.scss */
.node-resource .resource-attributes {
  margin-bottom: 1em;
}
/* line 789, ../sass/sbac_resource.scss */
.node-resource .resource-attributes p {
  margin-bottom: 0;
  font-size: 1em;
}
/* line 794, ../sass/sbac_resource.scss */
.node-resource .resource-attributes span {
  color: #494949;
  font-size: 1.125em;
}
/* line 799, ../sass/sbac_resource.scss */
.node-resource .resource-attributes strong {
  color: #246a34;
}
/* line 803, ../sass/sbac_resource.scss */
.node-resource .resource-attributes .license {
  font-size: .75em;
}
/* line 809, ../sass/sbac_resource.scss */
.node-resource #resource-element img {
  -webkit-border-radius: 12px 12px 0 0;
  -moz-border-radius: 12px 12px 0 0;
  -ms-border-radius: 12px 12px 0 0;
  -o-border-radius: 12px 12px 0 0;
  border-radius: 12px 12px 0 0;
}

/* line 815, ../sass/sbac_resource.scss */
.section-container.auto > section > .title, .section-container.auto > section > .title a {
  font-size: emCalc(16px);
  background: none;
  color: #717880;
  border: none;
}
/* line 822, ../sass/sbac_resource.scss */
.section-container.auto > section > .title:hover, .section-container.auto > section > .title a:hover {
  background: none;
}

/* line 828, ../sass/sbac_resource.scss */
.node-resource .section-container.auto > section > .title a {
  padding: 10px 20px;
  border-right: 1px solid #ccc;
}

/* line 834, ../sass/sbac_resource.scss */
.section-container.auto > section.active > .title a {
  background: #0085ad;
  color: white;
  font-size: emCalc(16px);
}

/* Modal */
/* line 843, ../sass/sbac_resource.scss */
.ui-dialog .ajax-progress .throbber {
  background-position: 0px -24px;
}

/* line 849, ../sass/sbac_resource.scss */
#dialog-resource_gate_keeper_form-wrapper .gate-keeper-modal-intro {
  margin-bottom: 15px;
}
/* line 853, ../sass/sbac_resource.scss */
#dialog-resource_gate_keeper_form-wrapper button {
  float: right;
}
/* line 857, ../sass/sbac_resource.scss */
#dialog-resource_gate_keeper_form-wrapper .button, #dialog-resource_gate_keeper_form-wrapper button {
  margin-bottom: 0;
}
/* line 861, ../sass/sbac_resource.scss */
#dialog-resource_gate_keeper_form-wrapper .close-dialog {
  text-align: right;
}
/* line 864, ../sass/sbac_resource.scss */
#dialog-resource_gate_keeper_form-wrapper .close-dialog .button {
  margin-right: 10px;
}

/* line 871, ../sass/sbac_resource.scss */
.view-resource-tutorial ul {
  list-style: none;
}

/* line 876, ../sass/sbac_resource.scss */
.page-node-edit.node-type-resource #modalContent {
  overflow: none !important;
}
/* line 879, ../sass/sbac_resource.scss */
.page-node-edit.node-type-resource #modalContent #modal-title {
  white-space: pre-wrap;
  overflow: visible;
  max-width: 100%;
  padding-bottom: 20px;
  height: auto !important;
}
/* line 887, ../sass/sbac_resource.scss */
.page-node-edit.node-type-resource #modalContent .sbac-dup {
  font-size: 18px;
}

/* -----------------------------------------
   Node
   ----------------------------------------- */
/* line 896, ../sass/sbac_resource.scss */
.dialog-trigger-about,
.dialog-trigger-gk {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #c9c9c9), color-stop(26.46%, #cfcfcf), color-stop(49.51%, #e1e1e1), color-stop(75%, #f1f1f1), color-stop(99%, #fbfbfb), color-stop(100%, #fbfbfb));
  background-image: -webkit-linear-gradient(bottom, #c9c9c9 0%, #cfcfcf 26.46%, #e1e1e1 49.51%, #f1f1f1 75%, #fbfbfb 99%, #fbfbfb 100%);
  background-image: -moz-linear-gradient(bottom, #c9c9c9 0%, #cfcfcf 26.46%, #e1e1e1 49.51%, #f1f1f1 75%, #fbfbfb 99%, #fbfbfb 100%);
  background-image: -o-linear-gradient(bottom, #c9c9c9 0%, #cfcfcf 26.46%, #e1e1e1 49.51%, #f1f1f1 75%, #fbfbfb 99%, #fbfbfb 100%);
  background-image: linear-gradient(bottom, #c9c9c9 0%, #cfcfcf 26.46%, #e1e1e1 49.51%, #f1f1f1 75%, #fbfbfb 99%, #fbfbfb 100%);
  text-shadow: 1px, 1px, rgba(255, 255, 255, 0.5);
  border: 1px solid #e0e0e0;
  background-color: #6fb9d5;
  padding: 5px 10px;
  color: #494949;
}

/* -----------------------------------------
   Responsive Grid
   ----------------------------------------- */
/* line 911, ../sass/sbac_resource.scss */
.grid-view .grid-library {
  margin: 0;
  padding: 0;
}
/* line 915, ../sass/sbac_resource.scss */
.grid-view .grid-library .resource-card {
  max-width: 290px;
}
/* line 919, ../sass/sbac_resource.scss */
.grid-view .grid-library li {
  list-style-type: none;
  float: left;
  margin: 0 10px 10px;
}

@media all and (min-width: 1271px) {
  /* line 929, ../sass/sbac_resource.scss */
  .grid-view .main-row {
    max-width: 1270px;
  }
  /* line 935, ../sass/sbac_resource.scss */
  .grid-view .grid-library li:nth-child(4n+1) {
    clear: left;
  }
}
@media all and (max-width: 1270px) and (min-width: 961px) {
  /* line 945, ../sass/sbac_resource.scss */
  .grid-view .main-row {
    max-width: 960px;
  }
  /* line 951, ../sass/sbac_resource.scss */
  .grid-view .grid-library li:nth-child(3n+1) {
    clear: left;
  }
}
@media all and (max-width: 960px) {
  /* line 961, ../sass/sbac_resource.scss */
  .grid-view .main-row {
    max-width: 656px;
  }
  /* line 967, ../sass/sbac_resource.scss */
  .grid-view .grid-library li:nth-child(2n + 1) {
    clear: left;
  }
}
