/* mixins */

@mixin left_col {
  float: left;
  width: 280px;
}

@mixin mid_col {
  border-left: 1px #ccc solid;
  float: left;
  width: 280px;
}

@mixin right_col {
  border-left: 1px #ccc solid;
  float: left;
  width: 280px;
}

@mixin maxlength {
  .counter {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 12px;

    &.messages {
      background: #fff;
      border: 0;
      margin: 0;
      padding: 0;
    }
  }
}

/* layout */
.review-form-header {
  margin-bottom: 10px;
}

#review-wrap-reviews {
  margin: 0 30px;
  padding-bottom: 20px;

  .section-title {
    float: left;
    font-size: 1.2em;
    font-weight: bold;
  }

  .review-form-trigger {
    float: right;
    display: inline; 
    margin: 0;
  }

  form {
    clear: both;
    /*display: none;*/

    .intro {
      padding: 10px 0;
    }

    .form-item-title {
      position: relative;

      @include maxlength;
    }

    .field-name-field-details {
      position: relative;

      @include maxlength;

      textarea {
        max-width: 100%;
        width: 100%;
      }
    }

    .field-name-field-student-learning {
      @include left_col;

      label {
        margin-bottom: 10px;
      }

      .fivestar-form-item {
        padding-right: 10px;
      }
    }
    
    .field-name-field-pro-dev {
      @include mid_col;

      label {
        margin-bottom: 10px;
      }

      .fivestar-form-item {
        padding: 0 10px;
      }
    }

    .field-name-field-ease-use {
      @include right_col;

      label {
        margin-bottom: 10px;
      }

      .fivestar-form-item {
        padding-left: 10px;
      }
    }

    .field-name-field-appropriate-for {
      clear: both;
      padding: 10px 0;

      .form-checkboxes {
        .form-item {
          float: left;
          margin: 0;
          padding: 0.4em 0;
          width: 33.3%;

          /* first column */
          &:nth-child(3n-1) {
            @include left_col;
          }

          /* second column */
          &:nth-child(3n+1) {
            @include mid_col;
          }

          /* third column */
          &:nth-child(3n+0) {
            @include right_col;
          }
        }
      }
    }

    .actions-wrapper  {
      clear: both;
      padding: 10px 0 0;
      text-align: right;

      .button,
      button {
        margin-left: 10px;
      }
    }
  }
}

/* modals */
.dialog_review_end_use_form #dialog {
  .intro {
    border-bottom: 1px solid silver;
    padding-bottom: 1em;
    border-bottom: 1em;
    font-size: 0.8em;
    line-height: normal;
    text-align: left;
  }

  form {
    text-align: right;
  }

  .form-submit {
    display: inline;
    float: none;
  }

  .close-dialog {
    display: inline;
  }
}

