/* mixins */

@mixin left_col {
  float: left;
  width: 280px;
}

@mixin mid_col {
  border-left: 1px #ccc solid;
  float: left;
  width: 270px;
  padding-left: 10px;
}

@mixin right_col {
  border-left: 1px #ccc solid;
  float: left;
  width: 270px;
  padding-left: 10px;
}

@mixin maxlength {
  .counter {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 12px;

    &.messages {
      background: #fff;
      border: 0;
      margin: 0;
      padding: 0;
    }
  }
}

/* layout */
#review-wrap-reviews {
  margin: 0 30px;
  padding-bottom: 20px;

  .review-form-header {
    margin-bottom: 10px;

    .section-title {
      float: left;
      font-size: 1.3em;
      font-weight: bold;
    }
  }

  .review-form-trigger {
    float: right;
    display: inline; 
    margin: 0;
  }

  #review-end-use-wrap {
    form {
      clear: both;

      /* this will only hide the initial form, while still showing it upon form submissions/state changes */
      &#eck-entity-form-add-review-end-use {
        display: none;
      }

      .intro {
        padding: 10px 0;
      }

      .form-item-title {
        position: relative;

        @include maxlength;
      }

      .field-name-field-details {
        position: relative;

        @include maxlength;

        textarea {
          max-width: 100%;
          width: 100%;
        }
      }

      .field-name-field-student-learning {
        @include left_col;

        label {
          margin-bottom: 10px;
        }

        .fivestar-form-item {
          padding-right: 10px;
        }
      }
      
      .field-name-field-pro-dev {
        @include mid_col;

        label {
          margin-bottom: 10px;
        }

        .fivestar-form-item {
          padding: 0 10px;
        }
      }

      .field-name-field-ease-use {
        @include right_col;

        label {
          margin-bottom: 10px;
        }

        .fivestar-form-item {
          padding-left: 10px;
        }
      }

      .field-name-field-appropriate-for {
        clear: both;
        padding: 10px 0;

        .form-checkboxes {
          .form-item {
            float: left;
            margin: 0;
            padding: 0.4em 0;
            width: 33.3%;

            /* first column */
            &:nth-child(3n-1) {
              @include left_col;
            }

            /* second column */
            &:nth-child(3n+1) {
              @include mid_col;
            }

            /* third column */
            &:nth-child(3n+0) {
              @include right_col;
            }
          }
        }
      }

      .actions-wrapper  {
        clear: both;
        padding: 10px 0 0;
        text-align: right;

        .button,
        button {
          margin-left: 10px;
        }

        .final-submit {
          display: none;
        }
      }
    }
  }

  .review-section-header {
    border-bottom: 1px #000 solid;
    border-top: 1px #000 solid;
    font-size: 1em;
    margin: 10px 0;
    padding: 10px 0;

    .section-title {
      font-weight: bold;

      .secondary {
        font-weight: normal;
      }
    }

    .sorting-order {
      float: right;
    }

    .summary-content {
      margin-top: 10px;
    }
  }

  #summary {
    .summary-widgets {

    }

    .appropriate-for {
      margin-top: 10px;

      .term {
        font-size: 0.8em;
        margin-bottom: 10px;

        &.highlight {
          font-weight: bold;
        }
      }
    }

    .item-title {
      font-size: 0.9em;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .left-col {
      @include left_col;
    } 

    .mid-col {
      @include mid_col;
    } 

    .right-col {
      @include right_col;
    } 
  }

  #individual-reviews {

  }
}

.entity-review.view-mode-full {
  background: #eee;
  border: 1px #ccc solid;
  margin: 10px 0;
  padding: 10px;
  font-size: 18px;

  .field-label {
    margin-bottom: 5px;
  }

  .group-header {
    margin-bottom: 10px;
  }

  .group-left {
    width:33%;
  }

  .group-middle {
    width:33%;
    .field-name-field-pro-dev {
      padding-left: 10px;
    }
  }

  .group-right {
    width:33%;
    .field-name-field-ease-use {
      padding-left: 10px;
    }
  }

  .average-rating {
    margin-top: 10px;
  }

  .group-footer {
    .rate-widget {
      padding: 15px 0;

      .vote {
        padding: 0 10px;
      }
    }
  }
}


.footer-title {
  font-weight: bold;
  margin: 10px 0;
}

/* modals */
.dialog_review_end_use_form #dialog {
  .intro {
    border-bottom: 1px solid silver;
    padding-bottom: 1em;
    border-bottom: 1em;
    font-size: 0.8em;
    line-height: normal;
    text-align: left; 
  }

  form {
    text-align: right;
  }

  .form-submit {
    display: inline;
    float: none;
  }

  .close-dialog {
    display: inline;
  }
}

.dialog_review_end_use_form_delete #dialog {
  .form-submit {
    float: right;
  }
}

/* user tooltips */
.account-tooltip {
  position: relative;

  .account-tooltip-body {
    background: #eee;
    border: 1px #ccc solid;
    display: none;
    left: 20px;
    padding: 10px;
    position: absolute;
    top: 20px;
    width: 500px;
    z-index: 50;
  }

  .row.first {
    padding: 10px;
  }
}

