# OS specific temporary files
.DS_Store*
ehthumbs.db
Thumbs.db

# IDEs
.buildpath
.idea
.project
.settings
*.esproj
*.komodoproject
*.komodotools
nbproject

# Tools
.svn
.sass-cache

# Build temporary files
/build
/*/**/.git
rsync.pwd

#Composer installed
/docroot/sites/all/modules/contrib/*
/docroot/sites/all/themes/contrib/*
/vendor
#Composer end
