# OS specific temporary files
.DS_Store*
ehthumbs.db
Thumbs.db

# IDEs
.buildpath
.idea
.project
.settings
*.esproj
*.komodoproject
*.komodotools
nbproject

# Tools
.svn
.sass-cache

#Drupal Root folders
/docroot/*

!/docroot/profiles/
/docroot/profiles/*
!/docroot/profiles/sbac

!/docroot/sites/
/docroot/sites/*
!/docroot/sites/all/
/docroot/sites/all/*
!/docroot/sites/all/modules/
/docroot/sites/all/modules/*
!/docroot/sites/all/modules/custom/
!/docroot/sites/all/themes/
/docroot/sites/all/themes/*
!/docroot/sites/all/themes/custom/

/vendor

