/* mixins */
/* layout */
/* line 53, ../sass/review.scss */
#review-wrap-reviews {
  margin: 0 30px;
  padding-bottom: 20px;
}
/* line 57, ../sass/review.scss */
#review-wrap-reviews .review-form-header {
  margin-bottom: 10px;
}
/* line 60, ../sass/review.scss */
#review-wrap-reviews .review-form-header .section-title {
  border-bottom: 1px solid #62676E;
  color: #04384E;
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 20px;
  padding: 20px 0 5px;
  text-transform: capitalize;
}
/* line 72, ../sass/review.scss */
#review-wrap-reviews .review-form-trigger {
  float: left;
  display: inline;
  margin: 0 0 10px;
}
/* line 79, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form {
  clear: both;
  /* this will only hide the initial form, while still showing it upon form submissions/state changes */
}
/* line 82, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form label {
  font-size: 13px;
}
/* line 87, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form#eck-entity-form-add-review-end-use {
  display: none;
}
/* line 91, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .intro {
  padding: 0 0 10px;
  font-size: 16px;
  line-height: 1.6;
  max-width: 560px;
}
/* line 97, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .intro a {
  border-bottom: 1px solid #0583AC;
  color: #0583AC;
  display: inline;
  padding-bottom: 0;
}
/* line 103, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .intro a:hover {
  color: #8A1538;
  border-bottom: 1px solid #8A1538;
}
/* line 110, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .form-item-title {
  position: relative;
}
/* line 25, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .form-item-title .counter {
  position: absolute;
  right: 310px;
  top: 0px;
  font-size: 12px;
}
/* line 31, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .form-item-title .counter.messages {
  background: #fff;
  border: 0;
  margin: 0;
  padding: 0;
}
/* line 115, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .form-item-title label {
  font-size: 14px;
  color: #101010;
}
/* line 120, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .form-item-title input.form-text {
  max-width: 560px;
  width: 560px;
}
/* line 126, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-details {
  position: relative;
  line-height: 1.2;
  padding-bottom: 15px;
}
/* line 25, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-details .counter {
  position: absolute;
  right: 310px;
  top: 0px;
  font-size: 12px;
}
/* line 31, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-details .counter.messages {
  background: #fff;
  border: 0;
  margin: 0;
  padding: 0;
}
/* line 133, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-details label {
  font-size: 14px;
  color: #101010;
}
/* line 138, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-details textarea {
  max-width: 560px;
  width: 560px;
}
/* line 142, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-details textarea.error {
  width: 560px;
}
/* line 148, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-student-learning {
  float: left;
  width: 280px;
}
/* line 151, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-student-learning label {
  margin-bottom: 10px;
}
/* line 155, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-student-learning .fivestar-form-item {
  padding-right: 10px;
}
/* line 160, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-pro-dev {
  border-left: 1px #ccc solid;
  float: left;
  width: 270px;
  padding-left: 10px;
  border-left: none;
  padding-left: 0;
}
/* line 165, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-pro-dev label {
  margin-bottom: 10px;
}
/* line 169, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-pro-dev .fivestar-form-item {
  padding-right: 10px;
}
/* line 174, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-ease-use {
  border-left: 1px #ccc solid;
  float: left;
  width: 270px;
  padding-left: 10px;
  border-left: none;
  padding-left: 0;
}
/* line 179, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-ease-use label {
  margin-bottom: 10px;
}
/* line 183, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-ease-use .fivestar-form-item {
  padding-left: 0;
}
/* line 188, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-appropriate-for {
  clear: both;
  padding: 15px 0;
}
/* line 192, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-appropriate-for label {
  padding: 8px 0;
}
/* line 196, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-appropriate-for input[type="checkbox"] {
  margin-left: 0;
}
/* line 201, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-appropriate-for .form-checkboxes .form-item {
  float: left;
  margin: 0;
  padding: 1px 0;
  width: 33.3%;
  /* first column */
  /* second column */
  /* third column */
}
/* line 208, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-appropriate-for .form-checkboxes .form-item:nth-child(3n-1) {
  float: left;
  width: 280px;
}
/* line 213, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-appropriate-for .form-checkboxes .form-item:nth-child(3n+1) {
  border-left: 1px #ccc solid;
  float: left;
  width: 270px;
  padding-left: 10px;
  border-left: none;
  padding-left: 0;
}
/* line 220, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-appropriate-for .form-checkboxes .form-item:nth-child(3n+0) {
  border-left: 1px #ccc solid;
  float: left;
  width: 270px;
  padding-left: 10px;
  border-left: none;
  padding-left: 0;
}
/* line 229, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .actions-wrapper {
  clear: both;
  padding: 20px 0 10px;
}
/* line 234, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .actions-wrapper .button,
#review-wrap-reviews #review-end-use-wrap form .actions-wrapper button {
  margin-right: 30px;
}
/* line 238, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .actions-wrapper .final-submit {
  display: none;
}
/* line 245, ../sass/review.scss */
#review-wrap-reviews .review-section-header {
  border-bottom: 1px solid #62676E;
  color: #04384E;
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 10px;
  padding: 10px 0 5px;
  text-transform: capitalize;
}
/* line 255, ../sass/review.scss */
#review-wrap-reviews .review-section-header .section-title {
  font-weight: bold;
}
/* line 258, ../sass/review.scss */
#review-wrap-reviews .review-section-header .section-title .secondary {
  color: #62676E;
  font-size: 15px;
  font-weight: normal;
  text-transform: none;
}
/* line 266, ../sass/review.scss */
#review-wrap-reviews .review-section-header .sorting-order {
  float: right;
  font-size: 16px;
  line-height: 15px;
  margin-top: 4px;
}
/* line 272, ../sass/review.scss */
#review-wrap-reviews .review-section-header .sorting-order a {
  color: #464B54;
  padding: 0 10px;
}
/* line 276, ../sass/review.scss */
#review-wrap-reviews .review-section-header .sorting-order a:last-child {
  color: #0583AC;
  padding-right: 0;
}
/* line 283, ../sass/review.scss */
#review-wrap-reviews .review-section-header .summary-content {
  margin-top: 15px;
}
/* line 290, ../sass/review.scss */
#review-wrap-reviews #summary .summary-content {
  padding-top: 10px;
}
/* line 297, ../sass/review.scss */
#review-wrap-reviews #summary .appropriate-for {
  margin-top: 15px;
  padding-top: 10px;
  /* border-top:1px solid #eee;*/
}
/* line 302, ../sass/review.scss */
#review-wrap-reviews #summary .appropriate-for .term {
  /*font-size: 0.8em;*/
  font-size: 13px;
  padding: 5px 0;
}
/* line 307, ../sass/review.scss */
#review-wrap-reviews #summary .appropriate-for .term.highlight {
  font-weight: bold;
}
/* line 313, ../sass/review.scss */
#review-wrap-reviews #summary .item-title {
  color: #464B54;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
  max-width: 560px;
  padding: 0 0 10px 0;
}
/* line 323, ../sass/review.scss */
#review-wrap-reviews #summary .left-col {
  float: left;
  width: 280px;
}
/* line 327, ../sass/review.scss */
#review-wrap-reviews #summary .mid-col {
  border-left: 1px #ccc solid;
  float: left;
  width: 270px;
  padding-left: 10px;
  border-left: none;
  padding-left: 0;
}
/* line 333, ../sass/review.scss */
#review-wrap-reviews #summary .right-col {
  border-left: 1px #ccc solid;
  float: left;
  width: 270px;
  padding-left: 10px;
  border-left: none;
  padding-left: 0;
}
/* line 340, ../sass/review.scss */
#review-wrap-reviews #individual-reviews {
  margin: 20px 0 0;
}

/* line 345, ../sass/review.scss */
.preview {
  padding-top: 0 !important;
}
/* line 348, ../sass/review.scss */
.preview .entity-review-wrap {
  padding-top: 5px;
}
/* line 352, ../sass/review.scss */
.preview .entity-review.view-mode-full {
  border-top: 1px #cecece solid;
  padding-top: 20px;
}

/* line 359, ../sass/review.scss */
.entity-review.view-mode-full {
  margin: 10px 0;
  padding: 10px 0;
  font-size: 18px;
  border-bottom: 1px solid silver;
}
/* line 367, ../sass/review.scss */
.entity-review.view-mode-full .field-label {
  margin-bottom: 5px;
  font-weight: normal;
  padding: 5px 0;
}
/* line 373, ../sass/review.scss */
.entity-review.view-mode-full .group-header {
  margin-bottom: 10px;
  text-align: right;
}
/* line 42, ../sass/review.scss */
.entity-review.view-mode-full .group-header:before, .entity-review.view-mode-full .group-header:after {
  content: "";
  display: table;
}
/* line 47, ../sass/review.scss */
.entity-review.view-mode-full .group-header:after {
  clear: both;
}
/* line 379, ../sass/review.scss */
.entity-review.view-mode-full .group-header .field-name-review-author {
  float: left;
  color: #464B54;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
  max-width: 560px;
}
/* line 388, ../sass/review.scss */
.entity-review.view-mode-full .group-header .field-name-review-author a.devtools-tooltip-trigger {
  color: #0583AC;
}
/* line 393, ../sass/review.scss */
.entity-review.view-mode-full .group-header .field-name-review-helpfulness {
  float: right;
  font-weight: bold;
}
/* line 399, ../sass/review.scss */
.entity-review.view-mode-full .group-left {
  clear: both;
  width: 33%;
}
/* line 404, ../sass/review.scss */
.entity-review.view-mode-full .group-middle {
  width: 33%;
}
/* line 407, ../sass/review.scss */
.entity-review.view-mode-full .group-middle .field-name-field-pro-dev {
  padding-left: 10px;
}
/* line 412, ../sass/review.scss */
.entity-review.view-mode-full .group-right {
  width: 33%;
}
/* line 415, ../sass/review.scss */
.entity-review.view-mode-full .group-right .field-name-field-ease-use {
  padding-left: 10px;
}
/* line 420, ../sass/review.scss */
.entity-review.view-mode-full .average-rating {
  margin-top: 10px;
}
/* line 424, ../sass/review.scss */
.entity-review.view-mode-full .fivestar-summary {
  display: none;
  /*margin-top: 5px;*/
}
/* line 429, ../sass/review.scss */
.entity-review.view-mode-full .group-footer {
  clear: both;
  padding-top: 20px;
}
/* line 433, ../sass/review.scss */
.entity-review.view-mode-full .group-footer .rate-widget {
  padding: 15px 0;
}
/* line 436, ../sass/review.scss */
.entity-review.view-mode-full .group-footer .rate-widget .vote {
  padding: 0 10px;
}
/* line 439, ../sass/review.scss */
.entity-review.view-mode-full .group-footer .rate-widget .vote .action-triggers {
  display: none;
}
/* line 445, ../sass/review.scss */
.entity-review.view-mode-full .group-footer .field-name-field-details {
  margin-top: 15px;
}
/* line 449, ../sass/review.scss */
.entity-review.view-mode-full .group-footer .field-name-field-appropriate-for {
  padding-top: 0px;
  /*border-top:1px solid #eee;*/
  font-size: 0.95em;
}
/* line 454, ../sass/review.scss */
.entity-review.view-mode-full .group-footer .field-name-field-appropriate-for .field-label {
  color: inherit;
  font-size: 13px;
  font-weight: bold;
}
/* line 460, ../sass/review.scss */
.entity-review.view-mode-full .group-footer .field-name-field-appropriate-for ul {
  font-size: 0.8em;
  margin: 0 0 20px 0;
  padding: 0;
  max-width: 560px;
}
/* line 466, ../sass/review.scss */
.entity-review.view-mode-full .group-footer .field-name-field-appropriate-for ul li {
  list-style-type: none;
  /*padding: 5px 0;*/
  background-color: #F2F2F2;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  line-height: 22px;
  margin-right: 7px;
  margin-top: 7px;
  padding: 0 5px;
}
/* line 480, ../sass/review.scss */
.entity-review.view-mode-full .group-footer .field-name-field-appropriate-for .term {
  padding: 10px;
}
/* line 483, ../sass/review.scss */
.entity-review.view-mode-full .group-footer .field-name-field-appropriate-for .term.highlight {
  font-weight: bold;
}
/* line 489, ../sass/review.scss */
.entity-review.view-mode-full .group-footer h2 {
  color: #464B54;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 8px;
  max-width: 560px;
  padding: 0;
}
/* line 499, ../sass/review.scss */
.entity-review.view-mode-full .group-footer .field-name-review-vote {
  float: left;
  width: 740px;
  margin-top: 30px;
}
/* line 505, ../sass/review.scss */
.entity-review.view-mode-full .group-footer .field-name-review-delete {
  float: right;
  padding-top: 35px;
  text-align: right;
  width: 90px;
}
/* line 512, ../sass/review.scss */
.entity-review.view-mode-full .group-footer .field-name-flagging-form {
  clear: both;
}

/* line 518, ../sass/review.scss */
.footer-title {
  color: #000000;
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  max-width: 560px;
  padding: 30px 0 15px;
  text-transform: capitalize;
}

/* line 529, ../sass/review.scss */
.footer-body {
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  max-width: 560px;
}

/* modals */
/* line 538, ../sass/review.scss */
.dialog_review_end_use_form #dialog .intro {
  border-bottom: 1px solid silver;
  padding-bottom: 1em;
  border-bottom: 1em;
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
  color: #464B54;
}
/* line 548, ../sass/review.scss */
.dialog_review_end_use_form #dialog form {
  text-align: right;
}
/* line 552, ../sass/review.scss */
.dialog_review_end_use_form #dialog .form-submit {
  display: inline;
  margin-bottom: 0;
  /*float: none;*/
}
/* line 558, ../sass/review.scss */
.dialog_review_end_use_form #dialog .close-dialog {
  display: inline;
}

/* line 564, ../sass/review.scss */
.dialog_review_end_use_form_delete #dialog .form-submit {
  float: right;
}

/* line 569, ../sass/review.scss */
#dialog .devtools-dialog-content .button {
  margin-bottom: 0 !important;
}

/* line 573, ../sass/review.scss */
.rating-label {
  font-size: 12px;
  margin-top: 10px;
}

/* user tooltips */
/* line 580, ../sass/review.scss */
.account-tooltip .row.first {
  padding: 10px;
}
/* line 584, ../sass/review.scss */
.account-tooltip .line {
  display: none;
}

/* line 590, ../sass/review.scss */
.fivestar-widget {
  padding: 5px 0;
}

/* Tag of Sharing */
/* line 595, ../sass/review.scss */
#sbac-share-resource-form {
  margin: 0 30px;
}
/* line 599, ../sass/review.scss */
#sbac-share-resource-form #edit-sharing-options h2 {
  border-bottom: 1px solid #62676E;
  color: #04384E;
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  text-transform: capitalize;
}
/* line 610, ../sass/review.scss */
#sbac-share-resource-form #edit-permanent-link-text {
  font-weight: bold;
  font-size: 18px;
  color: #000;
  padding-top: 20px;
}
/* line 616, ../sass/review.scss */
#sbac-share-resource-form #edit-permanent-link-text .sbac-private {
  color: #62676E;
  font-weight: normal;
  margin-right: 10px;
}
/* line 622, ../sass/review.scss */
#sbac-share-resource-form #edit-permanent-link-text .foundicon-people {
  font-size: 120%;
  color: #aaa;
  vertical-align: middle;
}
/* line 628, ../sass/review.scss */
#sbac-share-resource-form #edit-permanent-link-text .foundicon-lock {
  color: #aaa;
  vertical-align: middle;
}
/* line 633, ../sass/review.scss */
#sbac-share-resource-form #edit-permanent-link-text span {
  font-weight: normal;
}
/* line 637, ../sass/review.scss */
#sbac-share-resource-form #edit-permanent-link-text .description {
  margin-top: 10px;
  font-weight: normal;
  color: #464B54;
  font-size: 13px;
  line-height: 1.2;
}
/* line 647, ../sass/review.scss */
#sbac-share-resource-form #edit-temporary-link-text h2 {
  color: #5a5a5a;
  padding-bottom: 2px;
}
/* line 653, ../sass/review.scss */
#sbac-share-resource-form input#sbac-permanent-link-text, #sbac-share-resource-form input#sbac-temporary-link-text {
  width: 65%;
  float: left;
  margin-right: 30px;
  padding-right: 30px;
}
/* line 660, ../sass/review.scss */
#sbac-share-resource-form button#edit-permanent-link-button, #sbac-share-resource-form button#edit-temporary-link-button {
  width: 225px;
  margin-top: -3px;
}
/* line 666, ../sass/review.scss */
#sbac-share-resource-form .temporary-link-container .description {
  font-size: 13px;
  line-height: 1.2;
}
/* line 672, ../sass/review.scss */
#sbac-share-resource-form .temporary-link-container.active {
  opacity: 1;
}
/* line 676, ../sass/review.scss */
#sbac-share-resource-form .temporary-link-container.inactive {
  opacity: 0.5;
}
/* line 679, ../sass/review.scss */
#sbac-share-resource-form .temporary-link-container.inactive a {
  cursor: default;
}
/* line 682, ../sass/review.scss */
#sbac-share-resource-form .temporary-link-container.inactive a:hover {
  color: #FFF;
  background: #2aa549;
  border: 1px solid #268a16;
  text-shadow: 0px 1px 0px #45613e;
  -webkit-box-shadow: inset 0px 1px 0px 0px #6dc088;
  -moz-box-shadow: inset 0px 1px 0px 0px #6dc088;
  box-shadow: inset 0px 1px 0px 0px #6dc088;
}
/* line 691, ../sass/review.scss */
#sbac-share-resource-form .form-item-temporary-link {
  position: relative;
}
/* line 694, ../sass/review.scss */
#sbac-share-resource-form .form-item-temporary-link .temp-link-clear {
  background: url("../images/icon-validation-fail.png") no-repeat 0 0;
  cursor: pointer;
  display: block;
  float: right;
  height: 15px;
  position: absolute;
  z-index: 997;
  right: 302px;
  top: 9px;
  width: 15px;
}

/* Tag of Related resources */
/* line 711, ../sass/review.scss */
.related-resources {
  margin: 0 30px;
}
/* line 714, ../sass/review.scss */
.related-resources h2 {
  border-bottom: 1px solid #62676E;
  color: #04384E;
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  text-transform: capitalize;
  margin: 16px 0 15px;
}
/* line 725, ../sass/review.scss */
.related-resources p {
  font-size: 16px;
  margin-bottom: 30px;
  max-width: 560px;
}

/* line 732, ../sass/review.scss */
.no-related-resources {
  padding: 50px 30px;
}
/* line 735, ../sass/review.scss */
.no-related-resources h2 {
  text-align: center;
  color: #000;
}
/* line 739, ../sass/review.scss */
.no-related-resources .instruction {
  text-align: center;
}

/* Sharing Options- Copy Link to Clipboard button */
/* line 747, ../sass/review.scss */
body.admin-menu #global-zeroclipboard-html-bridge {
  margin-top: -28px;
}

/* line 751, ../sass/review.scss */
#review-end-use-form {
  margin-bottom: 0;
}

/*Rate info*/
/* line 757, ../sass/review.scss */
.rate-info {
  font-size: 13px;
}

/*Preview*/
/* line 763, ../sass/review.scss */
.node-type-resource .preview {
  margin-top: 0 !important;
}
