/* mixins */
/* layout */
/* line 37, ../sass/review.scss */
.review-form-header {
  margin-bottom: 10px;
}

/* line 41, ../sass/review.scss */
#review-wrap-reviews {
  margin: 0 30px;
  padding-bottom: 20px;
}
/* line 45, ../sass/review.scss */
#review-wrap-reviews .section-title {
  float: left;
  font-size: 1.2em;
  font-weight: bold;
}
/* line 51, ../sass/review.scss */
#review-wrap-reviews .review-form-trigger {
  float: right;
  display: inline;
  margin: 0;
}
/* line 57, ../sass/review.scss */
#review-wrap-reviews form {
  clear: both;
  /*display: none;*/
}
/* line 61, ../sass/review.scss */
#review-wrap-reviews form .intro {
  padding: 10px 0;
}
/* line 65, ../sass/review.scss */
#review-wrap-reviews form .form-item-title {
  position: relative;
}
/* line 21, ../sass/review.scss */
#review-wrap-reviews form .form-item-title .counter {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 12px;
}
/* line 27, ../sass/review.scss */
#review-wrap-reviews form .form-item-title .counter.messages {
  background: #fff;
  border: 0;
  margin: 0;
  padding: 0;
}
/* line 71, ../sass/review.scss */
#review-wrap-reviews form .field-name-field-details {
  position: relative;
}
/* line 21, ../sass/review.scss */
#review-wrap-reviews form .field-name-field-details .counter {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 12px;
}
/* line 27, ../sass/review.scss */
#review-wrap-reviews form .field-name-field-details .counter.messages {
  background: #fff;
  border: 0;
  margin: 0;
  padding: 0;
}
/* line 76, ../sass/review.scss */
#review-wrap-reviews form .field-name-field-details textarea {
  max-width: 100%;
  width: 100%;
}
/* line 82, ../sass/review.scss */
#review-wrap-reviews form .field-name-field-student-learning {
  float: left;
  width: 280px;
}
/* line 85, ../sass/review.scss */
#review-wrap-reviews form .field-name-field-student-learning label {
  margin-bottom: 10px;
}
/* line 89, ../sass/review.scss */
#review-wrap-reviews form .field-name-field-student-learning .fivestar-form-item {
  padding-right: 10px;
}
/* line 94, ../sass/review.scss */
#review-wrap-reviews form .field-name-field-pro-dev {
  border-left: 1px #ccc solid;
  float: left;
  width: 280px;
}
/* line 97, ../sass/review.scss */
#review-wrap-reviews form .field-name-field-pro-dev label {
  margin-bottom: 10px;
}
/* line 101, ../sass/review.scss */
#review-wrap-reviews form .field-name-field-pro-dev .fivestar-form-item {
  padding: 0 10px;
}
/* line 106, ../sass/review.scss */
#review-wrap-reviews form .field-name-field-ease-use {
  border-left: 1px #ccc solid;
  float: left;
  width: 280px;
}
/* line 109, ../sass/review.scss */
#review-wrap-reviews form .field-name-field-ease-use label {
  margin-bottom: 10px;
}
/* line 113, ../sass/review.scss */
#review-wrap-reviews form .field-name-field-ease-use .fivestar-form-item {
  padding-left: 10px;
}
/* line 118, ../sass/review.scss */
#review-wrap-reviews form .field-name-field-appropriate-for {
  clear: both;
  padding: 10px 0;
}
/* line 123, ../sass/review.scss */
#review-wrap-reviews form .field-name-field-appropriate-for .form-checkboxes .form-item {
  float: left;
  margin: 0;
  padding: 0.4em 0;
  width: 33.3%;
  /* first column */
  /* second column */
  /* third column */
}
/* line 130, ../sass/review.scss */
#review-wrap-reviews form .field-name-field-appropriate-for .form-checkboxes .form-item:nth-child(3n-1) {
  float: left;
  width: 280px;
}
/* line 135, ../sass/review.scss */
#review-wrap-reviews form .field-name-field-appropriate-for .form-checkboxes .form-item:nth-child(3n+1) {
  border-left: 1px #ccc solid;
  float: left;
  width: 280px;
}
/* line 140, ../sass/review.scss */
#review-wrap-reviews form .field-name-field-appropriate-for .form-checkboxes .form-item:nth-child(3n+0) {
  border-left: 1px #ccc solid;
  float: left;
  width: 280px;
}
/* line 147, ../sass/review.scss */
#review-wrap-reviews form .actions-wrapper {
  clear: both;
  padding: 10px 0 0;
  text-align: right;
}
/* line 153, ../sass/review.scss */
#review-wrap-reviews form .actions-wrapper .button,
#review-wrap-reviews form .actions-wrapper button {
  margin-left: 10px;
}

/* line 160, ../sass/review.scss */
.entity-review.view-mode-full {
  background: #eee;
  border: 1px #ccc solid;
  margin: 10px 0;
  padding: 10px;
}

/* modals */
/* line 189, ../sass/review.scss */
.dialog_review_end_use_form #dialog .intro {
  border-bottom: 1px solid silver;
  padding-bottom: 1em;
  border-bottom: 1em;
  font-size: 0.8em;
  line-height: normal;
  text-align: left;
}
/* line 198, ../sass/review.scss */
.dialog_review_end_use_form #dialog form {
  text-align: right;
}
/* line 202, ../sass/review.scss */
.dialog_review_end_use_form #dialog .form-submit {
  display: inline;
  float: none;
}
/* line 207, ../sass/review.scss */
.dialog_review_end_use_form #dialog .close-dialog {
  display: inline;
}

/* user tooltips */
/* line 213, ../sass/review.scss */
.account-tooltip {
  position: relative;
}
/* line 216, ../sass/review.scss */
.account-tooltip .account-tooltip-body {
  background: #eee;
  border: 1px #ccc solid;
  display: none;
  left: 20px;
  padding: 10px;
  position: absolute;
  top: 20px;
  width: 500px;
}
