/* mixins */
/* layout */
/* line 37, ../sass/review.scss */
#review-wrap-reviews {
  margin: 0 30px;
  padding-bottom: 20px;
}
/* line 41, ../sass/review.scss */
#review-wrap-reviews .review-form-header {
  margin-bottom: 10px;
}
/* line 44, ../sass/review.scss */
#review-wrap-reviews .review-form-header .section-title {
  float: left;
  font-size: 1.3em;
  font-weight: bold;
}
/* line 51, ../sass/review.scss */
#review-wrap-reviews .review-form-trigger {
  float: right;
  display: inline;
  margin: 0;
}
/* line 58, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form {
  clear: both;
  /* this will only hide the initial form, while still showing it upon form submissions/state changes */
}
/* line 62, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form#eck-entity-form-add-review-end-use {
  display: none;
}
/* line 66, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .intro {
  padding: 10px 0;
}
/* line 70, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .form-item-title {
  position: relative;
}
/* line 21, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .form-item-title .counter {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 12px;
}
/* line 27, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .form-item-title .counter.messages {
  background: #fff;
  border: 0;
  margin: 0;
  padding: 0;
}
/* line 76, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-details {
  position: relative;
}
/* line 21, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-details .counter {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 12px;
}
/* line 27, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-details .counter.messages {
  background: #fff;
  border: 0;
  margin: 0;
  padding: 0;
}
/* line 81, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-details textarea {
  max-width: 100%;
  width: 100%;
}
/* line 87, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-student-learning {
  float: left;
  width: 280px;
}
/* line 90, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-student-learning label {
  margin-bottom: 10px;
}
/* line 94, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-student-learning .fivestar-form-item {
  padding-right: 10px;
}
/* line 99, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-pro-dev {
  border-left: 1px #ccc solid;
  float: left;
  width: 280px;
}
/* line 102, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-pro-dev label {
  margin-bottom: 10px;
}
/* line 106, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-pro-dev .fivestar-form-item {
  padding: 0 10px;
}
/* line 111, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-ease-use {
  border-left: 1px #ccc solid;
  float: left;
  width: 280px;
}
/* line 114, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-ease-use label {
  margin-bottom: 10px;
}
/* line 118, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-ease-use .fivestar-form-item {
  padding-left: 10px;
}
/* line 123, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-appropriate-for {
  clear: both;
  padding: 10px 0;
}
/* line 128, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-appropriate-for .form-checkboxes .form-item {
  float: left;
  margin: 0;
  padding: 0.4em 0;
  width: 33.3%;
  /* first column */
  /* second column */
  /* third column */
}
/* line 135, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-appropriate-for .form-checkboxes .form-item:nth-child(3n-1) {
  float: left;
  width: 280px;
}
/* line 140, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-appropriate-for .form-checkboxes .form-item:nth-child(3n+1) {
  border-left: 1px #ccc solid;
  float: left;
  width: 280px;
}
/* line 145, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .field-name-field-appropriate-for .form-checkboxes .form-item:nth-child(3n+0) {
  border-left: 1px #ccc solid;
  float: left;
  width: 280px;
}
/* line 152, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .actions-wrapper {
  clear: both;
  padding: 10px 0 0;
  text-align: right;
}
/* line 158, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .actions-wrapper .button,
#review-wrap-reviews #review-end-use-wrap form .actions-wrapper button {
  margin-left: 10px;
}
/* line 162, ../sass/review.scss */
#review-wrap-reviews #review-end-use-wrap form .actions-wrapper .final-submit {
  display: none;
}
/* line 169, ../sass/review.scss */
#review-wrap-reviews .review-section-header {
  border-bottom: 1px #000 solid;
  border-top: 1px #000 solid;
  font-size: 1em;
  margin: 10px 0;
  padding: 10px 0;
}
/* line 176, ../sass/review.scss */
#review-wrap-reviews .review-section-header .section-title {
  font-weight: bold;
}
/* line 179, ../sass/review.scss */
#review-wrap-reviews .review-section-header .section-title .secondary {
  font-weight: normal;
}
/* line 184, ../sass/review.scss */
#review-wrap-reviews .review-section-header .sorting-order {
  float: right;
}
/* line 195, ../sass/review.scss */
#review-wrap-reviews #summary .appropriate-for .term {
  font-size: 0.8em;
  margin-bottom: 10px;
}
/* line 199, ../sass/review.scss */
#review-wrap-reviews #summary .appropriate-for .term.highlight {
  font-weight: bold;
}
/* line 205, ../sass/review.scss */
#review-wrap-reviews #summary .item-title {
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 211, ../sass/review.scss */
#review-wrap-reviews #summary .left-col {
  float: left;
  width: 280px;
}
/* line 215, ../sass/review.scss */
#review-wrap-reviews #summary .mid-col {
  border-left: 1px #ccc solid;
  float: left;
  width: 280px;
}
/* line 219, ../sass/review.scss */
#review-wrap-reviews #summary .right-col {
  border-left: 1px #ccc solid;
  float: left;
  width: 280px;
}

/* line 229, ../sass/review.scss */
.entity-review.view-mode-full {
  background: #eee;
  border: 1px #ccc solid;
  margin: 10px 0;
  padding: 10px;
}
/* line 252, ../sass/review.scss */
.entity-review.view-mode-full .group-footer .rate-widget {
  padding: 15px 0;
}
/* line 255, ../sass/review.scss */
.entity-review.view-mode-full .group-footer .rate-widget .vote {
  padding: 0 10px;
}

/* modals */
/* line 264, ../sass/review.scss */
.dialog_review_end_use_form #dialog .intro {
  border-bottom: 1px solid silver;
  padding-bottom: 1em;
  border-bottom: 1em;
  font-size: 0.8em;
  line-height: normal;
  text-align: left;
}
/* line 273, ../sass/review.scss */
.dialog_review_end_use_form #dialog form {
  text-align: right;
}
/* line 277, ../sass/review.scss */
.dialog_review_end_use_form #dialog .form-submit {
  display: inline;
  float: none;
}
/* line 282, ../sass/review.scss */
.dialog_review_end_use_form #dialog .close-dialog {
  display: inline;
}

/* line 288, ../sass/review.scss */
.dialog_review_end_use_form_delete #dialog .form-submit {
  float: right;
}

/* user tooltips */
/* line 294, ../sass/review.scss */
.account-tooltip {
  position: relative;
}
/* line 297, ../sass/review.scss */
.account-tooltip .account-tooltip-body {
  background: #eee;
  border: 1px #ccc solid;
  display: none;
  left: 20px;
  padding: 10px;
  position: absolute;
  top: 20px;
  width: 500px;
}
