@import "compass/css3";

/**
 * Help Page CSS
 **/

.page-help-topics {
	.view-help-topics {
		width:100%;
	}
}

#colorbox{
.view-help-topics {
	width:750px;
	margin:0 auto;
	 .flexslider {
		 @include border-radius(0);
		 @include box-shadow(none);
	 	.views-row{
	 		text-align: center;
	 		//width: 250px;
	 		margin: 0;
	 		overflow: hidden;

	 		img {
	 			margin: 0 auto;
	 		}

	 		div {
	 			margin:0 5px;
	 		}

	 	}
	 }
	.views-field-nid {
		display: none;
}

}
}

@media all and (max-width: 980px) {
	#colorbox{
	.view-help-topics {
		 width: 510px;
		 margin: 0 auto;
	}
	}
}

@media all and (max-width: 670px) {
	#colorbox{
	.view-help-topics {
		 width: 250px;
		 margin: 0 auto;
	}
	}
}
