/* The Grid ---------------------- */
/* line 2, ../sass/ie8-grid.scss */
.lt-ie9 .row {
  width: 940px;
  max-width: 100%;
  min-width: 768px;
  margin: 0 auto;
}

/* line 3, ../sass/ie8-grid.scss */
.lt-ie9 .row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -15px;
}

/* line 4, ../sass/ie8-grid.scss */
.lt-ie9 .row.large-collapse .column,
.lt-ie9 .row.large-collapse .columns {
  padding: 0;
}

/* line 6, ../sass/ie8-grid.scss */
.lt-ie9 .row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -15px;
}

/* line 7, ../sass/ie8-grid.scss */
.lt-ie9 .row .row.large-collapse {
  margin: 0;
}

/* line 9, ../sass/ie8-grid.scss */
.lt-ie9 .column, .columns {
  float: left;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
}

/* line 10, ../sass/ie8-grid.scss */
.lt-ie9 .column.large-centered, .columns.large-centered {
  float: none;
  margin: 0 auto;
}

/* line 12, ../sass/ie8-grid.scss */
.lt-ie9 [class*="column"] + [class*="column"]:last-child {
  float: right;
}

/* line 13, ../sass/ie8-grid.scss */
.lt-ie9 [class*="column"] + [class*="column"].end {
  float: left;
}

/* line 15, ../sass/ie8-grid.scss */
.lt-ie9 .large-1,
.lt-ie9 .row .large-1 {
  width: 8.33333%;
}

/* line 18, ../sass/ie8-grid.scss */
.lt-ie9 .large-2,
.lt-ie9 .row .large-2 {
  width: 16.66667%;
}

/* line 21, ../sass/ie8-grid.scss */
.lt-ie9 .large-3,
.lt-ie9 .row .large-3 {
  width: 25%;
}

/* line 24, ../sass/ie8-grid.scss */
.lt-ie9 .large-4,
.lt-ie9 .row .large-4 {
  width: 33.33333%;
}

/* line 27, ../sass/ie8-grid.scss */
.lt-ie9 .large-5,
.lt-ie9 .row .large-5 {
  width: 41.66667%;
}

/* line 30, ../sass/ie8-grid.scss */
.lt-ie9 .large-6,
.lt-ie9 .row .large-6 {
  width: 50%;
}

/* line 33, ../sass/ie8-grid.scss */
.lt-ie9 .large-7,
.lt-ie9 .row .large-7 {
  width: 58.33333%;
}

/* line 36, ../sass/ie8-grid.scss */
.lt-ie9 .large-8,
.lt-ie9 .row .large-8 {
  width: 66.66667%;
}

/* line 39, ../sass/ie8-grid.scss */
.lt-ie9 .large-9,
.lt-ie9 .row .large-9 {
  width: 75%;
}

/* line 42, ../sass/ie8-grid.scss */
.lt-ie9 .large-10,
.lt-ie9 .row .large-10 {
  width: 83.33333%;
}

/* line 45, ../sass/ie8-grid.scss */
.lt-ie9 .large-11,
.lt-ie9 .row .large-11 {
  width: 91.66667%;
}

/* line 48, ../sass/ie8-grid.scss */
.lt-ie9 .large-12,
.lt-ie9 .row .large-12 {
  width: 100%;
}

/* line 51, ../sass/ie8-grid.scss */
.lt-ie9 .row .large-offset-1 {
  margin-left: 8.33333%;
}

/* line 52, ../sass/ie8-grid.scss */
.lt-ie9 .row .large-offset-2 {
  margin-left: 16.66667%;
}

/* line 53, ../sass/ie8-grid.scss */
.lt-ie9 .row .large-offset-3 {
  margin-left: 25%;
}

/* line 54, ../sass/ie8-grid.scss */
.lt-ie9 .row .large-offset-4 {
  margin-left: 33.33333%;
}

/* line 55, ../sass/ie8-grid.scss */
.lt-ie9 .row .large-offset-5 {
  margin-left: 41.66667%;
}

/* line 56, ../sass/ie8-grid.scss */
.lt-ie9 .row .large-offset-6 {
  margin-left: 50%;
}

/* line 57, ../sass/ie8-grid.scss */
.lt-ie9 .row .large-offset-7 {
  margin-left: 58.33333%;
}

/* line 58, ../sass/ie8-grid.scss */
.lt-ie9 .row .large-offset-8 {
  margin-left: 66.66667%;
}

/* line 59, ../sass/ie8-grid.scss */
.lt-ie9 .row .large-offset-9 {
  margin-left: 75%;
}

/* line 60, ../sass/ie8-grid.scss */
.lt-ie9 .row .large-offset-10 {
  margin-left: 83.33333%;
}

/* line 62, ../sass/ie8-grid.scss */
.lt-ie9 .pull-2 {
  right: 16.66667%;
}

/* line 63, ../sass/ie8-grid.scss */
.lt-ie9 .pull-3 {
  right: 25%;
}

/* line 64, ../sass/ie8-grid.scss */
.lt-ie9 .pull-4 {
  right: 33.33333%;
}

/* line 65, ../sass/ie8-grid.scss */
.lt-ie9 .pull-5 {
  right: 41.66667%;
}

/* line 66, ../sass/ie8-grid.scss */
.lt-ie9 .pull-6 {
  right: 50%;
}

/* line 67, ../sass/ie8-grid.scss */
.lt-ie9 .pull-7 {
  right: 58.33333%;
}

/* line 68, ../sass/ie8-grid.scss */
.lt-ie9 .pull-8 {
  right: 66.66667%;
}

/* line 69, ../sass/ie8-grid.scss */
.lt-ie9 .pull-9 {
  right: 75%;
}

/* line 70, ../sass/ie8-grid.scss */
.lt-ie9 .pull-10 {
  right: 83.33333%;
}

/* line 72, ../sass/ie8-grid.scss */
.lt-ie9 .push-2 {
  left: 16.66667%;
}

/* line 73, ../sass/ie8-grid.scss */
.lt-ie9 .push-3 {
  left: 25%;
}

/* line 74, ../sass/ie8-grid.scss */
.lt-ie9 .push-4 {
  left: 33.33333%;
}

/* line 75, ../sass/ie8-grid.scss */
.lt-ie9 .push-5 {
  left: 41.66667%;
}

/* line 76, ../sass/ie8-grid.scss */
.lt-ie9 .push-6 {
  left: 50%;
}

/* line 77, ../sass/ie8-grid.scss */
.lt-ie9 .push-7 {
  left: 58.33333%;
}

/* line 78, ../sass/ie8-grid.scss */
.lt-ie9 .push-8 {
  left: 66.66667%;
}

/* line 79, ../sass/ie8-grid.scss */
.lt-ie9 .push-9 {
  left: 75%;
}

/* line 80, ../sass/ie8-grid.scss */
.lt-ie9 .push-10 {
  left: 83.33333%;
}

/* Nicolas Gallagher's micro clearfix */
/* line 83, ../sass/ie8-grid.scss */
.lt-ie9 .row {
  *zoom: 1;
}

/* line 84, ../sass/ie8-grid.scss */
.lt-ie9 .row:before, .row:after {
  content: " ";
  display: table;
}

/* line 85, ../sass/ie8-grid.scss */
.lt-ie9 .row:after {
  clear: both;
}
