/**
 * @file
 * Styling for the lexicon-overview template.
 */
/* -----------------------------------------
   Glossary page
   ----------------------------------------- */
/* line 35, ../sass/sbac_lexicon.scss */
.lexicon-admin-links {
  display: none;
}
/* line 38, ../sass/sbac_lexicon.scss */
.lexicon-admin-links ul li {
  display: inline-block;
  list-style: none;
  border-left: 1px #5a5a5a solid;
}
/* line 42, ../sass/sbac_lexicon.scss */
.lexicon-admin-links ul li a {
  padding: 0px 15px;
  color: #5a5a5a;
  font-size: 15px;
}
/* line 46, ../sass/sbac_lexicon.scss */
.lexicon-admin-links ul li a:hover {
  color: #3b953f;
}

/* line 55, ../sass/sbac_lexicon.scss */
.lexicon-overview .edit {
  float: right;
}
/* line 10, ../sass/sbac_lexicon.scss */
.lexicon-overview .edit a {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  color: #006298;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: #bfd8e5;
  border: 1px rgba(0, 98, 152, 0.5) solid;
  padding: 10px 20px;
  text-align: center;
}
/* line 22, ../sass/sbac_lexicon.scss */
.lexicon-overview .edit a:hover {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background: #0085ad;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  color: white;
}
/* line 60, ../sass/sbac_lexicon.scss */
.lexicon-overview .group-header {
  display: none;
}
/* line 64, ../sass/sbac_lexicon.scss */
.lexicon-overview > .group-left {
  clear: both;
  float: left;
  /* LTR */
  margin-top: 30px;
  width: 5%;
}
/* line 71, ../sass/sbac_lexicon.scss */
.lexicon-overview .group-left ul {
  background: none;
}
/* line 73, ../sass/sbac_lexicon.scss */
.lexicon-overview .group-left ul li {
  margin: 0px;
  margin-bottom: 2px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px #e0e0e0 solid;
  border-right: none;
  color: #a2a2a2;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 84, ../sass/sbac_lexicon.scss */
.lexicon-overview .group-left ul li a {
  display: block;
  font-size: 20px;
  color: #5A5A5A;
  height: 35px;
  width: 45px;
  border-right: 1px #e0e0e0 solid;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 93, ../sass/sbac_lexicon.scss */
.lexicon-overview .group-left ul li a:hover {
  background: #b0e6f4;
}
/* line 96, ../sass/sbac_lexicon.scss */
.lexicon-overview .group-left ul li a.active {
  background: #edf3e0;
  border-right: none;
  width: 46px;
  position: relative;
  z-index: 1;
}
/* line 108, ../sass/sbac_lexicon.scss */
.lexicon-overview > .group-right {
  float: right;
  /* LTR */
  width: 95%;
  background: #edf3e0;
  padding: 20px 30px;
  border: 1px #e0e0e0 solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 115, ../sass/sbac_lexicon.scss */
.lexicon-overview > .group-right h2 {
  display: inline-block;
  float: left;
  font-size: 24px;
}
/* line 120, ../sass/sbac_lexicon.scss */
.lexicon-overview > .group-right .contents {
  font-size: 20px;
  height: 950px;
  margin-top: 60px;
  overflow-y: auto;
}
/* line 125, ../sass/sbac_lexicon.scss */
.lexicon-overview > .group-right .contents h2 {
  font-size: 24px;
}
/* line 129, ../sass/sbac_lexicon.scss */
.lexicon-overview > .group-right .contents dl dt {
  border-bottom: 1px #7f7f7f solid;
}
/* line 135, ../sass/sbac_lexicon.scss */
.lexicon-overview > .group-right .group-right-footer {
  margin-top: 30px;
  text-align: center;
  width: 100%;
}
/* line 10, ../sass/sbac_lexicon.scss */
.lexicon-overview > .group-right .group-right-footer .top a {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  color: #006298;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: #bfd8e5;
  border: 1px rgba(0, 98, 152, 0.5) solid;
  padding: 10px 20px;
  text-align: center;
}
/* line 22, ../sass/sbac_lexicon.scss */
.lexicon-overview > .group-right .group-right-footer .top a:hover {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background: #0085ad;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  color: white;
}
/* line 142, ../sass/sbac_lexicon.scss */
.lexicon-overview > .group-right .group-right-footer .prev {
  float: left;
}
/* line 10, ../sass/sbac_lexicon.scss */
.lexicon-overview > .group-right .group-right-footer .prev a {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  color: #006298;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: #bfd8e5;
  border: 1px rgba(0, 98, 152, 0.5) solid;
  padding: 10px 20px;
  text-align: center;
}
/* line 22, ../sass/sbac_lexicon.scss */
.lexicon-overview > .group-right .group-right-footer .prev a:hover {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background: #0085ad;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  color: white;
}
/* line 146, ../sass/sbac_lexicon.scss */
.lexicon-overview > .group-right .group-right-footer .next {
  float: right;
}
/* line 10, ../sass/sbac_lexicon.scss */
.lexicon-overview > .group-right .group-right-footer .next a {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  color: #006298;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: #bfd8e5;
  border: 1px rgba(0, 98, 152, 0.5) solid;
  padding: 10px 20px;
  text-align: center;
}
/* line 22, ../sass/sbac_lexicon.scss */
.lexicon-overview > .group-right .group-right-footer .next a:hover {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background: #0085ad;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  color: white;
}
/* line 153, ../sass/sbac_lexicon.scss */
.lexicon-overview > .group-footer {
  clear: both;
  padding-top: 30px;
}
/* line 156, ../sass/sbac_lexicon.scss */
.lexicon-overview > .group-footer div {
  display: inline-block;
}

/* line 162, ../sass/sbac_lexicon.scss */
.lexicon-links {
  list-style: none;
}
