// Updated digital library page
.page-digital-library-resources {
  #facet-common-core-state-standards {
    display:none;
  }
  .categories-container {
    position: relative;
    width: 30.5%;
    margin: 5px 1.2%;
    float: left;
    .categories-filter {
      padding-bottom:0;
      .category-filter-name.column.large-4 {
	padding-bottom: 0;
	padding-left:0;
	padding-right:0;
	width:100%;
	ul {
	  font-size:inherit;
	  li {
	   &.selected .sbac-search-filter-custom-link {
	      background:image-url('checkmark.png') -1px 4px no-repeat !important;
	      background-size: 6% !important;
	    }
	    &.selected {
	      background:#507483 image-url('icon-arrow-down-white.png') no-repeat 95% center;
	      a {
		color:white;
	      }
	    }
	    height: 28px;
	    background: #FFF image-url('icon-arrow-down.png') no-repeat 95% center;
	    a {
	      font-size:12.5px;
	      padding-top:2px;
	      padding-left:3px;
	      &:hover {
		text-decoration:none;
	      }
	    }
	  }
	}
      }
    }
  }
  .main-container {
    margin-top:0;
  }
  #sbac-digital-library-resources-form {
    .form-item {
      margin:0;
    }
    button.form-submit {
      display:none;
    }
    #edit-sbac-digital-library-resources-text {
      background: image-url('search.png') 5% center no-repeat;
      border-radius: 20px;
      width:200px;
      top: 8px;
      right:0;
      padding-left: 25px;
    }
  }
  #click-toggle{
    position: absolute;
    right: 25px;
    top: 20px;
    a#click-toggle-a {
      color: #fff;
      font-size: 16px;
      text-shadow: 1px 1px 0 rgba(0,0,0,0.6);
      display: inline-block;
      &:before {
        content: "\e609";
        display: inline-block;
        float: left;
        font-family: 'sbac';
        font-size: 20px;
        font-weight: normal;
        margin-right: 5px;
        position: relative;
        top: -2px;
      }
      &.list {
        &:before {
          content: "\e608";
        }
      }
    }
  }
  #spinner-load {
    display:none;
    clear:both;
    width:100%;
    height:100%;
    position:absolute;
    z-index:9;
    background:rgba(0, 0, 0, 0.8) url('../images/loading.gif') center 7% no-repeat;
    background-size:15%;
  }
  .main-container, .row {
    position:relative;
    background: none;
    border:none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: none;
    -webkit-border-radius: none;
    border-radius: none;
  }
  @media (min-width: 1280px){
    .row {
      max-width:1280px;
    }
  }
  @media (max-width: 1280px) and (min-width: 961px) {
    .row {
      max-width: 960px;
    }
  }
  @media (max-width: 960px) {
    .row {
      max-width: 656px;
    }
  }
  .view {
    padding-top:15px;
    padding-bottom:15px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 30px;
    &.view-display-id-attachment_1,
    .view-header {
      background-color: #3b9ebe;
    }
    .view-content {
      margin:0;
      padding:0;
      @media (min-width: 1280px){
        margin-left:5px;
      }
      .views-row {
        max-width: 290px !important;
        margin: 0 5px 10px 10px;
        display: inline-block;
        vertical-align: top;
        .resource-card {
          .bold {
            font-weight:bold;
            padding-right:5px;
          }
          .search-item-break {
            margin-top:10px;
            margin-bottom:20px;
            color: #62676e;
            &.resource-button{
                    text-align: right;
                    a {
          margin-bottom: 0px;
                    }
            }
          }
          -moz-border-radius: 6px;
          -webkit-border-radius: 6px;
          border-radius: 6px;
          background: rgba(255,255,255,0.85);
          border: 1px solid #cecece;
          position: relative;
          padding: 0px;
          width:290px;
          margin-bottom: 2em;
          transition: background-color 0.3s ease;
          overflow:hidden;
          &:hover {
            background-color:white;
            .resource-top {
              a{
                img{
                  outline: 3px #0583AC solid;
                }
              }
            }
          }
          .resource-top {
            clear: both;
            padding-bottom: 10px;
            font-size: 13px;
            line-height: 1.4;
            padding: 6px 0;
            &.posted-with-distinction {
              background: image-url('icons/icon-distinction.png') no-repeat top right;
            }
            h3 {
              margin: 0;
              padding: 0;
              font-size: 1em;
              font-weight: normal;
              font-family: Arial,sans-serif;
              max-width: 223px;
              word-wrap: break-word;
              display: table-cell;
              height: 60px;
              vertical-align: middle;
              a {
                color: #101010;
                font-size: 14px;
                font-weight: bold;
                padding-right: 5px;
                display: block;
                &:hover {
                  text-decoration: underline;
                  color: #3b9ebe;
                }
              }
            }
            padding: 10px 15px;
            position: relative;
            min-height: 280px;
            img {
              height: 138px;
              width: 258px;
              outline: 1px #cecece solid;
              margin: 10px 0;
              display:block;
            }
          }
        .resource-bottom {
          -moz-border-radius: 0 0 6px 6px;
          -webkit-border-radius: 0;
          border-radius: 0 0 6px 6px;
          background-color: #EFF9FD;
          padding: 10px 15px 0;
          color: #62676e;;
          font-size: 12px;
          border-top: 1px #b7bfc4 solid;
          padding-bottom: 50px;
          position:relative;
          .paradata-numbers {
            & > div {
              display:inline;
              &.stat-views {
                span {
                  position:relative;
                  left:3px;
                  top:2px;
                }
              }
              &.stat-downloads {
                margin-left:25px;
                margin-right:25px;
                span {
                  position:relative;
                  left:3px;
                  top:2px;
                }
              }
              &.rating-count {
                float:right;
                [data-tooltipp]:after {
                  bottom: 34px;
                }
                span.rating-item {
                  display:block;
                  float:left;
                  &.star-image {
                    .form-item {
                      margin-top: .4em;
                      margin-right: .5em;
                    }
                  }
                }
              }
            }
            padding: 10px 15px;
            font-size: 13px;
            -moz-border-radius: 0 0 5px 5px;
            -webkit-border-radius: 0;
            border-radius: 0 0 5px 5px;
            border-top: 1px solid #FFFFFF;
            box-shadow: 0 -1px 0 0 #CECECE,0 1px 5px 0 rgba(0,0,0,0.3);
            height: 46px;
            line-height: 26px;
            width: 100%;
            -moz-box-sizing: border-box;
            background-color: #F2F2F2;
            color: #62676e;
            display: block;
            letter-spacing: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
          }
          [data-tooltipp] {
            position: relative;
            z-index: 2;
            cursor: pointer;
          }
          /* Hide the tooltip content by default */
          [data-tooltipp]:before,
          [data-tooltipp]:after {
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
          }
          /* Position tooltip above the element */
          [data-tooltipp]:before {
            position: absolute;
            bottom: 150%;
            left: -40px;
            margin-bottom: 5px;
            padding: 10px 5px;
            width: 120px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            background-color: #fff;
            color: #5a5a5a;
            content: attr(data-tooltipp);
            text-align: center;
            font-size: 16px;
            line-height: 1.2;
          }
          /* Triangle hack to make tooltip look like a speech bubble */
          [data-tooltipp]:after {
            position: absolute;
            bottom: 150%;
            left: 15px;
            width: 0;
            border-top: 5px solid #fff;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            content: " ";
            font-size: 0;
            line-height: 0;
          }
          /* Show tooltip content on hover */
          [data-tooltipp]:hover:before,
          [data-tooltipp]:hover:after {
            visibility: visible;
            opacity: 1;
          }
        }
      }
      &.list {
        display:block;
        max-width:none !important;
        @media (min-width: 1100px){
          width:98%;
        }

        .resource-card {
          width:auto;
          height:115px;
          position:relative;
          padding: 12px 25px 20px 29px;
          .resource-top {
            display:block;
            float:left;
            width:65%;
            min-height: auto;
            position:relative;
            left:150px;
            h3 {
              display:inline;
              position:relative;
            }
            img {
              height: 72px;
              width: 140px;
              position:absolute;
              left:-160px;
              top:0;
            }
          }
          .resource-bottom {
            width:20%;
            position:absolute;
            right:0;
            top:0;
            padding:0;
            height:113px;
            background-color: #F2F2F2;
            border-top:none;
            border-left: 1px solid #FFFFFF;
            border-radius: 0 6px 6px 0;
            box-shadow: -1px 0 0 0 #CECECE;
            .search-item-break {
              display:none;
            }
            .paradata-numbers {
              background:none;
              border:none;
              position:relative;
              box-shadow:none;
              border-radius:0;
              border-bottom: 1px solid #CECECE;
              & > div {
                position:relative;
                &.rating-count {
                  float:none;
                  display:block;
                  margin-top: 5px;
                  padding-bottom: 0;
                  padding-top: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
  // Facets
  .filters {
    .inner-wrap{
      //overflow:hidden;
      &.activated-filters{
        a.category-hide {
          background:image-url('icon-arrow-right.png') no-repeat 1%;
        }
      }
      &.not-activated-filters {
        a.category-hide {
          background:image-url('icon-arrow-down.png') no-repeat 1%;
        }
      }
      a.category-hide {
        &.active, &:before{
          content: '';
          &:before {
            content: '';
          }
        }
      }
    }
    #clear-all-facets {
      border-radius: 6px;
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5) inset;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
      color: #FFFFFF;
      cursor: pointer;
      font-size: 16px;
      font-weight: normal;
      height: 34px;
      line-height: 34px;
      padding: 0 18px;
      text-align: center;
      background-color:#fd7d30;
      border: 1px solid #be5e24;
      display:block;
      clear:both;
      float:right;
      margin:15px;
      a {
        color:white;
      }
    }
    .facet-block {
      li.minus-sign{
        &:before {
          content: '-';//'☒';
          z-index:10;
          left:-8px;
          padding:0 10px;
          font-size:18px;
          color: #0684ad;
          position:absolute;
          cursor:pointer
      //	  background:image-url('filter/icon-minus-sign.png') no-repeat 0 0;
        }
      }
      li.plus-sign{
        &:before {
          left:-8px;
          padding:0 10px;
          content: '+';//'☑';
          z-index:10;
          font-size:18px;
          color: #0684ad;
          position:absolute;
          cursor:pointer;
          // background:image-url('filter/icon-plus-sign.png') no-repeat 0 0;
        }
      }
      position: relative;
      width: 30.5%;
      margin: 5px 1.2%;
      float: left;
      ul {
        overflow-y:auto;
        overflow-x:hidden;
        height:100%;
        box-shadow: 2px 14px 29px -8px rgba(158,153,158,1);
        li {
          background-image:none;
          .item-list{
            width:auto;
            ul {
              box-shadow:none;
              li {
                background-image:none;
                .item-list{
                  width:auto
                  ul {
                    box-shadow:none;
                  }
                }
              }
            }
          }
        }
      }
      .item-list {
        background:white;
        position:absolute;
        width:100%;
        z-index:5;
        height:0;
        overflow-x:hidden;
        ul{
          li{
            position:relative;
            margin:0 0 10px 15px;
            color:black;
            a {
              color:black;
              font-weight:normal;
              padding-left:25px;
              padding-bottom:2px;
              &.facetapi-inactive{
                background:image-url('filter/icon-checkbox.png') no-repeat 0 0;
              }
              &.facetapi-active {
                color:black;
                font-weight:normal;
                padding-left:15px;
                text-indent: -9999px;
                display:inline-block !important;
                background:image-url('filter/icon-check-mark.png') no-repeat 0 0;
              }
            }
          }
        }
        ul > li > a:hover{
          color: #0684AD;
          text-decoration: underline;
        }
      }
      a.category-hide {
        width:100%;
        color:#0684ad;
        margin-left:0;
        font-size:12.5px;
        padding-left:22px;
        height:28px;
        line-height: 28px;
        border-radius:3px;
        background:white image-url('icon-arrow-down.png') no-repeat 95% !important;
        &.active, &:before{
          content: '';
          &:before {
            content: '';
          }
        }
        &.activated{
          background:white image-url('icon-close.png') no-repeat 95% !important;
        }
        &.not-activated {
          background:white image-url('icon-arrow-down.png') no-repeat 95%;
        }
        &.selected {
          background:#507483 image-url('icon-arrow-down-white.png') no-repeat 95% !important;
          color:white;
          &.activated {
            background:#507483 image-url('icon-close-white.png') no-repeat 95% !important;
          }
          &:before {
            background:image-url('checkmark.png') no-repeat !important;
            top: 7px;
            padding:12px;
            background-size: 90% !important;
          }
        }
      }
    }
    li a, li.collapsed a {
      color:#0684ad;
      margin: 0;
      font-weight: bold;
      font-size: 1.1em;
    }
    .expanded {
      overflow:hidden;
    }
    .collapsed {
      padding:0;
      margin:0;
      overflow:hidden;
    }
    .inner-wrap {
      height:100%;
      input {
        opacity:0;
      }
    }
  }
  .item-list-size {
    height:auto !important;
    position:relative !important;
  }
}
