body.page-reports{
  /* Slider overrides to avoid messing up any other areas with slider styles in
  custom.scss */
  .flexslider,
  .flexslider:hover{
    .flex-direction-nav {
      a {
        height: 50px;
        width:31px;
        &.flex-prev{
          background: none;
          left: -45px;
        }
        &.flex-next{
          background: none;
          right: -50px;
          text-align: left;
        }
        &.flex-prev:hover,
        &.flex-next:hover{
          opacity: .75;
        }
      }
    }
  }
  .flexslider:hover{
    .flex-direction-nav {
      .flex-next,
      .flex-prev{
        opacity: 1;
      }
    }
  }
  //.flex-direction-nav .flex-next:hover
}
