@import "compass/css3/";

.devtools-tooltip {
  position: relative;
	display: inline-block;

  .devtools-tooltip-body {
		border: 1px solid #828588;
		color: #464B54;
		background-color: #FFFFFF;
	 	@include border-radius(10px);
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
		display: none;
		position: absolute;
		z-index: 99999;
    bottom: 30px;
		right: -150px;
    width: 400px;
		padding: 20px 20px 30px;
		
		.profile-pic a {
			width: 80px  !important;
		}
			
		.user-profile {
			float: right !important;
			text-align: left;
			font-weight: normal;
			
			.name {
				
				.field {
			 	 	color: #04384E;
			    font-size: 16px;
			    font-weight: bold;
					display: inline;
				}
			}
			
			.profile-title,
			.profile-school,
			.introduction,
			.profile-email-address {
				border: medium none;
				color: #464B54;
		    font-size: 14px;
		    line-height: 1;
		    margin: 0;
		    padding: 7px 0 0;
			}
			
			.introduction {
				padding-top: 15px;
				
				.field {
				  font-size: 0.85em;
					line-height: 1.2;
				}
			}
						
			.profile-email-address {
				color: #0583AC;
		    cursor: pointer;
		    text-decoration: none;
		
				a {
					width: 265px !important;
					font-weight: normal !important;
				}
			}
			
			.profile-details {
				margin-top: 10px;
			}
			
			.profile-details > div {
			    clear: both;
			    padding-top: 20px;
					margin-bottom: 0;
			    
					span {
					  background-color: #F2F2F2;
				    border-radius: 2px;
				    display: inline-block;
				    font-size: 12px;
				    line-height: 22px;
				    margin-right: 7px;
				    margin-top: 7px;
				    padding: 0 5px;
					}
					
					span.title {
						background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
						border-image: none;
						border-radius: 0;
						border-bottom: 1px solid #CECECE !important;
						color: #04384E;
						display: block;
						font-family: Verdana,Geneva,sans-serif;
						font-size: 11px;
						letter-spacing: 1px;
						line-height: normal;
						margin: 0;
						padding: 0 0 3px;
						text-transform: uppercase;
					}
				}
			
				.profile-details > div:first-child {
					padding-top: 0;
				}
			}
		}
	
	.devtools-tooltip-body:after {
	  border-left: 12px solid rgba(0, 0, 0, 0);
    border-right: 12px solid rgba(0, 0, 0, 0);
    border-top: 12px solid #828588;
    bottom: -12px;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 0;
    z-index: 1000;
	}
}
