/* line 1, ../sass/admin.scss */
.page-admin {
  /*
   this form doesn't have any AJAX functionality, so it's okay
   to use the ID as the selector
  */
}
/* line 9, ../sass/admin.scss */
.page-admin #sbac-user-filter-form #edit-filters .exposed-filters .additional-filters {
  float: none;
  font-size: 0.8em;
  font-weight: bold;
  margin: 0 0 20px 0;
}
/* line 16, ../sass/admin.scss */
.page-admin #sbac-user-filter-form #edit-filters .exposed-filters .filters {
  float: none;
  margin: 0;
  width: 100%;
}
/* line 21, ../sass/admin.scss */
.page-admin #sbac-user-filter-form #edit-filters .exposed-filters .filters .form-item {
  margin: 0 0 10px 0;
}
/* line 24, ../sass/admin.scss */
.page-admin #sbac-user-filter-form #edit-filters .exposed-filters .filters .form-item label {
  width: 10em;
}
/* line 28, ../sass/admin.scss */
.page-admin #sbac-user-filter-form #edit-filters .exposed-filters .filters .form-item select {
  width: 400px;
}
/* line 32, ../sass/admin.scss */
.page-admin #sbac-user-filter-form #edit-filters .exposed-filters .filters .form-item .chzn-container {
  margin-top: -4px;
  margin-left: 4px;
}
/* line 39, ../sass/admin.scss */
.page-admin #sbac-user-filter-form #edit-filters .exposed-filters .filters .form-type-radios label {
  padding-top: 5px;
}
/* line 44, ../sass/admin.scss */
.page-admin #sbac-user-filter-form #edit-filters .exposed-filters .filters .form-type-radios .form-radios .form-item {
  display: inline-block;
  margin: 0 30px 0 0;
}
/* line 48, ../sass/admin.scss */
.page-admin #sbac-user-filter-form #edit-filters .exposed-filters .filters .form-type-radios .form-radios .form-item label {
  float: none;
  padding: 0;
}
/* line 57, ../sass/admin.scss */
.page-admin #sbac-user-filter-form #edit-filters .exposed-filters .container-inline.form-actions {
  margin: 30px 0 0 0;
}
/* line 66, ../sass/admin.scss */
.page-admin #sbac-user-admin-account #edit-options .form-item {
  display: block;
  margin: 0 0 10px 0;
}
/* line 72, ../sass/admin.scss */
.page-admin #sbac-user-admin-account table {
  width: 100%;
}
/* line 76, ../sass/admin.scss */
.page-admin #sbac-user-admin-account table .item-list ul {
  margin: 0;
  padding: 0;
}
/* line 80, ../sass/admin.scss */
.page-admin #sbac-user-admin-account table .item-list ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
