/* mixins */
/* resource review tabs */
/* line 11, ../sass/feedback.scss */
.review-wrap {
  padding: 10px 30px;
  /* intro form elements */
  /* entity form elements */
  /* helpful info block */
  /* buttons */
  /* get rid of the ajax progres div, throbber, etc. */
  /* criteria sets */
  /* radio button set with inline descriptions */
  /* retionale for recommedation */
  /* feedback comments */
  /* asterisk/required info */
  /* error element selector */
  /* review items content on post tab */
  /* inline field title/desc */
  /* post options */
}
/* line 14, ../sass/feedback.scss */
.review-wrap p {
  font-size: 1em;
}
/* line 18, ../sass/feedback.scss */
.review-wrap textarea {
  resize: none;
}
/* line 22, ../sass/feedback.scss */
.review-wrap .gate-keeper-intro {
  border-bottom: 1px #cccccc solid;
  margin-bottom: 1em;
  padding-bottom: 1em;
  padding: 10px 30px 0;
}
/* line 27, ../sass/feedback.scss */
.review-wrap .dialog-trigger-gk {
  margin-left: 30px;
}
/* line 33, ../sass/feedback.scss */
.review-wrap input[type="checkbox"],
.review-wrap input[type="radio"] {
  margin-bottom: 0;
  margin-top: 0;
}
/* line 39, ../sass/feedback.scss */
.review-wrap .helpful-info {
  background: #eee;
  border: 1px #cccccc solid;
  margin: 10px 0;
  padding: 1em 2em 0;
}
/* line 45, ../sass/feedback.scss */
.review-wrap .helpful-info .helpful-info-title {
  color: #666;
  font-size: 1.3em;
}
/* line 53, ../sass/feedback.scss */
.review-wrap .button,
.review-wrap button {
  margin: 10px 10px 10px 0;
}
/* line 60, ../sass/feedback.scss */
.review-wrap .ajax-progress,
.review-wrap .alert-box {
  display: none;
}
/* line 68, ../sass/feedback.scss */
.review-wrap .field-name-field-review-set .sticky-header,
.review-wrap .field-name-field-review-set .tabledrag-toggle-weight-wrapper,
.review-wrap .field-name-field-quality-set .sticky-header,
.review-wrap .field-name-field-quality-set .tabledrag-toggle-weight-wrapper {
  display: none !important;
}
/* line 72, ../sass/feedback.scss */
.review-wrap .field-name-field-review-set .field-multiple-table,
.review-wrap .field-name-field-quality-set .field-multiple-table {
  border: 0;
  width: 100%;
}
/* line 76, ../sass/feedback.scss */
.review-wrap .field-name-field-review-set .field-multiple-table thead,
.review-wrap .field-name-field-quality-set .field-multiple-table thead {
  display: none !important;
}
/* line 80, ../sass/feedback.scss */
.review-wrap .field-name-field-review-set .field-multiple-table tbody,
.review-wrap .field-name-field-quality-set .field-multiple-table tbody {
  border: 0;
}
/* line 83, ../sass/feedback.scss */
.review-wrap .field-name-field-review-set .field-multiple-table tbody tr,
.review-wrap .field-name-field-quality-set .field-multiple-table tbody tr {
  background: none;
  border: 0;
  border-bottom: 1px #ccc solid;
}
/* line 88, ../sass/feedback.scss */
.review-wrap .field-name-field-review-set .field-multiple-table tbody tr td,
.review-wrap .field-name-field-quality-set .field-multiple-table tbody tr td {
  padding: 1.5em 0;
  /* title */
  /* comments text */
  /* comments field */
  /* radios */
}
/* line 91, ../sass/feedback.scss */
.review-wrap .field-name-field-review-set .field-multiple-table tbody tr td.field-multiple-drag, .review-wrap .field-name-field-review-set .field-multiple-table tbody tr td.delta-order,
.review-wrap .field-name-field-review-set .field-multiple-table tbody tr td .grippie,
.review-wrap .field-name-field-quality-set .field-multiple-table tbody tr td.field-multiple-drag,
.review-wrap .field-name-field-quality-set .field-multiple-table tbody tr td.delta-order,
.review-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .grippie {
  display: none;
}
/* line 99, ../sass/feedback.scss */
.review-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-title p,
.review-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-title p {
  font-size: 1em;
  font-weight: bold;
  max-width: 800px;
}
/* line 112, ../sass/feedback.scss */
.review-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-comments,
.review-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-comments {
  float: left;
  position: relative;
  width: 70%;
  max-width: 700px;
}
/* line 118, ../sass/feedback.scss */
.review-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-comments .grippie,
.review-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-comments .grippie {
  display: none;
}
/* line 122, ../sass/feedback.scss */
.review-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-comments label,
.review-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-comments label {
  font-size: 1em;
}
/* line 125, ../sass/feedback.scss */
.review-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-comments .counter,
.review-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-comments .counter {
  position: absolute;
  right: 25px;
  top: 15px;
  font-size: 12px;
}
/* line 131, ../sass/feedback.scss */
.review-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-comments .counter.messages,
.review-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-comments .counter.messages {
  background: #fff;
  border: 0;
  margin: 0;
  padding: 0;
}
/* line 139, ../sass/feedback.scss */
.review-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-comments .form-textarea-wrapper,
.review-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-comments .form-textarea-wrapper {
  padding-right: 25px;
}
/* line 142, ../sass/feedback.scss */
.review-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-comments .form-textarea-wrapper textarea,
.review-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-comments .form-textarea-wrapper textarea {
  min-height: 75px;
}
/* line 149, ../sass/feedback.scss */
.review-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-radios,
.review-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-radios {
  float: left;
  margin-left: 1em;
  width: 26%;
  /* the field allows full html, but we don't want paragraphs to mess up layout */
  /* force radio buttons to display inline */
}
/* line 154, ../sass/feedback.scss */
.review-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-radios label,
.review-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-radios label {
  font-size: 1em;
}
/* line 159, ../sass/feedback.scss */
.review-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-radios p,
.review-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-radios p {
  font-size: 0.9em;
  margin: 0;
  white-space: normal;
}
/* line 165, ../sass/feedback.scss */
.review-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-radios .field-widget-options-buttons,
.review-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-radios .field-widget-options-buttons {
  display: inline-block;
}
/* line 168, ../sass/feedback.scss */
.review-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-radios .field-widget-options-buttons .form-type-radios,
.review-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-radios .field-widget-options-buttons .form-type-radios {
  padding-right: 25px;
}
/* line 173, ../sass/feedback.scss */
.review-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-radios .form-type-radios,
.review-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-radios .form-type-radios {
  min-height: 50px;
}
/* line 178, ../sass/feedback.scss */
.review-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-radios .form-radios .form-item,
.review-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-radios .form-radios .form-item {
  display: inline;
  margin-right: .5em;
}
/* line 183, ../sass/feedback.scss */
.review-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-radios .desc,
.review-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-radios .desc {
  background: #eee;
  border: 1px #ccc solid;
  margin-top: 1em;
  padding: 0.5em;
}
/* line 199, ../sass/feedback.scss */
.review-wrap .radios-with-desc label span * {
  color: #666;
  display: inline-block;
  font-size: 1em;
}
/* line 205, ../sass/feedback.scss */
.review-wrap .radios-with-desc label span p {
  margin: 0;
}
/* line 210, ../sass/feedback.scss */
.review-wrap .radios-with-desc .form-item-error-holder.error + .form-type-radios {
  display: inline-block;
  padding-right: 25px;
}
/* line 217, ../sass/feedback.scss */
.review-wrap .field-name-field-rec-rationale {
  position: relative;
}
/* line 220, ../sass/feedback.scss */
.review-wrap .field-name-field-rec-rationale .counter {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 12px;
}
/* line 227, ../sass/feedback.scss */
.review-wrap .field-name-field-rec-rationale textarea {
  min-height: 75px;
}
/* line 236, ../sass/feedback.scss */
.review-wrap .field-name-field-to-contributor,
.review-wrap .field-name-field-to-reviewer-1,
.review-wrap .field-name-field-to-reviewer-2,
.review-wrap .field-name-field-to-reviewer-3 {
  float: left;
  position: relative;
  width: 49%;
}
/* line 241, ../sass/feedback.scss */
.review-wrap .field-name-field-to-contributor textarea,
.review-wrap .field-name-field-to-reviewer-1 textarea,
.review-wrap .field-name-field-to-reviewer-2 textarea,
.review-wrap .field-name-field-to-reviewer-3 textarea {
  min-height: 70px;
}
/* line 245, ../sass/feedback.scss */
.review-wrap .field-name-field-to-contributor .counter,
.review-wrap .field-name-field-to-reviewer-1 .counter,
.review-wrap .field-name-field-to-reviewer-2 .counter,
.review-wrap .field-name-field-to-reviewer-3 .counter {
  font-size: 0.8em;
  position: absolute;
  right: 0;
  top: 15px;
}
/* line 254, ../sass/feedback.scss */
.review-wrap .field-name-field-to-reviewer-1,
.review-wrap .field-name-field-to-reviewer-3 {
  float: right;
}
/* line 259, ../sass/feedback.scss */
.review-wrap .criteria-set-required-info {
  border-bottom: 1px #ccc solid;
  font-size: 0.9em;
  margin: .5em 0;
  padding-bottom: 0.5em;
}
/* line 267, ../sass/feedback.scss */
.review-wrap .form-item-error-holder {
  display: none;
}
/* line 270, ../sass/feedback.scss */
.review-wrap .form-item-error-holder.error + .form-item {
  background: white url("/sites/all/themes/SBAC/images/icon-validation-fail.png") right 30px no-repeat;
}
/* line 273, ../sass/feedback.scss */
.review-wrap .form-item-error-holder.error + .form-item .form-item {
  background: none;
}
/* line 282, ../sass/feedback.scss */
.review-wrap .feedback-items ul {
  margin-left: 30px;
}
/* line 286, ../sass/feedback.scss */
.review-wrap .feedback-items .feedback-item {
  border-bottom: 1px #ccc solid;
  margin: 0 0 1em 0;
  padding: 0 0 1em 0;
}
/* line 292, ../sass/feedback.scss */
.review-wrap .feedback-items .feedback-item .criteria-set-title {
  margin: 0 0 1em 0;
}
/* line 293, ../sass/feedback.scss */
.review-wrap .feedback-items .feedback-item .criteria-set-title p {
  font-weight: bold;
}
/* line 300, ../sass/feedback.scss */
.review-wrap .feedback-items .feedback-item .criteria-set-comments-text {
  margin: 0 0 1em 0;
}
/* line 304, ../sass/feedback.scss */
.review-wrap .feedback-items .feedback-item .reviewer-comments-title {
  /*font-size: 0.8em;*/
}
/* line 308, ../sass/feedback.scss */
.review-wrap .feedback-items .feedback-item .comments-title {
  font-size: 0.8em;
  font-weight: bold;
  margin: 0 0 1em 0;
}
/* line 314, ../sass/feedback.scss */
.review-wrap .feedback-items .feedback-item .feedback-review {
  float: left;
  font-size: 0.8em;
  margin-right: 1%;
  width: 32%;
}
/* line 315, ../sass/feedback.scss */
.review-wrap .feedback-items .feedback-item .feedback-review:last-child {
  margin-right: 0;
}
/* line 324, ../sass/feedback.scss */
.review-wrap .feedback-items .feedback-item .feedback-review .author {
  margin: 0 0 0.5em 0;
}
/* line 327, ../sass/feedback.scss */
.review-wrap .feedback-items .feedback-item .feedback-review .author a {
  font-weight: bold;
  text-decoration: underline;
}
/* line 333, ../sass/feedback.scss */
.review-wrap .feedback-items .feedback-item .feedback-review .created {
  margin: 0 0 1em 0;
}
/* line 337, ../sass/feedback.scss */
.review-wrap .feedback-items .feedback-item .feedback-review .headline {
  font-weight: bold;
}
/* line 350, ../sass/feedback.scss */
.review-wrap .field-title {
  font-size: 0.8em;
  font-weight: bold;
  margin: 0 0 0.5em 0;
}
/* line 356, ../sass/feedback.scss */
.review-wrap .field-description {
  color: #666;
  font-size: 0.8em;
  margin: 0 0 1em 0;
}
/* line 363, ../sass/feedback.scss */
.review-wrap .field-name-field-post-options {
  border-bottom: 1px #ccc solid;
  margin: 0 0 1em 0;
  padding: 0 0 1em 0;
}
/* line 368, ../sass/feedback.scss */
.review-wrap .field-name-field-post-options label {
  margin: 0 0 0.5em 0;
}
/* line 372, ../sass/feedback.scss */
.review-wrap .field-name-field-post-options .description {
  color: #666;
  font-size: 0.8em;
}

/* description */
/* line 381, ../sass/feedback.scss */
.form-item .description {
  margin-bottom: .5em;
}

/* text in gate keeper confirmation modal */
/* line 387, ../sass/feedback.scss */
#dialog .gate-keeper-modal-intro {
  border-bottom: 1px solid silver;
  padding-bottom: 1em;
  border-bottom: 1em;
  font-size: 0.8em;
  line-height: normal;
}
/* line 395, ../sass/feedback.scss */
#dialog .form-submit {
  float: right;
}

/* modal */
/* line 401, ../sass/feedback.scss */
.ui-dialog.ui-widget {
  position: fixed !important;
}

/* misc */
/* line 406, ../sass/feedback.scss */
.clear {
  clear: both;
  float: none;
}

/* line 411, ../sass/feedback.scss */
.hidden {
  display: none;
}

/** Columns on About **/
/* line 418, ../sass/feedback.scss */
.ds-2col .group-left {
  width: 45% !important;
  margin-right: 3%;
}
/* line 423, ../sass/feedback.scss */
.ds-2col .group-right {
  width: 45%;
  margin-right: 0;
  float: right !important;
}
/* line 429, ../sass/feedback.scss */
.ds-2col .field-label {
  font-size: 1.1em;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid silver;
  color: #18577E;
}
/* line 437, ../sass/feedback.scss */
.ds-2col .field {
  margin-bottom: 1.5em;
  line-height: normal;
  font-size: 0.9em;
}
/* line 442, ../sass/feedback.scss */
.ds-2col .field ul {
  font-size: 0.9em;
}

/* line 449, ../sass/feedback.scss */
#review-wrap-edit-tags .vertical-tabs {
  border: 0;
  margin: 2em;
  padding: 0;
}
/* line 454, ../sass/feedback.scss */
#review-wrap-edit-tags .vertical-tabs .vertical-tabs-list {
  display: none;
}
/* line 459, ../sass/feedback.scss */
#review-wrap-edit-tags .vertical-tabs .vertical-tabs-panes .vertical-tabs-pane {
  padding: 0;
}
/* line 462, ../sass/feedback.scss */
#review-wrap-edit-tags .vertical-tabs .vertical-tabs-panes .vertical-tabs-pane .field-widget-options-select {
  float: left;
  margin: 0 0 1em 0;
  width: 47%;
}
/* line 467, ../sass/feedback.scss */
#review-wrap-edit-tags .vertical-tabs .vertical-tabs-panes .vertical-tabs-pane .field-widget-options-select:nth-child(even) {
  clear: left;
  margin-right: 5%;
}
/* line 472, ../sass/feedback.scss */
#review-wrap-edit-tags .vertical-tabs .vertical-tabs-panes .vertical-tabs-pane .field-widget-options-select .chzn-container {
  width: auto !important;
}
/* line 476, ../sass/feedback.scss */
#review-wrap-edit-tags .vertical-tabs .vertical-tabs-panes .vertical-tabs-pane .field-widget-options-select .description:last-child {
  display: none;
}
/* line 481, ../sass/feedback.scss */
#review-wrap-edit-tags .vertical-tabs .vertical-tabs-panes .vertical-tabs-pane .alignment-tag-title {
  clear: both;
  float: none;
}
/* line 487, ../sass/feedback.scss */
#review-wrap-edit-tags .vertical-tabs .vertical-tabs-panes .vertical-tabs-pane #sbac-resource-alignment-tag-view table {
  width: 100%;
}

/* line 498, ../sass/feedback.scss */
.field-name-resource-slideshow {
  margin: 0 0 70px 0;
}
/* line 501, ../sass/feedback.scss */
.field-name-resource-slideshow .flexslider {
  font-size: 1.4em;
  margin: 0 auto;
  max-width: 834px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 509, ../sass/feedback.scss */
.field-name-resource-slideshow .flexslider ul {
  margin: 0;
}
/* line 515, ../sass/feedback.scss */
.field-name-resource-slideshow .flexslider .flex-viewport ul li {
  margin: 0;
  overflow: hidden;
}
/* line 519, ../sass/feedback.scss */
.field-name-resource-slideshow .flexslider .flex-viewport ul li label {
  font-size: 1em;
  font-weight: bold;
  cursor: default;
}
/* line 525, ../sass/feedback.scss */
.field-name-resource-slideshow .flexslider .flex-viewport ul li .content-field {
  margin: 0 0 10px 0;
  padding: 0 10px;
}
/* line 526, ../sass/feedback.scss */
.field-name-resource-slideshow .flexslider .flex-viewport ul li .content-field:last-child {
  margin-bottom: 0;
}

@media all and (max-width: 980px) {
  /* line 544, ../sass/feedback.scss */
  .field-name-resource-slideshow .flexslider {
    margin: 0 auto;
    width: 510px;
  }
}
@media all and (max-width: 670px) {
  /* line 551, ../sass/feedback.scss */
  .field-name-resource-slideshow .flexslider {
    margin: 0 auto;
    width: 250px;
  }
}
