/* mixins */
/* resource review tabs */
/* line 13, ../sass/feedback.scss */
.feedback-wrap {
  padding: 10px 30px;
  /* intro form elements */
  /* entity form elements */
  /* helpful info block */
  /* buttons */
  /* get rid of the ajax progres div, throbber, etc. */
  /* criteria sets */
  /* radio button set with inline descriptions */
  /* retionale for recommedation */
  /* feedback comments */
  /* asterisk/required info */
  /* error element selector */
  /* review items content on post tab */
  /* inline field title/desc */
  /* post options */
}
/* line 16, ../sass/feedback.scss */
.feedback-wrap h2 {
  font-size: 1.4em;
}
/* line 20, ../sass/feedback.scss */
.feedback-wrap p {
  font-size: 1em;
}
/* line 25, ../sass/feedback.scss */
.feedback-wrap .feedback-item .comments {
  margin-bottom: 20px;
}
/* line 30, ../sass/feedback.scss */
.feedback-wrap textarea {
  resize: none;
}
/* line 34, ../sass/feedback.scss */
.feedback-wrap .criteria-set-title {
  font-weight: bold;
  font-size: 1.1em;
  margin: 0 0 10px 0;
  color: #000;
}
/* line 41, ../sass/feedback.scss */
.feedback-wrap .more-less-text {
  margin-bottom: 20px;
}
/* line 44, ../sass/feedback.scss */
.feedback-wrap .more-less-text .more-less-text-trigger-more {
  font-size: 0.8em;
  display: inline-block;
  padding: 3px 5px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #eee;
  color: #0085ad;
}
/* line 55, ../sass/feedback.scss */
.feedback-wrap .author {
  font-weight: bold;
}
/* line 59, ../sass/feedback.scss */
.feedback-wrap .created {
  font-style: italic;
  margin-bottom: 10px;
}
/* line 65, ../sass/feedback.scss */
.feedback-wrap .gate-keeper-intro {
  border-bottom: 1px #cccccc solid;
  margin-bottom: 1em;
  padding-bottom: 1em;
  padding: 10px 30px 0;
}
/* line 70, ../sass/feedback.scss */
.feedback-wrap .dialog-trigger-gk {
  margin-left: 30px;
}
/* line 76, ../sass/feedback.scss */
.feedback-wrap input[type="checkbox"],
.feedback-wrap input[type="radio"] {
  margin-bottom: 0;
  margin-top: 0;
}
/* line 82, ../sass/feedback.scss */
.feedback-wrap .helpful-info {
  background: #eee;
  border: 1px #cccccc solid;
  margin: 10px 0;
  padding: 1em 2em 0;
}
/* line 88, ../sass/feedback.scss */
.feedback-wrap .helpful-info .helpful-info-title {
  color: #666;
  font-size: 1.3em;
}
/* line 96, ../sass/feedback.scss */
.feedback-wrap .button,
.feedback-wrap button {
  margin: 10px 10px 10px 0;
}
/* line 100, ../sass/feedback.scss */
.feedback-wrap #edit-tags-cancel {
  margin-left: 2em;
}
/* line 107, ../sass/feedback.scss */
.feedback-wrap .ajax-progress,
.feedback-wrap .alert-box {
  display: none;
}
/* line 115, ../sass/feedback.scss */
.feedback-wrap .field-name-field-review-set .sticky-header,
.feedback-wrap .field-name-field-review-set .tabledrag-toggle-weight-wrapper,
.feedback-wrap .field-name-field-quality-set .sticky-header,
.feedback-wrap .field-name-field-quality-set .tabledrag-toggle-weight-wrapper {
  display: none !important;
}
/* line 119, ../sass/feedback.scss */
.feedback-wrap .field-name-field-review-set .field-multiple-table,
.feedback-wrap .field-name-field-quality-set .field-multiple-table {
  border: 0;
  width: 100%;
}
/* line 123, ../sass/feedback.scss */
.feedback-wrap .field-name-field-review-set .field-multiple-table thead,
.feedback-wrap .field-name-field-quality-set .field-multiple-table thead {
  display: none !important;
}
/* line 127, ../sass/feedback.scss */
.feedback-wrap .field-name-field-review-set .field-multiple-table tbody,
.feedback-wrap .field-name-field-quality-set .field-multiple-table tbody {
  border: 0;
}
/* line 130, ../sass/feedback.scss */
.feedback-wrap .field-name-field-review-set .field-multiple-table tbody tr:last-child,
.feedback-wrap .field-name-field-quality-set .field-multiple-table tbody tr:last-child {
  border-bottom: none;
}
/* line 134, ../sass/feedback.scss */
.feedback-wrap .field-name-field-review-set .field-multiple-table tbody tr,
.feedback-wrap .field-name-field-quality-set .field-multiple-table tbody tr {
  background: none;
  border: 0;
  border-bottom: 1px #ccc solid;
}
/* line 139, ../sass/feedback.scss */
.feedback-wrap .field-name-field-review-set .field-multiple-table tbody tr td,
.feedback-wrap .field-name-field-quality-set .field-multiple-table tbody tr td {
  padding: 1.5em 0;
  /* title */
  /* comments text */
  /* comments field */
  /* radios */
}
/* line 142, ../sass/feedback.scss */
.feedback-wrap .field-name-field-review-set .field-multiple-table tbody tr td.field-multiple-drag, .feedback-wrap .field-name-field-review-set .field-multiple-table tbody tr td.delta-order,
.feedback-wrap .field-name-field-review-set .field-multiple-table tbody tr td .grippie,
.feedback-wrap .field-name-field-quality-set .field-multiple-table tbody tr td.field-multiple-drag,
.feedback-wrap .field-name-field-quality-set .field-multiple-table tbody tr td.delta-order,
.feedback-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .grippie {
  display: none;
}
/* line 149, ../sass/feedback.scss */
.feedback-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-title,
.feedback-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-title {
  font-weight: bold;
  font-size: 1.1em;
  margin: 0 0 10px 0;
}
/* line 154, ../sass/feedback.scss */
.feedback-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-title p,
.feedback-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-title p {
  /*font-size: 1em;*/
  font-size: 18px;
  font-weight: bold;
  max-width: 800px;
  margin-left: 5px;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}
/* line 170, ../sass/feedback.scss */
.feedback-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-comments,
.feedback-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-comments {
  float: left;
  position: relative;
  width: 70%;
  max-width: 700px;
}
/* line 176, ../sass/feedback.scss */
.feedback-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-comments .grippie,
.feedback-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-comments .grippie {
  display: none;
}
/* line 180, ../sass/feedback.scss */
.feedback-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-comments label,
.feedback-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-comments label {
  font-size: 1em;
}
/* line 184, ../sass/feedback.scss */
.feedback-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-comments .counter,
.feedback-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-comments .counter {
  position: absolute;
  right: 25px;
  top: 15px;
  font-size: 12px;
}
/* line 190, ../sass/feedback.scss */
.feedback-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-comments .counter.messages,
.feedback-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-comments .counter.messages {
  background: #fff;
  border: 0;
  margin: 0;
  padding: 0;
}
/* line 198, ../sass/feedback.scss */
.feedback-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-comments .form-textarea-wrapper,
.feedback-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-comments .form-textarea-wrapper {
  padding-right: 25px;
}
/* line 201, ../sass/feedback.scss */
.feedback-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-comments .form-textarea-wrapper textarea,
.feedback-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-comments .form-textarea-wrapper textarea {
  min-height: 75px;
}
/* line 208, ../sass/feedback.scss */
.feedback-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-radios,
.feedback-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-radios {
  float: left;
  margin-left: 1em;
  width: 26%;
  /* the field allows full html, but we don't want paragraphs to mess up layout */
  /* force radio buttons to display inline */
}
/* line 213, ../sass/feedback.scss */
.feedback-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-radios label,
.feedback-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-radios label {
  font-size: 1em;
}
/* line 218, ../sass/feedback.scss */
.feedback-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-radios p,
.feedback-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-radios p {
  font-size: 0.9em;
  margin: 0;
  white-space: normal;
}
/* line 224, ../sass/feedback.scss */
.feedback-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-radios .field-widget-options-buttons,
.feedback-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-radios .field-widget-options-buttons {
  display: inline-block;
}
/* line 227, ../sass/feedback.scss */
.feedback-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-radios .field-widget-options-buttons .form-type-radios,
.feedback-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-radios .field-widget-options-buttons .form-type-radios {
  padding-right: 25px;
}
/* line 232, ../sass/feedback.scss */
.feedback-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-radios .form-type-radios,
.feedback-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-radios .form-type-radios {
  min-height: 50px;
}
/* line 237, ../sass/feedback.scss */
.feedback-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-radios .form-radios .form-item,
.feedback-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-radios .form-radios .form-item {
  display: inline;
  margin-right: 0;
}
/* line 242, ../sass/feedback.scss */
.feedback-wrap .field-name-field-review-set .field-multiple-table tbody tr td .criteria-set-radios .desc,
.feedback-wrap .field-name-field-quality-set .field-multiple-table tbody tr td .criteria-set-radios .desc {
  background: #eee;
  border: 1px #ccc solid;
  margin-top: 1em;
  padding: 0.5em;
}
/* line 258, ../sass/feedback.scss */
.feedback-wrap .radios-with-desc label span * {
  color: #666;
  display: inline-block;
  font-size: 1em;
}
/* line 264, ../sass/feedback.scss */
.feedback-wrap .radios-with-desc label span p {
  margin: 0;
}
/* line 269, ../sass/feedback.scss */
.feedback-wrap .radios-with-desc .form-item-error-holder.error + .form-type-radios {
  display: inline-block;
  padding-right: 25px;
}
/* line 276, ../sass/feedback.scss */
.feedback-wrap .field-name-field-rec-rationale {
  position: relative;
  max-width: 584px;
}
/* line 280, ../sass/feedback.scss */
.feedback-wrap .field-name-field-rec-rationale .counter {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
}
/* line 287, ../sass/feedback.scss */
.feedback-wrap .field-name-field-rec-rationale textarea {
  min-height: 75px;
}
/* line 296, ../sass/feedback.scss */
.feedback-wrap .field-name-field-to-contributor,
.feedback-wrap .field-name-field-to-reviewer-1,
.feedback-wrap .field-name-field-to-reviewer-2,
.feedback-wrap .field-name-field-to-reviewer-3 {
  float: left;
  position: relative;
  width: 49%;
}
/* line 301, ../sass/feedback.scss */
.feedback-wrap .field-name-field-to-contributor textarea,
.feedback-wrap .field-name-field-to-reviewer-1 textarea,
.feedback-wrap .field-name-field-to-reviewer-2 textarea,
.feedback-wrap .field-name-field-to-reviewer-3 textarea {
  min-height: 70px;
}
/* line 305, ../sass/feedback.scss */
.feedback-wrap .field-name-field-to-contributor .counter,
.feedback-wrap .field-name-field-to-reviewer-1 .counter,
.feedback-wrap .field-name-field-to-reviewer-2 .counter,
.feedback-wrap .field-name-field-to-reviewer-3 .counter {
  font-size: 0.8em;
  position: absolute;
  right: 0;
  top: 15px;
}
/* line 314, ../sass/feedback.scss */
.feedback-wrap .field-name-field-to-reviewer-1,
.feedback-wrap .field-name-field-to-reviewer-3 {
  float: right;
}
/* line 319, ../sass/feedback.scss */
.feedback-wrap .criteria-set-required-info {
  border-bottom: 1px #ccc solid;
  font-size: 0.9em;
  margin: .5em 0;
  padding-bottom: 0.5em;
}
/* line 327, ../sass/feedback.scss */
.feedback-wrap .form-item-error-holder {
  display: none;
}
/* line 330, ../sass/feedback.scss */
.feedback-wrap .form-item-error-holder.error + .form-item {
  background: white url("/sites/all/themes/SBAC/images/icon-validation-fail.png") right 30px no-repeat;
}
/* line 333, ../sass/feedback.scss */
.feedback-wrap .form-item-error-holder.error + .form-item .form-item {
  background: none;
}
/* line 345, ../sass/feedback.scss */
.feedback-wrap .feedback-items .feedback-item {
  border-bottom: 1px #ccc solid;
  margin: 0 0 1.5em 0;
  padding: 0 0 1.5em 0;
}
/* line 350, ../sass/feedback.scss */
.feedback-wrap .feedback-items .feedback-item .criteria-set-title {
  font-weight: bold;
  font-size: 1.1em;
  margin: 0 0 10px 0;
}
/* line 356, ../sass/feedback.scss */
.feedback-wrap .feedback-items .feedback-item .date {
  font-style: italic;
}
/* line 360, ../sass/feedback.scss */
.feedback-wrap .feedback-items .feedback-item .criteria-set-comments-text {
  margin: 0 0 1em 0;
}
/* line 364, ../sass/feedback.scss */
.feedback-wrap .feedback-items .feedback-item .criteria-set-comments-text .more-less-text li {
  word-break: normal;
}
/* line 374, ../sass/feedback.scss */
.feedback-wrap .feedback-items .feedback-item .comments-title {
  font-weight: bold;
  margin: 0 0 1em 0;
}
/* line 380, ../sass/feedback.scss */
.feedback-wrap .feedback-items .feedback-item .feedback-review {
  float: left;
  margin-right: 1.5%;
  padding-right: 1.5%;
  width: 31%;
  border-right: 1px solid #ccc;
  /* ie fix */
}
/* line 391, ../sass/feedback.scss */
.feedback-wrap .feedback-items .feedback-item .feedback-review:last-child, .feedback-wrap .feedback-items .feedback-item .feedback-review.feedback-review-3 {
  margin-right: 0;
  border-right: none;
}
/* line 396, ../sass/feedback.scss */
.feedback-wrap .feedback-items .feedback-item .feedback-review .author {
  margin: 0 0 0.5em 0;
}
/* line 399, ../sass/feedback.scss */
.feedback-wrap .feedback-items .feedback-item .feedback-review .author a {
  font-weight: bold;
  text-decoration: underline;
}
/* line 405, ../sass/feedback.scss */
.feedback-wrap .feedback-items .feedback-item .feedback-review .created {
  margin: 0 0 1em 0;
}
/* line 409, ../sass/feedback.scss */
.feedback-wrap .feedback-items .feedback-item .feedback-review .headline {
  font-weight: bold;
}
/* line 414, ../sass/feedback.scss */
.feedback-wrap .feedback-items .feedback-item .feedback-review .comments {
  word-break: normal;
}
/* line 423, ../sass/feedback.scss */
.feedback-wrap .field-title {
  font-size: 0.8em;
  font-weight: bold;
  margin: 0 0 0.5em 0;
}
/* line 429, ../sass/feedback.scss */
.feedback-wrap .field-description {
  color: #666;
  font-size: 0.8em;
  margin: 0 0 1em 0;
}
/* line 436, ../sass/feedback.scss */
.feedback-wrap .field-name-field-post-options {
  border-bottom: 1px #ccc solid;
  margin: 0 0 1em 0;
  padding: 0 0 1em 0;
  clear: both;
}
/* line 442, ../sass/feedback.scss */
.feedback-wrap .field-name-field-post-options label {
  margin: 0 0 0.5em 0;
}
/* line 446, ../sass/feedback.scss */
.feedback-wrap .field-name-field-post-options .description {
  color: #666;
  font-size: 0.8em;
}

/* description */
/* line 455, ../sass/feedback.scss */
.form-item .description {
  margin-bottom: .5em;
}

/* text in gate keeper confirmation modal */
/* line 461, ../sass/feedback.scss */
#dialog .gate-keeper-modal-intro {
  border-bottom: 1px solid silver;
  padding-bottom: 1em;
  border-bottom: 1em;
  font-size: 0.8em;
  line-height: normal;
}
/* line 469, ../sass/feedback.scss */
#dialog .devtools-dialog-content {
  text-align: right;
}
/* line 472, ../sass/feedback.scss */
#dialog .devtools-dialog-content .button {
  margin-right: 10px;
}
/* line 477, ../sass/feedback.scss */
#dialog .form-submit {
  float: right;
}
/* line 481, ../sass/feedback.scss */
#dialog .ajax-progress {
  display: none;
}

/* modal */
/* line 487, ../sass/feedback.scss */
.ui-dialog.ui-widget {
  position: fixed !important;
}

/* misc */
/* line 492, ../sass/feedback.scss */
.clear {
  clear: both;
  float: none;
}

/* line 497, ../sass/feedback.scss */
.hidden {
  display: none;
}

/** Columns on About **/
/* line 504, ../sass/feedback.scss */
.ds-2col .group-left {
  width: 45% !important;
  margin-right: 3%;
}
/* line 509, ../sass/feedback.scss */
.ds-2col .group-right {
  width: 45%;
  margin-right: 0;
  float: right !important;
}
/* line 515, ../sass/feedback.scss */
.ds-2col .field-label {
  font-size: 1.1em;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid silver;
  color: #18577E;
}
/* line 523, ../sass/feedback.scss */
.ds-2col .field {
  margin-bottom: 1.5em;
  line-height: normal;
  font-size: 0.9em;
}
/* line 528, ../sass/feedback.scss */
.ds-2col .field ul {
  font-size: 0.9em;
}

/* line 535, ../sass/feedback.scss */
#feedback-wrap-edit-tags .vertical-tabs {
  border: 0;
  margin: 2em;
  padding: 0;
}
/* line 540, ../sass/feedback.scss */
#feedback-wrap-edit-tags .vertical-tabs .vertical-tabs-list {
  display: none;
}
/* line 545, ../sass/feedback.scss */
#feedback-wrap-edit-tags .vertical-tabs .vertical-tabs-panes .vertical-tabs-pane {
  padding: 0;
}
/* line 548, ../sass/feedback.scss */
#feedback-wrap-edit-tags .vertical-tabs .vertical-tabs-panes .vertical-tabs-pane .field-widget-options-select {
  float: left;
  margin: 0 0 1em 0;
  width: 40%;
}
/* line 553, ../sass/feedback.scss */
#feedback-wrap-edit-tags .vertical-tabs .vertical-tabs-panes .vertical-tabs-pane .field-widget-options-select:nth-child(even) {
  clear: left;
  margin-right: 5%;
}
/* line 558, ../sass/feedback.scss */
#feedback-wrap-edit-tags .vertical-tabs .vertical-tabs-panes .vertical-tabs-pane .field-widget-options-select .chzn-container {
  width: 250px !important;
}
/* line 562, ../sass/feedback.scss */
#feedback-wrap-edit-tags .vertical-tabs .vertical-tabs-panes .vertical-tabs-pane .field-widget-options-select .description {
  color: #a2a2a2;
  font-size: 0.75em;
  margin: 0.5em 0;
  line-height: 1.25em;
  max-width: 90%;
  word-break: normal;
}
/* line 571, ../sass/feedback.scss */
#feedback-wrap-edit-tags .vertical-tabs .vertical-tabs-panes .vertical-tabs-pane .field-widget-options-select input {
  padding: 1px !important;
  height: 1.5em;
}
/* line 576, ../sass/feedback.scss */
#feedback-wrap-edit-tags .vertical-tabs .vertical-tabs-panes .vertical-tabs-pane .field-widget-options-select .description:last-child {
  display: none;
}
/* line 581, ../sass/feedback.scss */
#feedback-wrap-edit-tags .vertical-tabs .vertical-tabs-panes .vertical-tabs-pane .alignment-tag-title {
  clear: both;
  float: none;
}
/* line 586, ../sass/feedback.scss */
#feedback-wrap-edit-tags .vertical-tabs .vertical-tabs-panes .vertical-tabs-pane .alignment-tag-title-help, #feedback-wrap-edit-tags .vertical-tabs .vertical-tabs-panes .vertical-tabs-pane .sbac-resource-required {
  font-size: 0.75em;
}
/* line 590, ../sass/feedback.scss */
#feedback-wrap-edit-tags .vertical-tabs .vertical-tabs-panes .vertical-tabs-pane #sbac-resource-modal-alignment {
  float: right;
}
/* line 595, ../sass/feedback.scss */
#feedback-wrap-edit-tags .vertical-tabs .vertical-tabs-panes .vertical-tabs-pane #sbac-resource-alignment-tag-view table {
  width: 100%;
}

/* line 604, ../sass/feedback.scss */
.field-name-resource-slideshow {
  margin: 0 0 70px 0;
}
/* line 607, ../sass/feedback.scss */
.field-name-resource-slideshow .flexslider {
  font-size: 1.4em;
  margin: 0 auto;
  max-width: 834px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 615, ../sass/feedback.scss */
.field-name-resource-slideshow .flexslider ul {
  margin: 0;
}
/* line 621, ../sass/feedback.scss */
.field-name-resource-slideshow .flexslider .flex-viewport ul li {
  margin: 0;
  overflow: hidden;
}
/* line 625, ../sass/feedback.scss */
.field-name-resource-slideshow .flexslider .flex-viewport ul li label {
  font-size: 1em;
  font-weight: bold;
  cursor: default;
}
/* line 631, ../sass/feedback.scss */
.field-name-resource-slideshow .flexslider .flex-viewport ul li .content-field {
  margin: 0 0 10px 0;
  padding: 0 10px;
}
/* line 632, ../sass/feedback.scss */
.field-name-resource-slideshow .flexslider .flex-viewport ul li .content-field:last-child {
  margin-bottom: 0;
}

/*Edit Resource Tags*/
/* line 652, ../sass/feedback.scss */
.section-edit-resource-tags #feedback-wrap-edit-tags .vertical-tabs {
  margin: 0;
}
/* line 655, ../sass/feedback.scss */
.section-edit-resource-tags #feedback-wrap-edit-tags .vertical-tabs .field-widget-options-select:nth-child(2n) {
  clear: right !important;
}
/* line 659, ../sass/feedback.scss */
.section-edit-resource-tags #feedback-wrap-edit-tags .vertical-tabs .vertical-tabs-panes .vertical-tabs-pane .field-widget-options-select .chzn-container {
  width: 310px !important;
}
/* line 664, ../sass/feedback.scss */
.section-edit-resource-tags #feedback-wrap-edit-tags #edit-tags-cancel {
  margin-left: 0;
  margin-right: 15px;
}

/*Revisions tab*/
/* line 673, ../sass/feedback.scss */
.section-revisions .contributor-comment-title {
  font-weight: bold;
}
/* line 676, ../sass/feedback.scss */
.section-revisions .contributor-comment-date {
  font-style: italic;
  margin-bottom: 10px;
  color: #A2A2A2;
}

/*Gate keeping criteria review tab*/
/* line 685, ../sass/feedback.scss */
.section-gate-keeping-criteria-review .form-item textarea.error, .section-gate-keeping-criteria-review .form-item input.error {
  width: 100%;
}

@media all and (max-width: 980px) {
  /* line 692, ../sass/feedback.scss */
  .field-name-resource-slideshow .flexslider {
    margin: 0 auto;
    width: 510px;
  }
}
@media all and (max-width: 670px) {
  /* line 699, ../sass/feedback.scss */
  .field-name-resource-slideshow .flexslider {
    margin: 0 auto;
    width: 250px;
  }
}
