/**
 * @file
 * CSS for Google CDN module.
 */

#google-cdn-message-container {
  background-color: #fdf2b1;
  color: #101010;
  border: 5px solid #ffffff;
  box-shadow: 0 0 3px 0 rgba(4, 56, 78, 0.3), 0 1px 0 0 rgba(0, 0, 0, 0.1);
  color: #464b54;
  margin-top: 15px;
  padding: 10px 20px;
  position: relative;
}

#google-cdn-message-container .form-item {
  margin: 0;
}

#google-cdn-message-container p {
  margin-bottom: 0;
  font-size: 13px;
}
