.view-content table {
  width: 100%;
}

.form-item-items-per-page label {
  display: inline-block;
}

.form-item-items-per-page select {
  display: inline-block;
  width: 80px;
}

.view-filters {
  float: right;
}

.view-filters .throbber {
  margin-top: -80px;
}

.form-item-items-per-page .form-select option[value="5"]:before {
  content: "Up to ";
}

.form-item-items-per-page .form-select option[value="10"]:before {
  content: "Up to ";
}

.form-item-items-per-page .form-select option[value="15"]:before {
  content: "Up to ";
}

/* .container-inline-date { */
/*   display: none; */
/* } */

/* #date-range-dropdown .container-inline-date { */
/*   display: block; */
/* } */

.report-form-container {
	position: relative;

	/* state container */
	.form-item-state {
		width: 25%;
		margin-right: 10px;
		float: left;

		.chzn-container {
			width: 200px !important;

			.chzn-single {
				height: 2.3125em;
			}
		}
	}


	/* date range container */
	.date-range-container {
		width: 25%;
		margin: 1em 10px 1em 0;
		float: left;

		.report-dropdown-toggle {
			color: #4d4d4d;
			height: 2.3125em;
			border: 1px solid #ccc;
			width: 100%;
			display: inline-block;
			padding: 5px;
			font-size: 0.875em;
		}
	}

	.report-dropdown  {
		position: absolute;
		background: white;
		width: 500px;
		height: 500px;
		z-index: 500;
	}


	.form-item-sne {
		width: 25%;
		float: left;
		margin-right: 10px;
	}

	button {
		float: right;
		margin-top: 1.875em;
	}
}














