/* line 12, ../sass/sbac_search_api.scss */
.page-instructional #page-title,
.page-professional-learning #page-title,
.page-playlist #page-title,
.page-search-resources #page-title {
  display: none;
}
/* line 17, ../sass/sbac_search_api.scss */
.page-instructional .row,
.page-professional-learning .row,
.page-playlist .row,
.page-search-resources .row {
  max-width: 1280px;
}
/* line 22, ../sass/sbac_search_api.scss */
.page-instructional .resource-feature,
.page-professional-learning .resource-feature,
.page-playlist .resource-feature,
.page-search-resources .resource-feature {
  margin: 0 15px 15px 15px;
  width: auto;
  position: relative;
  padding: 0 240px 0 0;
  min-height: 150px;
}
/* line 29, ../sass/sbac_search_api.scss */
.page-instructional .resource-feature:after,
.page-professional-learning .resource-feature:after,
.page-playlist .resource-feature:after,
.page-search-resources .resource-feature:after {
  clear: both;
  display: block;
  height: 1px;
  margin-top: -1px;
  content: ' ';
}
/* line 37, ../sass/sbac_search_api.scss */
.page-instructional .resource-feature .block,
.page-professional-learning .resource-feature .block,
.page-playlist .resource-feature .block,
.page-search-resources .resource-feature .block {
  width: auto;
  padding: 0 15px;
  position: relative;
}
/* line 43, ../sass/sbac_search_api.scss */
.page-instructional .resource-feature h2,
.page-professional-learning .resource-feature h2,
.page-playlist .resource-feature h2,
.page-search-resources .resource-feature h2 {
  color: #444;
  font-size: 150%;
}
/* line 48, ../sass/sbac_search_api.scss */
.page-instructional .resource-feature p,
.page-professional-learning .resource-feature p,
.page-playlist .resource-feature p,
.page-search-resources .resource-feature p {
  color: #000;
  font-size: 120%;
  margin: 0;
}
/* line 54, ../sass/sbac_search_api.scss */
.page-instructional .resource-feature img,
.page-professional-learning .resource-feature img,
.page-playlist .resource-feature img,
.page-search-resources .resource-feature img {
  position: absolute;
  top: 0;
  right: -240px;
  height: 150px;
  width: 225px;
}
/* line 65, ../sass/sbac_search_api.scss */
.page-instructional #sidebar-first .block-facetapi,
.page-instructional #sidebar-first .block-block,
.page-professional-learning #sidebar-first .block-facetapi,
.page-professional-learning #sidebar-first .block-block,
.page-playlist #sidebar-first .block-facetapi,
.page-playlist #sidebar-first .block-block,
.page-search-resources #sidebar-first .block-facetapi,
.page-search-resources #sidebar-first .block-block {
  box-sizing: border-box;
  border: #ddd solid 1px;
  margin-bottom: 20px;
}
/* line 71, ../sass/sbac_search_api.scss */
.page-instructional #sidebar-first .block-facetapi h2.block-title,
.page-instructional #sidebar-first .block-block h2.block-title,
.page-professional-learning #sidebar-first .block-facetapi h2.block-title,
.page-professional-learning #sidebar-first .block-block h2.block-title,
.page-playlist #sidebar-first .block-facetapi h2.block-title,
.page-playlist #sidebar-first .block-block h2.block-title,
.page-search-resources #sidebar-first .block-facetapi h2.block-title,
.page-search-resources #sidebar-first .block-block h2.block-title {
  margin: 0;
  padding: 5px 32px 5px 5px;
  background: #ddd url("../images/facet_open.png") 98% 50%/24px 24px no-repeat;
  font-size: .9em;
}
/* line 78, ../sass/sbac_search_api.scss */
.page-instructional #sidebar-first .block-facetapi p,
.page-instructional #sidebar-first .block-block p,
.page-professional-learning #sidebar-first .block-facetapi p,
.page-professional-learning #sidebar-first .block-block p,
.page-playlist #sidebar-first .block-facetapi p,
.page-playlist #sidebar-first .block-block p,
.page-search-resources #sidebar-first .block-facetapi p,
.page-search-resources #sidebar-first .block-block p {
  padding: 5px;
  margin: 0;
}
/* line 83, ../sass/sbac_search_api.scss */
.page-instructional #sidebar-first .block-facetapi .item-list ul,
.page-instructional #sidebar-first .block-block .item-list ul,
.page-professional-learning #sidebar-first .block-facetapi .item-list ul,
.page-professional-learning #sidebar-first .block-block .item-list ul,
.page-playlist #sidebar-first .block-facetapi .item-list ul,
.page-playlist #sidebar-first .block-block .item-list ul,
.page-search-resources #sidebar-first .block-facetapi .item-list ul,
.page-search-resources #sidebar-first .block-block .item-list ul {
  padding: 0;
  margin: 0;
}
/* line 88, ../sass/sbac_search_api.scss */
.page-instructional #sidebar-first .block-facetapi li .item-list ul,
.page-instructional #sidebar-first .block-block li .item-list ul,
.page-professional-learning #sidebar-first .block-facetapi li .item-list ul,
.page-professional-learning #sidebar-first .block-block li .item-list ul,
.page-playlist #sidebar-first .block-facetapi li .item-list ul,
.page-playlist #sidebar-first .block-block li .item-list ul,
.page-search-resources #sidebar-first .block-facetapi li .item-list ul,
.page-search-resources #sidebar-first .block-block li .item-list ul {
  padding-left: 10px;
}
/* line 92, ../sass/sbac_search_api.scss */
.page-instructional #sidebar-first .block-facetapi li,
.page-instructional #sidebar-first .block-block li,
.page-professional-learning #sidebar-first .block-facetapi li,
.page-professional-learning #sidebar-first .block-block li,
.page-playlist #sidebar-first .block-facetapi li,
.page-playlist #sidebar-first .block-block li,
.page-search-resources #sidebar-first .block-facetapi li,
.page-search-resources #sidebar-first .block-block li {
  margin: 0;
  padding: 5px;
  list-style: none;
  background: transparent url("../images/facet_unchecked.png") 5px 10px/12px 12px no-repeat;
  font-size: 13px;
}
/* line 99, ../sass/sbac_search_api.scss */
.page-instructional #sidebar-first .block-facetapi li.active,
.page-instructional #sidebar-first .block-block li.active,
.page-professional-learning #sidebar-first .block-facetapi li.active,
.page-professional-learning #sidebar-first .block-block li.active,
.page-playlist #sidebar-first .block-facetapi li.active,
.page-playlist #sidebar-first .block-block li.active,
.page-search-resources #sidebar-first .block-facetapi li.active,
.page-search-resources #sidebar-first .block-block li.active {
  background: transparent url("../images/facet_checked.png") 5px 10px/12px 12px no-repeat;
}
/* line 103, ../sass/sbac_search_api.scss */
.page-instructional #sidebar-first .block-facetapi li a,
.page-instructional #sidebar-first .block-block li a,
.page-professional-learning #sidebar-first .block-facetapi li a,
.page-professional-learning #sidebar-first .block-block li a,
.page-playlist #sidebar-first .block-facetapi li a,
.page-playlist #sidebar-first .block-block li a,
.page-search-resources #sidebar-first .block-facetapi li a,
.page-search-resources #sidebar-first .block-block li a {
  color: #000;
  outline: none;
  position: relative;
}
/* line 108, ../sass/sbac_search_api.scss */
.page-instructional #sidebar-first .block-facetapi li a:hover,
.page-instructional #sidebar-first .block-block li a:hover,
.page-professional-learning #sidebar-first .block-facetapi li a:hover,
.page-professional-learning #sidebar-first .block-block li a:hover,
.page-playlist #sidebar-first .block-facetapi li a:hover,
.page-playlist #sidebar-first .block-block li a:hover,
.page-search-resources #sidebar-first .block-facetapi li a:hover,
.page-search-resources #sidebar-first .block-block li a:hover {
  color: #000;
}
/* line 112, ../sass/sbac_search_api.scss */
.page-instructional #sidebar-first .block-facetapi li a:visited,
.page-instructional #sidebar-first .block-block li a:visited,
.page-professional-learning #sidebar-first .block-facetapi li a:visited,
.page-professional-learning #sidebar-first .block-block li a:visited,
.page-playlist #sidebar-first .block-facetapi li a:visited,
.page-playlist #sidebar-first .block-block li a:visited,
.page-search-resources #sidebar-first .block-facetapi li a:visited,
.page-search-resources #sidebar-first .block-block li a:visited {
  color: #000;
}
/* line 116, ../sass/sbac_search_api.scss */
.page-instructional #sidebar-first .block-facetapi li a:active,
.page-instructional #sidebar-first .block-block li a:active,
.page-professional-learning #sidebar-first .block-facetapi li a:active,
.page-professional-learning #sidebar-first .block-block li a:active,
.page-playlist #sidebar-first .block-facetapi li a:active,
.page-playlist #sidebar-first .block-block li a:active,
.page-search-resources #sidebar-first .block-facetapi li a:active,
.page-search-resources #sidebar-first .block-block li a:active {
  color: #000;
}
/* line 120, ../sass/sbac_search_api.scss */
.page-instructional #sidebar-first .block-facetapi li a .facet-hover,
.page-instructional #sidebar-first .block-block li a .facet-hover,
.page-professional-learning #sidebar-first .block-facetapi li a .facet-hover,
.page-professional-learning #sidebar-first .block-block li a .facet-hover,
.page-playlist #sidebar-first .block-facetapi li a .facet-hover,
.page-playlist #sidebar-first .block-block li a .facet-hover,
.page-search-resources #sidebar-first .block-facetapi li a .facet-hover,
.page-search-resources #sidebar-first .block-block li a .facet-hover {
  display: block;
  position: absolute;
  top: -3px;
  left: -2px;
  padding: 2px;
  background-color: #fff4c8;
  white-space: nowrap;
}
/* line 131, ../sass/sbac_search_api.scss */
.page-instructional #sidebar-first .block-facetapi li .subject-icon,
.page-instructional #sidebar-first .block-block li .subject-icon,
.page-professional-learning #sidebar-first .block-facetapi li .subject-icon,
.page-professional-learning #sidebar-first .block-block li .subject-icon,
.page-playlist #sidebar-first .block-facetapi li .subject-icon,
.page-playlist #sidebar-first .block-block li .subject-icon,
.page-search-resources #sidebar-first .block-facetapi li .subject-icon,
.page-search-resources #sidebar-first .block-block li .subject-icon {
  height: 18px;
}
/* line 135, ../sass/sbac_search_api.scss */
.page-instructional #sidebar-first .block-facetapi li .facetapi-collapsible-handle,
.page-instructional #sidebar-first .block-block li .facetapi-collapsible-handle,
.page-professional-learning #sidebar-first .block-facetapi li .facetapi-collapsible-handle,
.page-professional-learning #sidebar-first .block-block li .facetapi-collapsible-handle,
.page-playlist #sidebar-first .block-facetapi li .facetapi-collapsible-handle,
.page-playlist #sidebar-first .block-block li .facetapi-collapsible-handle,
.page-search-resources #sidebar-first .block-facetapi li .facetapi-collapsible-handle,
.page-search-resources #sidebar-first .block-block li .facetapi-collapsible-handle {
  display: inline-block;
  width: 12px;
  color: transparent;
}
/* line 141, ../sass/sbac_search_api.scss */
.page-instructional #sidebar-first .block-facetapi li .facetapi-collapsible-handle.plus-sign,
.page-instructional #sidebar-first .block-block li .facetapi-collapsible-handle.plus-sign,
.page-professional-learning #sidebar-first .block-facetapi li .facetapi-collapsible-handle.plus-sign,
.page-professional-learning #sidebar-first .block-block li .facetapi-collapsible-handle.plus-sign,
.page-playlist #sidebar-first .block-facetapi li .facetapi-collapsible-handle.plus-sign,
.page-playlist #sidebar-first .block-block li .facetapi-collapsible-handle.plus-sign,
.page-search-resources #sidebar-first .block-facetapi li .facetapi-collapsible-handle.plus-sign,
.page-search-resources #sidebar-first .block-block li .facetapi-collapsible-handle.plus-sign {
  background: transparent url("../images/facet_open.png") center center/12px 12px no-repeat;
}
/* line 145, ../sass/sbac_search_api.scss */
.page-instructional #sidebar-first .block-facetapi li .facetapi-collapsible-handle.minus-sign,
.page-instructional #sidebar-first .block-block li .facetapi-collapsible-handle.minus-sign,
.page-professional-learning #sidebar-first .block-facetapi li .facetapi-collapsible-handle.minus-sign,
.page-professional-learning #sidebar-first .block-block li .facetapi-collapsible-handle.minus-sign,
.page-playlist #sidebar-first .block-facetapi li .facetapi-collapsible-handle.minus-sign,
.page-playlist #sidebar-first .block-block li .facetapi-collapsible-handle.minus-sign,
.page-search-resources #sidebar-first .block-facetapi li .facetapi-collapsible-handle.minus-sign,
.page-search-resources #sidebar-first .block-block li .facetapi-collapsible-handle.minus-sign {
  background: transparent url("../images/facet_close.png") center center/12px 12px no-repeat;
}
/* line 149, ../sass/sbac_search_api.scss */
.page-instructional #sidebar-first .block-facetapi li .element-invisible,
.page-instructional #sidebar-first .block-block li .element-invisible,
.page-professional-learning #sidebar-first .block-facetapi li .element-invisible,
.page-professional-learning #sidebar-first .block-block li .element-invisible,
.page-playlist #sidebar-first .block-facetapi li .element-invisible,
.page-playlist #sidebar-first .block-block li .element-invisible,
.page-search-resources #sidebar-first .block-facetapi li .element-invisible,
.page-search-resources #sidebar-first .block-block li .element-invisible {
  display: none;
}
/* line 153, ../sass/sbac_search_api.scss */
.page-instructional #sidebar-first .block-facetapi li .facetapi-facet .checkbox-spacer,
.page-instructional #sidebar-first .block-block li .facetapi-facet .checkbox-spacer,
.page-professional-learning #sidebar-first .block-facetapi li .facetapi-facet .checkbox-spacer,
.page-professional-learning #sidebar-first .block-block li .facetapi-facet .checkbox-spacer,
.page-playlist #sidebar-first .block-facetapi li .facetapi-facet .checkbox-spacer,
.page-playlist #sidebar-first .block-block li .facetapi-facet .checkbox-spacer,
.page-search-resources #sidebar-first .block-facetapi li .facetapi-facet .checkbox-spacer,
.page-search-resources #sidebar-first .block-block li .facetapi-facet .checkbox-spacer {
  display: inline-block;
  width: 17px;
}
/* line 160, ../sass/sbac_search_api.scss */
.page-instructional #sidebar-first .block-facetapi.expanded h2.block-title,
.page-instructional #sidebar-first .block-block.expanded h2.block-title,
.page-professional-learning #sidebar-first .block-facetapi.expanded h2.block-title,
.page-professional-learning #sidebar-first .block-block.expanded h2.block-title,
.page-playlist #sidebar-first .block-facetapi.expanded h2.block-title,
.page-playlist #sidebar-first .block-block.expanded h2.block-title,
.page-search-resources #sidebar-first .block-facetapi.expanded h2.block-title,
.page-search-resources #sidebar-first .block-block.expanded h2.block-title {
  background: #ddd url("../images/facet_close.png") 98% 50%/24px 24px no-repeat;
}
/* line 166, ../sass/sbac_search_api.scss */
.page-instructional #sidebar-first .block-facetapi.expanded.active h2.block-title,
.page-instructional #sidebar-first .block-block.expanded.active h2.block-title,
.page-professional-learning #sidebar-first .block-facetapi.expanded.active h2.block-title,
.page-professional-learning #sidebar-first .block-block.expanded.active h2.block-title,
.page-playlist #sidebar-first .block-facetapi.expanded.active h2.block-title,
.page-playlist #sidebar-first .block-block.expanded.active h2.block-title,
.page-search-resources #sidebar-first .block-facetapi.expanded.active h2.block-title,
.page-search-resources #sidebar-first .block-block.expanded.active h2.block-title {
  background: #ddd none;
}
/* line 176, ../sass/sbac_search_api.scss */
.page-instructional #main.messagebox,
.page-professional-learning #main.messagebox,
.page-playlist #main.messagebox,
.page-search-resources #main.messagebox {
  padding-top: 55px;
}
/* line 179, ../sass/sbac_search_api.scss */
.page-instructional #main.messagebox #sidebar-left,
.page-professional-learning #main.messagebox #sidebar-left,
.page-playlist #main.messagebox #sidebar-left,
.page-search-resources #main.messagebox #sidebar-left {
  margin-top: -55px;
}
/* line 183, ../sass/sbac_search_api.scss */
.page-instructional #main.messagebox .alert-box,
.page-professional-learning #main.messagebox .alert-box,
.page-playlist #main.messagebox .alert-box,
.page-search-resources #main.messagebox .alert-box {
  margin-right: 15px;
}
/* line 187, ../sass/sbac_search_api.scss */
.page-instructional #main.messagebox .view,
.page-professional-learning #main.messagebox .view,
.page-playlist #main.messagebox .view,
.page-search-resources #main.messagebox .view {
  padding-top: 20px;
}
/* line 193, ../sass/sbac_search_api.scss */
.page-instructional #main > .block,
.page-professional-learning #main > .block,
.page-playlist #main > .block,
.page-search-resources #main > .block {
  background-color: #ddd;
  height: 40px;
}
/* line 198, ../sass/sbac_search_api.scss */
.page-instructional #main > .block-current-search-search-sections,
.page-professional-learning #main > .block-current-search-search-sections,
.page-playlist #main > .block-current-search-search-sections,
.page-search-resources #main > .block-current-search-search-sections {
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  padding: 10px;
  z-index: 500;
}
/* line 207, ../sass/sbac_search_api.scss */
.page-instructional #main > .block-current-search.block-current-search-main-search,
.page-professional-learning #main > .block-current-search.block-current-search-main-search,
.page-playlist #main > .block-current-search.block-current-search-main-search,
.page-search-resources #main > .block-current-search.block-current-search-main-search {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  padding: 10px;
}
/* line 215, ../sass/sbac_search_api.scss */
.page-instructional #main > .block-views,
.page-professional-learning #main > .block-views,
.page-playlist #main > .block-views,
.page-search-resources #main > .block-views {
  position: absolute;
  width: 80%;
  padding: 4px 141px 0 155px;
  top: 0;
  left: 15px;
}
/* line 222, ../sass/sbac_search_api.scss */
.page-instructional #main > .block-views .form-item,
.page-professional-learning #main > .block-views .form-item,
.page-playlist #main > .block-views .form-item,
.page-search-resources #main > .block-views .form-item {
  margin: 0;
}
/* line 226, ../sass/sbac_search_api.scss */
.page-instructional #main > .block-views label,
.page-professional-learning #main > .block-views label,
.page-playlist #main > .block-views label,
.page-search-resources #main > .block-views label {
  display: none;
}
/* line 230, ../sass/sbac_search_api.scss */
.page-instructional #main > .block-views button,
.page-professional-learning #main > .block-views button,
.page-playlist #main > .block-views button,
.page-search-resources #main > .block-views button {
  position: absolute;
  top: 8px;
  right: 145px;
  box-shadow: none;
  border-radius: 0;
  padding: 5px;
  background: transparent url("/sites/all/themes/custom/SBAC/images/search.png") 5px 5px no-repeat;
  width: 26px;
  height: 26px;
  border: none;
  text-shadow: none;
  color: transparent;
}
/* line 246, ../sass/sbac_search_api.scss */
.page-instructional #main > .block-search-api-sorts,
.page-professional-learning #main > .block-search-api-sorts,
.page-playlist #main > .block-search-api-sorts,
.page-search-resources #main > .block-search-api-sorts {
  position: absolute;
  top: 0;
  right: 15px;
  width: 226px;
  padding: 5px;
}
/* line 253, ../sass/sbac_search_api.scss */
.page-instructional #main > .block-search-api-sorts .default-sort,
.page-professional-learning #main > .block-search-api-sorts .default-sort,
.page-playlist #main > .block-search-api-sorts .default-sort,
.page-search-resources #main > .block-search-api-sorts .default-sort {
  background: #0e729d url("/sites/all/themes/custom/SBAC/images/icon-arrow-down-white.png") 195px 12px no-repeat;
  color: #fff;
  padding: 7px 20px 0 7px;
  height: 30px;
}
/* line 259, ../sass/sbac_search_api.scss */
.page-instructional #main > .block-search-api-sorts .default-sort.active,
.page-professional-learning #main > .block-search-api-sorts .default-sort.active,
.page-playlist #main > .block-search-api-sorts .default-sort.active,
.page-search-resources #main > .block-search-api-sorts .default-sort.active {
  background: #0e729d url("/sites/all/themes/custom/SBAC/images/icon-arrow-up-white.png") 195px 12px no-repeat;
}
/* line 264, ../sass/sbac_search_api.scss */
.page-instructional #main > .block-search-api-sorts .search-api-sorts,
.page-professional-learning #main > .block-search-api-sorts .search-api-sorts,
.page-playlist #main > .block-search-api-sorts .search-api-sorts,
.page-search-resources #main > .block-search-api-sorts .search-api-sorts {
  display: none;
  position: absolute;
  width: 190px;
  border: 1px solid #fff;
  background-color: #0e729d;
  z-index: 9999;
}
/* line 272, ../sass/sbac_search_api.scss */
.page-instructional #main > .block-search-api-sorts .search-api-sorts li,
.page-professional-learning #main > .block-search-api-sorts .search-api-sorts li,
.page-playlist #main > .block-search-api-sorts .search-api-sorts li,
.page-search-resources #main > .block-search-api-sorts .search-api-sorts li {
  list-style: none;
  padding: 5px 10px;
  margin: 0;
}
/* line 277, ../sass/sbac_search_api.scss */
.page-instructional #main > .block-search-api-sorts .search-api-sorts li a,
.page-professional-learning #main > .block-search-api-sorts .search-api-sorts li a,
.page-playlist #main > .block-search-api-sorts .search-api-sorts li a,
.page-search-resources #main > .block-search-api-sorts .search-api-sorts li a {
  color: #fff;
}
/* line 280, ../sass/sbac_search_api.scss */
.page-instructional #main > .block-search-api-sorts .search-api-sorts li a:hover,
.page-professional-learning #main > .block-search-api-sorts .search-api-sorts li a:hover,
.page-playlist #main > .block-search-api-sorts .search-api-sorts li a:hover,
.page-search-resources #main > .block-search-api-sorts .search-api-sorts li a:hover {
  color: #ddd;
}
/* line 289, ../sass/sbac_search_api.scss */
.page-instructional #main .view,
.page-professional-learning #main .view,
.page-playlist #main .view,
.page-search-resources #main .view {
  clear: both;
  padding-top: 55px;
}
/* line 295, ../sass/sbac_search_api.scss */
.page-instructional #main .view-content,
.page-professional-learning #main .view-content,
.page-playlist #main .view-content,
.page-search-resources #main .view-content {
  margin-bottom: 20px;
  position: relative;
}
/* line 299, ../sass/sbac_search_api.scss */
.page-instructional #main .view-content #search-loading,
.page-professional-learning #main .view-content #search-loading,
.page-playlist #main .view-content #search-loading,
.page-search-resources #main .view-content #search-loading {
  position: absolute;
  top: 0;
  left: -15px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
/* line 310, ../sass/sbac_search_api.scss */
.page-instructional #main .view-id-search_api_resource_views .row,
.page-professional-learning #main .view-id-search_api_resource_views .row,
.page-playlist #main .view-id-search_api_resource_views .row,
.page-search-resources #main .view-id-search_api_resource_views .row {
  width: auto;
  border: 1px solid #0e729d;
  margin-right: 0;
  margin-bottom: -1px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
/* line 319, ../sass/sbac_search_api.scss */
.page-instructional #main .view-id-search_api_resource_views .row .resource-main,
.page-professional-learning #main .view-id-search_api_resource_views .row .resource-main,
.page-playlist #main .view-id-search_api_resource_views .row .resource-main,
.page-search-resources #main .view-id-search_api_resource_views .row .resource-main {
  float: left;
  width: 80%;
  position: relative;
}
/* line 324, ../sass/sbac_search_api.scss */
.page-instructional #main .view-id-search_api_resource_views .row .resource-main .resource-image,
.page-professional-learning #main .view-id-search_api_resource_views .row .resource-main .resource-image,
.page-playlist #main .view-id-search_api_resource_views .row .resource-main .resource-image,
.page-search-resources #main .view-id-search_api_resource_views .row .resource-main .resource-image {
  position: relative;
  width: 202px;
  height: 105px;
  overflow: hidden;
  float: left;
  margin: 10px;
  border: 1px solid #0e729d;
}
/* line 334, ../sass/sbac_search_api.scss */
.page-instructional #main .view-id-search_api_resource_views .row .resource-main .list-image,
.page-professional-learning #main .view-id-search_api_resource_views .row .resource-main .list-image,
.page-playlist #main .view-id-search_api_resource_views .row .resource-main .list-image,
.page-search-resources #main .view-id-search_api_resource_views .row .resource-main .list-image {
  width: 200px;
}
/* line 338, ../sass/sbac_search_api.scss */
.page-instructional #main .view-id-search_api_resource_views .row .resource-main .views-field-field-digital-media-type,
.page-professional-learning #main .view-id-search_api_resource_views .row .resource-main .views-field-field-digital-media-type,
.page-playlist #main .view-id-search_api_resource_views .row .resource-main .views-field-field-digital-media-type,
.page-search-resources #main .view-id-search_api_resource_views .row .resource-main .views-field-field-digital-media-type {
  width: 200px;
  position: absolute;
  bottom: 0;
  color: #fff;
  background-color: #0e729d;
  background-color: rgba(14, 114, 157, 0.8);
  text-align: center;
  font-size: 80%;
  padding: 3px 0;
}
/* line 350, ../sass/sbac_search_api.scss */
.page-instructional #main .view-id-search_api_resource_views .row .resource-main .resource-summary,
.page-professional-learning #main .view-id-search_api_resource_views .row .resource-main .resource-summary,
.page-playlist #main .view-id-search_api_resource_views .row .resource-main .resource-summary,
.page-search-resources #main .view-id-search_api_resource_views .row .resource-main .resource-summary {
  margin: 10px 10px 10px 0;
}
/* line 353, ../sass/sbac_search_api.scss */
.page-instructional #main .view-id-search_api_resource_views .row .resource-main .resource-summary a,
.page-professional-learning #main .view-id-search_api_resource_views .row .resource-main .resource-summary a,
.page-playlist #main .view-id-search_api_resource_views .row .resource-main .resource-summary a,
.page-search-resources #main .view-id-search_api_resource_views .row .resource-main .resource-summary a {
  color: #0e729d;
}
/* line 356, ../sass/sbac_search_api.scss */
.page-instructional #main .view-id-search_api_resource_views .row .resource-main .resource-summary a:hover,
.page-professional-learning #main .view-id-search_api_resource_views .row .resource-main .resource-summary a:hover,
.page-playlist #main .view-id-search_api_resource_views .row .resource-main .resource-summary a:hover,
.page-search-resources #main .view-id-search_api_resource_views .row .resource-main .resource-summary a:hover {
  color: #18a5d1;
}
/* line 360, ../sass/sbac_search_api.scss */
.page-instructional #main .view-id-search_api_resource_views .row .resource-main .resource-summary a:visited,
.page-professional-learning #main .view-id-search_api_resource_views .row .resource-main .resource-summary a:visited,
.page-playlist #main .view-id-search_api_resource_views .row .resource-main .resource-summary a:visited,
.page-search-resources #main .view-id-search_api_resource_views .row .resource-main .resource-summary a:visited {
  color: #0e729d;
}
/* line 364, ../sass/sbac_search_api.scss */
.page-instructional #main .view-id-search_api_resource_views .row .resource-main .resource-summary a:active,
.page-professional-learning #main .view-id-search_api_resource_views .row .resource-main .resource-summary a:active,
.page-playlist #main .view-id-search_api_resource_views .row .resource-main .resource-summary a:active,
.page-search-resources #main .view-id-search_api_resource_views .row .resource-main .resource-summary a:active {
  color: #18a5d1;
}
/* line 369, ../sass/sbac_search_api.scss */
.page-instructional #main .view-id-search_api_resource_views .row .resource-main .resource-summary .resource-tags,
.page-professional-learning #main .view-id-search_api_resource_views .row .resource-main .resource-summary .resource-tags,
.page-playlist #main .view-id-search_api_resource_views .row .resource-main .resource-summary .resource-tags,
.page-search-resources #main .view-id-search_api_resource_views .row .resource-main .resource-summary .resource-tags {
  font-size: 90%;
  margin-bottom: 5px;
}
/* line 373, ../sass/sbac_search_api.scss */
.page-instructional #main .view-id-search_api_resource_views .row .resource-main .resource-summary .resource-tags .subject-icon,
.page-professional-learning #main .view-id-search_api_resource_views .row .resource-main .resource-summary .resource-tags .subject-icon,
.page-playlist #main .view-id-search_api_resource_views .row .resource-main .resource-summary .resource-tags .subject-icon,
.page-search-resources #main .view-id-search_api_resource_views .row .resource-main .resource-summary .resource-tags .subject-icon {
  height: 18px;
}
/* line 378, ../sass/sbac_search_api.scss */
.page-instructional #main .view-id-search_api_resource_views .row .resource-main .resource-summary .resource-date,
.page-professional-learning #main .view-id-search_api_resource_views .row .resource-main .resource-summary .resource-date,
.page-playlist #main .view-id-search_api_resource_views .row .resource-main .resource-summary .resource-date,
.page-search-resources #main .view-id-search_api_resource_views .row .resource-main .resource-summary .resource-date {
  font-style: italic;
}
/* line 382, ../sass/sbac_search_api.scss */
.page-instructional #main .view-id-search_api_resource_views .row .resource-main .resource-summary .resource-about,
.page-professional-learning #main .view-id-search_api_resource_views .row .resource-main .resource-summary .resource-about,
.page-playlist #main .view-id-search_api_resource_views .row .resource-main .resource-summary .resource-about,
.page-search-resources #main .view-id-search_api_resource_views .row .resource-main .resource-summary .resource-about {
  font-size: 90%;
  line-height: 120%;
}
/* line 389, ../sass/sbac_search_api.scss */
.page-instructional #main .view-id-search_api_resource_views .row .shield-drop,
.page-professional-learning #main .view-id-search_api_resource_views .row .shield-drop,
.page-playlist #main .view-id-search_api_resource_views .row .shield-drop,
.page-search-resources #main .view-id-search_api_resource_views .row .shield-drop {
  position: absolute;
  top: 0;
  right: 16.66667%;
}
/* line 395, ../sass/sbac_search_api.scss */
.page-instructional #main .view-id-search_api_resource_views .row .resource-stats,
.page-professional-learning #main .view-id-search_api_resource_views .row .resource-stats,
.page-playlist #main .view-id-search_api_resource_views .row .resource-stats,
.page-search-resources #main .view-id-search_api_resource_views .row .resource-stats {
  float: right;
  width: 16.66667%;
  background-color: #ddd;
  border-left: 1px solid #0e729d;
  padding: 20px 20px 100px 0;
  margin-bottom: -100px;
  text-align: right;
}
/* line 404, ../sass/sbac_search_api.scss */
.page-instructional #main .view-id-search_api_resource_views .row .resource-stats .stat-views,
.page-instructional #main .view-id-search_api_resource_views .row .resource-stats .stat-downloads,
.page-professional-learning #main .view-id-search_api_resource_views .row .resource-stats .stat-views,
.page-professional-learning #main .view-id-search_api_resource_views .row .resource-stats .stat-downloads,
.page-playlist #main .view-id-search_api_resource_views .row .resource-stats .stat-views,
.page-playlist #main .view-id-search_api_resource_views .row .resource-stats .stat-downloads,
.page-search-resources #main .view-id-search_api_resource_views .row .resource-stats .stat-views,
.page-search-resources #main .view-id-search_api_resource_views .row .resource-stats .stat-downloads {
  margin-bottom: 10px;
}
/* line 409, ../sass/sbac_search_api.scss */
.page-instructional #main .view-id-search_api_resource_views .row .resource-stats .rating,
.page-professional-learning #main .view-id-search_api_resource_views .row .resource-stats .rating,
.page-playlist #main .view-id-search_api_resource_views .row .resource-stats .rating,
.page-search-resources #main .view-id-search_api_resource_views .row .resource-stats .rating {
  margin-bottom: 10px;
}
/* line 412, ../sass/sbac_search_api.scss */
.page-instructional #main .view-id-search_api_resource_views .row .resource-stats .rating .rating-stars,
.page-professional-learning #main .view-id-search_api_resource_views .row .resource-stats .rating .rating-stars,
.page-playlist #main .view-id-search_api_resource_views .row .resource-stats .rating .rating-stars,
.page-search-resources #main .view-id-search_api_resource_views .row .resource-stats .rating .rating-stars {
  float: right;
}
/* line 415, ../sass/sbac_search_api.scss */
.page-instructional #main .view-id-search_api_resource_views .row .resource-stats .rating .rating-stars .form-item,
.page-professional-learning #main .view-id-search_api_resource_views .row .resource-stats .rating .rating-stars .form-item,
.page-playlist #main .view-id-search_api_resource_views .row .resource-stats .rating .rating-stars .form-item,
.page-search-resources #main .view-id-search_api_resource_views .row .resource-stats .rating .rating-stars .form-item {
  margin: 0;
}
/* line 419, ../sass/sbac_search_api.scss */
.page-instructional #main .view-id-search_api_resource_views .row .resource-stats .rating .rating-stars .off,
.page-instructional #main .view-id-search_api_resource_views .row .resource-stats .rating .rating-stars .on,
.page-professional-learning #main .view-id-search_api_resource_views .row .resource-stats .rating .rating-stars .off,
.page-professional-learning #main .view-id-search_api_resource_views .row .resource-stats .rating .rating-stars .on,
.page-playlist #main .view-id-search_api_resource_views .row .resource-stats .rating .rating-stars .off,
.page-playlist #main .view-id-search_api_resource_views .row .resource-stats .rating .rating-stars .on,
.page-search-resources #main .view-id-search_api_resource_views .row .resource-stats .rating .rating-stars .off,
.page-search-resources #main .view-id-search_api_resource_views .row .resource-stats .rating .rating-stars .on {
  color: transparent;
}
/* line 425, ../sass/sbac_search_api.scss */
.page-instructional #main .view-id-search_api_resource_views .row .resource-stats .rating .rating-count,
.page-professional-learning #main .view-id-search_api_resource_views .row .resource-stats .rating .rating-count,
.page-playlist #main .view-id-search_api_resource_views .row .resource-stats .rating .rating-count,
.page-search-resources #main .view-id-search_api_resource_views .row .resource-stats .rating .rating-count {
  float: right;
}
/* line 439, ../sass/sbac_search_api.scss */
.page-instructional #main .pager li.pager-item a, .page-instructional #main .pager li.pager-next a, .page-instructional #main .pager li.pager-last a, .page-instructional #main .pager li.pager-first a, .page-instructional #main .pager li.pager-previous a,
.page-professional-learning #main .pager li.pager-item a,
.page-professional-learning #main .pager li.pager-next a,
.page-professional-learning #main .pager li.pager-last a,
.page-professional-learning #main .pager li.pager-first a,
.page-professional-learning #main .pager li.pager-previous a,
.page-playlist #main .pager li.pager-item a,
.page-playlist #main .pager li.pager-next a,
.page-playlist #main .pager li.pager-last a,
.page-playlist #main .pager li.pager-first a,
.page-playlist #main .pager li.pager-previous a,
.page-search-resources #main .pager li.pager-item a,
.page-search-resources #main .pager li.pager-next a,
.page-search-resources #main .pager li.pager-last a,
.page-search-resources #main .pager li.pager-first a,
.page-search-resources #main .pager li.pager-previous a {
  color: #000;
}
/* line 442, ../sass/sbac_search_api.scss */
.page-instructional #main .pager li.pager-item a:hover, .page-instructional #main .pager li.pager-next a:hover, .page-instructional #main .pager li.pager-last a:hover, .page-instructional #main .pager li.pager-first a:hover, .page-instructional #main .pager li.pager-previous a:hover,
.page-professional-learning #main .pager li.pager-item a:hover,
.page-professional-learning #main .pager li.pager-next a:hover,
.page-professional-learning #main .pager li.pager-last a:hover,
.page-professional-learning #main .pager li.pager-first a:hover,
.page-professional-learning #main .pager li.pager-previous a:hover,
.page-playlist #main .pager li.pager-item a:hover,
.page-playlist #main .pager li.pager-next a:hover,
.page-playlist #main .pager li.pager-last a:hover,
.page-playlist #main .pager li.pager-first a:hover,
.page-playlist #main .pager li.pager-previous a:hover,
.page-search-resources #main .pager li.pager-item a:hover,
.page-search-resources #main .pager li.pager-next a:hover,
.page-search-resources #main .pager li.pager-last a:hover,
.page-search-resources #main .pager li.pager-first a:hover,
.page-search-resources #main .pager li.pager-previous a:hover {
  color: #0e729d;
}
/* line 446, ../sass/sbac_search_api.scss */
.page-instructional #main .pager li.pager-item a:visited, .page-instructional #main .pager li.pager-next a:visited, .page-instructional #main .pager li.pager-last a:visited, .page-instructional #main .pager li.pager-first a:visited, .page-instructional #main .pager li.pager-previous a:visited,
.page-professional-learning #main .pager li.pager-item a:visited,
.page-professional-learning #main .pager li.pager-next a:visited,
.page-professional-learning #main .pager li.pager-last a:visited,
.page-professional-learning #main .pager li.pager-first a:visited,
.page-professional-learning #main .pager li.pager-previous a:visited,
.page-playlist #main .pager li.pager-item a:visited,
.page-playlist #main .pager li.pager-next a:visited,
.page-playlist #main .pager li.pager-last a:visited,
.page-playlist #main .pager li.pager-first a:visited,
.page-playlist #main .pager li.pager-previous a:visited,
.page-search-resources #main .pager li.pager-item a:visited,
.page-search-resources #main .pager li.pager-next a:visited,
.page-search-resources #main .pager li.pager-last a:visited,
.page-search-resources #main .pager li.pager-first a:visited,
.page-search-resources #main .pager li.pager-previous a:visited {
  color: #000;
}
/* line 450, ../sass/sbac_search_api.scss */
.page-instructional #main .pager li.pager-item a:active, .page-instructional #main .pager li.pager-next a:active, .page-instructional #main .pager li.pager-last a:active, .page-instructional #main .pager li.pager-first a:active, .page-instructional #main .pager li.pager-previous a:active,
.page-professional-learning #main .pager li.pager-item a:active,
.page-professional-learning #main .pager li.pager-next a:active,
.page-professional-learning #main .pager li.pager-last a:active,
.page-professional-learning #main .pager li.pager-first a:active,
.page-professional-learning #main .pager li.pager-previous a:active,
.page-playlist #main .pager li.pager-item a:active,
.page-playlist #main .pager li.pager-next a:active,
.page-playlist #main .pager li.pager-last a:active,
.page-playlist #main .pager li.pager-first a:active,
.page-playlist #main .pager li.pager-previous a:active,
.page-search-resources #main .pager li.pager-item a:active,
.page-search-resources #main .pager li.pager-next a:active,
.page-search-resources #main .pager li.pager-last a:active,
.page-search-resources #main .pager li.pager-first a:active,
.page-search-resources #main .pager li.pager-previous a:active {
  color: #000;
}
/* line 456, ../sass/sbac_search_api.scss */
.page-instructional #main .pager li.pager-current,
.page-professional-learning #main .pager li.pager-current,
.page-playlist #main .pager li.pager-current,
.page-search-resources #main .pager li.pager-current {
  background-color: #0e729d;
  color: #fff;
}

/* line 465, ../sass/sbac_search_api.scss */
.category-filter-list {
  display: none;
}
