/* line 4, ../sass/sbac_search_api.scss */
.page-instructional .block-facetapi, .page-professional-learning .block-facetapi, .page-playlist .block-facetapi {
  box-sizing: border-box;
  border: #ddd solid 1px;
  margin-bottom: 20px;
}
/* line 9, ../sass/sbac_search_api.scss */
.page-instructional .block-facetapi h2.block-title, .page-professional-learning .block-facetapi h2.block-title, .page-playlist .block-facetapi h2.block-title {
  margin: 0;
  padding: 5px 32px 5px 5px;
  background: #ddd url("../images/facet_open.png") 98% 50%/24px 24px no-repeat;
}
/* line 15, ../sass/sbac_search_api.scss */
.page-instructional .block-facetapi p, .page-professional-learning .block-facetapi p, .page-playlist .block-facetapi p {
  padding: 5px;
  margin: 0;
}
/* line 20, ../sass/sbac_search_api.scss */
.page-instructional .block-facetapi .item-list ul, .page-professional-learning .block-facetapi .item-list ul, .page-playlist .block-facetapi .item-list ul {
  padding: 0;
  margin: 0;
}
/* line 25, ../sass/sbac_search_api.scss */
.page-instructional .block-facetapi li .item-list ul, .page-professional-learning .block-facetapi li .item-list ul, .page-playlist .block-facetapi li .item-list ul {
  padding-left: 10px;
}
/* line 29, ../sass/sbac_search_api.scss */
.page-instructional .block-facetapi li, .page-professional-learning .block-facetapi li, .page-playlist .block-facetapi li {
  margin: 0;
  padding: 5px;
  list-style: none;
  background: transparent url("../images/facet_checked.png") 5px 10px/12px 12px no-repeat;
  font-size: 13px;
}
/* line 36, ../sass/sbac_search_api.scss */
.page-instructional .block-facetapi li .facetapi-collapsible-handle, .page-professional-learning .block-facetapi li .facetapi-collapsible-handle, .page-playlist .block-facetapi li .facetapi-collapsible-handle {
  display: inline-block;
  width: 12px;
  color: transparent;
}
/* line 42, ../sass/sbac_search_api.scss */
.page-instructional .block-facetapi li .facetapi-collapsible-handle.plus-sign, .page-professional-learning .block-facetapi li .facetapi-collapsible-handle.plus-sign, .page-playlist .block-facetapi li .facetapi-collapsible-handle.plus-sign {
  background: transparent url("../images/facet_open.png") center center/12px 12px no-repeat;
}
/* line 46, ../sass/sbac_search_api.scss */
.page-instructional .block-facetapi li .facetapi-collapsible-handle.minus-sign, .page-professional-learning .block-facetapi li .facetapi-collapsible-handle.minus-sign, .page-playlist .block-facetapi li .facetapi-collapsible-handle.minus-sign {
  background: transparent url("../images/facet_close.png") center center/12px 12px no-repeat;
}
/* line 50, ../sass/sbac_search_api.scss */
.page-instructional .block-facetapi li .element-invisible, .page-professional-learning .block-facetapi li .element-invisible, .page-playlist .block-facetapi li .element-invisible {
  display: none;
}
/* line 54, ../sass/sbac_search_api.scss */
.page-instructional .block-facetapi li .facetapi-facet .checkbox-spacer, .page-professional-learning .block-facetapi li .facetapi-facet .checkbox-spacer, .page-playlist .block-facetapi li .facetapi-facet .checkbox-spacer {
  display: inline-block;
  width: 17px;
}
/* line 60, ../sass/sbac_search_api.scss */
.page-instructional .block-facetapi li.active, .page-professional-learning .block-facetapi li.active, .page-playlist .block-facetapi li.active {
  background: transparent url("../images/facet_unchecked.png") 5px 10px/12px 12px no-repeat;
}
/* line 66, ../sass/sbac_search_api.scss */
.page-instructional .block-facetapi:nth-child(1) li, .page-instructional .block-facetapi:nth-child(2) li, .page-professional-learning .block-facetapi:nth-child(1) li, .page-professional-learning .block-facetapi:nth-child(2) li, .page-playlist .block-facetapi:nth-child(1) li, .page-playlist .block-facetapi:nth-child(2) li {
  background: transparent url("../images/facet_unchecked.png") 5px 10px/12px 12px no-repeat;
}
/* line 70, ../sass/sbac_search_api.scss */
.page-instructional .block-facetapi:nth-child(1) li.active, .page-instructional .block-facetapi:nth-child(2) li.active, .page-professional-learning .block-facetapi:nth-child(1) li.active, .page-professional-learning .block-facetapi:nth-child(2) li.active, .page-playlist .block-facetapi:nth-child(1) li.active, .page-playlist .block-facetapi:nth-child(2) li.active {
  background: transparent url("../images/facet_checked.png") 5px 10px/12px 12px no-repeat;
}
/* line 76, ../sass/sbac_search_api.scss */
.page-instructional .block-facetapi.expanded h2.block-title, .page-professional-learning .block-facetapi.expanded h2.block-title, .page-playlist .block-facetapi.expanded h2.block-title {
  background: #ddd url("../images/facet_close.png") 98% 50%/24px 24px no-repeat;
}
