/* -----------------------------------------
    Variables
   ----------------------------------------- */
/* -----------------------------------------
   Header
   ----------------------------------------- */
/* line 19, ../sass/sbac_learning_registry.scss */
body.page-external-resources {
  background-color: #CECECE;
  /*Search box on the navigation Bar*/
}
/* line 23, ../sass/sbac_learning_registry.scss */
body.page-external-resources .sbac-external-logo {
  background: url(../images/external-resources.png) no-repeat 0 0;
  height: 40px;
  width: 421px;
  display: block;
  float: left;
  margin: 12px 15px 10px;
}
/* line 31, ../sass/sbac_learning_registry.scss */
body.page-external-resources .sbac-external-logo h1 {
  float: left;
  text-indent: -999999em;
}
/* line 38, ../sass/sbac_learning_registry.scss */
body.page-external-resources .search {
  display: block;
  float: right;
  height: 34px;
  margin: 14px 0 12px;
  text-align: right;
  width: 500px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 48, ../sass/sbac_learning_registry.scss */
  body.page-external-resources .search {
    margin-top: 10px;
  }
}
/* line 51, ../sass/sbac_learning_registry.scss */
body.page-external-resources .top-bar.sub-top {
  border-bottom: 2px solid #b1b3b6;
}
/* line 55, ../sass/sbac_learning_registry.scss */
body.page-external-resources .filters {
  background-color: #e6e6e6;
  border-bottom: 1px solid #9da2a5;
}

/* line 62, ../sass/sbac_learning_registry.scss */
#sbac-learning-registry-external-resources-solr-search-form .form-item {
  margin: 0;
  position: relative;
}
/* line 67, ../sass/sbac_learning_registry.scss */
#sbac-learning-registry-external-resources-solr-search-form input#edit-solr-keywords {
  -moz-box-sizing: border-box;
  background: url("../images/icon-nav-search.png") no-repeat 14px 9px white;
  border: 1px solid #CECECE;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1) inset, 1px 1px 0 0 white;
  display: block;
  height: 34px;
  /*margin-top: -15px;*/
  padding: 0 15px 0 44px;
  position: relative;
  z-index: 2;
  right: 30px;
  top: 0;
  width: 360px;
}
/* line 84, ../sass/sbac_learning_registry.scss */
#sbac-learning-registry-external-resources-solr-search-form .sbac-clear-search {
  background: url("../images/icon-validation-fail.png") no-repeat scroll center center rgba(0, 0, 0, 0);
  cursor: pointer;
  display: block;
  float: right;
  height: 15px;
  position: absolute;
  right: 45px;
  top: 9px;
  width: 15px;
  z-index: 999;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 98, ../sass/sbac_learning_registry.scss */
  #sbac-learning-registry-external-resources-solr-search-form .sbac-clear-search {
    top: 10px;
  }
}
/* line 101, ../sass/sbac_learning_registry.scss */
#sbac-learning-registry-external-resources-solr-search-form button#edit-submit {
  display: none;
}

/* -----------------------------------------
   Responsive Grid
   ----------------------------------------- */
/* line 111, ../sass/sbac_learning_registry.scss */
.grid-view .grid-library {
  margin: 0;
  padding: 0;
}
/* line 115, ../sass/sbac_learning_registry.scss */
.grid-view .grid-library .resource-card {
  max-width: 290px;
}
/* line 119, ../sass/sbac_learning_registry.scss */
.grid-view .grid-library li {
  list-style-type: none;
  float: left;
  margin: 0 10px 10px;
}

@media all and (min-width: 1281px) {
  /* line 129, ../sass/sbac_learning_registry.scss */
  .main-row {
    max-width: 1280px !important;
  }
  /* line 132, ../sass/sbac_learning_registry.scss */
  .main-row .results-view {
    width: 960px;
    margin: 0 auto;
    padding: 0 15px;
  }

  /* line 140, ../sass/sbac_learning_registry.scss */
  .ex-resource-card:nth-child(4n+1) {
    clear: left;
  }
}
@media all and (max-width: 1280px) and (min-width: 961px) {
  /* line 148, ../sass/sbac_learning_registry.scss */
  .main-row {
    max-width: 960px;
  }

  /* line 153, ../sass/sbac_learning_registry.scss */
  .ex-resource-card:nth-child(4n+1) {
    clear: left;
  }
}
@media all and (max-width: 960px) {
  /* line 161, ../sass/sbac_learning_registry.scss */
  .main-row {
    max-width: 696px;
  }
  /* line 164, ../sass/sbac_learning_registry.scss */
  .main-row .results-view {
    width: 696px;
    margin: 0 auto;
  }

  /* line 171, ../sass/sbac_learning_registry.scss */
  .ex-resource-card:nth-child(3n+1) {
    clear: left;
  }
}
/* -----------------------------------------
    External Resources List
   ----------------------------------------- */
/* line 183, ../sass/sbac_learning_registry.scss */
.page-external-resources .main-container {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  padding-top: 10px;
}
/* line 190, ../sass/sbac_learning_registry.scss */
.page-external-resources h1#page-title {
  display: none;
}
/* line 195, ../sass/sbac_learning_registry.scss */
.page-external-resources .keyword-search-message,
.page-external-resources .no-result-message {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #EEEEEE;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  padding: 20px 30px 18px;
  margin: 0 15px 250px 12px;
}
/* line 203, ../sass/sbac_learning_registry.scss */
.page-external-resources .keyword-search-message p,
.page-external-resources .no-result-message p {
  font-size: 16px;
  color: #464b54;
  margin-top: 5px;
  margin-bottom: 10px;
}
/* line 210, ../sass/sbac_learning_registry.scss */
.page-external-resources .keyword-search-message h2,
.page-external-resources .no-result-message h2 {
  color: #464B54;
  font-size: 21px;
  font-weight: normal;
}
/* line 218, ../sass/sbac_learning_registry.scss */
.page-external-resources .no-result-message p {
  color: #62676e;
}
/* line 221, ../sass/sbac_learning_registry.scss */
.page-external-resources .feature-message {
  background: none repeat scroll 0 0 #FDF2B1;
  border: 1px solid #EEEEEE;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  padding: 12px 30px;
  margin: 0 15px 25px 12px;
}
/* line 229, ../sass/sbac_learning_registry.scss */
.page-external-resources .feature-message p {
  color: #04384e;
  font-size: 14px;
  line-height: 25px;
  margin: 0;
}
/* line 236, ../sass/sbac_learning_registry.scss */
.page-external-resources .feature-message p:before {
  background-image: url("../images/icon-exclamation.png");
  background-position: center center;
  content: " ";
  display: inline-block;
  height: 25px;
  width: 28px;
  margin-right: 12px;
  margin-top: -2px;
  vertical-align: middle;
}
/* line 249, ../sass/sbac_learning_registry.scss */
.page-external-resources .ex-resource-card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  width: 212px;
  height: 220px;
  background: none repeat scroll 0 0 #FFFFFF;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  padding: 0;
  position: relative;
  float: left;
  margin: 0 10px;
  margin-bottom: 20px;
}
/* line 261, ../sass/sbac_learning_registry.scss */
.page-external-resources .ex-resource-card .resource-title {
  background-color: rgba(206, 206, 206, 0.5);
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  padding: 12px 15px;
  font-size: 14px;
  color: #04384E;
  height: 61px;
  border-bottom: solid #04384E 1px;
  border-color: rgba(4, 56, 78, 0.4);
}
/* line 271, ../sass/sbac_learning_registry.scss */
.page-external-resources .ex-resource-card .resource-title a {
  color: #04384E;
  line-height: 1.4;
}
/* line 277, ../sass/sbac_learning_registry.scss */
.page-external-resources .ex-resource-card .resource-content {
  padding: 12px 15px;
  font-size: 13px;
  line-height: 1.4;
}
/* line 284, ../sass/sbac_learning_registry.scss */
.page-external-resources .load-more {
  clear: both;
  display: block;
  width: 292px;
  text-align: center;
  background-color: #006298;
  margin: 15px auto 0;
  border: 1px solid #006298;
}
/* line 293, ../sass/sbac_learning_registry.scss */
.page-external-resources .load-more:hover, .page-external-resources .load-more:focus {
  background-image: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.075) 30%, rgba(0, 0, 0, 0.1) 100%);
  background-color: #006298 !important;
  border: 1px solid #006298 !important;
}

/*back button*/
/* line 304, ../sass/sbac_learning_registry.scss */
.page-external-resources .sbac-back-button {
  width: 320px;
  height: 25px;
  line-height: 25px;
  display: block;
  margin: 20px auto;
  font-size: 15px;
  position: relative;
}
/* line 313, ../sass/sbac_learning_registry.scss */
.page-external-resources .sbac-back-button a {
  color: #0583AC;
}
/* line 318, ../sass/sbac_learning_registry.scss */
.page-external-resources .sbac-back-button:before {
  content: "\e620";
  display: inline;
  font-family: 'sbac';
  font-size: 20px;
  font-weight: normal;
  margin-right: 7px;
  position: relative;
  color: #0583AC;
  top: -2px;
}

/*Modal of Search External Resources*/
/* line 332, ../sass/sbac_learning_registry.scss */
#external-resource-help-box {
  padding: 0 15px;
}
/* line 335, ../sass/sbac_learning_registry.scss */
#external-resource-help-box h2 {
  color: #464B54;
  font-size: 18px;
}
/* line 340, ../sass/sbac_learning_registry.scss */
#external-resource-help-box p {
  color: #62676e;
  font-size: 15px;
}
/* line 345, ../sass/sbac_learning_registry.scss */
#external-resource-help-box p:first-child {
  margin-bottom: 5px;
}
/* line 349, ../sass/sbac_learning_registry.scss */
#external-resource-help-box a {
  margin-left: 30px;
  margin-bottom: 0;
}
/* line 354, ../sass/sbac_learning_registry.scss */
#external-resource-help-box a.next:after {
  background-image: url("../images/icon-buttonNext.png");
  background-position: center center;
  content: " ";
  display: inline-block;
  height: 18px;
  margin-left: 12px;
  margin-top: -2px;
  vertical-align: middle;
  width: 17px;
}
/* line 366, ../sass/sbac_learning_registry.scss */
#external-resource-help-box a.cancel:after {
  background-image: url("../images/icon-buttonCancel.png");
  background-position: center center;
  content: " ";
  display: inline-block;
  height: 18px;
  margin-left: 12px;
  margin-top: -2px;
  vertical-align: middle;
  width: 17px;
}
/* line 378, ../sass/sbac_learning_registry.scss */
#external-resource-help-box a.cancel {
  background-color: #6E7379;
  border: 1px solid #4D5457;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.5) inset;
}
/* line 383, ../sass/sbac_learning_registry.scss */
#external-resource-help-box a.cancel:focus, #external-resource-help-box a.cancel:hover {
  background-image: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.075) 30%, rgba(0, 0, 0, 0.1) 100%);
  background-color: #6E7379;
}
