@import "compass/css3/";
#sbac-field-file-container {
	position: relative;
  overflow:auto;
  
	.secondary-items-info {
		position: absolute;
		top: 101px;
		left: 1px;
		font-size: 11px;
		border-bottom: 1px solid #ccc;
		width: 100%;
		padding: 10px 0 10px 10px;
	}
}

#sbac-media-list {
	width: 100%;
	
	table {margin-bottom: 0;}

	thead {
		th {
		  background-color: #fff;
		  padding:5px 5px;
		}

		td {
			font-weight: normal;
			font-size: 11px;
		}

		th:nth-child(2) {
			text-align: right;
		}
	}

	tbody {
		.ui-state-disabled {
			font-size: 12px;
    }

    .ui-icon {
    	width: 5%;
    	font-family: "GeneralFoundicons";
    	font-size: 1em;
			text-indent: 0;
			display: table-cell;

    	&.document:before {
    		content: "\f009";
    	}

    	&.video:before {
    		content: "\f01f";
    	}

    	 &.embed:before {
    		content: "\f01f";
    	}

    	&.image:before {
    		content: "\f020";
    	}
    }

    tr {
    	border-bottom: 1px solid #ccc;
    	cursor: move;

    	td {
    		/*padding-top: 1em;
    		    		padding-bottom: 1em;*/

	    	&.delete-media {
	    		text-align: right;
					display: table-cell;
					width: 5%;
					margin: 10px 20px 0 0;
					vertical-align: middle;
 
	    		.foundicon-trash {
	    			color: #aaa;
	    			font-size: 1em;
	    			margin-right: -20px;
	    		}

	    		.ctools-modal-sbac-media-modal-delete-media {
	    			opacity: 0;
	    			width: 20px;
	    			height: 20px;
	    		}
	
					a {
						color: transparent;
					}
	    	}
				&:nth-child(2) {
					width: auto;
					line-height: 1.5;
					word-break: break-all;
					
					input[type="checkbox"] {
						margin-left: 0;
					}
				}
				&:nth-child(3) {
					white-space:nowrap;
					width: 20%;
				}
    	}
    }

    tr:nth-child(2) td {
    	padding-top: 40px;
    }

    tr:nth-child(2).ui-sortable-helper td {
    	padding-top: 20px;
    	height: auto;
    }
  }
}

.media-table {
	position:relative;
}

#sbac-field-file-container {

  .form-item-field-embed-video {
		width: 55%;
		margin-right: 2%;
		float: left;

		.description {
			display: block;
		}
	}

	.form-file {
		width: 50%;
		float: left;
		clear: both;
	}

	.form-submit {
		float: right;
	}

	 .video-embed-button {
		margin-top: 3em;
	}
}

/* overlay cancel button */
#edit-cancel-media-overlay {
	margin-right: 10px;
}

.dup-btns{
	text-align:right;
}

.page-node-edit.node-type-resource #modalContent .ctools-modal-content.small, 
.node-type-resource.section-content #modalContent .ctools-modal-content.small {
  height: auto !important;
  width: 620px !important;
	padding: 5px 0 0;
}

.page-node-edit.node-type-resource #modalContent .ctools-modal-content .modal-content, 
.node-type-resource.section-content #modalContent .ctools-modal-content .modal-content{
  height: auto !important;
}