@import "compass/css3/opacity";
@import "compass/css3/transition";
@import "compass/css3/border-radius";

#legal-login div{
	p{
		display: none;
	}

	div {
		p{
			display: block;
		}
	}
}

.page-title {
	margin-top: 0;
}

#download-button .button{
	margin-top: 20px;
}

#cancel-button .button {
	margin-right: 10px;
}

.textify_arrows {
	a.arrow {
		border:none;
		background: url("../../../../libraries/flexslider/images/bg_direction_nav.png") left center;
		width: 28px;
		height: 28px;
		@include opacity(0.8);
		@include transition-property(opacity);
  		@include transition-duration(0.15s);
  		@include transition-timing-function(ease-in-out);

		&.right {
			border: none;
			background-position: right center;
		}

		&:hover {
			@include opacity(1);
		}
	}
}

.textify {
	.textify_nav ul li  {
		background:rgba(0,0,0,0.9);
		background-image: none;
		width: 11px;
		height: 11px;
		@include border-radius(15px);

		&.selected, &:hover {
			background: rgba(0,0,0,0.5);
		}
	}
}

.print-pdf {
	display:none;
}

#page-title {
	display:none;
}
