/* line 2, ../sass/flag.scss */
.flag-review-end-use-wrap form {
  margin-bottom: 30px;
}
/* line 9, ../sass/flag.scss */
.flag-review-end-use-wrap .field-name-field-issue-type .form-item label p.new-line {
  display: block;
  font-size: 1em;
  padding-left: 25px;
}
/* line 17, ../sass/flag.scss */
.flag-review-end-use-wrap .field-name-field-issue-type .description {
  border-bottom: 1px #ccc solid;
  margin-bottom: 30px;
  padding: 10px 0 15px 25px;
}
/* line 24, ../sass/flag.scss */
.flag-review-end-use-wrap .field-name-field-details {
  position: relative;
}
/* line 27, ../sass/flag.scss */
.flag-review-end-use-wrap .field-name-field-details textarea {
  max-width: 100%;
  width: 100%;
}
/* line 32, ../sass/flag.scss */
.flag-review-end-use-wrap .field-name-field-details .counter {
  font-size: 0.9em;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 40, ../sass/flag.scss */
.flag-review-end-use-wrap .actions {
  text-align: right;
}
/* line 43, ../sass/flag.scss */
.flag-review-end-use-wrap .actions .button {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 1em;
}
/* line 49, ../sass/flag.scss */
.flag-review-end-use-wrap .actions .button.hide {
  display: none;
}

/* modals */
/* line 57, ../sass/flag.scss */
.dialog_flag_review_modal_form_submit #dialog .intro {
  border-bottom: 1px solid silver;
  padding-bottom: 1em;
  border-bottom: 1em;
  font-size: 0.8em;
  line-height: normal;
  text-align: left;
}

/*Flag tab on the resource profile page*/
/* line 68, ../sass/flag.scss */
#sbac-flag-resource-form {
  margin: 0 30px;
}
/* line 71, ../sass/flag.scss */
#sbac-flag-resource-form h2 {
  border-bottom: 1px solid #62676E;
  color: #04384E;
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  text-transform: capitalize;
}
/* line 81, ../sass/flag.scss */
#sbac-flag-resource-form .form-type-radios {
  padding-top: 8px;
}
/* line 84, ../sass/flag.scss */
#sbac-flag-resource-form .form-type-radios > label {
  font-size: 16px;
}
/* line 89, ../sass/flag.scss */
#sbac-flag-resource-form #sbac-flag-options {
  margin-top: 20px;
}
/* line 92, ../sass/flag.scss */
#sbac-flag-resource-form #sbac-flag-options .form-type-radio {
  clear: both;
}
/* line 95, ../sass/flag.scss */
#sbac-flag-resource-form #sbac-flag-options .form-type-radio .form-type-textarea {
  margin: 10px 0	10px 30px;
}
/* line 98, ../sass/flag.scss */
#sbac-flag-resource-form #sbac-flag-options .form-type-radio .form-type-textarea label {
  margin-bottom: 10px;
}
/* line 102, ../sass/flag.scss */
#sbac-flag-resource-form #sbac-flag-options .form-type-radio .form-type-textarea .form-textarea-wrapper {
  position: relative;
}
/* line 105, ../sass/flag.scss */
#sbac-flag-resource-form #sbac-flag-options .form-type-radio .form-type-textarea .form-textarea-wrapper .form-textarea {
  width: 100%;
  border-radius: 5px;
  background-color: #F2F2F2;
}
/* line 111, ../sass/flag.scss */
#sbac-flag-resource-form #sbac-flag-options .form-type-radio .form-type-textarea .form-textarea-wrapper .counter {
  position: absolute;
  right: 24%;
  top: -20px;
  font-size: 13px;
}
/* line 121, ../sass/flag.scss */
#sbac-flag-resource-form #sbac-flag-options input {
  float: left;
  vertical-align: top;
}
/* line 126, ../sass/flag.scss */
#sbac-flag-resource-form #sbac-flag-options label.option {
  margin-left: 30px;
  margin-top: 10px;
  display: block;
  font-size: 16px;
  line-height: 1.6;
}
/* line 135, ../sass/flag.scss */
#sbac-flag-resource-form .form-item-footer {
  font-size: 13px;
  line-height: 1.4;
  border-bottom: 1px solid #CECECE;
  margin: 30px  0  20px;
  padding-bottom: 10px;
}
/* line 142, ../sass/flag.scss */
#sbac-flag-resource-form .form-item-footer .form-item {
  margin-bottom: 0;
}
/* line 147, ../sass/flag.scss */
#sbac-flag-resource-form .flag-resource-submit {
  float: right;
}

/* line 153, ../sass/flag.scss */
.section-flag .reason {
  padding: 30px;
  color: #000000;
  display: block;
  font-size: 18px;
  line-height: 1.6;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  margin-top: 40px;
}
/* line 165, ../sass/flag.scss */
.section-flag .reviewing-message {
  padding: 5px 30px;
  max-width: 800px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

/* line 175, ../sass/flag.scss */
#sbac-flag-resource-modal-form .form-submit {
  float: right;
  margin-left: 30px;
}
/* line 179, ../sass/flag.scss */
#sbac-flag-resource-modal-form .form-submit button.gray.cancel {
  background-color: #6E7379;
  border: 1px solid #4D5457;
  padding-left: 40px;
  position: relative;
  margin: 0;
}
/* line 186, ../sass/flag.scss */
#sbac-flag-resource-modal-form .form-submit button.gray.cancel:hover {
  background-color: #6E7379;
  border: 1px solid #4D5457;
  background-image: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.075) 30%, rgba(0, 0, 0, 0.1) 100%);
}
/* line 192, ../sass/flag.scss */
#sbac-flag-resource-modal-form .form-submit button.gray.cancel:before, #sbac-flag-resource-modal-form .form-submit .button.gray.cancel:before {
  content: url(../images/buttonCancel.png);
  position: absolute;
  left: 15px;
  top: 4px;
}

/* line 201, ../sass/flag.scss */
.node-type-resource #modal-content {
  overflow-y: hidden !important;
}
