
@import "compass/css3/";

/* -----------------------------------------
   Alignment Tags Browser
   ----------------------------------------- */

#modal-content {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.alignment-container-no-scroll {	
	overflow-y: hidden !important;
}

#alignment-page {
  .form-item {
    margin: 5px 0;
  }

  .add-aligmnet {
    table{
      width:100%;
    }
  }


  .alignment-error {
    background-color: #E2C4CD;
    border: 1px solid #8A1538;
    color: #8A1538;
    font-weight: normal;
    margin: 1em 0;
    border-radius: 12px;
    padding: 30px;

    ul {
      list-style-type: none;
      margin: 0 !important;
    }
  }

  .alignment-breadcrumb {

    ul {
      margin: 0 20px 20px;
      padding: 0;
    }

    li {
      margin: 0;
      padding: 0;
    }

    li:last-child {
      .arrow{
        display: none;
      }

      .sbac-custom-term-remove {
        @include border-radius(0 10px 10px 0);
      }
    }

    li:first-child .sbac-custom-term-remove{
      .b-label {
        padding-left: 5px;
      }
    }
    .sbac-custom-term-remove {
      display: inline-block;
      cursor: pointer;
      margin-right: -20px;
      background-color: #DFE5CC;
      color: #3C7646;
      border: none;
      height: 28px;
      line-height: normal;
      @include text-shadow(0 1px 0 rgba(255,255,255, .5));
      @include box-shadow(none);
      font-size: emCalc(12px);
      @include transition(all 500ms ease);

      &:hover {
        background-color:#0085AD;
        color: white;
        @include text-shadow(0px -1px 0px rgba(0,0,0,1));

        .arrow span {
          background-color:#0085AD;
        }
      }

      .b-label {
        padding: 5px 7px 7px 7px;
        -moz-user-select: none;
        -webkit-user-select: none;
        display: inline-block;
        padding-left: 25px;
      }
      .arrow {
        width: 20px;
        height: 30px;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        margin-left: -5px;

        span {
          @include border-radius(5px);
          @include transition(all 500ms ease);
          width: 26px;
          height: 26px;
          display: inline-block;
          -moz-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          margin-left: -12px;
          margin-top: 1px;
          border: 2px solid #fff;
          background-color: #DFE5CC;
        }
      }
    }
  }

  .standards-browser {
    background: #E6F4F8;
    padding: 0 40px 30px 40px;
    margin: 0px 0 20px;
    border: 1px solid #BDE3F8;
    border-width:1px 0;
		height: 400px;
		overflow-y: auto;

    h2 {
      margin:20px 0;
    }

    .button {
      width: 100%;
      padding: 10px 40px 10px 20px;
      background: #FFF url("../images/caret-blue-right.png") no-repeat 95% center;
      border:1px solid #AED9E5;
      position: relative;
      float: left;
      text-align: left;
      font-size: emCalc(16px);
      @include box-shadow(#AED9E5 0 0 3px);
      @include border-radius(10px);
      @include transition(all 500ms ease);
      @include text-shadow(none);
      color: #0785AD;
      font-weight: bold;
			height: auto;
			line-height: 1.3;

      &:hover {
        background: #0085AD url("../images/caret-right.png") no-repeat 95% center;
        color: #FFF !important;
        .tooltip-b {
          opacity: 1;
          display: block;
        }
      }
    }


  .tooltip-b{
    opacity: 0;
    display: none;
    transition-property: opacity;
    transition-duration: 500ms;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 500ms;
    width: 272px;
    position: absolute;
    top: 62px;
    left: 20px;
    background: #DFE5CC;
    padding: 20px;
    border-radius: 6px;
    color: #3C7646;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    font-size: 12px;
    z-index: 999;
    border: 1px solid #3C7646;

    p {
      font-size: inherit;
      margin: 0;
    }

    &:after{
      content: ' ';
      position: absolute;
      top: -28px;
      left: 16px;
      border-color: transparent transparent #DFE5CC transparent;
      border-style: solid;
      border-width: 14px;
      width: 0;
      height: 0;
      z-index: 99;
    }
    
    &:before{
      content: ' ';
      position: absolute;
      top: -30px;
      left: 15px;
      border-color: transparent transparent #3C7646 transparent;
      border-style: solid;
      border-width: 15px;
      width: 0;
      height: 0;
      z-index: 97;
    }
  }

  .arrow_box {
    position: absolute;
    background: #DFE5CC;
    border: 1px solid #3C7646;
  }

    .standard {
      padding: 10px;
      border: 1px solid silver;
      @include border-radius(5px);
      background-color: white;

      p {
        font-size: 16px;
        color: #8d9297;
      }

      .checkbox-more-less {
        color: #8d9297;
      }
    }
    .more-info {
      display: block;
      cursor: pointer;
      position: relative;
      width: 100px;
      height: 15px;

      a {
        display: block;
      }

      .more {
        display: none;
        transition-property: opacity;
        transition-duration: 500ms;
        -webkit-transition-property: opacity;
        -webkit-transition-duration: 500ms;
        width: 272px;
        position: absolute;
        top: 25px;
        left: 20px;
        background: #DFE5CC;
        padding: 20px;
        border-radius: 6px;
        color: #3C7646;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
        font-size: 12px;
        z-index: 999;
        border: 1px solid #3C7646;

        p {
          font-size: inherit;
          margin: 0;
        }

        &:after{
          content: ' ';
          position: absolute;
          top: -28px;
          left: 16px;
          border-color: transparent transparent #DFE5CC transparent;
          border-style: solid;
          border-width: 14px;
          width: 0;
          height: 0;
          z-index: 99;
        }
        &:before{
          content: ' ';
          position: absolute;
          top: -30px;
          left: 15px;
          border-color: transparent transparent #3C7646 transparent;
          border-style: solid;
          border-width: 15px;
          width: 0;
          height: 0;
          z-index: 97;
        }
      }

      &:hover{
        .more {
          display:block;
        }
      }
    }
  }

  .form-type-checkbox label {
    color: #0085AD;
    font-size: 16px;
    font-weight: bold;
    cursor: default;
  }
}

#edit-field-education-alignment{
  display: none;
}

.form-item-alignment-type {
  select {
    width: 200px;
    display: inline-block;
  }

  label {
    width: 120px !important;
    float: left !important;
    display: inline-block;
  }
}

.alignment-buttons {
  text-align: right;
  margin-right: 20px;
    
  a.button {
    display: inline-block;
    margin-left: 10px;
  }

  #edit-submit {
    float: right;
    margin-left: 10px;
  }
}

#ccss-submit {
  margin-left: 10px;
  margin-right: 20px;
  float: right;
}

