.flag-review-end-use-wrap {
  form {
    margin-bottom: 30px;
  }

  .field-name-field-issue-type {
    .form-item {
      label {
        p.new-line {
          display: block;
          font-size: 1em;
          padding-left: 25px;
        }
      }
    }

    .description {
      border-bottom: 1px #ccc solid;
      margin-bottom: 30px;
      padding: 10px 0 15px 25px;
    }
  }

  .field-name-field-details {
    position: relative;

    textarea {
      max-width: 100%;
      width: 100%;
    }

    .counter {
      font-size: 0.9em;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .actions {
    text-align: right; 

    .button.secondary {
      display: inline-block;
      margin-bottom: 0;
      margin-left: 1em;
    }
  }
}