.flag-review-end-use-wrap {
  form {
    margin-bottom: 30px;
  }

  .field-name-field-issue-type {
    .form-item {
      label {
        p.new-line {
          display: block;
          font-size: 1em;
          padding-left: 25px;
        }
      }
    }

    .description {
      border-bottom: 1px #ccc solid;
      margin-bottom: 30px;
      padding: 10px 0 15px 25px;
    }
  }

  .field-name-field-details {
    position: relative;

    textarea {
      max-width: 100%;
      width: 100%;
    }

    .counter {
      font-size: 0.9em;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .actions {
    text-align: right; 

    .button {
      display: inline-block;
      margin-bottom: 0;
      margin-left: 1em;
    }

    .button.hide {
      display: none; 
    }
  }
}

/* modals */
.dialog_flag_review_modal_form_submit #dialog {
  .intro {
    border-bottom: 1px solid silver;
    padding-bottom: 1em;
    border-bottom: 1em;
    font-size: 0.8em;
    line-height: normal;
    text-align: left; 
  }
}

/*Flag tab on the resource profile page*/
#sbac-flag-resource-form {
	margin: 0 30px;
	
	h2 {
		border-bottom: 1px solid #62676E;
		color: #04384E;
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    text-transform: capitalize;
	}
	
	.form-type-radios {
		padding-top: 8px;
		
		> label {
			font-size: 16px;
		}
	}	
	
	#sbac-flag-options {
		margin-top: 20px;
		
		.form-type-radio {
			clear: both;
			
			.form-type-textarea {
				margin: 10px 0	10px 30px;
				
				label {
					margin-bottom: 10px;
				}
				
				.form-textarea-wrapper {
					position: relative;
					
					.form-textarea {
						width: 100%;
						border-radius: 5px;
						background-color: #F2F2F2;
					}
						
					.counter {
						position: absolute;
						right: 24%;
						top: -20px;
						font-size: 13px;
					}
				}
			}
		}
		
		input {
			float: left;
			vertical-align: top;
		}
		
		label.option {
			margin-left: 30px;
			margin-top: 10px;
			display: block;
			font-size: 16px;
			line-height: 1.6;
		}
	}	
	
	.form-item-footer {
		font-size: 13px;
		line-height: 1.4;
		border-bottom: 1px solid #CECECE;
		margin: 30px  0  20px;
		padding-bottom: 10px;
		
		.form-item {
			margin-bottom: 0;
		}
	}
	
	.flag-resource-submit  {
		float: right;
	}
}

.section-flag {
	.reason {
		padding: 30px;
		color: #000000;
		display: block;
		font-size: 18px;
		line-height: 1.6;
		font-weight: bold;
		text-transform: capitalize;
		text-align: center;
		margin-top: 40px;
	}
	
	.reviewing-message {
		padding: 5px 30px;
		max-width: 800px;
		margin: 0 auto;
		font-size: 16px;
		line-height: 1.6;
		text-align: center;
	}		
}

#sbac-flag-resource-modal-form .form-submit {
	float: right;
	margin-left: 30px;
	
	button.gray.cancel {
		background-color: #6E7379;
	  border: 1px solid #4D5457;
		padding-left: 40px;
		position: relative;
		margin: 0;

		&:hover {
			background-color: #6E7379;
		  border: 1px solid #4D5457;
			background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.075) 30%, rgba(0, 0, 0, 0.1) 100%);
		}
	}
	button.gray.cancel:before, .button.gray.cancel:before {
		content: url(../images/buttonCancel.png);
		position: absolute;
		left: 15px;
		top: 4px;
	}
	
}

.node-type-resource  #modal-content {
	overflow-y: hidden !important;
}
