@import "compass/css3/";

/**
 * @file
 * Styling for the lexicon-overview template.
 */


@mixin glossary-button {
  a {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    @include text-shadow(0px 1px 0px rgba(255,255,255,.5));
    color: rgba(0, 98, 152, 1);
    @include border-radius(6px);
    background: rgba(191, 216, 229, 1);
    border: 1px rgba(0, 98, 152, .5) solid;
    padding: 10px 20px;
    text-align: center;

    &:hover {
      @include transition(all 500ms ease);
      background: rgba(0, 133, 173, 1);
      @include text-shadow(0px 1px 0px rgba(0,0,0,.5));
      color: white;
    }
  }
}

/* -----------------------------------------
   Glossary page
   ----------------------------------------- */

.page-glossary {
  #page-title {
  display:none;
  }
}

.lexicon-admin-links {
  display: none;
  ul {
    li {
      display: inline-block;
      list-style: none;
      border-left: 1px #5a5a5a solid;
      a {
        padding: 0px 15px;
        color: #5a5a5a;
        font-size: 15px;
        &:hover {
          color: #3b953f;
        }
      }
    }
  }
}

.lexicon-overview {
  .edit {
    float: right;
    @include glossary-button;
  }

  .group-header {
    display: none;
  }

  > .group-left {
    clear: both;
    float: left; /* LTR */
    margin-top: 30px;
    width: 5%;
  }
  .group-left {
    ul {
      background: none;
      li {
        margin: -1px 0 0px;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        border: 1px #e0e0e0 solid;
        border-right: none;
        color: #ddd;

        a {
          display: block;
          font-size: 20px;
          color: #717880;
          height: 35px;
          width: 45px;
          border-right: 1px #e0e0e0 solid;
          background: white;
          
          &:hover {
            background:#bfd8e5;            
          }
          &.active {
            background: #0085ad;
            border-right: none;
            position: relative;
            z-index: 1;
            color: white;
          }
        }
      }
    }
  }

  > .group-right {
    float: right; /* LTR */
    width: 95%;
    background: white;
    padding: 20px 30px;
    border: 1px #e0e0e0 solid;

    h2 {
      display: inline-block;
      float: left;
      font-size: 24px;
    }
    .contents {
      font-size: 20px;
      min-height: 950px;
      height: auto;
      margin-top: 60px;
      h2 {
        font-size: 24px;
      }
      dl {
        dt {
          font-size: 18px;
          color: #42a747;
        }
      }
    }

    .group-right-footer {
      margin-top: 30px;
      text-align: center;
      width: 100%;
      .top {
        @include glossary-button;
      }
      .prev {
        @include glossary-button;
        float: left;
      }
      .next {
        @include glossary-button;
        float: right;
      }
    }
  }

  > .group-footer {
    clear: both;
    padding-top: 30px;
    div {
      display: inline-block;
    }
  }
}

.lexicon-links {
  list-style: none;
}
