# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
.gitignore
.htaccess
sites/*/files
sites/*/private
sites/*/*private*
*.sass-cache*
*.sass-cache*
*.sass-cache/*
*.sass-cache/*
*.sass-cache
*.sass-cache
*.sass-cache/
*.sass-cache/
