# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*.local
# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

#ignore sass-cache
sites/all/modules/custom/sbac_user/.sass-cache/
sites/all/modules/custom/sbac_help/.sass-cache/
sites/all/themes/SBAC/.sass-cache/
.sass-cache

#ignore Mac System files
.DS_Store

#ignore php storm system files
.idea/

#ignore eclipse system files
.project
.settings
.settings/com.aptana.editor.php.prefs

#ignore komodo system files
*.komodoproject

# ignore dev module
sites/all/modules/contrib/masquerade
sites/all/modules/contrib/maillog

#ignore sample data set
#sites/all/modules/custom/sbac_content_types/sbac_alignment/data/ela.*.json
#sites/all/modules/custom/sbac_content_types/sbac_alignment/data/ma.*.json
