/* -----------------------------------------
    Variables
   ----------------------------------------- */
/* -----------------------------------------
   Page Elements
   ----------------------------------------- */
/* line 19, ../sass/sbac_forum.scss */
.page-forums #page-title {
  display: none;
}

/* line 23, ../sass/sbac_forum.scss */
.sbac-forum-main-container {
  float: left;
  width: 100%;
}

/* line 31, ../sass/sbac_forum.scss */
.page-forums-forum-add .main-container,
.page-taxonomy-term-edit .main-container,
.page-forums-term .main-container {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(4, 56, 78, 0.75);
  display: block;
  margin: 50px auto;
  min-height: 60px;
  padding: 40px 50px;
  position: relative;
  width: 960px;
}
/* line 42, ../sass/sbac_forum.scss */
.page-forums-forum-add .main-container #main,
.page-taxonomy-term-edit .main-container #main,
.page-forums-term .main-container #main {
  padding: 0;
}

/* line 48, ../sass/sbac_forum.scss */
.sbac-qt-hide {
  display: none !important;
}

/* -----------------------------------------
   Forms
   ----------------------------------------- */
/* line 56, ../sass/sbac_forum.scss */
.category-filter-list {
  display: none;
}

/* line 62, ../sass/sbac_forum.scss */
.filters {
  background: #c9eaf8;
  color: #0684ad;
  padding: 45px 0 0;
  border-top: 2px solid #0684ad;
  /*border-bottom: 1px solid #94d8f3;*/
  border-bottom: 1px solid #056382;
  position: relative;
}
/* line 71, ../sass/sbac_forum.scss */
.filters.active {
  overflow: visible !important;
}
/* line 77, ../sass/sbac_forum.scss */
.filters .column:first-child .categories-filter-choices {
  left: 20px;
}
/* line 83, ../sass/sbac_forum.scss */
.filters .column:last-child .categories-filter-choices {
  left: auto;
  right: 20px;
}
/* line 90, ../sass/sbac_forum.scss */
.filters ul {
  font-size: 1em;
  list-style-type: none;
  margin: 0;
}
/* line 95, ../sass/sbac_forum.scss */
.filters ul h3 {
  color: white;
  font-size: emCalc(16px);
  margin-bottom: 10px;
  position: relative;
}
/* line 103, ../sass/sbac_forum.scss */
.filters li {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: white url("../images/icon-drop.png") no-repeat 97% center;
  padding: 5px 10px;
  margin: 0 0 10px;
  font-size: 12px;
  cursor: pointer;
}
/* line 111, ../sass/sbac_forum.scss */
.filters li.active {
  background: #0085ad;
}
/* line 115, ../sass/sbac_forum.scss */
.filters li a {
  color: white;
}
/* line 120, ../sass/sbac_forum.scss */
.filters li .sbac-forum-filter-name,
.filters li .sbac-forum-filter-custom-link {
  margin: 0;
  font-weight: bold;
  font-size: 1.1em;
  position: relative;
}
/* line 126, ../sass/sbac_forum.scss */
.filters li .sbac-forum-filter-name li,
.filters li .sbac-forum-filter-custom-link li {
  font-weight: normal;
}
/* line 130, ../sass/sbac_forum.scss */
.filters li .sbac-forum-filter-name a,
.filters li .sbac-forum-filter-custom-link a {
  color: #0684AD;
}
/* line 135, ../sass/sbac_forum.scss */
.filters li span {
  margin-right: 10px;
}
/* line 140, ../sass/sbac_forum.scss */
.filters form {
  margin: 0;
}
/* line 144, ../sass/sbac_forum.scss */
.filters .category-buttons {
  padding-right: 5px;
  padding-bottom: 10px;
  text-align: right;
}
/* line 149, ../sass/sbac_forum.scss */
.filters .category-buttons button {
  margin: 10px;
}

/* line 157, ../sass/sbac_forum.scss */
.categories-filter-choices {
  position: absolute;
  top: 100px;
  left: 20px;
  margin: -100px 0 0 0;
  z-index: 9999;
}
/* line 164, ../sass/sbac_forum.scss */
.categories-filter-choices .category-filter-list {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  width: 500px;
  background: #edf3e0;
  border: 1px solid #fff;
}
/* line 171, ../sass/sbac_forum.scss */
.categories-filter-choices .category-filter-list h2 {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  background-color: white;
  padding: 5px;
  margin: 0;
  cursor: pointer;
  font-weight: normal;
}
/* line 181, ../sass/sbac_forum.scss */
.categories-filter-choices ul {
  list-style-type: none;
  margin: 0;
  max-height: 300px;
  overflow-y: scroll;
}
/* line 187, ../sass/sbac_forum.scss */
.categories-filter-choices ul li {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  width: 46%;
  float: left;
  display: inline;
  margin: 1% 2%;
  padding: 5px 0;
  background: none;
  color: #246a34;
  cursor: pointer;
}
/* line 198, ../sass/sbac_forum.scss */
.categories-filter-choices ul li .highlight {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: white;
  border: 1px solid;
  vertical-align: top;
}
/* line 207, ../sass/sbac_forum.scss */
.categories-filter-choices ul li .filter-name {
  display: inline-block;
  width: 82%;
  margin-top: -2px;
  vertical-align: top;
}
/* line 215, ../sass/sbac_forum.scss */
.categories-filter-choices ul li.current .highlight {
  background-color: #0085ad;
  border-color: #0085ad;
}

/* line 226, ../sass/sbac_forum.scss */
.categories-current-filters {
  margin: 10px 20px 5px;
  padding: 10px 0 0;
  /*color: white;
      border: 1px solid white;
      border-width: 0 0 1px;
  */
  border-top: 1px solid rgba(255, 255, 255, 0.9);
  box-shadow: 0 -1px 0 0 rgba(0, 97, 131, 0.3);
}
/* line 227, ../sass/sbac_forum.scss */
.categories-current-filters.noshow {
  display: none;
}
/* line 240, ../sass/sbac_forum.scss */
.categories-current-filters h3 {
  color: #063e5f;
  font-size: 18px;
}
/* line 245, ../sass/sbac_forum.scss */
.categories-current-filters .current-filter {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  float: left;
  margin: 10px 10px 10px 0;
  font-size: 0.8em;
  padding: 10px 40px 10px 10px;
  background: white url("../images/icon-close.png") no-repeat right center;
  border-right: 10px solid transparent;
  color: #7d8a95;
}

/* line 260, ../sass/sbac_forum.scss */
a.category-hide {
  position: absolute;
  right: 20px;
  top: -30px;
  font-size: 13px;
  color: #006082;
}

/* line 268, ../sass/sbac_forum.scss */
a.category-hide:hover {
  text-decoration: underline;
  color: #006082;
}

/* line 273, ../sass/sbac_forum.scss */
a.category-hide:focus {
  color: #006082;
}

/* line 277, ../sass/sbac_forum.scss */
.category-hide.active:after {
  background-image: url("../images/icon-toggle-up.png");
  background-position: center center;
  content: " ";
  display: inline-block;
  height: 12px;
  margin-left: 5px;
  vertical-align: baseline;
  width: 10px;
}

/* line 288, ../sass/sbac_forum.scss */
.category-hide:after {
  background-image: url("../images/icon-toggle-down.png");
  background-position: center center;
  content: " ";
  display: inline-block;
  height: 12px;
  margin-left: 5px;
  vertical-align: baseline;
  width: 10px;
}

/* line 302, ../sass/sbac_forum.scss */
#sbac-forum-filter-button:before {
  background-image: url("../images/icon-buttonAccept.png");
  background-position: center center;
  content: " ";
  display: inline-block;
  height: 18px;
  margin-right: 12px;
  margin-top: -2px;
  vertical-align: middle;
  width: 18px;
}

/* line 314, ../sass/sbac_forum.scss */
#sbac-forum-filter-button.is-edit:before {
  background-image: url("../images/icon-buttonEdit.png");
  width: 17px;
}

/* line 319, ../sass/sbac_forum.scss */
#edit-reset-filters {
  background-color: #8A1538;
  border: 1px solid #793348;
}

/* line 324, ../sass/sbac_forum.scss */
#edit-reset-filters:hover {
  background-image: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.075) 30%, rgba(0, 0, 0, 0.1) 100%);
}

/* line 328, ../sass/sbac_forum.scss */
#edit-reset-filters:before {
  background-image: url("../images/icon-buttonReset.png");
  background-position: center center;
  content: " ";
  display: inline-block;
  height: 18px;
  margin-right: 12px;
  margin-top: -2px;
  vertical-align: middle;
  width: 17px;
}

/* line 343, ../sass/sbac_forum.scss */
.sbac-forum-main-container .view-forum-list .views-row {
  -moz-box-sizing: border-box;
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 6px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
  display: block;
  margin: 0 0 15px;
  overflow: hidden;
  padding: 20px 114px 20px 20px;
  position: relative;
}

/* Button of Start a Forum , Start a Topic */
/* line 360, ../sass/sbac_forum.scss */
a.new-forum-link,
a.new-topic-link {
  float: right;
  border-radius: 6px;
  background-color: #00b5e2;
  color: white;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: rgba(255, 255, 255, 0.7) rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.4);
  border-image: none;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  border-style: solid;
  border-width: 1px;
  box-shadow: none;
  margin: 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;
  height: 34px;
  line-height: 34px;
  min-width: 125px;
  padding: 0 25px 0  30px;
  text-align: center;
  vertical-align: middle;
}

/* line 388, ../sass/sbac_forum.scss */
a.new-topic-link {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* line 393, ../sass/sbac_forum.scss */
a.new-forum-link:before,
a.new-topic-link:before {
  content: "+";
  display: inline;
  font-family: 'sbac';
  font-size: 20px;
  font-weight: normal;
  margin-right: 7px;
}

/* line 403, ../sass/sbac_forum.scss */
a.new-forum-link:hover,
a.new-topic-link:hover {
  background-image: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.075) 30%, rgba(0, 0, 0, 0.1) 100%);
  color: #fff;
}

/* line 410, ../sass/sbac_forum.scss */
#sbac-forum-sub-nav-form {
  float: left;
  width: 100%;
}
/* line 417, ../sass/sbac_forum.scss */
#sbac-forum-sub-nav-form .forum-subnav-primary-wrapper button {
  background-image: -moz-linear-gradient(center top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.2) 100%);
  background-color: #F7F7F7;
  border-color: #FFFFFF #62676E #62676E;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #464b54;
  display: inline-block;
  font-size: 15px;
  height: 34px;
  line-height: 32px;
  padding: 0 20px;
  text-shadow: 0 1px 0 #FFFFFF;
  float: left;
}
/* line 434, ../sass/sbac_forum.scss */
#sbac-forum-sub-nav-form .forum-subnav-primary-wrapper button#edit-all-forums {
  border-radius: 6px 0 0 6px;
}
/* line 438, ../sass/sbac_forum.scss */
#sbac-forum-sub-nav-form .forum-subnav-primary-wrapper button#edit-my-forum {
  border-radius: 0 6px 6px 0;
}
/* line 442, ../sass/sbac_forum.scss */
#sbac-forum-sub-nav-form .forum-subnav-primary-wrapper button.is-pressed {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #006082;
  background-image: none;
  border-color: #003142 rgba(255, 255, 255, 0.6) rgba(255, 255, 255, 0.6) #003142;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.3) inset;
  color: #FFFFFF;
  cursor: default;
  text-shadow: 0 1px 0 #000000;
}
/* line 459, ../sass/sbac_forum.scss */
#sbac-forum-sub-nav-form .forum-subnav-primary-wrapper button#edit-all-forums.is-pressed {
  border-color: #003142 #003142 rgba(255, 255, 255, 0.6) #003142;
}
/* line 464, ../sass/sbac_forum.scss */
#sbac-forum-sub-nav-form .forum-subnav-sort-wrapper, #sbac-forum-sub-nav-form .forum-subnav-keyword-wrapper {
  float: left;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: -1px 0 0 0 #006082;
  display: block;
  float: left;
  height: 34px;
  margin: 0 0 0 15px;
  padding: 0 0 0 15px;
}
/* line 474, ../sass/sbac_forum.scss */
#sbac-forum-sub-nav-form .forum-subnav-sort-wrapper .form-item, #sbac-forum-sub-nav-form .forum-subnav-keyword-wrapper .form-item {
  margin: 0;
}
/* line 478, ../sass/sbac_forum.scss */
#sbac-forum-sub-nav-form .forum-subnav-sort-wrapper select, #sbac-forum-sub-nav-form .forum-subnav-keyword-wrapper select {
  background: url("../images/icon-arrow-down.png") no-repeat scroll right 6px top 12px #f2f2f2;
  border: 1px solid #006082;
  background-color: #F2F2F2;
  border-radius: 0;
  color: #464b54;
  cursor: pointer;
  font-size: 15px;
  line-height: 1;
  margin: 0;
  padding: 7px 3px 4px;
  text-indent: 0.01px;
  text-overflow: "";
  vertical-align: top;
  width: 180px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
/* line 499, ../sass/sbac_forum.scss */
#sbac-forum-sub-nav-form .forum-subnav-keyword-wrapper input {
  -moz-box-sizing: border-box;
  border: 1px solid #006082;
  color: #464B54;
  font-size: 15px;
  height: 34px;
  padding: 0 10px;
}
/* line 509, ../sass/sbac_forum.scss */
#sbac-forum-sub-nav-form .forum-subnav-start-link-wrapper {
  float: right;
}

/* line 517, ../sass/sbac_forum.scss */
.sbac-forum-browse-page .main-container {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  margin-top: 1.2em;
}
/* line 523, ../sass/sbac_forum.scss */
.sbac-forum-browse-page .main-container .columns {
  padding: 0;
}

/* line 535, ../sass/sbac_forum.scss */
.page-forums-forum-add,
.page-taxonomy-term-edit,
.page-admin-structure-taxonomy-forum-add {
  /*button*/
}
/* line 537, ../sass/sbac_forum.scss */
.page-forums-forum-add #page-title,
.page-taxonomy-term-edit #page-title,
.page-admin-structure-taxonomy-forum-add #page-title {
  display: block !important;
  border-bottom: 1px solid #62676E;
  color: #04384E;
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 25px;
  padding: 0;
  text-transform: capitalize;
}
/* line 549, ../sass/sbac_forum.scss */
.page-forums-forum-add label,
.page-taxonomy-term-edit label,
.page-admin-structure-taxonomy-forum-add label {
  color: #101010;
  font-size: 14px;
  font-weight: bold;
}
/* line 555, ../sass/sbac_forum.scss */
.page-forums-forum-add input#edit-name, .page-forums-forum-add .form-textarea,
.page-taxonomy-term-edit input#edit-name,
.page-taxonomy-term-edit .form-textarea,
.page-admin-structure-taxonomy-forum-add input#edit-name,
.page-admin-structure-taxonomy-forum-add .form-textarea {
  width: 410px;
  margin: 15px 0 25px;
}
/* line 560, ../sass/sbac_forum.scss */
.page-forums-forum-add .form-textarea,
.page-taxonomy-term-edit .form-textarea,
.page-admin-structure-taxonomy-forum-add .form-textarea {
  height: 80px;
}
/* line 564, ../sass/sbac_forum.scss */
.page-forums-forum-add .form-type-textarea,
.page-taxonomy-term-edit .form-type-textarea,
.page-admin-structure-taxonomy-forum-add .form-type-textarea {
  width: 410px;
  position: relative;
}
/* line 568, ../sass/sbac_forum.scss */
.page-forums-forum-add .form-type-textarea .counter,
.page-taxonomy-term-edit .form-type-textarea .counter,
.page-admin-structure-taxonomy-forum-add .form-type-textarea .counter {
  display: block;
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  right: 0;
  top: 3px;
}
/* line 576, ../sass/sbac_forum.scss */
.page-forums-forum-add .form-type-textarea .counter > span,
.page-taxonomy-term-edit .form-type-textarea .counter > span,
.page-admin-structure-taxonomy-forum-add .form-type-textarea .counter > span {
  font-weight: bold;
}
/* line 585, ../sass/sbac_forum.scss */
.page-forums-forum-add .forum-tags-left,
.page-forums-forum-add .forum-tags-right,
.page-forums-forum-add .forum-add-access-left,
.page-forums-forum-add .forum-add-access-right,
.page-taxonomy-term-edit .forum-tags-left,
.page-taxonomy-term-edit .forum-tags-right,
.page-taxonomy-term-edit .forum-add-access-left,
.page-taxonomy-term-edit .forum-add-access-right,
.page-admin-structure-taxonomy-forum-add .forum-tags-left,
.page-admin-structure-taxonomy-forum-add .forum-tags-right,
.page-admin-structure-taxonomy-forum-add .forum-add-access-left,
.page-admin-structure-taxonomy-forum-add .forum-add-access-right {
  float: left;
  width: 50%;
}
/* line 589, ../sass/sbac_forum.scss */
.page-forums-forum-add .forum-tags-left .form-item,
.page-forums-forum-add .forum-tags-right .form-item,
.page-forums-forum-add .forum-add-access-left .form-item,
.page-forums-forum-add .forum-add-access-right .form-item,
.page-taxonomy-term-edit .forum-tags-left .form-item,
.page-taxonomy-term-edit .forum-tags-right .form-item,
.page-taxonomy-term-edit .forum-add-access-left .form-item,
.page-taxonomy-term-edit .forum-add-access-right .form-item,
.page-admin-structure-taxonomy-forum-add .forum-tags-left .form-item,
.page-admin-structure-taxonomy-forum-add .forum-tags-right .form-item,
.page-admin-structure-taxonomy-forum-add .forum-add-access-left .form-item,
.page-admin-structure-taxonomy-forum-add .forum-add-access-right .form-item {
  margin-bottom: 0;
}
/* line 596, ../sass/sbac_forum.scss */
.page-forums-forum-add .form-type-select,
.page-forums-forum-add .chzn-container,
.page-forums-forum-add .form-type-radios,
.page-taxonomy-term-edit .form-type-select,
.page-taxonomy-term-edit .chzn-container,
.page-taxonomy-term-edit .form-type-radios,
.page-admin-structure-taxonomy-forum-add .form-type-select,
.page-admin-structure-taxonomy-forum-add .chzn-container,
.page-admin-structure-taxonomy-forum-add .form-type-radios {
  width: 410px !important;
}
/* line 604, ../sass/sbac_forum.scss */
.page-forums-forum-add .forum-tags-right .form-type-select,
.page-forums-forum-add .forum-tags-right .form-type-radios,
.page-forums-forum-add .forum-add-access-right .form-type-select,
.page-forums-forum-add .forum-add-access-right .form-type-radios,
.page-taxonomy-term-edit .forum-tags-right .form-type-select,
.page-taxonomy-term-edit .forum-tags-right .form-type-radios,
.page-taxonomy-term-edit .forum-add-access-right .form-type-select,
.page-taxonomy-term-edit .forum-add-access-right .form-type-radios,
.page-admin-structure-taxonomy-forum-add .forum-tags-right .form-type-select,
.page-admin-structure-taxonomy-forum-add .forum-tags-right .form-type-radios,
.page-admin-structure-taxonomy-forum-add .forum-add-access-right .form-type-select,
.page-admin-structure-taxonomy-forum-add .forum-add-access-right .form-type-radios {
  margin-left: 20px;
}
/* line 610, ../sass/sbac_forum.scss */
.page-forums-forum-add #edit_field_state_und_chzn.chzn-container,
.page-forums-forum-add #edit_field_forum_access_role_list_und_chzn.chzn-container,
.page-taxonomy-term-edit #edit_field_state_und_chzn.chzn-container,
.page-taxonomy-term-edit #edit_field_forum_access_role_list_und_chzn.chzn-container,
.page-admin-structure-taxonomy-forum-add #edit_field_state_und_chzn.chzn-container,
.page-admin-structure-taxonomy-forum-add #edit_field_forum_access_role_list_und_chzn.chzn-container {
  width: 390px !important;
  margin-left: 28px;
}
/* line 618, ../sass/sbac_forum.scss */
.page-forums-forum-add .group-forum-tags h3,
.page-forums-forum-add #taxonomy_term_forum_form_group_forum_access h3,
.page-taxonomy-term-edit .group-forum-tags h3,
.page-taxonomy-term-edit #taxonomy_term_forum_form_group_forum_access h3,
.page-admin-structure-taxonomy-forum-add .group-forum-tags h3,
.page-admin-structure-taxonomy-forum-add #taxonomy_term_forum_form_group_forum_access h3 {
  border-top: 1px solid #CECECE;
  margin-top: 40px;
  max-width: none;
  padding-top: 40px;
  width: 100%;
  color: #000000;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
/* line 630, ../sass/sbac_forum.scss */
.page-forums-forum-add .group-forum-tags .description,
.page-forums-forum-add #taxonomy_term_forum_form_group_forum_access .description,
.page-taxonomy-term-edit .group-forum-tags .description,
.page-taxonomy-term-edit #taxonomy_term_forum_form_group_forum_access .description,
.page-admin-structure-taxonomy-forum-add .group-forum-tags .description,
.page-admin-structure-taxonomy-forum-add #taxonomy_term_forum_form_group_forum_access .description {
  font-size: 13px;
  line-height: 1.2;
  max-width: 560px;
}
/* line 636, ../sass/sbac_forum.scss */
.page-forums-forum-add .group-forum-tags label,
.page-forums-forum-add #taxonomy_term_forum_form_group_forum_access label,
.page-taxonomy-term-edit .group-forum-tags label,
.page-taxonomy-term-edit #taxonomy_term_forum_form_group_forum_access label,
.page-admin-structure-taxonomy-forum-add .group-forum-tags label,
.page-admin-structure-taxonomy-forum-add #taxonomy_term_forum_form_group_forum_access label {
  font-size: 13px;
  margin-bottom: 10px;
  padding-top: 10px;
}
/* line 645, ../sass/sbac_forum.scss */
.page-forums-forum-add #taxonomy_term_forum_form_group_forum_access label,
.page-taxonomy-term-edit #taxonomy_term_forum_form_group_forum_access label,
.page-admin-structure-taxonomy-forum-add #taxonomy_term_forum_form_group_forum_access label {
  border-bottom: 1px solid #CECECE;
  font-size: 12px;
  margin: 0 0 15px;
  padding: 20px 0 6px;
  text-transform: uppercase;
  font-family: Verdana,Geneva,sans-serif;
}
/* line 654, ../sass/sbac_forum.scss */
.page-forums-forum-add #taxonomy_term_forum_form_group_forum_access label.option,
.page-taxonomy-term-edit #taxonomy_term_forum_form_group_forum_access label.option,
.page-admin-structure-taxonomy-forum-add #taxonomy_term_forum_form_group_forum_access label.option {
  font-size: 13px;
  border-bottom: none;
  padding: 0;
  text-transform: none;
  font-family: Arial,Helvetica,sans-serif;
}
/* line 661, ../sass/sbac_forum.scss */
.page-forums-forum-add #taxonomy_term_forum_form_group_forum_access label.option p,
.page-taxonomy-term-edit #taxonomy_term_forum_form_group_forum_access label.option p,
.page-admin-structure-taxonomy-forum-add #taxonomy_term_forum_form_group_forum_access label.option p {
  font-size: 13px;
  line-height: 1.2;
  color: #464B54;
  margin-left: 28px;
}
/* line 670, ../sass/sbac_forum.scss */
.page-forums-forum-add .chzn-container-multi .chzn-choices .search-field input,
.page-taxonomy-term-edit .chzn-container-multi .chzn-choices .search-field input,
.page-admin-structure-taxonomy-forum-add .chzn-container-multi .chzn-choices .search-field input {
  height: 2.3125em;
}
/* line 675, ../sass/sbac_forum.scss */
.page-forums-forum-add #taxonomy_term_forum_form_group_forum_access .error,
.page-taxonomy-term-edit #taxonomy_term_forum_form_group_forum_access .error,
.page-admin-structure-taxonomy-forum-add #taxonomy_term_forum_form_group_forum_access .error {
  border: 2px solid #FF0000;
}
/* line 681, ../sass/sbac_forum.scss */
.page-forums-forum-add .form-wrapper table,
.page-taxonomy-term-edit .form-wrapper table,
.page-admin-structure-taxonomy-forum-add .form-wrapper table {
  width: 100%;
}
/* line 684, ../sass/sbac_forum.scss */
.page-forums-forum-add .form-wrapper table th.field-label,
.page-taxonomy-term-edit .form-wrapper table th.field-label,
.page-admin-structure-taxonomy-forum-add .form-wrapper table th.field-label {
  padding-left: 10px;
}
/* line 691, ../sass/sbac_forum.scss */
.page-forums-forum-add .form-item-path-alias .description,
.page-taxonomy-term-edit .form-item-path-alias .description,
.page-admin-structure-taxonomy-forum-add .form-item-path-alias .description {
  line-height: 1.2;
}
/* line 697, ../sass/sbac_forum.scss */
.page-forums-forum-add #edit-field-state label,
.page-forums-forum-add #edit-field-forum-access-role-list label,
.page-taxonomy-term-edit #edit-field-state label,
.page-taxonomy-term-edit #edit-field-forum-access-role-list label,
.page-admin-structure-taxonomy-forum-add #edit-field-state label,
.page-admin-structure-taxonomy-forum-add #edit-field-forum-access-role-list label {
  display: none;
}
/* line 702, ../sass/sbac_forum.scss */
.page-forums-forum-add .sbac-forum-add-forum-buttons,
.page-taxonomy-term-edit .sbac-forum-add-forum-buttons,
.page-admin-structure-taxonomy-forum-add .sbac-forum-add-forum-buttons {
  text-align: right;
}
/* line 705, ../sass/sbac_forum.scss */
.page-forums-forum-add .sbac-forum-add-forum-buttons button,
.page-taxonomy-term-edit .sbac-forum-add-forum-buttons button,
.page-admin-structure-taxonomy-forum-add .sbac-forum-add-forum-buttons button {
  margin-left: 30px;
}
/* line 710, ../sass/sbac_forum.scss */
.page-forums-forum-add button.gray.sbac-forum-add-forum-cancel-button, .page-forums-forum-add .button.form-submit,
.page-taxonomy-term-edit button.gray.sbac-forum-add-forum-cancel-button,
.page-taxonomy-term-edit .button.form-submit,
.page-admin-structure-taxonomy-forum-add button.gray.sbac-forum-add-forum-cancel-button,
.page-admin-structure-taxonomy-forum-add .button.form-submit {
  padding-left: 40px !important;
  position: relative;
}
/* line 715, ../sass/sbac_forum.scss */
.page-forums-forum-add button.gray.sbac-forum-add-forum-cancel-button:before,
.page-taxonomy-term-edit button.gray.sbac-forum-add-forum-cancel-button:before,
.page-admin-structure-taxonomy-forum-add button.gray.sbac-forum-add-forum-cancel-button:before {
  content: url("../images/icon-buttonCancel.png");
  left: 15px;
  position: absolute;
  top: 4px;
}
/* line 722, ../sass/sbac_forum.scss */
.page-forums-forum-add .button.form-submit:before,
.page-taxonomy-term-edit .button.form-submit:before,
.page-admin-structure-taxonomy-forum-add .button.form-submit:before {
  content: url("../images/icon-buttonAccept.png");
  left: 15px;
  position: absolute;
  top: 4px;
}

/* line 732, ../sass/sbac_forum.scss */
.page-forums-term {
  /*sbac forum top*/
  /*forum horizontal tabs*/
}
/* line 733, ../sass/sbac_forum.scss */
.page-forums-term #page-title {
  display: block !important;
  border-bottom: 1px solid #62676E;
  color: #04384E;
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 25px;
  padding: 0;
  text-transform: capitalize;
}
/* line 745, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-controls {
  float: right;
  margin-top: -50px;
  color: #62676E;
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
}
/* line 755, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-controls:before {
  content: "\f000";
  display: inline-block;
  float: left;
  font-family: "GeneralFoundicons";
  font-size: 18px;
  margin: 0 7px 0 0;
  opacity: 0.5;
  cursor: pointer;
}
/* line 766, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-controls:hover:before {
  opacity: 1;
}
/* line 772, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-top .col {
  display: block;
  float: left;
  position: relative;
  margin-top: 5px;
}
/* line 779, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-top .narrow {
  width: 260px;
}
/* line 783, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-top .col + .col {
  margin-left: 40px;
}
/* line 787, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-top .vp-desc-field {
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 15px;
  padding: 0;
}
/* line 795, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-top .vp-faci-field .title-tags {
  font-size: 13px;
  line-height: 1.2;
  padding-top: 5px;
  display: inline-block;
  vertical-align: top;
}
/* line 803, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-top .vp-faci-field .item-list {
  display: inline-block;
}
/* line 806, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-top .vp-faci-field .item-list ul.vp-auth-pane {
  margin: 0;
  list-style-type: none;
}
/* line 810, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-top .vp-faci-field .item-list ul.vp-auth-pane li {
  margin: 0 3px 0 0;
  display: inline-block;
}
/* line 814, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-top .vp-faci-field .item-list ul.vp-auth-pane li a {
  font-weight: bold;
  color: #0583AC;
  font-size: 13px;
  line-height: 1.2;
}
/* line 821, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-top .vp-faci-field .item-list ul.vp-auth-pane li:after {
  content: ",";
}
/* line 832, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-top .vp-grades-field .title-tags,
.page-forums-term .sbac-forum-vp-top .vp-subjects-field .title-tags,
.page-forums-term .sbac-forum-vp-top .vp-end-users-field .title-tags,
.page-forums-term .sbac-forum-vp-top .vp-students-field .title-tags {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-color: -moz-use-text-color -moz-use-text-color #CECECE;
  border-image: none;
  border-radius: 0;
  border-style: none none solid;
  border-width: medium medium 1px;
  color: #04384E;
  display: block;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: normal;
  margin: 0;
  padding: 0 0 3px;
  text-transform: uppercase;
}
/* line 854, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-top .vp-grades-field ul,
.page-forums-term .sbac-forum-vp-top .vp-subjects-field ul,
.page-forums-term .sbac-forum-vp-top .vp-end-users-field ul,
.page-forums-term .sbac-forum-vp-top .vp-students-field ul {
  margin: 0 0 20px;
  list-style-type: none;
}
/* line 858, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-top .vp-grades-field ul li,
.page-forums-term .sbac-forum-vp-top .vp-subjects-field ul li,
.page-forums-term .sbac-forum-vp-top .vp-end-users-field ul li,
.page-forums-term .sbac-forum-vp-top .vp-students-field ul li {
  margin-left: 0;
  background-color: #F2F2F2;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  line-height: 22px;
  margin-right: 7px;
  margin-top: 7px;
  padding: 0 5px;
}
/* line 874, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-tabs {
  margin-top: 30px;
}
/* line 877, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-tabs .quicktabs-tabs {
  display: block;
  height: 65px;
  left: -50px;
  margin-top: 40px;
  overflow: hidden;
  padding: 0 50px;
  position: relative;
  width: 960px;
}
/* line 887, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-tabs .quicktabs-tabs li {
  padding: 0;
  margin: 0;
}
/* line 892, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-tabs .quicktabs-tabs a {
  background: none repeat scroll 0 0 #FAFAFA;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #CECECE;
  border-top: 1px solid #CECECE;
  display: block;
  float: left;
  font-size: 15px;
  font-weight: bold;
  height: 53px;
  line-height: 45px;
  padding: 0 30px;
  position: relative;
  top: 10px;
  color: #0583AC;
}
/* line 908, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-tabs .quicktabs-tabs a:first-child {
  border-left: 1px solid #CECECE;
}
/* line 913, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-tabs .quicktabs-tabs li a:hover {
  background-color: #FAFAFA;
  background-image: -moz-linear-gradient(center top, rgba(0, 95, 130, 0) 20%, rgba(0, 95, 130, 0.1) 70%);
  text-shadow: 0 1px 0 #FFFFFF;
}
/* line 919, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-tabs .quicktabs-tabs li.active a {
  background: none repeat scroll 0 0 #FFFFFF;
  border-left: 1px solid #CECECE;
  box-shadow: 0 1px 5px 0 rgba(0, 95, 130, 0.75);
  color: #464B54;
  position: relative;
  z-index: 2;
}
/* line 928, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-tabs .quicktabs-tabs li.active a:after {
  background: none repeat scroll 0 0 #FFFFFF;
  bottom: -7px;
  content: " ";
  display: block;
  height: 15px;
  left: -20px;
  padding: 0 20px;
  position: absolute;
  width: 120%;
  z-index: 1;
}
/* line 940, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-tabs .quicktabs-tabs li.active a:after:hover:not(.active) {
  background-color: #FAFAFA;
  background-image: -moz-linear-gradient(center top, rgba(0, 95, 130, 0) 20%, rgba(0, 95, 130, 0.1) 70%);
  text-shadow: 0 1px 0 #FFFFFF;
}
/* line 946, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-tabs .quicktabs-tabs li.active a:after.active {
  background: none repeat scroll 0 0 #FFFFFF;
  border-left: 1px solid #CECECE;
  box-shadow: 0 1px 5px 0 rgba(0, 95, 130, 0.75);
  color: #464B54;
  position: relative;
  z-index: 2;
}
/* line 954, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-tabs .quicktabs-tabs li.active a:after.active:after {
  background: none repeat scroll 0 0 #FFFFFF;
  bottom: -7px;
  content: " ";
  display: block;
  height: 15px;
  left: -20px;
  padding: 0 20px;
  position: absolute;
  width: 120%;
  z-index: 1;
}
/* line 969, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-vp-tabs .quicktabs-tabs:after {
  background: none repeat scroll 0 0 #FFFFFF;
  bottom: 0;
  box-shadow: 0 1px 6px 0 rgba(0, 95, 130, 0.75);
  content: " ";
  display: block;
  height: 10px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

/*Topic's tab*/
/* line 988, ../sass/sbac_forum.scss */
.page-forums-term .sbac-forum-confirm-message-region > div {
  background-color: #F2F2F2;
  border: 5px solid #FFFFFF;
  box-shadow: 0 0 3px 0 rgba(4, 56, 78, 0.3), 0 1px 0 0 rgba(0, 0, 0, 0.1);
  color: #464B54;
  margin: 5px 0 25px;
  padding: 20px 20px 18px;
  position: relative;
  font-size: 18px;
  line-height: 1.2;
}
/* line 1000, ../sass/sbac_forum.scss */
.page-forums-term .view-forum-topic-list {
  margin-top: 10px;
}
/* line 1004, ../sass/sbac_forum.scss */
.page-forums-term .view-forum-topic-list #join-forum-button-wrapper {
  float: right;
}
/* line 1007, ../sass/sbac_forum.scss */
.page-forums-term .view-forum-topic-list #join-forum-button-wrapper button {
  padding: 0 30px;
}
/* line 1011, ../sass/sbac_forum.scss */
.page-forums-term .view-forum-topic-list #join-forum-button-wrapper .ajax-progress-throbber {
  display: none;
}
/* line 1016, ../sass/sbac_forum.scss */
.page-forums-term .view-forum-topic-list .join-forum-start-topic-wrapper {
  text-align: right;
}
/* line 1019, ../sass/sbac_forum.scss */
.page-forums-term .view-forum-topic-list .join-forum-start-topic-wrapper a {
  display: block;
}
/* line 1024, ../sass/sbac_forum.scss */
.page-forums-term .view-forum-topic-list .view-content {
  clear: both;
  padding-top: 30px;
}
/* line 1029, ../sass/sbac_forum.scss */
.page-forums-term .view-forum-topic-list .views-row {
  -moz-box-sizing: border-box;
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 6px;
  border-top: 1px solid #CECECE;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  display: block;
  margin: 0 0 15px;
  overflow: hidden;
  padding: 15px 114px 15px 15px;
  position: relative;
}
/* line 1041, ../sass/sbac_forum.scss */
.page-forums-term .view-forum-topic-list .views-row .views-field.views-field-title {
  display: block;
  margin-bottom: 15px;
}
/* line 1045, ../sass/sbac_forum.scss */
.page-forums-term .view-forum-topic-list .views-row .views-field.views-field-title a {
  color: #04384E;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
}
/* line 1051, ../sass/sbac_forum.scss */
.page-forums-term .view-forum-topic-list .views-row .views-field.views-field-title a:hover {
  text-decoration: underline;
}
/* line 1055, ../sass/sbac_forum.scss */
.page-forums-term .view-forum-topic-list .views-row .views-field {
  display: inline-block;
  font-size: 13px;
}
/* line 1061, ../sass/sbac_forum.scss */
.page-forums-term .view-forum-topic-list .views-field-nothing {
  border-right: 1px solid #62676E;
  color: #70757E;
  display: block;
  float: left;
  font-size: 13px;
  height: 20px;
  line-height: 20px;
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
}

/*Members's tab*/
/* line 1079, ../sass/sbac_forum.scss */
.page-forums-term .view-forum-member-list {
  padding-top: 10px;
}
/* line 1083, ../sass/sbac_forum.scss */
.page-forums-term .view-forum-member-list .views-row {
  -moz-box-sizing: border-box;
  border-radius: 6px;
  border-top: 1px solid #CECECE;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  float: left;
  height: auto;
  margin: 0 0 25px 40px;
  padding: 15px;
  position: relative;
  width: 260px;
}
/* line 1095, ../sass/sbac_forum.scss */
.page-forums-term .view-forum-member-list .views-row .views-field-picture {
  background-image: url("../images/avatar.png");
  background-size: contain;
  display: block;
  float: left;
  height: 60px;
  margin-right: 15px;
  padding: 0;
  width: 60px;
}
/* line 1106, ../sass/sbac_forum.scss */
.page-forums-term .view-forum-member-list .views-row .views-field-nothing {
  color: #0583AC;
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 6px;
}
/* line 1114, ../sass/sbac_forum.scss */
.page-forums-term .view-forum-member-list .views-row .views-field-field-state,
.page-forums-term .view-forum-member-list .views-row .views-field-field-fc-forum-member-joined {
  display: block;
  font-size: 13px;
  line-height: 1;
  margin: 0 0 6px;
  padding: 0;
}
/* line 1121, ../sass/sbac_forum.scss */
.page-forums-term .view-forum-member-list .views-row .views-field-field-state .views-label, .page-forums-term .view-forum-member-list .views-row .views-field-field-state .field-content,
.page-forums-term .view-forum-member-list .views-row .views-field-field-fc-forum-member-joined .views-label,
.page-forums-term .view-forum-member-list .views-row .views-field-field-fc-forum-member-joined .field-content {
  display: inline-block;
}
/* line 1127, ../sass/sbac_forum.scss */
.page-forums-term .view-forum-member-list .views-row:nth-child(3n+1) {
  clear: left;
  margin-left: 0;
}
/* line 1132, ../sass/sbac_forum.scss */
.page-forums-term .view-forum-member-list .views-row:after {
  content: "\f000";
  display: inline-block;
  font-family: "GeneralFoundicons";
  font-size: 18px;
  margin: 0 7px 0 0;
  opacity: 0.5;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 4px;
}
/* line 1145, ../sass/sbac_forum.scss */
.page-forums-term .view-forum-member-list .views-row:hover:after {
  opacity: 1;
}
