/* -----------------------------------------
    Variables
   ----------------------------------------- */
/* -----------------------------------------
   Page Elements
   ----------------------------------------- */
/* line 18, ../sass/sbac_forum.scss */
.page-forums #page-title {
  display: none;
}

/* line 22, ../sass/sbac_forum.scss */
.sbac-forum-main-container {
  float: left;
  width: 100%;
}

/* -----------------------------------------
   Forms
   ----------------------------------------- */
/* line 31, ../sass/sbac_forum.scss */
.category-filter-list {
  display: none;
}

/* line 37, ../sass/sbac_forum.scss */
.filters {
  background: #c9eaf8;
  color: #0684ad;
  padding: 45px 0 0;
  border-top: 2px solid #0684ad;
  border-bottom: 1px solid #94d8f3;
  position: relative;
}
/* line 46, ../sass/sbac_forum.scss */
.filters.active {
  overflow: visible !important;
}
/* line 52, ../sass/sbac_forum.scss */
.filters .column:first-child .categories-filter-choices {
  left: 20px;
}
/* line 58, ../sass/sbac_forum.scss */
.filters .column:last-child .categories-filter-choices {
  left: auto;
  right: 20px;
}
/* line 65, ../sass/sbac_forum.scss */
.filters ul {
  font-size: 1em;
  list-style-type: none;
  margin: 0;
}
/* line 70, ../sass/sbac_forum.scss */
.filters ul h3 {
  color: white;
  font-size: emCalc(16px);
  margin-bottom: 10px;
  position: relative;
}
/* line 78, ../sass/sbac_forum.scss */
.filters li {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: white url("../images/icon-drop.png") no-repeat 97% center;
  padding: 5px 10px;
  margin: 0 0 10px;
  font-size: 12px;
  cursor: pointer;
}
/* line 86, ../sass/sbac_forum.scss */
.filters li.active {
  background: #0085ad;
}
/* line 90, ../sass/sbac_forum.scss */
.filters li a {
  color: white;
}
/* line 95, ../sass/sbac_forum.scss */
.filters li .sbac-forum-filter-name,
.filters li .sbac-forum-filter-custom-link {
  margin: 0;
  font-weight: bold;
  font-size: 1.1em;
  position: relative;
}
/* line 101, ../sass/sbac_forum.scss */
.filters li .sbac-forum-filter-name li,
.filters li .sbac-forum-filter-custom-link li {
  font-weight: normal;
}
/* line 105, ../sass/sbac_forum.scss */
.filters li .sbac-forum-filter-name a,
.filters li .sbac-forum-filter-custom-link a {
  color: #0684AD;
}
/* line 110, ../sass/sbac_forum.scss */
.filters li span {
  margin-right: 10px;
}
/* line 115, ../sass/sbac_forum.scss */
.filters form {
  margin: 0;
}
/* line 119, ../sass/sbac_forum.scss */
.filters .category-buttons {
  padding-right: 5px;
  padding-bottom: 10px;
  text-align: right;
}
/* line 124, ../sass/sbac_forum.scss */
.filters .category-buttons button {
  margin: 10px;
}

/* line 132, ../sass/sbac_forum.scss */
.categories-filter-choices {
  position: absolute;
  top: 100px;
  left: 20px;
  margin: -100px 0 0 0;
  z-index: 9999;
}
/* line 139, ../sass/sbac_forum.scss */
.categories-filter-choices .category-filter-list {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  width: 500px;
  background: #edf3e0;
  border: 1px solid #fff;
}
/* line 146, ../sass/sbac_forum.scss */
.categories-filter-choices .category-filter-list h2 {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  background-color: white;
  padding: 5px;
  margin: 0;
  cursor: pointer;
  font-weight: normal;
}
/* line 156, ../sass/sbac_forum.scss */
.categories-filter-choices ul {
  list-style-type: none;
  margin: 0;
  max-height: 300px;
  overflow-y: scroll;
}
/* line 162, ../sass/sbac_forum.scss */
.categories-filter-choices ul li {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  width: 46%;
  float: left;
  display: inline;
  margin: 1% 2%;
  padding: 5px 0;
  background: none;
  color: #246a34;
  cursor: pointer;
}
/* line 173, ../sass/sbac_forum.scss */
.categories-filter-choices ul li .highlight {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: white;
  border: 1px solid;
  vertical-align: top;
}
/* line 182, ../sass/sbac_forum.scss */
.categories-filter-choices ul li .filter-name {
  display: inline-block;
  width: 82%;
  margin-top: -2px;
  vertical-align: top;
}
/* line 190, ../sass/sbac_forum.scss */
.categories-filter-choices ul li.current .highlight {
  background-color: #0085ad;
  border-color: #0085ad;
}

/* line 201, ../sass/sbac_forum.scss */
.categories-current-filters {
  margin: 10px 20px 5px;
  padding: 10px 0 0;
  /*color: white;
      border: 1px solid white;
      border-width: 0 0 1px;
  */
  border-top: 1px solid rgba(255, 255, 255, 0.9);
  box-shadow: 0 -1px 0 0 rgba(0, 97, 131, 0.3);
}
/* line 202, ../sass/sbac_forum.scss */
.categories-current-filters.noshow {
  display: none;
}
/* line 215, ../sass/sbac_forum.scss */
.categories-current-filters h3 {
  color: #063e5f;
  font-size: 18px;
}
/* line 220, ../sass/sbac_forum.scss */
.categories-current-filters .current-filter {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  float: left;
  margin: 10px 10px 10px 0;
  font-size: 0.8em;
  padding: 10px 40px 10px 10px;
  background: white url("../images/icon-close.png") no-repeat right center;
  border-right: 10px solid transparent;
  color: #7d8a95;
}

/* line 235, ../sass/sbac_forum.scss */
a.category-hide {
  position: absolute;
  right: 20px;
  top: -30px;
  fone-size: 13px;
  color: #006082;
}

/* line 243, ../sass/sbac_forum.scss */
a.category-hide:hover {
  text-decoration: underline;
  color: #006082;
}

/* line 248, ../sass/sbac_forum.scss */
a.category-hide:focus {
  color: #006082;
}

/* line 252, ../sass/sbac_forum.scss */
.category-hide.active:after {
  background-image: url("../images/icon-toggle-up.png");
  background-position: center center;
  content: " ";
  display: inline-block;
  height: 12px;
  margin-left: 5px;
  vertical-align: baseline;
  width: 10px;
}

/* line 263, ../sass/sbac_forum.scss */
.category-hide:after {
  background-image: url("../images/icon-toggle-down.png");
  background-position: center center;
  content: " ";
  display: inline-block;
  height: 12px;
  margin-left: 5px;
  vertical-align: baseline;
  width: 10px;
}

/* line 277, ../sass/sbac_forum.scss */
#sbac-forum-filter-button:before {
  background-image: url("../images/icon-buttonAccept.png");
  background-position: center center;
  content: " ";
  display: inline-block;
  height: 18px;
  margin-right: 12px;
  margin-top: -2px;
  vertical-align: middle;
  width: 18px;
}

/* line 289, ../sass/sbac_forum.scss */
#sbac-forum-filter-button.is-edit:before {
  background-image: url("../images/icon-buttonEdit.png");
  width: 17px;
}

/* line 294, ../sass/sbac_forum.scss */
#edit-reset-filters {
  background-color: #8A1538;
  border: 1px solid #793348;
}

/* line 299, ../sass/sbac_forum.scss */
#edit-reset-filters:hover {
  background-image: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.075) 30%, rgba(0, 0, 0, 0.1) 100%);
}

/* line 303, ../sass/sbac_forum.scss */
#edit-reset-filters:before {
  background-image: url("../images/icon-buttonReset.png");
  background-position: center center;
  content: " ";
  display: inline-block;
  height: 18px;
  margin-right: 12px;
  margin-top: -2px;
  vertical-align: middle;
  width: 17px;
}

/* line 316, ../sass/sbac_forum.scss */
#sbac-forum-sub-nav-form {
  float: left;
  width: 100%;
}
/* line 321, ../sass/sbac_forum.scss */
#sbac-forum-sub-nav-form .forum-subnav-primary-wrapper {
  float: left;
  width: 30%;
}
/* line 325, ../sass/sbac_forum.scss */
#sbac-forum-sub-nav-form .forum-subnav-primary-wrapper button {
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.2) 100%);
  background-color: white;
  color: #006082;
  border: 1px solid #000;
}
/* line 332, ../sass/sbac_forum.scss */
#sbac-forum-sub-nav-form .forum-subnav-primary-wrapper button.is-pressed {
  background-color: #006082;
  color: white;
  background-image: none;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.3) inset;
  border: 1px solid #000;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
/* line 344, ../sass/sbac_forum.scss */
#sbac-forum-sub-nav-form .forum-subnav-sort-wrapper {
  float: left;
  width: 23%;
  margin-top: -15px;
}
/* line 350, ../sass/sbac_forum.scss */
#sbac-forum-sub-nav-form .forum-subnav-keyword-wrapper {
  float: left;
  width: 25%;
  margin-top: -15px;
  margin-left: 18px;
}
/* line 357, ../sass/sbac_forum.scss */
#sbac-forum-sub-nav-form .forum-subnav-start-link-wrapper {
  float: left;
  width: 20%;
}
/* line 361, ../sass/sbac_forum.scss */
#sbac-forum-sub-nav-form .forum-subnav-start-link-wrapper a.new-forum-link {
  float: right;
  background-color: #00b5e2;
  color: white;
  height: 34px;
  width: 85%;
  padding: 8px;
  text-align: right;
  border-radius: 6px;
  border: 1px solid #000;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
/* line 374, ../sass/sbac_forum.scss */
#sbac-forum-sub-nav-form .forum-subnav-start-link-wrapper a.new-forum-link:hover {
  background-color: #0085ad;
}

/* line 384, ../sass/sbac_forum.scss */
.page-forums-forum-add #page-title,
.page-taxonomy-term-edit #page-title {
  display: block !important;
}
/* line 388, ../sass/sbac_forum.scss */
.page-forums-forum-add .chzn-container-multi .chzn-choices .search-field input,
.page-taxonomy-term-edit .chzn-container-multi .chzn-choices .search-field input {
  height: 2.3125em;
}
/* line 392, ../sass/sbac_forum.scss */
.page-forums-forum-add #taxonomy_term_forum_form_group_forum_access,
.page-taxonomy-term-edit #taxonomy_term_forum_form_group_forum_access {
  height: 220px;
}
/* line 395, ../sass/sbac_forum.scss */
.page-forums-forum-add #taxonomy_term_forum_form_group_forum_access .error,
.page-taxonomy-term-edit #taxonomy_term_forum_form_group_forum_access .error {
  border: 2px solid #FF0000;
}
/* line 401, ../sass/sbac_forum.scss */
.page-forums-forum-add .forum-tags-left,
.page-forums-forum-add .forum-tags-right,
.page-taxonomy-term-edit .forum-tags-left,
.page-taxonomy-term-edit .forum-tags-right {
  float: left;
  width: 50%;
  padding-right: 50px;
}
/* line 409, ../sass/sbac_forum.scss */
.page-forums-forum-add .forum-add-access-left,
.page-forums-forum-add .forum-add-access-right,
.page-taxonomy-term-edit .forum-add-access-left,
.page-taxonomy-term-edit .forum-add-access-right {
  float: left;
  width: 50%;
  padding-right: 50px;
}
/* line 416, ../sass/sbac_forum.scss */
.page-forums-forum-add #edit-field-state label,
.page-forums-forum-add #edit-field-forum-access-role-list label,
.page-taxonomy-term-edit #edit-field-state label,
.page-taxonomy-term-edit #edit-field-forum-access-role-list label {
  display: none;
}
/* line 420, ../sass/sbac_forum.scss */
.page-forums-forum-add .sbac-forum-add-forum-buttons,
.page-taxonomy-term-edit .sbac-forum-add-forum-buttons {
  text-align: right;
}
