/* line 20, ../sass/profile.scss */
h2.name .field {
  float: left;
  margin-right: 5px;
}

/* line 27, ../sass/profile.scss */
.profile-school .field {
  display: inline-block;
  font-size: inherit;
}

/* line 35, ../sass/profile.scss */
.field-name-field-state .field-label {
  display: none;
}
/* line 39, ../sass/profile.scss */
.field-name-field-state ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  line-height: 14px;
  float: left;
}
/* line 46, ../sass/profile.scss */
.field-name-field-state ul li {
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 0;
}
/* line 51, ../sass/profile.scss */
.field-name-field-state ul li a {
  cursor: default;
  color: inherit;
}
/* line 56, ../sass/profile.scss */
.field-name-field-state ul li:after {
  content: ', ';
}
/* line 60, ../sass/profile.scss */
.field-name-field-state ul li:last-child:after {
  content: '.';
}

/* line 68, ../sass/profile.scss */
.profile-pic img {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

/* line 71, ../sass/profile.scss */
.profile-title {
  margin-bottom: 5px;
}

/* line 76, ../sass/profile.scss */
.introduction .field {
  font-size: 13px;
  line-height: 1.4;
}

/* line 83, ../sass/profile.scss */
.profile-details div {
  margin-bottom: 30px;
  line-height: 18px;
}
/* line 87, ../sass/profile.scss */
.profile-details .field {
  font-size: inherit;
}

/* line 93, ../sass/profile.scss */
.page-user .row.second {
  padding: 0 40px;
  /*#notifications .helpful-info {
      margin-top: 30px;
      margin-bottom: 40px;
      background: rgba(237, 243, 224, 1);
      padding: 10px 30px;
      border: 1px rgba(99, 102, 106, 1) solid;
      color: rgba(99, 102, 106, 1);
      a {
        color: #006298;
        &:hover {
          color: #04384e;
        }
      }
    }*/
}
/* line 95, ../sass/profile.scss */
.page-user .row.second .section-container.auto {
  visibility: visible !important;
}
/* line 104, ../sass/profile.scss */
.page-user .row.second .section-container.auto > section.active > .content .helpful-info,
.page-user .row.second .section-container.auto > .section.active > .content .helpful-info,
.page-user .row.second #notifications .helpful-info {
  background-color: #F2F2F2;
  border: 7px solid #FFFFFF;
  box-shadow: 0 1px 4px 0 rgba(4, 56, 78, 0.3);
  color: #464B54;
  margin-top: 15px;
  padding: 10px 20px 15px !important;
  position: relative;
}
/* line 114, ../sass/profile.scss */
.page-user .row.second .section-container.auto > section.active > .content .helpful-info h2,
.page-user .row.second .section-container.auto > .section.active > .content .helpful-info h2,
.page-user .row.second #notifications .helpful-info h2 {
  color: #006082;
  font-weight: bold;
  padding-top: 0;
  font-size: 18px;
  margin-bottom: 10px;
}
/* line 122, ../sass/profile.scss */
.page-user .row.second .section-container.auto > section.active > .content .helpful-info p,
.page-user .row.second .section-container.auto > .section.active > .content .helpful-info p,
.page-user .row.second #notifications .helpful-info p {
  font-size: 18px;
  color: #464B54;
  position: relative;
  margin-bottom: 38px;
}
/* line 129, ../sass/profile.scss */
.page-user .row.second .section-container.auto > section.active > .content .helpful-info a.more-less-text-trigger-more, .page-user .row.second .section-container.auto > section.active > .content .helpful-info a.more-less-text-trigger-less,
.page-user .row.second .section-container.auto > .section.active > .content .helpful-info a.more-less-text-trigger-more,
.page-user .row.second .section-container.auto > .section.active > .content .helpful-info a.more-less-text-trigger-less,
.page-user .row.second #notifications .helpful-info a.more-less-text-trigger-more,
.page-user .row.second #notifications .helpful-info a.more-less-text-trigger-less {
  background-color: #63666A;
  border-radius: 5px;
  color: #FFFFFF;
  display: inline-block;
  font-size: 15px;
  line-height: 1.75;
  margin-top: 12px;
  padding: 0 12px;
  text-align: center;
  clear: both;
  position: absolute;
  bottom: -35px;
  left: 0;
}
/* line 144, ../sass/profile.scss */
.page-user .row.second .section-container.auto > section.active > .content .helpful-info a.more-less-text-trigger-more:after, .page-user .row.second .section-container.auto > section.active > .content .helpful-info a.more-less-text-trigger-less:after,
.page-user .row.second .section-container.auto > .section.active > .content .helpful-info a.more-less-text-trigger-more:after,
.page-user .row.second .section-container.auto > .section.active > .content .helpful-info a.more-less-text-trigger-less:after,
.page-user .row.second #notifications .helpful-info a.more-less-text-trigger-more:after,
.page-user .row.second #notifications .helpful-info a.more-less-text-trigger-less:after {
  background-image: url("../images/arrowDown.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: " ";
  display: inline-block;
  height: 10px;
  margin-left: 7px;
  vertical-align: middle;
  width: 10px;
}
/* line 158, ../sass/profile.scss */
.page-user .row.second .section-container.auto > section.active > .content .helpful-info a.more-less-text-trigger-less:after,
.page-user .row.second .section-container.auto > .section.active > .content .helpful-info a.more-less-text-trigger-less:after,
.page-user .row.second #notifications .helpful-info a.more-less-text-trigger-less:after {
  background-image: url("../images/arrowUp.svg");
}
/* line 162, ../sass/profile.scss */
.page-user .row.second .section-container.auto .content h2 {
  color: #63666a;
}
/* line 179, ../sass/profile.scss */
.page-user .row.second .section-container.auto > section:first-child > .title a {
  border-left: 1px solid #cecece;
}
/* line 184, ../sass/profile.scss */
.page-user .row.second #account #edit-picture {
  border: none;
  padding: 0px;
  clear: left;
}
/* line 189, ../sass/profile.scss */
.page-user .row.second #account #edit-picture legend {
  margin-bottom: 10px;
}
/* line 192, ../sass/profile.scss */
.page-user .row.second #account #edit-picture .fieldset-legend {
  color: #101010;
  font-size: 14px;
  font-weight: bold;
  padding-top: 25px;
  position: relative;
}
/* line 199, ../sass/profile.scss */
.page-user .row.second #account #edit-picture .user-picture {
  display: inline-block;
  float: left;
  width: 200px;
  border-radius: 5px;
  overflow: hidden;
}
/* line 206, ../sass/profile.scss */
.page-user .row.second #account #edit-picture .user-picture img {
  width: 100%;
}
/* line 211, ../sass/profile.scss */
.page-user .row.second #account #edit-picture .form-item-files-picture-upload {
  display: inline-block;
  width: 300px;
  margin-left: 20px;
}
/* line 217, ../sass/profile.scss */
.page-user .row.second #account #edit-picture .form-item-files-picture-upload label,
.page-user .row.second #account #edit-picture .form-item-files-picture-upload div.description {
  display: none;
}
/* line 221, ../sass/profile.scss */
.page-user .row.second #account #edit-picture .form-item-picture-delete {
  display: none;
  margin-top: 130px;
  margin-left: 20px;
}
/* line 227, ../sass/profile.scss */
.page-user .row.second #account #edit-picture #upload-cover {
  display: none;
}
/* line 231, ../sass/profile.scss */
.page-user .row.second #account #edit-picture .remove-picture {
  background: #e2e2e2;
  border: 1px #646464 solid;
  color: #646464;
  padding: 8px 18px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  display: inline-block;
  margin-left: 25px;
  width: 159px;
  color: #7f7f7f;
  font-weight: bold;
  font-size: 0.875em;
}
/* line 10, ../sass/profile.scss */
.page-user .row.second #account #edit-picture .remove-picture:hover, .page-user .row.second #account #edit-picture .remove-picture:focus {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background: #8a1538;
  border: 1px #8a1538 solid;
  color: white;
  text-shadow: 0px -1px 0px black, 0px 1px 0px rgba(255, 255, 255, 0);
}
/* line 243, ../sass/profile.scss */
.page-user .row.second #account .field-type-text,
.page-user .row.second #account #edit-account {
  display: inline-block;
  float: left;
  width: 47%;
  height: 100px;
  margin-right: 30px;
  margin-bottom: 20px;
}
/* line 250, ../sass/profile.scss */
.page-user .row.second #account .field-type-text.field-widget-ldap-user-hidden,
.page-user .row.second #account #edit-account.field-widget-ldap-user-hidden {
  display: none;
}
/* line 255, ../sass/profile.scss */
.page-user .row.second #account .field-type-text .form-disabled input,
.page-user .row.second #account #edit-account .form-disabled input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 259, ../sass/profile.scss */
.page-user .row.second #account .field-type-text .form-disabled .form-required,
.page-user .row.second #account #edit-account .form-disabled .form-required {
  display: none;
}
/* line 266, ../sass/profile.scss */
.page-user .row.second #account .field-name-field-first-name .description {
  width: 500px;
  position: relative;
}
/* line 271, ../sass/profile.scss */
.page-user .row.second #account .field-name-field-position {
  display: inline-block;
  width: 47%;
  /*margin-left: 33%;*/
}
/* line 275, ../sass/profile.scss */
.page-user .row.second #account .field-name-field-position select {
  height: 35px;
  width: 100%;
  position: relative;
  margin: 10px 0 0 0;
  font-size: 16px;
  padding: 6px 5px 5px;
}
/* line 283, ../sass/profile.scss */
.page-user .row.second #account .field-name-field-position .chzn-container-single {
  width: 47% !important;
}
/* line 285, ../sass/profile.scss */
.page-user .row.second #account .field-name-field-position .chzn-container-single a {
  border: 1px #808080 solid;
  border-radius: 5px;
  background: #dfdfdf;
  height: 50px;
  font-size: 20px;
}
/* line 291, ../sass/profile.scss */
.page-user .row.second #account .field-name-field-position .chzn-container-single a span {
  padding: 10px;
  margin-right: 45px;
}
/* line 295, ../sass/profile.scss */
.page-user .row.second #account .field-name-field-position .chzn-container-single a div {
  width: 50px;
}
/* line 297, ../sass/profile.scss */
.page-user .row.second #account .field-name-field-position .chzn-container-single a div b {
  background: url("../../../../sites/all/themes/SBAC/images/arrow-down-large.png") no-repeat;
}
/* line 303, ../sass/profile.scss */
.page-user .row.second #account .field-name-field-position .form-item .error {
  border: 2px solid red;
}
/* line 308, ../sass/profile.scss */
.page-user .row.second #account .field-name-field-last-name {
  margin-right: 0px;
}
/* line 311, ../sass/profile.scss */
.page-user .row.second #account .field-type-text-long {
  clear: both;
  padding-top: 1px;
}
/* line 314, ../sass/profile.scss */
.page-user .row.second #account .field-type-text-long textarea.error {
  border: 2px solid red;
}
/* line 318, ../sass/profile.scss */
.page-user .row.second #account .field-name-field-retired {
  display: inline-block;
  width: 47%;
}
/* line 321, ../sass/profile.scss */
.page-user .row.second #account .field-name-field-retired label {
  display: none;
}
/* line 325, ../sass/profile.scss */
.page-user .row.second #account .field-name-field-retired .form-type-checkbox label {
  display: inline-block;
  color: #5a5a5a;
  font-size: 14px;
}
/* line 334, ../sass/profile.scss */
.page-user .row.second #account .form-item-roles,
.page-user .row.second #account fieldset#edit-timezone {
  display: none;
}
/* line 338, ../sass/profile.scss */
.page-user .row.second #account .form-item label {
  color: #101010;
  font-size: 14px;
  font-weight: bold;
  position: relative;
}
/* line 344, ../sass/profile.scss */
.page-user .row.second #account .form-item .error {
  border: 2px solid red;
}
/* line 348, ../sass/profile.scss */
.page-user .row.second #account .form-item-field-last-name-und-0-value label {
  height: 35px;
  font-size: 0px;
}
/* line 353, ../sass/profile.scss */
.page-user .row.second #account .field-type-text input[type="text"],
.page-user .row.second #account #edit-account input[type="text"] {
  /*border: 1px #808080 solid;
        border-radius: 5px;
        background: #dfdfdf;*/
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 362, ../sass/profile.scss */
.page-user .row.second #account .field-type-text input.error,
.page-user .row.second #account #edit-account input.error {
  border: 2px solid red;
}
/* line 366, ../sass/profile.scss */
.page-user .row.second #account .field-type-text-long .form-textarea-wrapper {
  clear: both;
}
/* line 369, ../sass/profile.scss */
.page-user .row.second #account .field-type-text-long textarea {
  /*border: 1px #b8b8b8 solid;
          border-radius: 5px;
          background: #dfdfdf;*/
  height: 200px;
  margin-top: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}
/* line 379, ../sass/profile.scss */
.page-user .row.second #account #edit-actions {
  text-align: right;
  float: right;
  /*border-top: 1px #aaa solid;*/
  padding-top: 20px;
  width: 67%;
}
/* line 386, ../sass/profile.scss */
.page-user .row.second #account .counter {
  position: absolute;
  right: 5px;
  padding: 0;
  margin: 0;
  font-size: 12px;
}
/* line 393, ../sass/profile.scss */
.page-user .row.second #account .counter.warning {
  border: none;
  background: none;
}
/* line 398, ../sass/profile.scss */
.page-user .row.second #account .description {
  display: inline-block;
}
/* line 401, ../sass/profile.scss */
.page-user .row.second #account .remaining {
  font-size: 14px;
  padding-left: 5px;
}
/* line 405, ../sass/profile.scss */
.page-user .row.second #account select {
  border: 1px #CECECE solid;
  /* border-radius: 5px;*/
  background: #fff;
  height: 200px;
  margin: 5px 0px;
  font-size: 20px;
  width: 540px;
  color: #5A5A5A;
}
/* line 417, ../sass/profile.scss */
.page-user .row.second #account #edit-field-privacy .description {
  margin: 15px 0;
  line-height: 1.4em;
}
/* line 423, ../sass/profile.scss */
.page-user .row.second #account #edit-actions #edit-submit {
  cursor: pointer;
}
/* line 426, ../sass/profile.scss */
.page-user .row.second #account #edit-actions #edit-cancel {
  color: #7f7f7f;
  height: 40px;
  width: 160px;
  font-size: 17px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(25%, #f0f0f0), color-stop(50%, #e2e2e2), color-stop(75%, #d0d0d0), color-stop(100%, #cacaca));
  background-image: -webkit-linear-gradient(top, #fbfbfb 0%, #f0f0f0 25%, #e2e2e2 50%, #d0d0d0 75%, #cacaca 100%);
  background-image: -moz-linear-gradient(top, #fbfbfb 0%, #f0f0f0 25%, #e2e2e2 50%, #d0d0d0 75%, #cacaca 100%);
  background-image: -o-linear-gradient(top, #fbfbfb 0%, #f0f0f0 25%, #e2e2e2 50%, #d0d0d0 75%, #cacaca 100%);
  background-image: linear-gradient(top, #fbfbfb 0%, #f0f0f0 25%, #e2e2e2 50%, #d0d0d0 75%, #cacaca 100%);
  background-image: -webkit-linear-gradient(top, #fbfbfb 0%, #f0f0f0 25%, #e2e2e2 50%, #d0d0d0 75%, #cacaca 100%);
  background-image: -moz-linear-gradient(top, #fbfbfb 0%, #f0f0f0 25%, #e2e2e2 50%, #d0d0d0 75%, #cacaca 100%);
  border: 1px #e0e0e0 solid;
  border-radius: 5px;
  padding: 5px;
  text-shadow: 1px 1px 1px #fff;
}
/* line 438, ../sass/profile.scss */
.page-user .row.second #account #edit-actions #edit-cancel:hover:enabled {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c8edf5), color-stop(25%, #95dff3), color-stop(50%, #6dd0ee), color-stop(75%, #56c2e3), color-stop(100%, #41b2d4));
  background-image: -webkit-linear-gradient(top, #c8edf5 0%, #95dff3 25%, #6dd0ee 50%, #56c2e3 75%, #41b2d4 100%);
  background-image: -moz-linear-gradient(top, #c8edf5 0%, #95dff3 25%, #6dd0ee 50%, #56c2e3 75%, #41b2d4 100%);
  background-image: -o-linear-gradient(top, #c8edf5 0%, #95dff3 25%, #6dd0ee 50%, #56c2e3 75%, #41b2d4 100%);
  background-image: linear-gradient(top, #c8edf5 0%, #95dff3 25%, #6dd0ee 50%, #56c2e3 75%, #41b2d4 100%);
  background-image: -webkit-linear-gradient(top, #c8edf5 0%, #95dff3 25%, #6dd0ee 50%, #56c2e3 75%, #41b2d4 100%);
  background-image: -moz-linear-gradient(top, #c8edf5 0%, #95dff3 25%, #6dd0ee 50%, #56c2e3 75%, #41b2d4 100%);
  border: 1px #38bfde solid;
}
/* line 447, ../sass/profile.scss */
.page-user .row.second .chzn-container-multi .chzn-choices .search-field input {
  height: auto;
}

/*updated styles - Jan 20, 2014*/
/* line 454, ../sass/profile.scss */
.page-user .main-container {
  background-color: #fff;
}
/* line 458, ../sass/profile.scss */
.page-user .section-container.auto:before {
  left: -55px;
}

/* line 464, ../sass/profile.scss */
.user-profile h2 {
  margin: 0;
  padding-bottom: 0;
}
/* line 469, ../sass/profile.scss */
.user-profile .profile-title {
  border: medium none;
  color: #464B54;
  font-size: 15px;
  line-height: 1;
  margin: 0;
  padding: 10px 0 0;
}
/* line 478, ../sass/profile.scss */
.user-profile .profile-details {
  margin: 15px 0;
  padding: 5px 0;
}
/* line 480, ../sass/profile.scss */
.user-profile .profile-details .field {
  margin: 0 0 10px;
}
/* line 488, ../sass/profile.scss */
.user-profile .name {
  border: medium none;
  color: #04384E;
  display: block;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
/* line 497, ../sass/profile.scss */
.user-profile .name > .field {
  font-size: 22px;
}
/* line 502, ../sass/profile.scss */
.user-profile .profile-school {
  border: medium none;
  color: #464B54;
  font-size: 15px;
  line-height: 1;
  margin: 0;
  padding: 10px 0 0;
}
/* line 511, ../sass/profile.scss */
.user-profile .profile-email-address {
  font-size: 15px;
  text-decoration: none;
  margin-top: 9px;
}
/* line 516, ../sass/profile.scss */
.user-profile .profile-email-address a {
  color: #0583AC;
}

/* line 520, ../sass/profile.scss */
.row.first {
  padding: 25px 35px;
}
/* line 523, ../sass/profile.scss */
.row.first .user-picture {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
}
/* line 528, ../sass/profile.scss */
.row.first .user-picture img {
  width: 100%;
}
/* line 533, ../sass/profile.scss */
.row.first .introduction {
  margin-top: 10px;
  padding-top: 10px;
}
/* line 540, ../sass/profile.scss */
.row.first .profile-details span {
  background-color: #F2F2F2;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  line-height: 22px;
  margin-right: 7px;
  margin-top: 7px;
  padding: 0 5px;
}
/* line 550, ../sass/profile.scss */
.row.first .profile-details span.title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-color: -moz-use-text-color -moz-use-text-color #CECECE;
  border-image: none;
  border-radius: 0;
  border-style: none none solid;
  border-width: medium medium 1px;
  color: #04384E;
  display: block;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: normal;
  margin: 0;
  padding: 0 0 3px;
  text-transform: uppercase;
}

/* line 575, ../sass/profile.scss */
.line {
  position: relative;
  width: 930px;
  margin-left: -15px;
  top: 55px;
  border-bottom: 1px #ccc solid;
}

/* line 583, ../sass/profile.scss */
.page-user .section-container.auto > section .content {
  margin: 0 -55px;
  padding: 10px 50px;
}

/*overwrite from global*/
/* line 592, ../sass/profile.scss */
#user-profile-form .vertical-tabs ul.vertical-tabs-list,
#sbac-favorites-user-favorites .vertical-tabs ul.vertical-tabs-list {
  padding-left: 0;
}
/* line 596, ../sass/profile.scss */
#user-profile-form .vertical-tabs ul.vertical-tabs-list li,
#sbac-favorites-user-favorites .vertical-tabs ul.vertical-tabs-list li {
  width: 250px;
}
/* line 600, ../sass/profile.scss */
#user-profile-form .vertical-tabs ul.vertical-tabs-list li.selected a:after,
#sbac-favorites-user-favorites .vertical-tabs ul.vertical-tabs-list li.selected a:after {
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: none;
  content: " ";
  display: block;
  height: 100%;
  position: relative;
  right: 0;
  top: 0;
  width: 0;
  z-index: 2;
}
/* line 612, ../sass/profile.scss */
#user-profile-form .vertical-tabs ul.vertical-tabs-list li a:after,
#sbac-favorites-user-favorites .vertical-tabs ul.vertical-tabs-list li a:after {
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: none;
  content: " ";
  display: block;
  height: 100%;
  position: relative;
  right: 0;
  top: 0;
  width: 0;
  z-index: 1;
}
/* line 624, ../sass/profile.scss */
#user-profile-form .vertical-tabs ul.vertical-tabs-list li.selected a,
#sbac-favorites-user-favorites .vertical-tabs ul.vertical-tabs-list li.selected a {
  box-shadow: none;
  background-color: #006082;
  border: 1px solid #006082;
  color: #FFFFFF;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

/* line 635, ../sass/profile.scss */
.page-user .row.second .vertical-tabs {
  border: none;
}
/* line 638, ../sass/profile.scss */
.page-user .row.second .vertical-tabs fieldset.vertical-tabs-pane {
  padding: 0 0 0 1em;
}
/* line 643, ../sass/profile.scss */
.page-user .row.second .vertical-tabs-list {
  margin-left: -240px;
  width: 270px;
  border: none;
}
/* line 647, ../sass/profile.scss */
.page-user .row.second .vertical-tabs-list li {
  border: none;
  background: none;
}
/* line 650, ../sass/profile.scss */
.page-user .row.second .vertical-tabs-list li.first a {
  border-radius: 6px 6px 0 0;
  border-color: #CECECE #CECECE;
}
/* line 654, ../sass/profile.scss */
.page-user .row.second .vertical-tabs-list li.last a {
  border-radius: 0 0 6px 6px;
}
/* line 657, ../sass/profile.scss */
.page-user .row.second .vertical-tabs-list li.selected {
  background: none;
}
/* line 660, ../sass/profile.scss */
.page-user .row.second .vertical-tabs-list li.selected a strong {
  color: #fff;
}
/* line 664, ../sass/profile.scss */
.page-user .row.second .vertical-tabs-list li a {
  background-color: #F7F7F7;
  border-color: #FFFFFF #CECECE #CECECE;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 0 #FFFFFF;
  color: #464B54;
  display: block;
  font-size: 15px;
  font-weight: bold;
  padding: 15px 20px;
  text-shadow: 0 1px 0 #FFFFFF;
  text-align: left;
  width: 250px;
}
/* line 679, ../sass/profile.scss */
.page-user .row.second .vertical-tabs-list li a span {
  display: inline-block;
}
/* line 682, ../sass/profile.scss */
.page-user .row.second .vertical-tabs-list li a span.form-required {
  color: #FF0000;
}
/* line 687, ../sass/profile.scss */
.page-user .row.second .vertical-tabs-list li a:hover {
  outline: none;
  background-color: #F2F2F2;
  color: #006082;
}
/* line 692, ../sass/profile.scss */
.page-user .row.second .vertical-tabs-list li a:focus strong, .page-user .row.second .vertical-tabs-list li a:active strong {
  outline: none;
  text-decoration: none;
}

/*Favorites Tab*/
/* line 703, ../sass/profile.scss */
#sbac-favorites-forum-table-drag-drop,
#sbac-favorites-resource-table-drag-drop {
  margin-top: 10px;
  width: 100%;
}

/* line 710, ../sass/profile.scss */
#edit-tab-container-resource-tab-buttons button,
#edit-tab-container-forum-tab-buttons button {
  float: right;
  margin-left: 20px;
  padding-left: 40px;
}
/* line 717, ../sass/profile.scss */
#edit-tab-container-resource-tab-buttons #sbac-favorites-forum-submit:before,
#edit-tab-container-resource-tab-buttons #sbac-favorites-resource-submit:before,
#edit-tab-container-forum-tab-buttons #sbac-favorites-forum-submit:before,
#edit-tab-container-forum-tab-buttons #sbac-favorites-resource-submit:before {
  content: url("../images/icon-buttonAccept.png");
  left: 15px;
  position: absolute;
  top: 4px;
}
/* line 725, ../sass/profile.scss */
#edit-tab-container-resource-tab-buttons #sbac-favorites-forum-cancel:before,
#edit-tab-container-resource-tab-buttons #sbac-favorites-resource-cancel:before,
#edit-tab-container-forum-tab-buttons #sbac-favorites-forum-cancel:before,
#edit-tab-container-forum-tab-buttons #sbac-favorites-resource-cancel:before {
  content: url("../images/icon-buttonCancel.png");
  left: 15px;
  position: absolute;
  top: 4px;
}
