/* -----------------------------------------
    Variables and Mixins
   ----------------------------------------- */
/* line 40, ../sass/sbac_report.scss */
.page-reports .row {
  max-width: 960px;
}
/* line 44, ../sass/sbac_report.scss */
.page-reports h1#page-title {
  color: #04384E;
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 0 10px;
  padding: 20px 0 15px;
  text-transform: capitalize;
}
/* line 54, ../sass/sbac_report.scss */
.page-reports #main.columns {
  /*padding: 0 50px 0 40px;*/
}

/* line 59, ../sass/sbac_report.scss */
.chzn-container-multi .chzn-choices .search-field input {
  height: 25px;
  padding-top: 3px;
  padding-bottom: 3px;
  line-height: 13px;
}

/* line 71, ../sass/sbac_report.scss */
#sbac-csv-report-resource-stats-form .chzn-container {
  width: 90% !important;
}

/* line 77, ../sass/sbac_report.scss */
#sbac-csv-report-user-activity-form .chzn-container {
  width: 90% !important;
}
/* line 81, ../sass/sbac_report.scss */
#sbac-csv-report-user-activity-form .form-item-state {
  width: 100%;
}
/* line 85, ../sass/sbac_report.scss */
#sbac-csv-report-user-activity-form .form-item.form-disabled {
  width: 90%;
}
/* line 87, ../sass/sbac_report.scss */
#sbac-csv-report-user-activity-form .form-item.form-disabled select {
  margin: 5px 0;
}

/* line 91, ../sass/sbac_report.scss */
.report-title {
  color: #000000;
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0 20px;
  padding: 10px 0;
  text-transform: capitalize;
}

/* line 101, ../sass/sbac_report.scss */
.chzn-container-single .chzn-search input {
  background-image: none !important;
}

/* line 105, ../sass/sbac_report.scss */
#edit-user-group-dropdown {
  height: 310px;
}

/* line 109, ../sass/sbac_report.scss */
i.icon-info {
  width: 18px;
  height: 18px;
  display: block;
  background: url("../images/icon-info.svg") center no-repeat;
  background-size: cover;
  text-indent: -9999em;
}

/* line 118, ../sass/sbac_report.scss */
.view-content table {
  width: 100%;
}

/* line 122, ../sass/sbac_report.scss */
.form-item-items-per-page label {
  display: inline-block;
}

/* line 126, ../sass/sbac_report.scss */
.form-item-items-per-page select {
  display: inline-block;
  width: 100px;
}

/* line 132, ../sass/sbac_report.scss */
.view-sne-details .row.first {
  padding: 20px 0;
}

/* line 139, ../sass/sbac_report.scss */
.view-display-id-resources_summary tbody td {
  text-align: center;
}

/* line 148, ../sass/sbac_report.scss */
.view-display-id-resources_details .form-type-select label,
.view-id-posted_resource_stats .form-type-select label {
  display: inline-block;
}
/* line 152, ../sass/sbac_report.scss */
.view-display-id-resources_details .form-type-select select,
.view-id-posted_resource_stats .form-type-select select {
  width: 85px;
  font-size: 0.8em;
  border: 1px solid #aaa;
}

/* line 160, ../sass/sbac_report.scss */
select#edit-limit {
  width: 85px;
  font-size: 0.8em;
}

/* line 165, ../sass/sbac_report.scss */
.view-filters {
  float: right;
  text-align: right;
}
/* line 169, ../sass/sbac_report.scss */
.view-filters .throbber {
  display: none;
}

/* line 175, ../sass/sbac_report.scss */
.view-contributed-resources .throbber {
  display: none;
}

/* line 181, ../sass/sbac_report.scss */
.report-form-container {
  position: relative;
  /** User group **/
  /* state container */
  /* date range container */
}
/* line 186, ../sass/sbac_report.scss */
.report-form-container .form-item-user-group-dropdown {
  clear: both;
}
/* line 193, ../sass/sbac_report.scss */
.report-form-container .form-item-state {
  width: 25%;
  margin-right: 20px;
  float: left;
  margin-top: 0;
}
/* line 199, ../sass/sbac_report.scss */
.report-form-container .form-item-state .chzn-container-single {
  width: 100% !important;
}
/* line 202, ../sass/sbac_report.scss */
.report-form-container .form-item-state .chzn-container-single .chzn-single {
  height: 32px;
}
/* line 205, ../sass/sbac_report.scss */
.report-form-container .form-item-state .chzn-container-single .chzn-single span {
  font-size: 14px;
  line-height: 30px;
}
/* line 212, ../sass/sbac_report.scss */
.report-form-container .form-item-state .ajax-progress-throbber {
  display: none;
}
/* line 218, ../sass/sbac_report.scss */
.report-form-container .date-range-container {
  width: 25%;
  margin: 1em 20px 1em 0;
  float: left;
}
/* line 223, ../sass/sbac_report.scss */
.report-form-container .date-range-container .report-dropdown-toggle {
  color: #4d4d4d;
  height: 2.3125em;
  line-height: 20px;
  border: 1px solid #aaa;
  width: 100%;
  display: inline-block;
  padding: 5px 5px 5px 10px;
  font-size: 0.875em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
  background-image: -webkit-linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -moz-linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -o-linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
}
/* line 235, ../sass/sbac_report.scss */
.report-form-container .date-range-container .report-dropdown-toggle:after {
  content: " ";
  background: url(../images/icon-arrow-down.png) no-repeat;
  display: block;
  width: 10px;
  height: 10px;
  float: right;
  margin: 4px 3px 0 0;
}
/* line 246, ../sass/sbac_report.scss */
.report-form-container .date-range-container .report-dropdown-toggle.show:after {
  content: " ";
  background: url(../images/icon-arrow-up.png) no-repeat;
  display: block;
  width: 10px;
  height: 10px;
  float: right;
  margin: 3px 3px 0 0;
}
/* line 259, ../sass/sbac_report.scss */
.report-form-container .report-dropdown {
  position: absolute;
  background: white;
  width: 52%;
  z-index: 500;
}
/* line 266, ../sass/sbac_report.scss */
.report-form-container .form-item-sne {
  width: 30%;
  float: left;
  margin-right: 10px;
  padding-right: 20px;
  margin-top: 0;
}
/* line 273, ../sass/sbac_report.scss */
.report-form-container .form-item-sne #autocomplete {
  padding-left: 10px;
  background: #fff;
}
/* line 282, ../sass/sbac_report.scss */
.report-form-container .container-inline-date {
  margin-right: 20px;
  clear: none;
}
/* line 286, ../sass/sbac_report.scss */
.report-form-container .container-inline-date > .form-item {
  margin-right: 1.5em;
}
/* line 290, ../sass/sbac_report.scss */
.report-form-container .container-inline-date .form-type-date-popup {
  float: left;
}
/* line 294, ../sass/sbac_report.scss */
.report-form-container .container-inline-date .date-padding {
  padding: 10px 0;
}

/* line 301, ../sass/sbac_report.scss */
#date-range-dropdown,
#date-range-dropdown1 {
  margin: 0;
  padding: 10px;
  border: 1px solid #ddd;
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 0 12px 12px 12px;
}
/* line 308, ../sass/sbac_report.scss */
#date-range-dropdown ul,
#date-range-dropdown1 ul {
  margin: .5em 0 1em;
  padding: 0;
}
/* line 312, ../sass/sbac_report.scss */
#date-range-dropdown ul + div,
#date-range-dropdown1 ul + div {
  margin-bottom: 20px;
  font-weight: bold;
}
/* line 317, ../sass/sbac_report.scss */
#date-range-dropdown ul li,
#date-range-dropdown1 ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 20px 10px 0;
}
/* line 322, ../sass/sbac_report.scss */
#date-range-dropdown ul li .report-dropdown-toggle.date-range-item,
#date-range-dropdown1 ul li .report-dropdown-toggle.date-range-item {
  border: none;
  width: auto;
  height: auto;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  color: #006298;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: #bfd8e5;
  border: 1px rgba(0, 98, 152, 0.5) solid;
  padding: 8px 18px;
  text-align: center;
  padding: 3px 5px;
}
/* line 27, ../sass/sbac_report.scss */
#date-range-dropdown ul li .report-dropdown-toggle.date-range-item:hover,
#date-range-dropdown1 ul li .report-dropdown-toggle.date-range-item:hover {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background: #0085ad;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  color: white;
}
/* line 34, ../sass/sbac_report.scss */
#date-range-dropdown ul li .report-dropdown-toggle.date-range-item:focus,
#date-range-dropdown1 ul li .report-dropdown-toggle.date-range-item:focus {
  background: #bfd8e5;
}
/* line 329, ../sass/sbac_report.scss */
#date-range-dropdown ul li .report-dropdown-toggle.date-range-item:after,
#date-range-dropdown1 ul li .report-dropdown-toggle.date-range-item:after {
  background: none;
  margin: 0;
}

/*Individual Contributor and Reviewer Report*/
/* line 340, ../sass/sbac_report.scss */
.page-reports #sbac-report-individual-form {
  border-bottom: 1px solid #62676E;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
/* line 346, ../sass/sbac_report.scss */
.page-reports #sbac-report-individual-form label {
  font-size: 14px;
  white-space: nowrap;
}
/* line 353, ../sass/sbac_report.scss */
.page-reports #sbac-report-individual-form #edit-date-range legend {
  font-size: 14px;
}
/* line 357, ../sass/sbac_report.scss */
.page-reports #sbac-report-individual-form #edit-date-range span {
  margin-right: 20px;
}
/* line 362, ../sass/sbac_report.scss */
.page-reports #sbac-report-individual-form #edit-submit {
  margin-top: 20px;
}
/* line 369, ../sass/sbac_report.scss */
.page-reports #sbac-csv-report-user-activity-form label {
  font-size: 13px;
}
/* line 372, ../sass/sbac_report.scss */
.page-reports #sbac-csv-report-user-activity-form span {
  margin-right: 20px;
}
/* line 379, ../sass/sbac_report.scss */
.page-reports .view-sne-details .large-3.profile-pic {
  padding-right: 0;
  margin-bottom: 15px;
  width: 16%;
}
/* line 384, ../sass/sbac_report.scss */
.page-reports .view-sne-details .large-3.profile-pic .user-picture {
  background-image: url("../images/avatar.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  float: left;
  width: 100px;
  height: 100px;
  /*height: auto;*/
}
/* line 395, ../sass/sbac_report.scss */
.page-reports .view-sne-details .large-3.profile-pic .user-picture .profile-img {
  width: 100px !important;
  height: auto !important;
}
/* line 402, ../sass/sbac_report.scss */
.page-reports .view-sne-details .large-9.user-profile {
  float: left;
}
/* line 405, ../sass/sbac_report.scss */
.page-reports .view-sne-details .large-9.user-profile h2 {
  padding: 0 !important;
  margin-bottom: 8px;
}
/* line 410, ../sass/sbac_report.scss */
.page-reports .view-sne-details .large-9.user-profile .views-field {
  margin-bottom: 7px;
  font-size: 15px;
}
/* line 414, ../sass/sbac_report.scss */
.page-reports .view-sne-details .large-9.user-profile .views-field.email {
  color: #0583AC;
  cursor: pointer;
  text-decoration: none;
}
/* line 422, ../sass/sbac_report.scss */
.page-reports .view-sne-details .profile-details {
  clear: both;
  margin: 0 1em;
}
/* line 426, ../sass/sbac_report.scss */
.page-reports .view-sne-details .profile-details .views-field {
  margin-bottom: 20px;
}
/* line 429, ../sass/sbac_report.scss */
.page-reports .view-sne-details .profile-details .views-field .title {
  border-bottom: 1px solid #CECECE;
  color: #04384E;
  display: block;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: normal;
  margin: 0 0 5px;
  padding: 0 0 3px;
  text-transform: uppercase;
}
/* line 442, ../sass/sbac_report.scss */
.page-reports .view-sne-details .profile-details .views-field .tag {
  background-color: #F2F2F2;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  line-height: 22px;
  margin-right: 7px;
  margin-top: 7px;
  padding: 0 5px;
}
/* line 458, ../sass/sbac_report.scss */
.page-reports #individual table {
  color: #464B54;
  font-size: 13px;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 30px;
}
/* line 466, ../sass/sbac_report.scss */
.page-reports #individual th {
  background-color: #F2F2F2;
  font-size: 13px;
  padding: 10px;
  color: #464B54;
  line-height: 1.5;
}
/* line 474, ../sass/sbac_report.scss */
.page-reports #individual td {
  padding: 10px;
  font-size: 13px;
  text-align: left;
  background: none repeat scroll 0 0 #FFFFFF;
}
/* line 483, ../sass/sbac_report.scss */
.page-reports #individual .view-contributed-resources table {
  border: none;
}
/* line 487, ../sass/sbac_report.scss */
.page-reports #individual .view-contributed-resources .sbac_report_reviews_empty {
  visibility: hidden;
  border: none;
}
/* line 492, ../sass/sbac_report.scss */
.page-reports #individual .view-contributed-resources .sbac_report_collaboration_activity {
  border: none;
  text-align: center;
  background-color: #a1a4a8;
  background-image: none;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  border-radius: 12px 12px 0 0;
}
/* line 504, ../sass/sbac_report.scss */
.page-reports #individual .view-contributed-resources th {
  text-align: center;
}
/* line 507, ../sass/sbac_report.scss */
.page-reports #individual .view-contributed-resources th.views-field-rating {
  width: 100px;
}
/* line 512, ../sass/sbac_report.scss */
.page-reports #individual .view-contributed-resources td {
  text-align: center;
}
/* line 515, ../sass/sbac_report.scss */
.page-reports #individual .view-contributed-resources td a {
  text-decoration: underline;
}
/* line 519, ../sass/sbac_report.scss */
.page-reports #individual .view-contributed-resources td.views-field-nid-active {
  text-align: left;
}
/* line 526, ../sass/sbac_report.scss */
.page-reports .form-item-display {
  float: right;
}
/* line 530, ../sass/sbac_report.scss */
.page-reports label[for="edit-display"] {
  display: inline-block;
}
/* line 534, ../sass/sbac_report.scss */
.page-reports select#edit-display {
  width: 85px;
  margin-bottom: 30px;
  font-size: 0.8em;
  border: 1px solid #aaa;
}

/**
 Tables
  **/
/* line 548, ../sass/sbac_report.scss */
.page-reports #main {
  width: 960px;
}
/* line 552, ../sass/sbac_report.scss */
.page-reports div.vertical-tabs {
  margin-left: 8em;
}
/* line 555, ../sass/sbac_report.scss */
.page-reports div.vertical-tabs ul.vertical-tabs-list {
  margin-left: -8em;
  width: 8em;
}
/* line 561, ../sass/sbac_report.scss */
.page-reports table.report-summation {
  /*border:none !important;*/
  background: none;
  font-size: 0.85em;
  /*	width: 600px;
  		display: block;
  		overflow-x: scroll;*/
}
/* line 576, ../sass/sbac_report.scss */
.page-reports table.report-summation thead {
  background: none;
}
/* line 579, ../sass/sbac_report.scss */
.page-reports table.report-summation thead tr th {
  background: none;
  border: none;
}
/* line 583, ../sass/sbac_report.scss */
.page-reports table.report-summation thead tr th.header {
  border: 1px solid #ccc;
  color: #056b8d;
  font-weight: bold;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(100%, #ebebeb));
  background-image: -webkit-linear-gradient(#ededed, #ebebeb);
  background-image: -moz-linear-gradient(#ededed, #ebebeb);
  background-image: -o-linear-gradient(#ededed, #ebebeb);
  background-image: linear-gradient(#ededed, #ebebeb);
}
/* line 592, ../sass/sbac_report.scss */
.page-reports table.report-summation tbody tr td {
  background-color: #fff;
  background-image: none;
  padding: 10px 2px !important;
}
/* line 597, ../sass/sbac_report.scss */
.page-reports table.report-summation tbody tr td.subheader {
  /*@include table-header();*/
  background-color: #fff;
  background-image: none;
}
/* line 603, ../sass/sbac_report.scss */
.page-reports table.report-summation tbody tr td .cell-scroll {
  max-width: 52px;
  overflow-x: scroll;
}

/**
 Modals
  **/
/* line 616, ../sass/sbac_report.scss */
.clear {
  clear: both;
}

/* line 621, ../sass/sbac_report.scss */
.dialog_sbac_report_individual_modal_form #dialog {
  text-align: right;
}
/* line 624, ../sass/sbac_report.scss */
.dialog_sbac_report_individual_modal_form #dialog .intro {
  text-align: left;
}
/* line 627, ../sass/sbac_report.scss */
.dialog_sbac_report_individual_modal_form #dialog .intro .review-date {
  float: left;
}
/* line 631, ../sass/sbac_report.scss */
.dialog_sbac_report_individual_modal_form #dialog .intro .recommendation {
  float: right;
}
/* line 636, ../sass/sbac_report.scss */
.dialog_sbac_report_individual_modal_form #dialog .flexslider {
  margin: 20px auto 50px;
  text-align: left;
  width: 580px;
  border-bottom: 0;
}
/* line 642, ../sass/sbac_report.scss */
.dialog_sbac_report_individual_modal_form #dialog .flexslider .slides {
  margin-bottom: 0;
}
/* line 645, ../sass/sbac_report.scss */
.dialog_sbac_report_individual_modal_form #dialog .flexslider .slides li {
  margin: 0;
  height: 350px;
  overflow-y: auto;
}
/* line 651, ../sass/sbac_report.scss */
.dialog_sbac_report_individual_modal_form #dialog .flexslider .slides li .slide-title,
.dialog_sbac_report_individual_modal_form #dialog .flexslider .slides li .inline-title {
  font-weight: bold;
}
/* line 654, ../sass/sbac_report.scss */
.dialog_sbac_report_individual_modal_form #dialog .flexslider .slides li .slide-title p,
.dialog_sbac_report_individual_modal_form #dialog .flexslider .slides li .inline-title p {
  font-weight: bold;
  font-size: 1em;
}
/* line 664, ../sass/sbac_report.scss */
.dialog_sbac_report_individual_modal_form #dialog .flexslider .slides li .gk-item,
.dialog_sbac_report_individual_modal_form #dialog .flexslider .slides li .qc-item,
.dialog_sbac_report_individual_modal_form #dialog .flexslider .slides li .post-item,
.dialog_sbac_report_individual_modal_form #dialog .flexslider .slides li .post-decision,
.dialog_sbac_report_individual_modal_form #dialog .flexslider .slides li .qc-question-item {
  margin: 0 0 10px 0;
}
/* line 671, ../sass/sbac_report.scss */
.dialog_sbac_report_individual_modal_form #dialog .flexslider-continue {
  display: inline;
  float: right;
  margin: 0 0 0 10px;
}
/* line 677, ../sass/sbac_report.scss */
.dialog_sbac_report_individual_modal_form #dialog .close-dialog {
  display: inline;
  margin: 0;
}

/*SNE tab, CSV tab*/
/* line 688, ../sass/sbac_report.scss */
.page-reports ul.vertical-tabs-list {
  margin-left: 0;
  padding-bottom: 5px;
}
/* line 693, ../sass/sbac_report.scss */
.page-reports fieldset[id*="edit-date-range"] {
  clear: left;
  border: none;
  padding: 10px 0 0;
  margin-bottom: 0;
}
/* line 699, ../sass/sbac_report.scss */
.page-reports fieldset[id*="edit-date-range"] input[type="radio"] {
  margin-bottom: 15px;
}
/* line 703, ../sass/sbac_report.scss */
.page-reports fieldset[id*="edit-date-range"] .form-wrapper {
  border: none;
  padding: 0;
}
/* line 708, ../sass/sbac_report.scss */
.page-reports fieldset[id*="edit-date-range"] .form-wrapper .form-type-textfield .description {
  display: none;
}
/* line 714, ../sass/sbac_report.scss */
.page-reports .container-inline-date label, .page-reports .container-inline-date input {
  display: block;
  float: left;
}
/* line 719, ../sass/sbac_report.scss */
.page-reports .container-inline-date label {
  margin-right: 10px;
  margin-top: 10px;
}
/* line 725, ../sass/sbac_report.scss */
.page-reports hr {
  display: none;
}

/* line 732, ../sass/sbac_report.scss */
.page-reports .report-form-container button:focus {
  border-color: #9ecaed !important;
  box-shadow: 0 0 10px #9ecaed !important;
}

/*Report individual modal*/
/* line 740, ../sass/sbac_report.scss */
.sbac-report-modal.ctools-modal-content {
  padding-left: 10px !important;
  padding-right: 10px !important;
  position: relative;
  z-index: 99;
}
/* line 746, ../sass/sbac_report.scss */
.sbac-report-modal.ctools-modal-content #modal-title {
  margin-left: 20px;
}
/* line 750, ../sass/sbac_report.scss */
.sbac-report-modal.ctools-modal-content .modal-content {
  padding: 0;
  overflow-y: hidden !important;
}
/* line 755, ../sass/sbac_report.scss */
.sbac-report-modal.ctools-modal-content .modal-content .intro .review-date {
  width: 50%;
  float: left;
}
/* line 759, ../sass/sbac_report.scss */
.sbac-report-modal.ctools-modal-content .modal-content .intro .recommendation {
  width: 50%;
  float: right;
  text-align: right;
}
/* line 767, ../sass/sbac_report.scss */
.sbac-report-modal.ctools-modal-content .modal-content .flexslider .flex-viewport {
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 420px;
  border-bottom: 0;
}
/* line 773, ../sass/sbac_report.scss */
.sbac-report-modal.ctools-modal-content .modal-content .flexslider .flex-viewport li {
  margin: 0;
  overflow-y: auto !important;
  max-height: 420px;
}

/* line 783, ../sass/sbac_report.scss */
form[id*="sbac-report-ct-individual-modal-form"] {
  margin-bottom: 0;
  padding: 0 40px;
}
/* line 787, ../sass/sbac_report.scss */
form[id*="sbac-report-ct-individual-modal-form"] button {
  float: right;
  margin-left: 20px;
}

/* line 796, ../sass/sbac_report.scss */
.page-reports #user_activity p,
.page-reports #sbac_report_tab_forum p {
  font-size: 1rem;
  margin-bottom: 0.25em;
}
