/* -----------------------------------------
    Variables and Mixins
   ----------------------------------------- */
/* line 38, ../sass/sbac_report.scss */
i.icon-info {
  width: 18px;
  height: 18px;
  display: block;
  background: url("../images/icon-info.svg") center no-repeat;
  background-size: cover;
  text-indent: -9999em;
}

/* line 47, ../sass/sbac_report.scss */
.view-content table {
  width: 100%;
}

/* line 51, ../sass/sbac_report.scss */
.form-item-items-per-page label {
  display: inline-block;
}

/* line 55, ../sass/sbac_report.scss */
.form-item-items-per-page select {
  display: inline-block;
  width: 100px;
}

/* line 61, ../sass/sbac_report.scss */
.view-sne-details .row.first {
  padding: 20px 0;
}

/* line 68, ../sass/sbac_report.scss */
.view-display-id-resources_summary tbody td {
  text-align: center;
}

/* line 74, ../sass/sbac_report.scss */
.view-filters {
  float: right;
  text-align: right;
}
/* line 78, ../sass/sbac_report.scss */
.view-filters .throbber {
  display: none;
}

/* line 84, ../sass/sbac_report.scss */
.view-contributed-resources .throbber {
  display: none;
}

/* line 89, ../sass/sbac_report.scss */
.report-form-container {
  position: relative;
  /** User group **/
  /* state container */
  /* date range container */
}
/* line 95, ../sass/sbac_report.scss */
.report-form-container .form-item-user-group-dropdown {
  clear: both;
}
/* line 100, ../sass/sbac_report.scss */
.report-form-container .form-item-state {
  width: 25%;
  margin-right: 20px;
  float: left;
}
/* line 105, ../sass/sbac_report.scss */
.report-form-container .form-item-state .chzn-container-single {
  width: 100% !important;
}
/* line 108, ../sass/sbac_report.scss */
.report-form-container .form-item-state .chzn-container-single .chzn-single {
  height: 32px;
}
/* line 111, ../sass/sbac_report.scss */
.report-form-container .form-item-state .chzn-container-single .chzn-single span {
  font-size: 14px;
  line-height: 24px;
}
/* line 118, ../sass/sbac_report.scss */
.report-form-container .form-item-state .ajax-progress-throbber {
  display: none;
}
/* line 124, ../sass/sbac_report.scss */
.report-form-container .date-range-container {
  width: 25%;
  margin: 1em 20px 1em 0;
  float: left;
}
/* line 129, ../sass/sbac_report.scss */
.report-form-container .date-range-container .report-dropdown-toggle {
  color: #4d4d4d;
  height: 2.3125em;
  border: 1px solid #aaa;
  width: 100%;
  display: inline-block;
  padding: 5px;
  font-size: 0.875em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
  background-image: -webkit-linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -moz-linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -o-linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  line-height: 1em;
}
/* line 141, ../sass/sbac_report.scss */
.report-form-container .date-range-container .report-dropdown-toggle:after {
  content: " ";
  background: url(../images/icon-arrow-down.png) no-repeat;
  display: block;
  width: 10px;
  height: 10px;
  float: right;
  margin: 4px 3px 0 0;
}
/* line 152, ../sass/sbac_report.scss */
.report-form-container .date-range-container .report-dropdown-toggle.show:after {
  content: " ";
  background: url(../images/icon-arrow-up.png) no-repeat;
  display: block;
  width: 10px;
  height: 10px;
  float: right;
  margin: 3px 3px 0 0;
}
/* line 165, ../sass/sbac_report.scss */
.report-form-container .report-dropdown {
  position: absolute;
  background: white;
  width: 52%;
  z-index: 500;
}
/* line 173, ../sass/sbac_report.scss */
.report-form-container .form-item-sne {
  width: 25%;
  float: left;
  margin-right: 10px;
}
/* line 179, ../sass/sbac_report.scss */
.report-form-container button {
  float: right;
  margin-top: 1.875em;
}
/* line 184, ../sass/sbac_report.scss */
.report-form-container .container-inline-date {
  margin-right: 20px;
  clear: none;
}
/* line 188, ../sass/sbac_report.scss */
.report-form-container .container-inline-date > .form-item {
  margin-right: 1.5em;
}
/* line 192, ../sass/sbac_report.scss */
.report-form-container .container-inline-date .form-type-date-popup {
  float: left;
}
/* line 196, ../sass/sbac_report.scss */
.report-form-container .container-inline-date .date-padding {
  padding: 10px 0;
}

/* line 203, ../sass/sbac_report.scss */
#date-range-dropdown,
#date-range-dropdown1 {
  margin: 0;
  padding: 10px;
  border: 1px solid #ddd;
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 0 12px 12px 12px;
}
/* line 210, ../sass/sbac_report.scss */
#date-range-dropdown ul,
#date-range-dropdown1 ul {
  margin: .5em 0 1em;
  padding: 0;
}
/* line 214, ../sass/sbac_report.scss */
#date-range-dropdown ul + div,
#date-range-dropdown1 ul + div {
  margin-bottom: 20px;
  font-weight: bold;
}
/* line 219, ../sass/sbac_report.scss */
#date-range-dropdown ul li,
#date-range-dropdown1 ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 20px 10px 0;
}
/* line 224, ../sass/sbac_report.scss */
#date-range-dropdown ul li .report-dropdown-toggle.date-range-item,
#date-range-dropdown1 ul li .report-dropdown-toggle.date-range-item {
  border: none;
  width: auto;
  height: auto;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  color: #006298;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: #bfd8e5;
  border: 1px rgba(0, 98, 152, 0.5) solid;
  padding: 8px 18px;
  text-align: center;
  padding: 3px 5px;
}
/* line 25, ../sass/sbac_report.scss */
#date-range-dropdown ul li .report-dropdown-toggle.date-range-item:hover,
#date-range-dropdown1 ul li .report-dropdown-toggle.date-range-item:hover {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background: #0085ad;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  color: white;
}
/* line 32, ../sass/sbac_report.scss */
#date-range-dropdown ul li .report-dropdown-toggle.date-range-item:focus,
#date-range-dropdown1 ul li .report-dropdown-toggle.date-range-item:focus {
  background: #bfd8e5;
}
/* line 231, ../sass/sbac_report.scss */
#date-range-dropdown ul li .report-dropdown-toggle.date-range-item:after,
#date-range-dropdown1 ul li .report-dropdown-toggle.date-range-item:after {
  background: none;
  margin: 0;
}

/**
 Tables
  **/
/* line 246, ../sass/sbac_report.scss */
.page-reports table.report-summation {
  border: none !important;
  background: none;
  font-size: 0.9em;
}
/* line 258, ../sass/sbac_report.scss */
.page-reports table.report-summation thead {
  background: none;
}
/* line 261, ../sass/sbac_report.scss */
.page-reports table.report-summation thead tr th {
  background: none;
  border: none;
}
/* line 265, ../sass/sbac_report.scss */
.page-reports table.report-summation thead tr th.header {
  border: 1px solid #ccc;
  color: #056b8d;
  font-weight: bold;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(100%, #ebebeb));
  background-image: -webkit-linear-gradient(#ededed, #ebebeb);
  background-image: -moz-linear-gradient(#ededed, #ebebeb);
  background-image: -o-linear-gradient(#ededed, #ebebeb);
  background-image: linear-gradient(#ededed, #ebebeb);
}
/* line 275, ../sass/sbac_report.scss */
.page-reports table.report-summation tbody tr td.subheader {
  border: 1px solid #ccc;
  color: #056b8d;
  font-weight: bold;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(100%, #ebebeb));
  background-image: -webkit-linear-gradient(#ededed, #ebebeb);
  background-image: -moz-linear-gradient(#ededed, #ebebeb);
  background-image: -o-linear-gradient(#ededed, #ebebeb);
  background-image: linear-gradient(#ededed, #ebebeb);
}

/**
 Modals
  **/
/* line 287, ../sass/sbac_report.scss */
.clear {
  clear: both;
}

/* line 292, ../sass/sbac_report.scss */
.dialog_sbac_report_individual_modal_form #dialog {
  text-align: right;
}
/* line 295, ../sass/sbac_report.scss */
.dialog_sbac_report_individual_modal_form #dialog .intro {
  text-align: left;
}
/* line 298, ../sass/sbac_report.scss */
.dialog_sbac_report_individual_modal_form #dialog .intro .review-date {
  float: left;
}
/* line 302, ../sass/sbac_report.scss */
.dialog_sbac_report_individual_modal_form #dialog .intro .recommendation {
  float: right;
}
/* line 307, ../sass/sbac_report.scss */
.dialog_sbac_report_individual_modal_form #dialog .flexslider {
  margin: 20px auto 50px;
  text-align: left;
  width: 580px;
}
/* line 313, ../sass/sbac_report.scss */
.dialog_sbac_report_individual_modal_form #dialog .flexslider .slides li {
  margin: 0;
}
/* line 317, ../sass/sbac_report.scss */
.dialog_sbac_report_individual_modal_form #dialog .flexslider .slides li .slide-title,
.dialog_sbac_report_individual_modal_form #dialog .flexslider .slides li .inline-title {
  font-weight: bold;
}
/* line 325, ../sass/sbac_report.scss */
.dialog_sbac_report_individual_modal_form #dialog .flexslider .slides li .gk-item,
.dialog_sbac_report_individual_modal_form #dialog .flexslider .slides li .qc-item,
.dialog_sbac_report_individual_modal_form #dialog .flexslider .slides li .post-item,
.dialog_sbac_report_individual_modal_form #dialog .flexslider .slides li .post-decision,
.dialog_sbac_report_individual_modal_form #dialog .flexslider .slides li .qc-question-item {
  margin: 0 0 10px 0;
}
/* line 332, ../sass/sbac_report.scss */
.dialog_sbac_report_individual_modal_form #dialog .flexslider-continue {
  display: inline;
  float: right;
  margin: 0 0 0 10px;
}
/* line 338, ../sass/sbac_report.scss */
.dialog_sbac_report_individual_modal_form #dialog .close-dialog {
  display: inline;
  margin: 0;
}
