/* Landing Page Featured Content */
#lp-featured-content{
  .featured-content-inner {
    width:700px;
    position:absolute;
    right:0;
    @media (min-width: 1100px) {
      width:800px;
    }
  }
  .col-resource{
    overflow: hidden;
    width:340px;
    .featured-resource-mini-profile {
      position:relative;
      background:none;
      z-index:9;
      color: $text;
      margin-top: 10px;
      .view-users {
        background:none;
        .views-field-nid,
        .views-field-fields-combine-1 {
        }
      }
    }
  }
  .col-details{
    width:268px;
  }
  #edit-featured-wrap {
    position:relative;
    height:0;
    overflow:visible;
    width:994px;
    margin:0 auto;
  }
  #edit-featured{
    position:absolute;
    top:-23px;
    right:25px;
    z-index:9;
    
    a {
      padding: 5px 5px 5px 27px;
      background: url('../images/icons/icon-edit.png') no-repeat left center;
      font-size:14px;
      color: $teal;
      border-radius: 0.25rem;
      &:hover{
        background-color: $white;
      }
    }
  }
  .featured-content-container{
    .slick-list {
      width:994px;
      margin:0 auto;
    }

    .featured-content-wrapper{
      &:hover a {
	text-decoration:underline;
      }
      position:relative;
      &.slick-slide {
        .featured-content-inner {
          display:block;
          position:absolute;
          border: 1px solid #ffffff;
          border-radius: 0.25rem;
          box-shadow: 0 0.0625rem 0.125rem rgba(16, 16, 16, 0.4);
          overflow:hidden;
          background: rgba(255, 255, 255, 0.85);
          border: 1px solid #ffffff;
          border-radius: 0.25rem;
          box-shadow: 0 0.0625rem 0.125rem rgba(16, 16, 16, 0.4);
          transition: background-color 0.3s ease;
          right:40px;
          max-height:415px;
          padding: 20px 30px;
          @media (min-width: 1100px) {
            right:15px;
            width:700px;
          }
          &:hover{
            background:rgba(255,255,255,1);
            box-shadow:0 2px 4px fade(16,16,16,0.3);
            transition: background-color 0.2s ease;
            .featured-title{
              text-decoration: underline;

            }
          }
          .featured-title{
            margin-top: 5px;
            padding-bottom: 20px;
            border-bottom: 1px solid #cccccc;
            a{
              font-size: 18px;
              line-height: 1.2;
              font-weight: 600;
              color: #000000;
            }
          }
          .featured-summary{
            line-height: 1.4;
            color: #101010;
            font-weight: 400;
            font-size: 13px;
          }

          .featured-label{
            margin-top: 10px;
            margin-bottom: 2px;
            font-weight: 400;
            color: #858585;
            line-height: 1;
            clear: both;
            padding: 1px;
            text-transform: uppercase;
            font-size: 10px;
          }
          .featured-type{
          }
          .featured-content-terms-wrapper{
            clear:both;
            padding:1px;
            ul.featured-content-terms{
              display: block;
              li{
                color: #000000;
                line-height: 1.25rem;
                padding: 0 0.4375rem;
                background: rgba(16, 16, 16, 0.07);
                font-size: 12px;
                font-weight: 600;
                margin-top: 0.4375rem;
                margin-right: 0.4375rem;
                float: left;
                list-style: none;
              }
            }
          }
        }
      }
    }

    /* Featured Resource */
    .featured-resource-wrapper{
    }
  }
}

body.node-type-resource{
}
