/* Landing Page Featured Content */
#lp-featured-content{
    max-width: 43.75rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.875rem;
  .featured-content-container{
    .featured-content-wrapper{
      display:block;
      width: 43.75rem;
      border: 1px solid #ffffff;
      border-radius: 0.25rem;
      box-shadow: 0 0.0625rem 0.125rem rgba(16, 16, 16, 0.4);
      overflow:hidden;
      background: rgba(255, 255, 255, 0.85);
      border: 1px solid #ffffff;
      border-radius: 0.25rem;
      box-shadow: 0 0.0625rem 0.125rem rgba(16, 16, 16, 0.4);
      transition: background-color 0.3s ease;
      a.featured-content-url{
        height:366px;
        padding: 20px 30px 30px 30px;
        display:block;
        .featured-title{
          font-size: 18px;
          line-height: 22px;
          font-weight: 600;
          color: #0583ac;
          margin-top: 10px;
        }
        &:hover{
          .featured-title{
            text-decoration: underline;
          }
        }
        .featured-summary{
          line-height: 1.4;
          color: #101010;
          font-weight: 400;
          font-size: 13px;
        }

        .featured-label{
            margin-top: 1.25rem;
            margin-bottom: -0.25rem;
            font-weight: 400;
            color: #101010;
            line-height: 1.4;
            clear:both;
            padding: 1px;
            text-transform: uppercase;
            font-size:11px;
          }
          .featured-type{
            margin-top: 15px;
          }
          .featured-content-terms-wrapper{
            clear:both;
            padding:1px;
            ul.featured-content-terms{
              display: block;
              li{
                color: #000000;
                line-height: 1.25rem;
                padding: 0 0.4375rem;
                background: rgba(16, 16, 16, 0.07);
                font-size: 12px;
                font-weight: 600;
                margin-top: 0.4375rem;
                margin-right: 0.4375rem;
                float: left;
                list-style: none;
              }
            }
          }

        }
      }

  /* Featured Resource */
    .featured-resource-wrapper{
    }
  }
}

body.node-type-resource{
}