@import "../colors.scss";
.flag-message{
  clear:both;
  padding:10px;
  background-color:$darkgreen;
  color: white;
  border-radius: 5px;
}

.featured-resource-link{
  display: inline-block;
  width: auto;
  float: right;
  text-align: right;
  margin-top: 3px;
  margin-right: 26px;
  a {
    display: block;
    padding-left: 20px;
    vertical-align: middle;
    font-size: 13px;
    line-height: 15px;
    height: 15px;
    color: #62676e;
  }
}
