@import "colors.scss";
body.page-sbac{
  background: #f2f2f2;
  #lp-help-topics-wrapper {
    background: $teal;
    box-shadow: 0px 1px 5px #888888;
    position:relative;
    z-index:9;
    padding: 20px 0;
    #lp-help-topics {
      &.row {
	max-width:1280px;
	.welcome-container-left {
	min-height:65px;}
      }
    }
    .help-topics-header{
      font-size:14px;
      font-weight: 400;
      color: $white;
      text-shadow: rgba(0,0,0,0.3) 0px 1px 1px;
      strong{
        font-size:18px;
        font-weight:600;
      }
    }
  }
  #lp-featured-content-wrapper {
    position:relative;
    #lp-featured-content {
      position:relative;
    }
  }
  .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: none;
    -webkit-tap-highlight-color: transparent;
  }
  .slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
  }
  .slick-list:focus {
    outline: none;
  }
  .slick-loading .slick-list {
    background: #ffffff url("./ajax-loader.gif") center center no-repeat;
  }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }
  .slick-slider .slick-list,
  .slick-track,
  .slick-slide,
  .slick-slide img {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    zoom: 1;
  }
  .slick-track:before,
  .slick-track:after {
    content: "";
    display: table;
  }
  .slick-track:after {
    clear: both;
  }
  .slick-loading .slick-track {
    visibility: hidden;
  }
  .slick-slide {
    float: left;
    height: 28.125rem;
    min-height: 1px;
    display: none;
  }
  .slick-slide img {
    display: block;
  }
  .slick-slide.slick-loading img {
    display: none;
  }
  .slick-slide.dragging img {
    pointer-events: none;
  }
  .slick-initialized .slick-slide {
    display: block;
  }
  .slick-loading .slick-slide {
    visibility: hidden;
  }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
  .slick-dots {
    list-style: none !important;
    overflow: visible !important;
    display: block !important;
    width: 100% !important;
    height: 2.0625rem !important;
    position: absolute !important;
    bottom: 0 !important;
    background: rgba(255, 255, 255, 0.85) !important;
    border-bottom: 0.0625rem solid #c2c2c2 !important;
    box-shadow: 0 -0.125rem 0.125rem rgba(16, 16, 16, 0.15) !important;
    text-align: center !important;
    margin-bottom:0 !important;
  }
  .slick-dots li {
    display: inline-block !important;
    position: relative !important;
    height: 1rem !important;
    width: 1rem !important;
    margin-top: 0.5rem !important;
    padding: 0 !important;
    cursor: pointer !important;
    padding:0 !important;
  }
  .slick-dots li + li {
    margin-left: 0.5rem !important;
    padding:0 !important;
  }
  .slick-dots li button {
    border: 0 !important;
    display: block !important;
    height: 1rem !important;
    width: 1rem !important;
    border-radius: 0.5rem !important;
    outline: none !important;
    font-size: 0 !important;
    cursor: pointer !important;
    background: #f2f2f2 !important;
    border: 0.0625rem solid #c2c2c2 !important;
    padding:0 !important;
  }
  .slick-dots li button:hover {
    background: #464b54 !important;
    border: 0 !important;
    display: block !important;
    height: 1rem !important;
    width: 1rem !important;
    border-radius: 0.5rem !important;
    outline: none !important;
    font-size: 0 !important;
    cursor: pointer !important;
    border: 0.0625rem solid #c2c2c2 !important;
    padding:0 !important;
    color:black;
  }
  .slick-dots li.slick-active button {
    background: #464b54 !important;
    border: 0 !important;
    display: block !important;
    height: 1rem !important;
    width: 1rem !important;
    border-radius: 0.5rem !important;
    outline: none !important;
    font-size: 0 !important;
    cursor: pointer !important;
    border: 0.0625rem solid #c2c2c2 !important;
    padding:0 !important;
    color:black;
  }
  .resources-wrap {
    width:100%;
  }
  .resources-wrap-inner {
    width:960px;
    margin:0 auto;
  }
  .resources-link {
    font-size: 1.125rem;
    color: #101010;
    font-weight: 600;
    margin-top: 1.25rem;
  }
  .resources-link-button {
    a {
      display:block;
      background: #2aa549;
      width: 13.75rem;
      margin-top: 1.25rem;
      color: #ffffff;
      font-size: 0.875rem;
      font-weight: 700;
      line-height: 2.125rem;
      vertical-align: middle;
      cursor: pointer;
      height: 2.25rem;
      text-align: center;
      text-transform: uppercase;
      border-radius: 0.25rem;
      border: 0.0625rem solid rgba(16, 16, 16, 0.2);
      box-shadow: 0 0.0625rem 0 rgba(16, 16, 16, 0.6);
      &:hover {
	background: #7cc549;
      }
    }

  }
  
// Landing Page Resource Filters
  #lp-find-resource-wrapper{
    max-width: 1280px;
    margin:0 auto;
    padding: 20px;
    min-height:185px;
    #lp-find-resource-lable{
      color: $text;
      font-size:18px;
      font-weight:600;
      margin-bottom: 10px;
      cursor: pointer;
    }
    .categories-container{
      height: 75px;
      div.category-filter-name{
        z-index: 100;
        >ul{
          list-style: none;
          >li{
            box-shadow: 0px 1px 5px #888888;
            background-color: #fafafa;
            border-radius: (5px);
            min-height: 12px;
            padding: 10px;
            ul{
              li{
                overflow:hidden;
                a{
                  &:hover{
                    position: absolute;
                    background-color: #FFF;
                  }
                }
              }
            }
            >div{
              background: url('../images/button-select.png') no-repeat right center;
            }
            &.expanded>div{
              background-image: none;
            }

          }
        }
        &.large-4{
          width:25%;
        }
        .foundicon-remove {
          position: absolute;
          top: 13px;
          right: 25px;
          width: 100%;
          text-align: right;
          &:before{
            content:url('../images/button-close.png');
          }
        }
      }
    }
    .category-buttons{
      position: absolute;
      z-index: 20;
    }
    .sbac-search-filter-custom-link {
      a {
        display:block;
        width:100%;
        color: $text;
      }
    }
  }
  // Landing Page Notification
  #lp-notifications-wrapper{
    background-color: #fdf2b1;
    display:none;
    #close-notifications{
      content:url('../images/icons/icon-close.png');
      background-color: #fdf2b1;
      height:15px;
      width:15px;
      position:absolute;
      right: 10px;
      cursor: pointer;
    }
    .view-sbac-alerts{
      max-width: 1280px;
      margin:0 auto;
      .ui-accordion{
        .ui-accordion-header{
          background: none;
          border: none;
          .ui-accordion-header-icon{
            background-image: url(../images/icons/icon-info.png);
            background-position:0;
            width: 20px;
            height: 20px;
          }
        }
        .ui-accordion-content{
          border:none;
          background:none;
          border-top: 2px solid #555;
          border-bottom: 2px solid #555;
          padding:20px 0;
          border-radius: 0;
          .views-field-body{
            .field-content{
              ul{
                font-size: 0.75em;
              }
            }
          }
        }
      } 
      .views-row{
        .field-content{
          .more{
            color:$blue-text;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .ajax-progress-throbber {
    display:none;
    .throbber  {
      display:none;
    }
  }
}