@import "colors.scss";
body.page-sbac{
  background: #f2f2f2;
  #lp-help-topics-wrapper {
    box-shadow: inset 0 0.125rem 0.125rem rgba(0, 133, 173, 0.3);
    background: $teal;
    padding: 20px 0;
    .help-topics-header{
      font-size:14px;
      font-weight: 400;
      color: $white;
      text-shadow: rgba(0,0,0,0.3) 0px 1px 1px;
      strong{
        font-size:18px;
        font-weight:600;
      }
    }
  }
  #lp-featured-content-wrapper {
    padding:5px;
    height:28.125rem;
    background-image: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-position: center; 
  }
  #lp-find-resource-wrapper{
    height:3rem;
    #lp-find-resource-wrapper{
    }
  }
}