body.section-sort-content{
  .button-group{
  }
  .button-group:before{
    background: none repeat scroll 0 0 #FFFFFF;
    top: 45px;
    box-shadow: 0 1px 6px 0 rgba(0, 95, 130, 0.75);
    content: " ";
    display: block;
    height: 10px;
    width: 930px;
    z-index: 1;
    position:absolute;
  }
  .button-group > * {
    
  }
  .button-group li a{
    font-family: $body-font-family;
    /*font-size: emCalc(16px);*/
    font-size: 15px;
    font-weight: bold;
    color: #0583AC;
    height: 48px;
    line-height: 45px;
    padding: 4px 30px;
    background: none repeat scroll 0 0 #FAFAFA;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #CECECE;
    border-top: 1px solid #CECECE;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      background-color: #FAFAFA;
      background-image: -moz-linear-gradient(center top , rgba(0, 95, 130, 0) 20%, rgba(0, 95, 130, 0.1) 70%);
      text-shadow: 0 1px 0 #FFFFFF
    }

    &:focus {
      outline: 0;
    }
  }

  .button-group li.active a {
      /*font-size: emCalc(16px);*/
      background: none repeat scroll 0 0 #FFFFFF;
      border-left: 1px solid #CECECE;
      box-shadow: 0 1px 5px 0 rgba(0, 95, 130, 0.75);
      color: #464B54;
      height: 43px;
      position: relative;
      z-index: 9;
  }

  .button-group li.active a:after {
    background: none repeat scroll 0 0 #FFFFFF;
    bottom: -6px;
    content: " ";
    display: block;
    height: 10px;
    left: 0;
    padding: 0 20px;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}
