.morecomments-button {
  background: #1E90FF;
  display: block;
  width: 200px;
  padding: 10px;
  color: #FFF !important;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  border-bottom: 1px solid #CCC;
  margin: 10px auto;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px #CCC;
  -webkit-box-shadow: 0 1px 3px #CCC;
  border-radius: 5px;
  box-shadow: 0 1px 3px #CCC;
}

.morecomments-button .wait {
  width: 20px;
  float: left;
  margin-left: 220px;
  margin-top: -15px;
  background: url(/misc/throbber.gif) no-repeat 0px -18px;
}
